<article class="product page">
  <div class="col half">
    <div class="image cover"><img src="{{ image_url }}"></div>
  </div>
  
  <div class="col half">
    <div class="info">
      <h3 class="title">{{ title }}</h3>
      <a class="store button large blue">Buy from store</a>
      <span class="price">{{ price }}</span><p class="description">{{ description}}</p>
    </div>
  </div>
</article>
