<!-- layout 4, 2 - 3 -->
<div class="page rotatable">
  <div class="row v-half">
    <figure class="product item half">
      <div class="image cover">
        <img src="http://deyf8doogqx67.cloudfront.net/images/BAhbB1sHOgZmSSJMMjAxMi8wNS8xNS8wNC8yNS81Mi8xODkvY2VsbF9waG9uZV9sZW5zZXNfYjQxMF82MDAuMDAwMDAwMTMxMTgxMDcwNC5qcGcGOgZFVFsIOgZwOgp0aHVtYkkiCjYwMHg+BjsGVA.png">
      </div>

      <div class="info">
        <h3 class="title">Canon EOS M Camera</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </figure>
  
    <figure class="product item half split">
      <div class="image cover">
        <img src="http://deyf8doogqx67.cloudfront.net/images/BAhbB1sHOgZmSSIrMjAxMi8wOC8xNi8wMS8yNy81Ny8xOTIvMjQ5NDU2NDRfMDA5X2IGOgZFVFsIOgZwOgp0aHVtYkkiCjMzOHg+BjsGRg.png">
      </div>
      
      <div class="info">
        <h3 class="title">Native Union Pop Phone Handset</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </figure>
  </div>
  
  <div class="row v-half">
    <figure class="product item third">
      <div class="image cover">
        <img src="http://deyf8doogqx67.cloudfront.net/images/BAhbB1sHOgZmSSIrMjAxMi8wOC8xMi8yMC8zNC8zOS82MjIvMjU5NTEwOTZfMDQ1X2IGOgZFVFsIOgZwOgp0aHVtYkkiCjMzOHg+BjsGRg.png">
      </div>

      <div class="info">
        <h3 class="title">Canon EOS M Camera</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </figure>
  
    <figure class="product item third">
      <div class="image cover">
        <img src="http://deyf8doogqx67.cloudfront.net/images/BAhbB1sHOgZmSSIvMjAxMi8wOC8xNi8wNC8yMC8wOC80MTMvMTY1MjEuMC5kZXRhaWwuanBnBjoGRVRbCDoGcDoKdGh1bWJJIgozNDN4PgY7BkY.png">
      </div>
      
      <div class="info">
        <h3 class="title">Native Union Pop Phone Handset</h3>
        <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </figure>
    
    <figure class="product item third">
      <div class="image cover">
        <img src="http://deyf8doogqx67.cloudfront.net/images/BAhbB1sHOgZmSSIzMjAxMi8wNy8wNi8xMC8yMS80MC84MDMvdDIxNjZfY29sb3JibG9ja180LmpwZwY6BkVUWwg6BnA6CnRodW1iSSIKNjAweD4GOwZU.png">
      </div>
      
      <div class="info">
        <h3 class="title">Native Union Pop Phone Handset</h3>
        <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </figure>
  </div>
</div>
<!-- layout 4, 2 - 3 -->