@import "compass/css3/box-sizing";
@import "compass/css3/images";
@import "compass/css3/text-shadow";
@import "compass/utilities/general/clearfix";
@import "compass/css3/box";
@import "base/media-queries";

.page {
  @include box-sizing(border-box);
  white-space: normal;
}

[role=main].content-view {
  height: 100%;
}
/*

  Various page style in the system

  .page             - default page style, optimise for readability

  Stream

    .stream             - Swipable page on the stream
    .vertical .page     - vertical scrolled pages
    .horizontal .page   - horizontal swipe pages

  Article page

  article.page
    > .content        - Content container
    > .cover-area     - Cover area for top image, video and headings

    .one-column       -   One column layout, cover/image fit view support fullscreen
    .two-column       -
    .two-column       -
    .fullscreen       -

  Content type

    .content      -     content page
    .product      -     product page
    .gallery      -     gallery page

*/
article.page {
  margin: 0 auto;
  font: 16px/22px "proxima_nova_regular";
  line-height: 1.6;
  text-align: center;

  // Cover area for image/video
  .cover-area {
    @include box-sizing(border-box);

    width: 100%;
    height: auto;
    min-height: 300px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &.fit {
      position: relative;
      background-size: 100%;

      .video-wrapper {
        position: relative;
      }
    }

    &.fullscreen {
      height: 100%;
    }
  }

  // Content Style

  .content {
    @include box-sizing(border-box);
    float: none;
    padding: 40px 30px;
    width: 100%;
    vertical-align: middle;
  }

  &.scroll .content {
    overflow: auto;
  }

  header {
    @include box-sizing(border-box);

    margin: 0;
    padding: 18px 0;

    text-align: center;

    hgroup {
      padding-top: 50px;
    }
  }

  .column-break {
    -webkit-column-break-before: always;
    -webkit-column-break-after: always;
    break-before: column;
    margin: 0;
    height: 1px;
    display: none;
  }

  // Content formatting

  .title {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
  }

  .avatar {
    width: 60px;
    height: 60px;
    border: 2px solid #eee;
    border-radius: 50%;
  }

  blockquote {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    max-width: 500px;
    margin: 0.25em auto;
    padding: 0.25em 10px 0.25em 50px;
    line-height: 1.45;
    position: relative;
  }

  blockquote:before {
    display: block;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: 5px;
    top: -20px;
    color: #999;
  }

  blockquote cite {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px;

    &:before {
      content: "\2014 \2009";
    }
  }

  .image.cover {
    position:relative;
    height: 200%;
    width: 200%;
    top: -50%;
    left: -50%;
  }

  .author, .published-at {
    color: #333;
    font-family: Georgia;
    font-style: italic;
  }

  p {
    margin: 1.5em 0;
    text-align: justify;
    -webkit-hyphens: auto;
    word-break:hyphenate;
  }

  a[href]:not(.button) {
    text-decoration: underline;
  }

  img.medium, img.large {
    max-width: 100%;
    height: auto;
    margin-bottom: 40px;
    display: block;
    margin: 0 auto;
  }

  ul li, ol li {
    line-height: 1.6;
  }

  video {
    -webkit-transform-style: preserve-3d;
  }

  .video-wrapper {
  	padding-bottom: 56.25%; /* 16:9 */
  	padding-top: 25px;
  	height: 0;
    @include box-sizing(border-box);

  	iframe, object, embed {
    	position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
    }
  }

  .description {
    display: block;
    clear: both;
  }

  footer {
    clear: both;
    float: none;
    margin: 0 auto !important;
    min-height: 110px;
  }

  // Content Layout

  &.black .content {
    @extend .dark-theme;
    background: rgba(0, 0, 0, 0.7);
  }

  &.caption .content {
    @extend .dark-theme;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    text-align: left;

    .title {
      font-family: "EB Garamond";
      font-size: 18px;
    }

    .description {
      text-align: left;
      font-family: "EB Garamond";
      font-size: 16px;
    }

    .body { display: none}
    .extras { display:none }
  }

  &.white .content {
    background: rgba(255, 255, 255,0.9);
  }

  &.top .content {
    vertical-align: top;
  }

  &.bottom .content {
    vertical-align: bottom;
  }

  // Image layout

  &.cover-right .content {
    float: left;
  }

  &.cover-right .column-break {
    display: block;
  }

  &.image-background {
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &.image-background .column-break {
    height: 0;
  }

  &.image-background .content {
    height: 100%;
  }

  &.image-background .cover-area {
    background: none;
    display: none;
  }

  &.image-background.left {
    text-align: left;
  }

  &.image-background.right {
    text-align: right;
  }
}

article.one-column {
  .cover-area {
    h1 {
      padding-top: 130px;
    }
  }

  &.image-background:before {
    content: none;
  }
}

article.page.no-header {
  height: 100%;
  text-align: center;

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
  }

  header {
    hgroup {
      display: none;
    }
  }

  .content {
    position: relative;
    top: -50px;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
  }
}

article.fullscreen {
  height: 100% !important;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
  }

  .top-image {
    margin: 0;
  }

  figure {
    height: 100%;
    width: 100%;;
  }

  iframe {
    background: #000;
  }

  figcaption {
    @include box-sizing(border-box);
    text-align: center;
    font-family: georgia;
    font-style: italic;
    color: #ccc;
    @include background-image(linear-gradient(rgba(0,0,0,0), rgba(0,0,0, 0.95)));

    padding: 20px 40px 0 40px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    line-height: 35px;
    overflow: hidden;
  }

  .content {
    vertical-align: middle;
    max-height: 100%;
    overflow-y: auto;
    padding: 20px;
    position: relative;
    width: 45%;
    margin: 5% 0;
  }
}

// Mutli column pagination

@include min-screen(768) {

  article.page {
    .title {
      font-size: 34px;
    }

    &.cover-right .cover-area {
      position: absolute;
      top: 0;
    }

    &.image-background:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -0.25em; /* Adjusts for spacing */
    }

    &.image-background .content {
      height: 95%;
    }

    &.image-background.height-auto .content {
      height: auto;
      max-height: 90%;
      margin: 2% 0;
    }

    &.image-background.height-full .content {
      height: 100%;
      margin: 0 auto;
    }

    &.image-background.video {
      overflow: auto;
      position: relative;
    }

    &.image-background.video:before {
      content: none;
    }

    &.image-background.video .cover-area{
      display: block;
      height: 100%;
    }
  }

  article.one-column {
    &.image-background:before {
    }

    .content {
      display: inline-block;
    }

    .content, .cover-area.fit {
      width: 45em;
      margin: 0 auto;
    }
  }

  article.two-column,
  article.three-column {
    position: relative;
    white-space: nowrap;
    padding-bottom: 0;

    .content {
      vertical-align: middle;
      display: inline-block;
      white-space: normal;

      width: 50%;
      height: 100%;

      img {
        max-height: 75%;
        -webkit-column-break-before: always;
        -moz-column-break-before: always;
        column-break-before: always;
        -webkit-column-break-inside: avoid;
        -moz-column-break-inside: avoid;
        column-break-inside: avoid;
        display: inline-block;
      }
    }

    &.paginate {
      text-align: left;

      header {
        padding-top: 30%;
      }

      .content {
        overflow: default;

        -webkit-column-count:2;
        -moz-column-count:2;
        column-count:2;
        -webkit-column-gap: 60px;
        -moz-column-gap: 60px;
        column-gap: 60px;
      }

    }

    .cover-area {
      position: relative;
      justify-content: center;

      float: left;
      height: 100%;
      width: 50%;
      padding: 0;

      header {
        padding-top: 20%;
        padding-left: 40px;
        padding-right: 40px;
        height: 100%;
      }
    }

  }

  article.three-column {
    &.paginate .content {
      -webkit-column-count:3;
      -moz-column-count:3;
      column-count:3;
      -webkit-column-gap: 60px;
      -moz-column-gap: 60px;
      column-gap: 60px;
    }

    .content {
      width: 33.3%;
    }

    .cover-area {
      width: 66.66%;
    }
  }


  #issue-viewer:not(.mobile) article.one-column {
    .content, .cover-area.fit {
      width: 45em;
      margin: 0 auto;
    }
  }
}

@media screen and (orientation:portrait) {
  article.page .col.half {
	  // height: 49.99%;
   //  width: 100%;
   //  background: white;

   //  .image {
   //    left: 25%;
   //    position: relative;
   //    width: 50%;
   //  }

   //  .info {
   //    text-align: center;
   //    .store {
   //      margin: 0;
   //    }

   //    .price {
   //      line-height: 37px;
   //      vertical-align: middle;
   //    }

   //    p {
   //      margin-top: 10px;
   //      text-align: left;
   //    }
   //  }
  }
}





// TODO: MOVE TO ADMIN
#preview_item_content {
  &.no-cover [data-cover], img[data-size=tiny] {
    display: none; }

  clear: both;
}



/*
  Stream paging
*/

.horizontal {
  white-space: nowrap;
  height: 100%;

  .stream.page {
    padding-top: 50px;
  }
}

.vertical {
  .page {
    clear: left;
  }
}

.stream-paging {
  @include clearfix;
  padding-bottom: 100px;
  line-height: 0;
  width: 100% !important;
  overflow: visible;

  .vertical & {
    clear: left;
    top: 50px;
  }

  .horizontal & {
    display: inline-block;
    white-space: nowrap;
    padding-bottom: 0;
    margin: 0;

    .page {
      display: inline-block;
    }

    .view-more {
      display: inline-block;
      width: 100px;
      bottom: 0;
      line-height: 100%;

      span {
        margin-top: 350px;
        display: block;
      }
    }
  }

  @include min-screen(480) {
    margin-top: -10px !important;
  }
}

#next-page, #prev-page {
  display: none;
  text-align: center;
  top: 50%;
  margin-top: -50px;
  right: 0;
  position: fixed;
  height: 100px;
  width: 50px;
  z-index: 2000;
  color: #999;

  &:before {
    font-size: 30px;
    line-height: 100px;
  }

  .no-touch &:hover, &:active {
    background: #666;
  }
}

/*
  Content paging
*/
#next-page {
  @extend .icon-arrow-right-2;
}

#prev-page {
  @extend .icon-arrow-left-2;
  left: 0;

  .admin & {
    left: 80px;
  }
}
