/*
  Cover
*/
section.issue.cover.fullscreen .container {
  padding: 10px;
}

section.issue.cover #issue-logo {
  zoom: 0.6;
  bottom: 170px;
}

section.issue.cover .button {
  margin: 0;
}

section.issue.cover .brand {
  font-family: "proxima_nova_regular";
  font-weight: bold;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
  margin-bottom: 0;
}

section.issue.cover .title {
  font-family: "EB Garamond";
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.8);

  font-size: 75px;
  line-height: 60px;
  text-align: center;
}

section.issue.cover .extra-1 {
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 90%;
  margin-left: -45%;
  height: 115px;
  background-image: url('/music/assets/cover-christina-perri.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 768px) {
  section.issue.cover.fullscreen .container {
    padding: 40px;
  }

  section.issue.cover .title {
    font-size: 160px;
    line-height: 150px;
  }

  section.issue.cover .extra-1 {
    left: 50%;
    width: 416px;
    margin-left: -202px;
    height: 166px;
  }
}
