/* Basic elements */

article.page figcaption { 
  font-family: "Courier New", Courier, monospace;
  font-style: normal;
  font-size: 80%;
  text-align: right;
  padding: 10px;
}

/*
  Cover
*/
section.issue.cover #issue-logo {
  bottom: 170px;
  zoom: 0.6;
}

section.issue.cover nav[role="navigation"] {
  display: none;
}

section.issue.cover .brand {
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
  font-weight: bold;
  font-family: "proxima_nova_regular";
}

section.issue.cover .title {
  text-align: center;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.8);

  font-size: 75px;
  font-family: "EB Garamond";
  line-height: 60px;
}

section.issue.cover .extra-1 {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -45%;
  width: 90%;
  height: 115px;
  background-image: url('/music/assets/cover-christina-perri.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

article.page {
	animation-name: fade;
	animation-duration: 0.5s;
	animation-timing-function: ease;
	animation-iteration-count: 1;	
	animation-direction: normal;
	animation-delay: 0;
}

/*
  Table of content
*/
article.toc.page header {
  display: none;
}

article.toc.page #signature {
  display: block;
  margin: 0 0 20px;
  width: 240px;
}

article.toc.page .cover-area {
  height: 200px;
  min-height: 200px;
}

article.toc.page .body p:first-child {
  margin-top: 1em;
}

/*
  Story 1: Interview;
*/

article.page[data-page="1-interview"] .extras {
  margin-top: 20px;
  text-align: justify;
}

article.page[data-page="2-head-or-heart"] {
}

article.page[data-page="2-head-or-heart/1"] .body p {
  text-align: center;
}

article.page[data-page="2-head-or-heart/2"] .body p {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  section.issue.cover nav[role="navigation"] {
    display: block;
  }

  section.issue.cover .title {
    font-size: 160px;
    line-height: 150px;
  }

  section.issue.cover .extra-1 {
    left: 50%;
    margin-left: -202px;
    width: 416px;
    height: 166px;
  }
}
