<%= render "/issue/page", locals: {
  page: Hashie::Mash.new(
    title: "MUST HAVES",
    description: nil,
    author_name: nil,
    author_icon: nil,
    top_image: "http://31.media.tumblr.com/5d40ddbd07fc716e715bd5462e305edd/tumblr_mx3tmhXNNE1st5lhmo1_1280.jpg",
    # top_image: nil,
    content_type: "article",
    published_at: 3.days.ago,

    category: nil,
    content: <<-BLOCK,
    #{ 10.times.map{ "<p>#{lorem_ipsum(10)}</p>" }.join("") }
  BLOCK

    products: [
      'http://cl.ly/image/3740122Z2G2j/Screen%20Shot%202013-12-13%20at%2011.51.59%20am.png',
      'http://cl.ly/image/0W2z1x231p2D/Screen%20Shot%202013-12-18%20at%206.28.32%20pm.png',
      'http://cl.ly/image/16260q391k3t/Screen%20Shot%202013-12-13%20at%2011.31.23%20am.png',
      'http://cl.ly/image/0E1D2G2z2w3g/Screen%20Shot%202013-12-13%20at%2011.32.49%20am.png',
      'http://cl.ly/image/3I3k0r000g0p/Screen%20Shot%202013-12-13%20at%2012.09.59%20pm.png',
      'http://cl.ly/image/2a2B1x2Y192R/Screen%20Shot%202013-12-13%20at%2011.32.09%20am.png'
    ],

    layout: params.fetch(:layout, {}).reverse_merge(
      type: "two-column",
      image_align: "left",
      image_style: "cover",
      content_overflow: "scroll",
      content_style: "white",
      content_align: "right",
      content_height: "full",
      content_valign: "top"
    )
  )}
%>
