section.page.cover:before {
  content: '';
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.2)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  height: 100%;
  width: 100%;

  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

section.page.cover .container {
  position: relative;
}

section.page.cover .container hgroup {
  margin: 0 -30px;
}

section.page.cover .title {
  font-size: 36px;
}

article.page[data-page="fullscreen/2"] .content {
  color: white;
}

@media only screen and (min-width: 768px) and (orientation: landscape) {
  section.page.cover .title {
    font-size: 110px;
  }
}

@media only screen and (min-width: 768px) and (orientation: portrait) {
  section.page.cover .title {
    font-size: 90px;
  }
}
