/*
  Custom css

  // Magazine cover
*/

/*
  Table of content
*/

article.page.toc .cover-area {
  min-height: 260px;
}

article.page.toc .content header {
  text-align: left;
}

article.page.toc .content header h1 {
  font-size: 40px;
}

article.page.toc .body p {
  margin: 1.2em 0;
  line-height: 1.4;
}

article.page.toc .body p:first-child {
  margin-top: 0;
}

article.page.toc .body p:last-child {
  margin-bottom: 0;
}

article.page.toc .contributors {
  padding: 0;
  list-style-type: none;
  text-align: center;
}

article.page.toc .contributors li {
  float: left;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px 0 5px 80px;
  width: 50%;
  text-align: left;
}

article.page.toc .contributors .avatar {
  position: absolute;
  margin-left: -65px;
}

article.page.toc .contributors .description {
  color: #555;
  font-style: italic;
}

/*
  Page specific
*/

/*
  Cate Says Si Cover Page
*/
article.page.no-content[data-page="2-cate-says-si"] .content {
  text-align: center;
}

article.page.no-content[data-page="2-cate-says-si"] header {
  margin: 100px 0 0;
  vertical-align: top;
  text-align: left;
  color: white;
}

article.page.no-content[data-page="2-cate-says-si"] header .title {
  text-transform: none;
  font-style: italic;
  font-family: "EB Garamond";
}

article.page.no-content[data-page="2-cate-says-si"] header .category {
  display: block;
  margin-bottom: -10px;
  text-transform: none;
  color: #eee;
}

/*
  Cate Says Si Page 1
*/
article.page[data-page="2-cate-says-si/1"] header {
  text-align: left;
}

article.page[data-page="2-cate-says-si/1"] header .title {
  text-transform: capitalize;
  font-style: italic;
}

/*
  Cate Says Si Page 2
*/
article.page[data-page="2-cate-says-si/2"] .body .list {
  /*margin-top: 20%;*/
  margin: 0;
  padding: 0;
  list-style: none;
}

article.page[data-page="2-cate-says-si/2"] .body .list li:nth-child(odd) {
  text-transform: none;
  font-size: 18px;
}

article.page[data-page="2-cate-says-si/2"] .body .list li:nth-child(even) {
  text-transform: uppercase;
  font-style: italic;
  font-size: 30px;
}

article.page[data-page="2-cate-says-si/2"] .body .list li:nth-child(2) {
  margin-left: 10px;
}

article.page[data-page="2-cate-says-si/2"] .body .list li:nth-child(3) {
  margin-left: 20px;
}

article.page[data-page="2-cate-says-si/2"] .body .list li:nth-child(4) {
  margin-left: 30px;
}

article.page[data-page="2-cate-says-si/2"] .body .list li:nth-child(5) {
  margin-left: 40px;
}

article.page[data-page="2-cate-says-si/2"] .body .list li:nth-child(6) {
  margin-left: 50px;
}

article.page[data-page="2-cate-says-si/2"] .body .list li:nth-child(7) {
  margin-left: 60px;
}

article.page[data-page="2-cate-says-si/2"] .body .list li:nth-child(8) {
  margin-left: 70px;
}

article.page[data-page="2-cate-says-si/2"] .body .list li:nth-child(9) {
  margin-left: 80px;
}

article.page[data-page="2-cate-says-si/2"] .body .list li:nth-child(10) {
  margin-left: 90px;
}

/*
  Cate Says Si Page 3
*/
article.page[data-page="2-cate-says-si/3"] header .title {
  text-align: left;
  text-transform: capitalize;
  font-style: italic;
}

/*
  The Style Edit Cover
*/
article.page[data-page="3-the-style-edit"] header {
  text-align: left;
}

article.page[data-page="3-the-style-edit"] header .title {
  font-size: 32px;
}

/*
  Summer Love Cover
*/
article.page[data-page="4-summer-love"] .extras {
  text-align: left;
}

/*
  Summer Love Page 3
*/
article.page[data-page="4-summer-love/3"] .title {
  font-size: 28px;
}

/*
  Summer Survival Guide Page 4
*/
article.page[data-page="6-summer-survival-guide/4"] .content {
  width: 100%;
  height: 100%;
  padding: 15px;
}

article.page[data-page="6-summer-survival-guide/4"] .body {
  height: 100%;
}

article.page[data-page="6-summer-survival-guide/4"] .products {
  margin: 0;
  padding: 0;
  height: 100%;
  list-style: none;
}

article.page[data-page="6-summer-survival-guide/4"] .products li .image {
  min-height: 180px;
  height: 100%;
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;
}

#story5-giftset .tag {
  position: absolute;
  top: 0;
  left: 20px;
  letter-spacing: 2px;
  font-weight: bold;
  font-style: italic;
  font-family: 'BodoniSvtyTwoITCTT-Book';
  font-size: 70px;
}

#story5-giftset li:nth-child(even) .tag {
  left: initial;
  right: 20px;
}

#story5-giftset .details h3 {
  font-size: 24px;
  color: black;
  margin: 0;
}

#story5-giftset .details p {
  margin: 0;
}


/*
  Holiday Gift Ideas Cover
*/
article.page[data-page="7-holiday-gift-ideas"] header {
  text-align: left;
}

/*
  Holiday Gift Ideas Page 1
*/
article.page[data-page="7-holiday-gift-ideas/1"] {
  overflow-x: hidden;
  overflow-y: scroll;
}

article.page[data-page="7-holiday-gift-ideas/1"] .content {
  height: auto;
}

article.page[data-page="7-holiday-gift-ideas/1"] .image {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

article.page[data-page="7-holiday-gift-ideas/1"] .image img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -90px;
  margin-left: -148px;
  width: 297px;
  height: 180px;
}

article.page[data-page="7-holiday-gift-ideas/1"] #img-1 {
  position: absolute;
  top: -50px;
  right: -68px;
}

article.page[data-page="7-holiday-gift-ideas/1"] #summary {
  margin-top: 250px;
  font-size: 18px;
}

/*
  Cate Says Si Wide Screen
*/
@media only screen and (min-width: 768px) {
  article.page[data-page="2-cate-says-si/2"] .body .list {
    margin-top: 20%;
  }

  #story5-giftset li:nth-child(odd) .details {
    padding-top: 50px;
  }

  #story5-giftset li:nth-child(even) .details {
    padding-top: 20px;
  }

  #story5-giftset li:nth-child(even) .product {
    float: right;
  }

  #story5-giftset .tag {
    font-size: 120px;
    line-height: 150px;
  }

  article.page[data-page="7-holiday-gift-ideas/1"] #summary {
    margin-top: 350px;
  }
}
