<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"><![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>issue</title>

    <!-- http://t.co/dKP3o1e -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.ico">
    
    <!--iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    
    <link rel="stylesheet" href="/stylesheets/application.css" type="text/css">
    
  </head>
  
  <body>
   <!-- <nav id="menu">
     <ul class="navigation">
       <li class="logo"><a href="/users/taylorluk"></a></li>

       <li>
         <a href="/discover">
           <span class="text">Discover</span>
           <span class="right-icon icon-globe"></span>
         </a>
       </li>
       
       <li class="active">
         <a href="/stream">
           <span class="text">My Edition</span>
           <span class="right-icon icon-book"></span>
         </a>
       </li>
       
       <ul class="subscribed">
         <li><a href="/interests/mens">Mens wear</a></li>
         <li><a href="/interests/womens">Women's</a></li>
         <li><a href="/interests/tech">Tech</a></li>
         <li><a href="/interests/home">xHome</a></li>
         <li><a href="/interests/media">Media</a></li>
         <li><a href="/interests/media">Art &amp; design</a></li>
       </ul>
       
       <li class="user">
         <a class="right-icon settings" href="/settings">
           <i class="icon-cog"></i>
         </a>

         <a href="/taylorluk/items">
           <div class="thumb">
             <img width=30 height=30 src="https://en.gravatar.com/userimage/3750669/11f87325e01820f4350d21db1fb429c8.jpeg">
           </div>
           Taylor Luk
         </a>
       </li>
     </ul>
   </nav> -->
   
  <%= yield %>

  </body>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="/javascripts/spring.ui.js"></script>
</html>