<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <title>issue</title>

    <!-- http://t.co/dKP3o1e -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.ico">

    <!--iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="/assets/docs.css" type="text/css">

    <style>
      .grid-sample .col {
        background: #ccc;
        text-align: center;
        margin-bottom: 5px;
      }
    </style>

    <script>
    if (!("ontouchstart" in document.documentElement))
      document.documentElement.className += " no-touch";
    </script>
  </head>

  <body>
    <nav role="primary"></nav>
    <% if content_for?(:header) %>
      <%= yield :header %>
    <% end %>

    <div role="main" class="container">
      <%= yield %>
    </div>

    <footer role="contentinfo" class="container">
      <nav>
        <ul>
          <li>About</li>
          <li>Press</li>
          <li>Team</li>
        </ul>
      </nav>
    </footer>
  </body>
  <script src="/assets/zepto.js"></script>
  <script src="/assets/spring.ui.js"></script>


  <% if respond_to? :yield_content %>
    <%= yield_content :js %>
  <% else %>
    <%= yield :js %>
  <% end %>
</html>
