<!doctype html>
<!--[if lt IE 9]><html class="ie"><![endif]-->
<!--[if gte IE 9]><!--><html><!--<![endif]-->
  
  <head>
    <title>Shop2</title>
    
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png" /> 
    
    
    <!-- iPad - landscape (748x1024) -->
    <link rel="apple-touch-startup-image" href="/images/ipad-landscape.png"  media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)" />
    <!-- iPad - portrait (768x1004) -->  
    <link rel="apple-touch-startup-image" href="/images/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)" />
    
<!--     <link rel="apple-touch-startup-image" href="startup-landscape.jpg" media="only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)" />
    
    
    
    <link rel="apple-touch-startup-image" href="startup-portrait.jpg" media="only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)" />
 -->

    
    <!-- iPhone - (320x460) -->
    <link rel="apple-touch-startup-image" href="/images/startup-iphone.png" media="screen and (min-device-width: 200px) and (max-device-width: 320) and (orientation:portrait)" />
    
    <!-- <link rel="stylesheet" href="/stylesheets/frameless.css"/> -->
    <link rel="stylesheet" href="/stylesheets/main.css"/>

    <script src="/javascripts/milk.js"></script>
        
    <script src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
    
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.1/underscore-min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.1/backbone-min.js"></script>

    <link rel="stylesheet" href="/stylesheets/flickrbomb.css"/>

    <script src="/javascripts/jquery.flickrbomb.min.js"></script>
 	  
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  
  <body lang="en">
    <%= yield %>
  </body>
  
  <script>
  var fbomb = flickrBomb();
  
  var flickrbombing = function() {
    fbomb.bomb()
  }
  flickrbombing();
  window.addEventListener('onorientationchange', flickrbombing, false);
  

  // Mobile Safari in standalone mode
  if (('standalone' in window.navigator) && window.navigator.standalone) {

    $('a').live('click', function() {
      window.location=this.getAttribute("href");
      return false

    })

      // var a=document.getElementsByTagName("a");
      // for(var i=0;i<a.length;i++)
      // {
      //     a[i].onclick=function()
      //     {
      //         window.location=this.getAttribute("href");
      //         return false
      //     }
      // }

      window.addEventListener('load', function() {

          var links = document.links,
              link,
              i;

          for (i = 0; i < links.length; i++) {
              // Don't do this for javascript: links
              if (~(link = links[i]).href.toLowerCase().indexOf('javascript')) {
                  link.addEventListener('click', function(event) {
                      top.location.href = this.href;
                      event.returnValue = false;
                  }, false);
              }
          }

      }, false);

  }

  </script>
</html>