body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
td, th {
	border-style:solid;
	border-width:1px;
}
table {
	border-collapse:collapse;
}
body {
	-epub-hyphens:auto;
	-webkit-hyphens:auto;
}
@page {
	margin : 0px 0px 0px 0px;
}
p.Basic-Paragraph {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	widows:1;
}
p.ParaOverride-1 {
	-epub-hyphens:none;
	margin-bottom:9px;
}
p.ParaOverride-2 {
	-epub-hyphens:none;
	margin-bottom:6px;
	text-align:justify;
}
p.ParaOverride-3 {
	-epub-hyphens:none;
	text-align:justify;
}
p.ParaOverride-4 {
	-epub-hyphens:none;
}
p.ParaOverride-5 {
	-epub-hyphens:none;
	text-align:right;
}
p.ParaOverride-6 {
	text-align:center;
}
p.ParaOverride-7 {
	-epub-hyphens:none;
	text-align:justify;
	text-indent:6px;
}
p.ParaOverride-8 {
	-epub-hyphens:none;
	text-align:center;
}
span.CharOverride-1 {
	color:#ec008c;
	font-family:"Courier New", serif;
	font-size:9px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-2 {
	color:#ec008c;
	font-family:"Courier New", serif;
	font-size:9px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-3 {
	color:#ec008c;
	font-family:"Kuba Reczny", serif;
	font-size:74px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-4 {
	font-family:"Adobe Garamond Pro Bold", serif;
	font-size:10px;
	font-style:italic;
	font-weight:bold;
}
span.CharOverride-5 {
	font-family:"Adobe Garamond Pro", serif;
	font-size:10px;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-6 {
	font-family:"Adobe Garamond Pro Bold", serif;
	font-size:10px;
	font-style:normal;
	font-variant:small-caps;
	font-weight:bold;
}
span.CharOverride-7 {
	font-family:"Adobe Garamond Pro", serif;
	font-size:10px;
	font-style:normal;
	font-variant:small-caps;
	font-weight:normal;
}
span.CharOverride-8 {
	font-family:"Adobe Garamond Pro", serif;
	font-size:10px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-9 {
	font-family:"Adobe Garamond Pro", serif;
	font-size:16px;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-10 {
	font-family:"Kuba Reczny", serif;
	font-size:45px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-11 {
	font-family:"Adobe Garamond Pro", serif;
	font-size:8px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-12 {
	color:#ffffff;
	font-family:"Gotham Medium", sans-serif;
	font-size:6px;
	font-style:normal;
	font-weight:350;
}
span.CharOverride-13 {
	color:#ffffff;
	font-family:"Kuba Reczny", serif;
	font-size:25px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-14 {
	font-family:"Kuba Reczny", serif;
	font-size:25px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-15 {
	font-family:"Courier New", serif;
	font-size:5px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-16 {
	font-family:"Adobe Garamond Pro", serif;
	font-size:12px;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-17 {
	font-family:"Adobe Garamond Pro", serif;
	font-size:12px;
	font-style:italic;
	font-variant:small-caps;
	font-weight:normal;
}
span.CharOverride-18 {
	font-family:"Gotham Book", sans-serif;
	font-size:6px;
	font-style:normal;
	font-weight:325;
}
span.CharOverride-19 {
	font-family:"Gotham Book", sans-serif;
	font-size:17px;
	font-style:normal;
	font-weight:325;
	text-transform:uppercase;
}
span.CharOverride-20 {
	font-family:"Courier New", serif;
	font-size:48px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-21 {
	color:#ffffff;
	font-family:"Courier New", serif;
	font-size:11px;
	font-style:normal;
	font-weight:normal;
	text-decoration:underline;
	text-transform:uppercase;
}
span.CharOverride-22 {
	font-family:"Adobe Garamond Pro", serif;
	font-size:6px;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-23 {
	color:#ffffff;
	font-family:"Kuba Reczny", serif;
	font-size:45px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-24 {
	color:#ffffff;
	font-family:"Zapf Dingbats", sans-serif;
	font-size:6px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-25 {
	color:#ffffff;
	font-family:"Gotham Medium", sans-serif;
	font-style:normal;
	font-weight:350;
}
span.CharOverride-26 {
	color:#ffffff;
	font-family:"Gotham Medium", sans-serif;
	font-size:9px;
	font-style:normal;
	font-weight:350;
	text-transform:uppercase;
}
span.CharOverride-27 {
	font-family:"Gotham Black", sans-serif;
	font-size:6px;
	font-style:normal;
	font-weight:425;
}
span.CharOverride-28 {
	font-family:"Adobe Garamond Pro Bold", serif;
	font-size:8px;
	font-style:italic;
	font-weight:bold;
}
span.CharOverride-29 {
	font-family:"Courier New", serif;
	font-size:19px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-30 {
	font-family:"Courier New", serif;
	font-size:5px;
	font-style:normal;
	font-weight:bold;
}
img._idGenPageitem-1 {
	height:651px;
	width:538px;
}
div._idGenPageitem-2 {
	text-align:center;
}
img._idGenPageitem-3 {
	height:301px;
	width:246px;
}
img._idGenPageitem-4 {
	height:341px;
	width:279px;
}
img._idGenPageitem-5 {
	height:157px;
	width:198px;
}
img._idGenPageitem-6 {
	height:198px;
	width:157px;
}
img._idGenPageitem-7 {
	height:592px;
	width:394px;
}
img._idGenPageitem-8 {
	height:247px;
	width:360px;
}
img._idGenPageitem-9 {
	height:143px;
	width:187px;
}
img._idGenPageitem-10 {
	height:211px;
	width:187px;
}
img._idGenPageitem-11 {
	height:111px;
	width:187px;
}
img._idGenPageitem-12 {
	height:651px;
	width:583px;
}
img._idGenPageitem-13 {
	height:651px;
	width:524px;
}
img._idGenPageitem-14 {
	height:484px;
	width:390px;
}
img._idGenPageitem-15 {
	height:446px;
	width:297px;
}
img._idGenPageitem-16 {
	height:445px;
	width:359px;
}
img._idGenPageitem-17 {
	height:651px;
	width:586px;
}
img._idGenPageitem-18 {
	height:680px;
	width:1077px;
}
img._idGenPageitem-19 {
	height:496px;
	width:408px;
}
img._idGenPageitem-20 {
	height:441px;
	width:433px;
}
img._idGenPageitem-21 {
	height:321px;
	width:240px;
}
img._idGenPageitem-22 {
	height:399px;
	width:464px;
}
img._idGenPageitem-23 {
	height:180px;
	width:242px;
}
img._idGenPageitem-24 {
	height:284px;
	width:226px;
}
img._idGenPageitem-25 {
	height:195px;
	width:231px;
}
img._idGenPageitem-26 {
	height:136px;
	width:36px;
}
img._idGenPageitem-27 {
	height:137px;
	width:89px;
}
img._idGenPageitem-28 {
	height:137px;
	width:37px;
}
img._idGenPageitem-29 {
	height:77px;
	width:77px;
}
img._idGenPageitem-30 {
	height:111px;
	width:80px;
}
img._idGenPageitem-31 {
	height:85px;
	width:32px;
}
img._idGenPageitem-32 {
	height:410px;
	width:547px;
}
img._idGenPageitem-33 {
	height:195px;
	width:239px;
}
img._idGenPageitem-34 {
	height:225px;
	width:337px;
}
img._idGenPageitem-35 {
	height:150px;
	width:136px;
}
img._idGenPageitem-36 {
	height:189px;
	width:126px;
}
img._idGenPageitem-37 {
	height:220px;
	width:331px;
}
img._idGenPageitem-38 {
	height:106px;
	width:159px;
}
img._idGenPageitem-39 {
	height:120px;
	width:152px;
}
img._idGenPageitem-40 {
	height:152px;
	width:119px;
}
img._idGenPageitem-41 {
	height:159px;
	width:106px;
}
img._idGenPageitem-42 {
	height:120px;
	width:153px;
}
img._idGenPageitem-43 {
	height:119px;
	width:153px;
}
img._idGenPageitem-44 {
	height:148px;
	width:378px;
}
