<nav id="menu" class="thin" role="navigation">
  <ul class="navigation">
    <li>
      <a id="edition-switch" href="/app/editions" style="">
        <span class="right-icon"></span>
      </a>
    </li>
    <li>
      <a href="#" title="Dashboard">
        <span class="text">Dashboard</span> 
        <span class=" icon-statistics right-icon"></span>
      </a>
    </li>
    <!-- <li>
      <a href="#" title="Stats">
        <span class="text">Stats</span> 
        <span class="icon-statistics right-icon"></span>
      </a>
    </li> -->
    <li class="">
      <a href="/app/admin" title="content">
        <span class="text">Content</span> 
        <span class="right-icon icon-book"></span>
      </a>
    </li>
    <li>
      <a href="#" title="Customize">
        <span class="text">Customize</span> 
        <span class="right-icon icon-brush"></span>
      </a>
    </li>
    <li>
      <a href="/app/admin/crud" title="Feeds">
        <span class="text">Feeds</span> 
        <span class="right-icon icon-rss"></span>
      </a>
    </li>
    
    <li class="user">
      <a class="right-icon settings" href="/settings">
        <i class="icon-cog"></i>
      </a>

      <a href="/taylorluk/items">
        <div class="thumb">
          <img width="30" height="30" src="https://en.gravatar.com/userimage/3750669/11f87325e01820f4350d21db1fb429c8.jpeg">
        </div>
        <span class="text">Taylor Luk</span>
      </a>
    </li>
  </ul>
</nav>
