<%= render "nav" %>

<div id="sidebar">
  <header class="toolbar">
    <!-- <a href="#" class="back"></a> -->
    <h3 class="title">Feeds</h3>
    <a href="/app/admin/edit" class="plus right"></a>
  </header>
  
  <nav class="nav">
    <ul>
      <li class="item">
        <a href="#">
          <!-- <h3 class="title"> -->
            Youtube
          <!-- </h3> -->

          <div class="info">
            <!-- via <span class="source">cnn.com</span>
            <span class="time">3 hours ago</span> -->
          </div>
        </a>
      </li>

      <li class="item">
        <a href="#">        
          Products
        </a>
      </li>
      
      <li class="item">
        <a href="#">        
          Instagram
        </a>
      </li>
      
      <li class="item">
        <a href="#">        
          + New feed
        </a>
      </li>
    </ul>
  </nav>
</div>

<div role="main" style="">
  <!-- <header class="toolbar">
    <a href="#" class="back"></a>
    <h3 class="title">Content</h3>
    
    <div class="actions right">
      <%= link_to "add", "", class:"black button" %>
      <%= link_to "edit", "/app/admin/edit", class:" button" %>
    </div>
  </header> -->
  
  <div class="content">
    <h1>Feed</h1>

    <div class="row">
      <div class="col x6">
        <h3>30 items</h3>
      </div>
      <div class="col x6">
        <h3>30 feeds</h3>
      </div>
    </div>
  </div>
</div>