<%= render "nav" %>

<div id="sidebar">
  <header class="toolbar">
    <!-- <a href="#" class="back"></a> -->
    <h3 class="title">Stream</h3>
    <a href="/app/admin/edit" class="plus right"></a>
  </header>
  
  <div class="filter-container">
    <div class="caret"></div>
    <select name="filter" class="filter" onchange="" size="1" >
      <option>Most recent</option>
      <option>Published</option>
      <option>Archived</option>
      <option>My edits</option>
    </select>
  </div>
  
  <nav class="nav">
    <ul>
      <li class="item">
        <a href="#">
          <h3 class="title">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit
          </h3>

          <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor .
          </p>
          
          <div class="info">
            <!-- via <span class="source">cnn.com</span>
            <span class="time">3 hours ago</span> -->
          </div>
        </a>
          
        <div class="actions button-group">
          <button class="button dropdown"><span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a>Edit</a></li>
            <li><a>Publish / Unpublish</a></li>
            <li><a>Archive</a></li>
          </ul>
        </div>
      </li>

      <li class="item">
        <a href="#">        
          <h3 class="title">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
          <figure>
            <img src="http://lorempixel.com/g/300/200/fashion/" width="100"/>
          </figure>
          <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>        
          <div class="info">
            via <span class="source">cnn.com</span>
            <span class="time">3 hours ago</span>
          </div>
        </a>

        <div class="actions button-group">
          <button class="button dropdown"><span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a>Edit</a></li>
            <li><a>Publish / Unpublish</a></li>
            <li><a>Archive</a></li>
          </ul>
        </div>
      </li>

      <li class="item">
        <a href="#">
          <h3 class="title">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit
          </h3>

          <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor .
          </p>
          
          <div class="info">
            via <span class="source">cnn.com</span>
            <span class="time">3 hours ago</span>
          </div>
        </a>

        <div class="actions button-group">
          <button class="button dropdown"><span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a>Edit</a></li>
            <li><a>Publish / Unpublish</a></li>
            <li><a>Archive</a></li>
          </ul>
        </div>
      </li>

      <li class="item">
        <a href="#">        
          <h3 class="title">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
          <figure>
            <img src="http://lorempixel.com/g/300/200/fashion/2" width="100"/>
          </figure>
          <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>        
          <div class="info">
            via <span class="source">cnn.com</span>
            <span class="time">3 hours ago</span>
          </div>
        </a>

        <div class="actions button-group">
          <button class="button dropdown"><span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a>Edit</a></li>
            <li><a>Publish / Unpublish</a></li>
            <li><a>Archive</a></li>
          </ul>
        </div>
      </li>


      <li class="item">
        <a href="#">
          <h3 class="title">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit
          </h3>

          <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
          
          <div class="info">
            via <span class="source">cnn.com</span>
            <span class="time">3 hours ago</span>
          </div>
        </a>
        
        <div class="actions button-group">
          <button class="button dropdown"><span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a>Edit</a></li>
            <li><a>Publish / Unpublish</a></li>
            <li><a>Archive</a></li>
          </ul>
        </div>
      </li>
      
      <li class="item">
        <a href="#">
          <h3 class="title">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit
          </h3>

          <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor .
          </p>
          
          <div class="info">
            via <span class="source">cnn.com</span>
            <span class="time">3 hours ago</span>
          </div>
        </a>

        <div class="actions button-group">
          <button class="button dropdown"><span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a>Edit</a></li>
            <li><a>Publish / Unpublish</a></li>
            <li><a>Archive</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</div>

<div role="main" style="">
  <header class="toolbar">
    <h3 class="title">Content</h3>
    <div class="actions right">
      <%= link_to "add", "", class:"black button" %>
      
      <div class="button-group">
        <%= link_to "edit", "/app/admin/edit", class:" button" %>
        <button class="button dropdown">
            <span class="caret"></span>
          </button>
        <ul class="dropdown-menu">
          <li><a>Publish / Unpublish</a></li>
          <li><a>Archive</a></li>
          <li class="divider"></li>
          <li><a>Add to</a></li>
          <li><a>Love it</a></li>
        </ul>
      </div>
    </div>
  </header>
  
  <div class="content">
    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h1>
    <div class="extras">
      <div class="col x8"> from hypebeast.com by Taylor Luk</div>
      <div class="col x4">3 hours ago</div>
    </div>
    
    <img src="http://lorempixel.com/1024/600/fashion/3" width="100%">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    
    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
    <img src="http://lorempixel.com/g/300/300/nature/4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  </div>
</div>