<html class="no-js" lang="en">
  <head>
    <title>Shop2</title>

    <!-- http://t.co/dKP3o1e -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0" />
  
  
    <link rel="stylesheet" href="http://shop2.com/assets/components/_button.css">
    <link rel="stylesheet" href="/stylesheets/application.css"/>
    <link rel="stylesheet" href="/stylesheets/font-awesome.css"/>

    <link rel="shortcut icon" href="/favicon.ico">

    <!--iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    
    <style>
      html, body {
        overflow: hidden;
      }

      body {
        background: #F8FAFA;
        position: relative;
        margin-left: -150px;
      }
      
      body.expand-menu {
        margin-left: 0;
      }

      [role=main] {
        position: relative;
      }

      nav[role=navigation] {
        position: fixed;
        top:0;
        left:0;
        width:100%;
      }


      #sections .pages {
        position: absolute;
        white-space: nowrap;
        overflow: hidden;
        /* margin-top: 55px; */
      }

      #content {
        position: absolute;
        white-space: nowrap;
      }
      
      .animate {
        -webkit-transition: all .3s ease-out;
        -moz-transition: all .3s ease-out;
        -o-transition: all .3s ease-out;
        -ms-transition: all .3s ease-out;
        transition: all .3s ease-out;
      }
      
      .swiping {
        -webkit-transition: all .15s ease-out;
        -moz-transition: all .15s ease-out;
        -o-transition: all .15s ease-out;
        -ms-transition: all .15s ease-out;
        transition: all .15s ease-out;
      }


      .scrollable {
    /*    display: inline-block;*/
        overflow: hidden;
      }
      
      .pages {
        transform: translate3d(0,0,0);
      }
      
      .page {
        position: relative;
        display: inline-block;
        margin: 0;
        padding: 5px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        white-space: normal;
        overflow: hidden;

        border: 1px solid #fff;
      }
      
      .page.current {
        visibility: visible;
      }
      
      .page {
        transform: translate3d(0,0,0);
        -webkit-transform:translate3d(0,0,0);
      }
      
      .page.padding {
        width: 0;
      }
      /* sign up form */
      #signup {
        display: none;
        background: white;
        height: 93%;
      }

/*      .product .image {

        height: 90% !important;
      }*/

      /* Vertical scroll */
      
      .vertical-scroll {
        /* IPHONE toolbar hack: height: 104%; */        
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
      }
      
    </style>
  </head>
  <body>

    <nav id="menu" style="position:absolute;top:0;left:0;width:150px;background:black;color:white;height:100%;z-index:1">
      <ul>
        <li><a href="#">Logo</a></li>
        <li><a href="/stream">Stream</a></li>
        <li><a href="/taylorluk/favourites">Favourites</a></li>
        
        <!-- Category -->
        <li><a href="#">Men's</a></li>
        <li><a href="">Women's</a></li>
        <li><a href="#">Tech</a></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">Media</a></li>
        <li><a href="#">Art &amp; design</a></li>
        
      </ul>
    </nav>
    
    <div role="main" style="margin-left:150px">
      
      <div id="sections">
        <header class="toolbar">
          <a class="icon-reorder button" ontouchstart="$(document.body).toggleClass('expand-menu'); return false"> </a>
          <h1>TOP CONTENT</h1>
        </header>
        <div class="pages paginated"></div>
      </div>
      
      
      <div id="content">
        <div class="pages"></div>
      </div>
      
    </div>
    
    
    <div id="temp" style="position:absolute; visibility:hidden"></div>
  </body>
  
  <%= render '/templates/all' %>
  <script src="/javascripts/vendor/zepto.js"></script>  
  <script src="/javascripts/vendor/underscore.js"></script>  
  <script src="/javascripts/vendor/backbone.js"></script>  
  <script src="/javascripts/vendor/mustache.js"></script>  
  <script src="/javascripts/vendor/clamp.js"></script>
  <script src="/javascripts/vendor/scrollability2.js"></script>
  <script src="/javascripts/vendor/h5bp-helper.js"></script>

  <script src="/javascripts/app.js"></script>
  <script src="/javascripts/models.js"></script>

  <script src="/javascripts/views/toolbar.js"></script>
  <script src="/javascripts/views/content_view.js"></script>
  <script src="/javascripts/views/page_view.js"></script>
  <script src="/javascripts/views/list_view.js"></script>
  <script src="/javascripts/views/stream_view.js"></script>
  <script src="/javascripts/misc.js"></script>
  
  
  
  <script>
    MBP.hideUrlBarOnLoad()
  
    App.init()
  </script>
</html>