<section id="detail" class="page">
  <h1>Cover page</h1>
  
  <ul class="products-list scrollable vertical">
    
    <li>Cover page - Table of content shows a grid of channels provides a visual summery of primary categories</li>
    <li>List page - Shows magazine like grid</li>
    <li>lorem</li>
    <li></li>
    <li></li>
  </ul>
</section>
