<section id="detail" class="page">
  <nav class="toolbar">
    <a href="/list" class="back"><i class="icon-chevron-left"></i> Back</a>
    <h1>Detail page</h1>
    
    <div class="group">
      <a class="action" href="#" ><i class="icon-heart-empty"></i></a>
      <a class="action" href="#" ><i class="icon-share"></i></a>
    </div>
  </nav>
  
  <div id="content-container">
  </div>
</section>


<script id="item-detail-tpl" type="text/html">
<article>
  <img class="image" src="{{ image }}" />
  <h1>{{ title }}</h1>
  <h3><a href="">{{ store }}</a></h3>
  <aside class="price">$567</aside>
  
  <a class="avator">
    <img src="{{ user.image }}" width=32 height=32/> {{ user.name }}
  </a>
</article>
</script>


<script>
var id = location.search.match(/id=(.+)/)[1]
var resource = "http://api.flickr.com/services/rest/?api_key=95193fbee25c5b7db37e1d912f0313b8&method=flickr.photos.getInfo&photo_id=" + id + "&format=json&jsoncallback=?";

$.getJSON(resource, function( data ) {
  
  var template = $('#item-detail-tpl').html();
  var html = Milk.render(template, {
    title: data.photo.title._content,
    image: photo_path(data.photo),
    user: { 
      name: data.photo.owner.realname, 
      id: data.photo.owner.nsid,
      image: user_image_path(data.photo.owner)
    },
    created_at: data.photo.dates.taken
  });
  
  $('#content-container').append(html)
})

// http://farm{farm-id}.staticflickr.com/{server-id}/{id}_{secret}.jpg
function photo_path(photo) {
  return "http://farm"+photo.farm+".staticflickr.com/"+photo.server+"/"+photo.id+"_"+photo.secret+"_b.jpg"
}

// http://farm7.staticflickr.com/6069/buddyicons/61970879@N06.jpg
function user_image_path(owner) {
  return "http://farm"+owner.iconfarm+".staticflickr.com/"+owner.iconserver+"/buddyicons/"+owner.nsid+".jpg"
}

</script>


<script>

//  HTML5 Photo prototype
// Key:
// 95193fbee25c5b7db37e1d912f0313b8
// 
// Secret:
// fe2f18ae40f4c33d
  var feed = "http://api.flickr.com/services/feeds/photos_public.gne?tags=vintage,fashion&format=json&jsoncallback=?";
  var template = $('#list-item-tpl').html()
  var list = $('ul.listview');
  
  $.getJSON(feed, function(dd) {
    $.each(dd.items, function(index, item) {
      var parts = item.link.split('/')
      var html = Milk.render(template, {
        id: parts[parts.length - 2],
        title: item.title,
        user: item.author,
        link: item.link,
        description: $(item.description).text(),
        image: item.media.m,
        tags: item.tags.split(' '),
        created_at: item.published
      });
      
      console.log(html)
      list.append(html)
    })
  })
</script>