

<div class="container">
  <header>
  <h1>Design &amp; prototyping</h1>
  </header>
  
  
  <a href="/web" class="button large">Issue Site</a>

  <a href="/app" class="button large">Issue App</a>

  <a href="/docs" class="button large">Spring framework</a>
</div>