<% content_for :header do %>
<header class="page-head">
  <div class="container">
    
    <h1>Design first</h1>
    <p class="subtitle"> Design &amp; prototyping</p>    
    
  </div>
</header>
<% end %>

<section>
  <h3><a href="/docs">Spring framework</a></h3>
  <p>
    Minimalistic CSS framework for grid and content publishing. <br/>
    <a href="/docs" class="button outline">View more</a>
  </p>
  
</section>

<section>
  <h3><a href="/site">Web Site</a></h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br/>
    <a href="/site" class="button outline">View more</a>
    
  </p>
</section>

<section>
  <h3><a href="/app">App Design</a></h3>

  <p>
    Admin, App and mobile should use a familiar design</br>
    <a href="/site" class="button outline">View more</a>
  </p>
</section>

<h3><a href="/issues">Issues</a></h3>
