<style>
  html, body {
    overflow: hidden;
  }

  nav[role=navigation] {
    position: absolute;
    top:0;
    left:0;
    width:100%;
  }

  .cover {
    position:relative;
    height: 200%; 
    width: 200%;
    top: -50%;
    left: -50%;
  }

  .cover img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 51%;
    min-height: 50%;
  }

  #pages {
    white-space: nowrap;
    overflow: hidden;
    
  }

  .scrollable {
    display: inline-block;
    overflow: hidden;
  }

  .page {
    position: relative;
    display: inline-block;
    width: 1024px;
    height: 725px;
    margin: 0;
/*    padding: 55px 1% 0 1%;*/
    padding: 55px 5px 0 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    white-space: normal;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    border: 1px solid #fff;
  }

  .page.current {
    border: 1px solid red;
  }
  
  .page {
    visibility: hidden;
  }

  .page.prev, .page.next {
    visibility: visible;
  }
  .page.current {
    -webkit-transition: 1s ease all;
    visibility: visible;
  }
  
  .page.padding {
    width: 0;
  }
</style>
<%= render '/section/templates' %>


<div id="hero" style="display:none;">
  <h1>Start your personalised shopping catalogue</h1>
  <a href="/signup" class="button blue large">Sign up for an invite</a>
  <div class="stream-header">
    <span>Trending</span>
  </div>
</div>

<div id="pages" class="scrollable horizontal paginated">
</div>

<% content_for :ipad do %>
  <dt>Page offset</dt><dd id="stat-page-offset"></dd>
  
  <dt>Index</dt><dd id="stat-stream-index"></dd>
  <dt>Pages</dt><dd id="stat-pages"></dd>
  <dt>Collection index</dt><dd id="stat-collection-index"></dd>
  <dt>Data</dt><dd id="stat-items"></dd>
<% end %>

<% content_for :js do %>
<script>

  $.getJSON("/products.json", function(products) {
    collection = new App.StreamCollection(products)
    stream = new App.StreamView({ el: '#pages', collection: collection })
    collection.trigger('refresh')
  })

</script>
<% end %>

<% if params[:version] %>
  <%#= render "section/#{params[:version]}" %>
<% else %>
  <%#= render "section/v1" %>
<% end %>