<style>
  nav[role=navigation] {
    position: absolute;
    top:0;
    left:0;
    width:100%;
  }
  
 .cover {
    position:relative;
    height: 200%; 
    width: 200%;
    top: -50%;
    left: -50%;
  }
  
  .cover img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 51%;
    min-height: 50%;
  }
</style>

<div id="hero" style="display:none;">
  <h1>Start your personalised shopping catalogue</h1>
  <a href="/signup" class="button blue large">Sign up for an invite</a>
  <div class="stream-header">
    <span>Trending</span>
  </div>
</div>

<!-- 2 page start 2 - 2/3 1/3 -->
<div class="page">
  <div class="row">
    <div class="col half">
      
      <figure class="product item v-half">
        <div class="image cover">
          <img src="http://deyf8doogqx67.cloudfront.net/images/BAhbB1sHOgZmSSIrMjAxMi8wOC8wOS8wOC8zMy80MC82MTcvMjQ3OTg2ODhfMTAyX2IGOgZFVFsIOgZwOgp0aHVtYkkiCjQxMHg+BjsGRg.png">
        </div>

        <div class="info">
          <h3 class="title">Canon EOS M Camera</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </figure>
      
      <figure class="product item v-half">
        <div class="image cover">
          <img src="http://deyf8doogqx67.cloudfront.net/images/BAhbB1sHOgZmSSJMMjAxMi8wNS8xNS8wNC8yNS81Mi8xODkvY2VsbF9waG9uZV9sZW5zZXNfYjQxMF82MDAuMDAwMDAwMTMxMTgxMDcwNC5qcGcGOgZFVFsIOgZwOgp0aHVtYkkiCjYwMHg+BjsGVA.png">
        </div>

        <div class="info">
          <h3 class="title">Canon EOS M Camera</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </figure>
    </div>
    
    <div class="col half">
      <figure class="product item v-third-2">
        <div class="image cover">
          <img src="http://deyf8doogqx67.cloudfront.net/images/BAhbB1sHOgZmSSIzMjAxMi8wNy8wNi8xMC8yMS80MC84MDMvdDIxNjZfY29sb3JibG9ja180LmpwZwY6BkVUWwg6BnA6CnRodW1iSSIKNjAweD4GOwZU.png">
        </div>
        
        <div class="info">
          <h3 class="title">Native Union Pop Phone Handset</h3>
          <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </figure>
      
      <figure class="product item v-third split">
        <div class="image cover">
          <img src="http://deyf8doogqx67.cloudfront.net/images/BAhbB1sHOgZmSSIpMjAxMi8wNS8yNS8xNS8zNi8yMi80MDEvaW1hZ2UxeGwuanBnBjoGRVRbCDoGcDoKdGh1bWJJIgoyOTB4PgY7BkY.png">
        </div>

        <div class="info">
          <h3 class="title">Farmhouse Fresh Sweet Cream Body Milk Moisturizer - Ivory</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </figure>
    </div>
  </div>
</div>
<!-- page end 2 - 2/3 1/3 -->