<style>
  body {
    margin-top: 44px;
  }
  
  nav[role=navigation] {
    position: absolute;
    top:0;
    left:0;
    width:100%;
  }
  
  
  .image {
/*    text-align: center;*/
  }
  
  .image img {
/*    min-height: 100%;*/
  }
  
 .cover {
    position:relative;
    height: 200%; 
    width: 200%;
    top: -50%;
    left: -50%;
  }
  
  .cover img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
  }
</style>

<div id="hero" style="display: none">
  <h1>Start your personalised shopping catalogue</h1>
  <a href="/signup" class="button blue large">Sign up for an invite</a>
  <div class="stream-header">
    <span>Trending</span>
  </div>
</div>

<div class="page">
  <div class="row">
    <div class="col half">
      
      <figure class="product item v-half">
        <div class="counters">
          <span class="icon-heart"> 203</span>
          <span class="icon-plus-sign"> 2323</span>
        </div>
        
        <div class="image cover">
          <img src="http://deyf8doogqx67.cloudfront.net/images/BAhbB1sHOgZmSSIlMjAxMi8wNi8yMS8wMC8zOS8zMS81NDUvMTFjcC5qcGcGOgZFVFsIOgZwOgp0aHVtYkkiCjQ5Mng+BjsGVA.png">
          
        </div>

        <div class="info">
          <h3 class="title">iCade Game Cabinet</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </figure>
      
      <figure class="product item v-half">
        <div class="counters">
          <span class="icon-heart"> 203</span>
          <span class="icon-plus-sign"> 2323</span>
        </div>

        <div class="image cover">
          <img src="http://deyf8doogqx67.cloudfront.net/images/BAhbB1sHOgZmSSIrMjAxMi8wNi8xOC8xNS8zNi8wNy84MjYvMjU2NTMwNDlfMDAwX2IGOgZFVFsIOgZwOgp0aHVtYkkiCjI5MXg+BjsGRg.png" style="">
        </div>

        <div class="info">
          <h3 class="title">iCade Game Cabinet</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </figure>
    </div>
    
    <!-- Third -->
    <!-- Column -->
    <div class="col half">
      <figure class="product item split v-third">
        <div class="counters">
          <span class="icon-heart"> 203</span>
          <span class="icon-plus-sign"> 2323</span>
        </div>
        
        <!-- 291 × 431 -->
        <% dimension = size(291, 431) %>
        
        <div class="image" style="height:100%">
          <div class="cover">
            <img src="http://deyf8doogqx67.cloudfront.net/images/BAhbB1sHOgZmSSIrMjAxMi8wNi8wNS8xMi8zNy8yNi8xNzUvMjM5MDU3MTRfMDAxX2IGOgZFVFsIOgZwOgp0aHVtYkkiCjI5MXg+BjsGRg.png">
          </div>
        </div>
        
        <div class="info">
          <h3 class="title">Native Union Pop Phone Handset</h3>
          <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </figure>
      
      <!-- Fourth -->
      <figure class="product item v-third-2" style="background: red">
        <div class="counters">
          <span class="icon-heart"> 203</span>
          <span class="icon-plus-sign"> 2323</span>
        </div>
        
        <!-- 291 × 431 -->
        <% dimension = size(291, 431) %>
        <div class="image cover">
          <img src="http://deyf8doogqx67.cloudfront.net/images/BAhbB1sHOgZmSSIrMjAxMi8wNy8wNS8yMS8xOC8wOC8xNjYvMjU2MTE0NDNfMDExX2IGOgZFVFsIOgZwOgp0aHVtYkkiCjMzOHg+BjsGRg.png">
        </div>

        <div class="info">
          <h3 class="title">Farmhouse Fresh Sweet Cream Body Milk Moisturizer - Ivory</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </figure>
      
    </div>
  </div>
</div>


<!-- 
<div class="row">

  <figure class="product item half">
    <div class="counters">
      <span class="icon-heart"> 203</span>
      <span class="icon-plus-sign"> 2323</span>
    </div>
    
    <a class="link" href="http://shop2.com/stream/braun-mens-watch-mesh-band">
      <div class="image">
      <img src="http://deyf8doogqx67.cloudfront.net/images/BAhbB1sHOgZmSSIlMjAxMi8wNC8wOS8yMy8xNS8yMy8yODIvMzE0MC5qcGcGOgZFVFsIOgZwOgp0aHVtYkkiCjQwMHg+BjsGRg.png" style="max-width: 29em; ">
      </div>
      <figaption class="title">Braun Men's Watch - Mesh Band</figcaption>
    </a>
  </figure>
</div>

<div class="row">
  <figure class="product item">
    <div class="counters">
      <span class="icon-heart"> 203</span>
      <span class="icon-plus-sign"> 2323</span>
    </div>
    
    <a class="link" href="http://shop2.dev/stream/loft-cube">    
      <div class="image">
        <img src="http://deyf8doogqx67.cloudfront.net/images/BAhbB1sHOgZmSSJBMjAxMi8wNi8xOS8xNC8xNC8yNC84OTEvMDAxNGFhZWMwZTk3NzVlN2NlYzVlYTU4ZDIzZWM4NTcuanBnBjoGRVRbCDoGcDoKdGh1bWJJIgozNTB4PgY7BkY.png" style="max-width: 20em">
      </div>
      <figaption class="title">A Night to Remember Flat in Stripes</figcaption>
    </a>
  </figure>
</div> -->

<div id="trending">
<% sample_products.each_with_index do |product, index| %>
  <div class="row">
  <% dimension = size(product.image_width, product.image_height) %>
  <%= render 'product', locals: { product: product, dimension: dimension, type: ["spli", "normal"].sample} %>
  </div>
<% end %>
</div>

<script>
  var products = <%= sample_products.to_json %>
</script>