<style>

  html, body {
    overflow: hidden;
  }

  [role=main] {
    position: relative;
  }
  
  nav[role=navigation] {
    position: absolute;
    top:0;
    left:0;
    width:100%;
  }

  .cover {
    position:relative;
    height: 200%; 
    width: 200%;
    top: -50%;
    left: -50%;
  }

  .cover img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 51%;
    min-height: 50%;
  }

  .image.bottom {
/*    top: -90%;*/
    background-position: bottom !important;
  }

  #pages {
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    /* margin-top: 55px; */
  }
  
  #content {
    position: absolute;
    white-space: nowrap;
  }

  .scrollable {
    display: inline-block;
    overflow: hidden;
  }

  .page {
    float: left;
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    white-space: normal;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    border: 1px solid #fff;
  }

/*
  .page.current {
    border: 1px solid red;
  }
*/

/*  .page {
    visibility: hidden;
  }*/
  /*
  .page.prev, .page.next {
    visibility: visible;
  }
    */
/*  .page.current {
    visibility: visible;
  }*/

  .page.padding {
    width: 0;
  }
  
  /* sign up form */
  #signup {
    display: none;
    background: white;
    height: 93%;
  }
  
</style>
<%= render '/templates/all' %>


<div id="hero" style="display:none;">
  <h1>Start your personalised shopping catalogue</h1>
  <a href="/signup" class="button blue large">Sign up for an invite</a>
  <div class="stream-header">
    <span>Trending</span>
  </div>
</div>

<div id="pages" class="scrollable horizontal paginated">
</div>

<div id="content">
</div>

<div id="signup">
  <form accept-charset="UTF-8" action="http://shop2.com/users/guest" class="simple_form content signup" id="new_guest" method="post">
    <div style="margin:0;padding:0;display:inline">
      <input name="utf8" type="hidden" value="✓">
      <input name="authenticity_token" type="hidden" value="vz7kFbPAYMB7fzEG1scTGHDcJB07PFJeLrvUlv4ZEPQ=">
    </div>
    <p>
      <a class="button large facebook" href="http://shop2.com/connect/facebook?return_to=/ipad">
        <i class="icon-facebook"></i>
        <span>Connect with Facebook</span>
      </a>
    </p>
    <div class="stream-header">
      <span>Or</span>
    </div>

    <input id="return_to" name="return_to" type="hidden" value="/mobile">

    <div class="input string required">
      <input class="string required" id="guest_email" name="guest[email]" placeholder="Please enter an email address" size="50" type="text">
    </div>

    <input class="button large full" name="commit" type="submit" value="Signup">

  </form>  
</div>

<%# content_for :toolbar do %>

<%# end %>

<% content_for :js do %>
<script>
  App.init()
  // 
  // home & section
  // product(url)
  
  // ProductStream.get
  // Product
  
</script>
<% end %>

<% if params[:version] %>
  <%#= render "section/#{params[:version]}" %>
<% else %>
  <%#= render "section/v1" %>
<% end %>