<style>
  body {
    margin-top: 44px;
  }
  
  nav[role=navigation] {
    position: absolute;
    top:0;
    left:0;
    width:100%;
  }
  
  .product {
    position: relative;
  }
  
  .image {
/*    text-align: center;*/
  }
  
  .image img {
/*    min-height: 100%;*/
  }
  
 .cover {
    position:relative;
    height: 200%; 
    width: 200%;
    top: -50%;
    left: -50%;
  }
  
  .cover img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
  }
  
  .split .image {
    height: 100%;
  }
  
  .item.half .cover {
    top: -53%;
  }
  .item.third .cover {
    top: -55%;
  }
</style>

<% content_for :toolbar do %>
  <h1>Welcome</h1>
  <a class="button blue">Signup</a>
<% end %>

<div id="hero">
  <h1>
    Start your personalised shopping catalogue
  </h1>
  
  <a href="/signup" class="button blue large">Sign up for an invite</a>
</div>

<div class="stream-header">
  <span>Trending</span>
</div>

<div id="products" role="main">
<%
  total_counts = sample_products.count
  per_page = 2
  total_pages = (total_counts/per_page.to_f).ceil
  current_page = params[:page].to_i + 1
  limit = per_page * current_page  
  products = sample_products[[limit - per_page, 0].max, per_page]
%>

<% products && products.each_with_index do |product, index| %>
  <div class="row">
  <% dimension = size(product.image_width, product.image_height) %>
  <%= render 'product', locals: { product: product, dimension: dimension, type: ["", "normal"].sample} %>
  </div>
<% end %>

</div>


<div class="pagination">
  <% (1..total_pages).each do |page_num| %>
    <div class="page"><%= page_num %></div>
  <% end %>
  
  <%= link_to "next", "/iphone?page=#{current_page}", :class => "#{"next_page" if total_pages.to_i >= params[:page].to_i }" %>
</div>

<a href="" class="button large">Show more</a>

<script>
  var products = <%= sample_products.to_json %>
</script>
