<style>
  nav.toc {
    width: 1024px;
    margin:0;
  }

  nav.toc ul {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    display: none;
    overflow-x: auto;
    padding: 0 10px;
    width: 100%;
    height: 150px;
    background: #666;
    list-style-type: none;
    white-space: nowrap;
  }

  nav.toc label {
    position: absolute;
    z-index: 1;
    margin: 20px 20px 0;
    color: white;
  }

  nav.toc input {
    display: none;
  }

  nav.toc input:checked + ul {
    display: block;
  }

  nav.toc li a {
    display: inline-block;
    overflow: hidden;
    margin: 15px 5px;
    width: 150px;
    height: 110px;
    background: #333;
    background-position: center;
    background-size: cover;
    color: white;
    vertical-align: center;
    vertical-align: middle;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 18px;
    line-height: 110px;
  }

  /*
      Dynamic layout
  */
  body {
    background: #eee;
  }

  #issue-viewer {
    position: relative;
    display: block;
    overflow: auto;
    margin: 40px auto 0;
    width: 1024px;
    height: 768px;
    background: #fff;
  }

  #issue-viewer.portrait {
    width: 768px;
    height: 1024px;
  }

  #issue-viewer.portrait .page {
    width: 768px;
    height: 1024px;
  }

  #issue-viewer.mobile {
    width: 320px;
    height: 568px;
  }

  #issue-viewer.mobile .page {
    width: 320px;
    height: 568px;
  }

  #issue-viewer.mobile .debug ul {
    float: none;
    padding: 0;
    width: 100%;
  }

  #issue-viewer.mobile .debug .params {
    float: none;
    overflow: auto;
    width: 100%;
  }

  /*
      Dynamic layout
  */

  /*
    Adding overflow to #issue-view's parent can fix margin collapse
  */
</style>

<div style="padding: 10px">
  <button class="button outline" onclick="$('#issue-viewer').toggleClass('mobile')">mobile</button>
  <button class="button outline" onclick="$('#issue-viewer').toggleClass('portrait')">orientation</button>

  <label for="menu" class="button outline">Issue</label>

  <button class="button outline" onclick="document.getElementById('issue-viewer').contentWindow.toggle_debugger()">Debug</button>
  <button class="button outline" onclick="document.getElementById('issue-viewer').contentWindow.toggle_rendering()">Paginate</button>
  <button class="button outline" onclick="document.getElementById('issue-viewer').contentWindow.location.reload()">Reload</button>
</div>

<iframe id="issue-viewer" src="<%= params[:url] || "/issue/index" %>" frameborder="0"></iframe>

<nav class="toc dark-theme" role="secondary">
  <input type="checkbox" id="menu" value="toggle" onchange=""/>
  <ul>
    <% issue_contents(true).each do |page| %>
    <li><a href="<%= page.url %>" target="issue-viewer"><%= page.title %></a></li>
    <% end %>
  </ul>
</nav>
