<section id="list" class="page">
  <nav class="toolbar">
    <a href="/" class="back"><i class="icon-chevron-left"></i> Back</a>
    <h1>List page</h1>
  </nav>
  <ul class="listview scrollable vertical">
  </ul>
</section>

<script id="list-item-tpl" type="text/html">
  <li>
    <a class="js-pjax" href="/detail?id={{ id }}">
    <div class="thumb">
      <img src="{{ image }}">
    </div>
    <h3>{{ title }}</h3>
    <p>{{{ description }}}</p>
    </a>
  </li>
</script>

<script>

//  HTML5 Photo prototype
// Key:
// 95193fbee25c5b7db37e1d912f0313b8
// 
// Secret:
// fe2f18ae40f4c33d
  var feed = "http://api.flickr.com/services/feeds/photos_public.gne?tags=vintage,fashion&format=json&jsoncallback=?";
  var template = $('#list-item-tpl').html()
  var list = $('ul.listview');
  
  $.getJSON(feed, function(dd) {
    $.each(dd.items, function(index, item) {
      var parts = item.link.split('/')
      var html = Milk.render(template, {
        id: parts[parts.length - 2],
        title: item.title,
        user: item.author,
        link: item.link,
        description: $(item.description).text(),
        image: item.media.m,
        tags: item.tags.split(' '),
        created_at: item.published
      });
      
      console.log(html)
      list.append(html)
    })
  })
</script>