<% content_for :toolbar do %>
  <a class="button" href="/"> Back</a>
  <h1>Signup</h1>
  
  <!-- <a class="button blue">Signup</a> -->
<% end %>

<!-- <a href="/connect/facebook?return_to=%2Fusers%2Finvitation%2Ffacebook" class="button large facebook" id="facebook_invite">
            <i class="icon-facebook"></i>
            <span>Request Invite via Facebook</span>
</a> -->

<!-- <form accept-charset="UTF-8" action="/users/invitation" class="single-form but-include" id="new_user" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="U2Ol+3j2D+qs+CYqQ1Yws6qGZ4aJoQu+9IYLP56QAzU="></div>
            
            <input id="user_status" name="user[status]" type="hidden" value="waiting">
            
            <div class="input string">
              <input id="user_email" name="user[email]" placeholder="Enter email to request an invite" size="30" type="text">
            </div>
            <div class="input submit">
              <input class="button blue submit" id="email_invite" name="commit" type="submit" value="Invite Me">
            </div>
            
</form> -->

<form class="content signup" action="/users/invitation"  method="post" style="min-height: 500px"> 
  <p>
    <a class="button large full facebook" href="http://shop2.dev/connect/facebook?return_to=http://localhost:4000/thankyou">
      <i class="icon-facebook"></i><span> Connect to with Facebook</span>
    </a>
    <div class="stream-header">
      <span>Or</span>
    </div>
    <input class="email" type="text" size="22" placeholder="Enter your email address">
    <button class="blue large full" type="submit">Signup</button>
  </p>
</form>
