<% content_for :toolbar do %>
  <a class="button" href="/"> &#x2190; Back</a>
  <h1>Thank you</h1>
  <a class="button blue">Invite</a>
<% end %>

<h1>Welcome</h1>
<p>Here are some of the recommended channels you should checkout</p>

<h3>Channels</h3>

<ul>
  <li>Men's</li>
  <li>Women's</li>
  <li>Home</li>
  <li>Tech</li>
  <li>Shoes</li>
  <li>Arts &amp; Craft</li>
  <li>Accessories</li>
  <li>Design</li>
</ul>

<ul>
  <li class="group"><h3>Recommended</h3></li>
  <li><h3><img src="//placehold.it/100x80"> Username</h3><button>Follow</button></li>
  <li><h3><img src="//placehold.it/100x80"> Username</h3><button>Follow</button></li>
  <li><h3><img src="//placehold.it/100x80"> Username</h3><button>Follow</button></li>
  <li><h3><img src="//placehold.it/100x80"> Username</h3><button>Follow</button></li>
  <li><h3><img src="//placehold.it/100x80"> Username</h3><button>Follow</button></li>
  
  <li class="group"><h3>Friends</h3></li>
  <li><h3><img src="//placehold.it/100x80"> Username</h3><button>Invite</button></li>
  <li><h3><img src="//placehold.it/100x80"> Username</h3><button>Invite</button></li>
  <li><h3><img src="//placehold.it/100x80"> Username</h3><button>Invite</button></li>
  <li><h3><img src="//placehold.it/100x80"> Username</h3><button>Invite</button></li>
  <li><h3><img src="//placehold.it/100x80"> Username</h3><button>Invite</button></li>
  
  <li class="group"><h3>Invited</h3></li>
  <li><h3><img src="//placehold.it/100x80"> Username</h3><button>Resend</button></li>
  <li><h3><img src="//placehold.it/100x80"> Username</h3><button>Resend</button></li>
  <li><h3><img src="//placehold.it/100x80"> Username</h3><button>Resend</button></li>
  <li><h3><img src="//placehold.it/100x80"> Username</h3><button>Resend</button></li>
  <li><h3><img src="//placehold.it/100x80"> Username</h3><button>Resend</button></li>
</ul>
