<!-- 1 page start 1 - 1/2 1/2 -->
<div class="page">
  <div class="row">
    <div class="col half">
      
      <figure class="product item">
        <div class="image cover">
          <img src="http://deyf8doogqx67.cloudfront.net/images/BAhbB1sHOgZmSSI1MjAxMS8xMi8yMy8wMC81Mi8yMi85MTQvMDQyMDA5X2FuX2lrZWFfaGFjazQuanBnBjoGRVRbCDoGcDoKdGh1bWJJIgo2MDB4PgY7BlQ.png">
        </div>

        <div class="info">
          <h3 class="title">Canon EOS M Camera</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </figure>
    </div>
    
    <div class="col half">
      <figure class="product item v-half">
        <div class="image cover">
          <img src="http://deyf8doogqx67.cloudfront.net/images/BAhbB1sHOgZmSSIrMjAxMi8wOC8wMS8xMy80Ny8xOS83MzUvMjQ5MDUwNTFfMDQwX2IGOgZFVFsIOgZwOgp0aHVtYkkiCjMzOHg+BjsGRg.png">
        </div>
        
        <div class="info">
          <h3 class="title">Native Union Pop Phone Handset</h3>
          <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </figure>
      
      <figure class="product item v-half">
        <div class="image cover">
          <img src="http://deyf8doogqx67.cloudfront.net/images/BAhbB1sHOgZmSSI8MjAxMi8wNS8xNy8wMC81Ny8wNC82NjcvUGhlYXNlbnRfRmVhdGhlcl9Ta2lydF83Nzk4LmpwZwY6BkVUWwg6BnA6CnRodW1iSSIKNjAweD4GOwZU.png">
        </div>

        <div class="info">
          <h3 class="title">Farmhouse Fresh Sweet Cream Body Milk Moisturizer - Ivory</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </figure>
      
    </div>
  </div>
</div>
<!-- page end 1 - 1/2 1/2 -->

<!-- 2 page start 2 - 2/3 1/3 -->
<div class="page">
  <div class="row">
    <div class="col half">
      
      <figure class="product item v-half">
        <div class="image cover">
          <img src="http://deyf8doogqx67.cloudfront.net/images/BAhbB1sHOgZmSSIrMjAxMi8wOC8wOS8wOC8zMy80MC82MTcvMjQ3OTg2ODhfMTAyX2IGOgZFVFsIOgZwOgp0aHVtYkkiCjQxMHg+BjsGRg.png">
        </div>

        <div class="info">
          <h3 class="title">Canon EOS M Camera</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </figure>
      
      <figure class="product item v-half">
        <div class="image cover">
          <img src="http://deyf8doogqx67.cloudfront.net/images/BAhbB1sHOgZmSSJMMjAxMi8wNS8xNS8wNC8yNS81Mi8xODkvY2VsbF9waG9uZV9sZW5zZXNfYjQxMF82MDAuMDAwMDAwMTMxMTgxMDcwNC5qcGcGOgZFVFsIOgZwOgp0aHVtYkkiCjYwMHg+BjsGVA.png">
        </div>

        <div class="info">
          <h3 class="title">Canon EOS M Camera</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </figure>
    </div>
    
    <div class="col half">
      <figure class="product item v-third-2">
        <div class="image cover">
          <img src="http://deyf8doogqx67.cloudfront.net/images/BAhbB1sHOgZmSSIzMjAxMi8wNy8wNi8xMC8yMS80MC84MDMvdDIxNjZfY29sb3JibG9ja180LmpwZwY6BkVUWwg6BnA6CnRodW1iSSIKNjAweD4GOwZU.png">
        </div>
        
        <div class="info">
          <h3 class="title">Native Union Pop Phone Handset</h3>
          <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </figure>
      
      <figure class="product item v-third">
        <div class="image cover">
          <img src="http://deyf8doogqx67.cloudfront.net/images/BAhbB1sHOgZmSSIpMjAxMi8wNS8yNS8xNS8zNi8yMi80MDEvaW1hZ2UxeGwuanBnBjoGRVRbCDoGcDoKdGh1bWJJIgoyOTB4PgY7BkY.png">
        </div>

        <div class="info">
          <h3 class="title">Farmhouse Fresh Sweet Cream Body Milk Moisturizer - Ivory</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </figure>
    </div>
  </div>
</div>
<!-- page end 2 - 2/3 1/3 -->

<!-- 3 page start 2 - 2 -->
<div class="page">
  <div class="row">
    <div class="col half">
      
      <figure class="product item v-half">
        <div class="image cover">
          <img src="http://deyf8doogqx67.cloudfront.net/images/BAhbB1sHOgZmSSIrMjAxMi8wOC8wMS8xMy80Ny8xOS83MzUvMjQ5MDUwNTFfMDQwX2IGOgZFVFsIOgZwOgp0aHVtYkkiCjMzOHg+BjsGRg.png">
        </div>

        <div class="info">
          <h3 class="title">Canon EOS M Camera</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </figure>
      
      <figure class="product item v-half">
        <div class="image cover">
          <img src="http://deyf8doogqx67.cloudfront.net/images/BAhbB1sHOgZmSSIrMjAxMi8wOC8wOS8wOC8zMy80MC82MTcvMjQ3OTg2ODhfMTAyX2IGOgZFVFsIOgZwOgp0aHVtYkkiCjQxMHg+BjsGRg.png">
        </div>

        <div class="info">
          <h3 class="title">Canon EOS M Camera</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </figure>
    </div>
    
    <div class="col half">
      <figure class="product item v-half">
        <div class="image cover">
          <img src="http://deyf8doogqx67.cloudfront.net/images/BAhbB1sHOgZmSSIrMjAxMi8wOC8wOC8xMy81OC8yOS84NjYvMjQxMzk3MTlfMDEwX2IGOgZFVFsIOgZwOgp0aHVtYkkiCjMzOHg+BjsGRg.png">
        </div>
        
        <div class="info">
          <h3 class="title">Native Union Pop Phone Handset</h3>
          <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </figure>
      
      <figure class="product item v-half">
        <div class="image cover">
          <img src="http://deyf8doogqx67.cloudfront.net/images/BAhbB1sHOgZmSSIzMjAxMi8wNy8wNi8xMC8yMS80MC84MDMvdDIxNjZfY29sb3JibG9ja180LmpwZwY6BkVUWwg6BnA6CnRodW1iSSIKNjAweD4GOwZU.png">
        </div>

        <div class="info">
          <h3 class="title">Farmhouse Fresh Sweet Cream Body Milk Moisturizer - Ivory</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </figure>
    </div>
  </div>
</div>
<!-- page end 2 - 2 -->

<!-- 4 page start 2 - 3 -->
<div class="page">
  <div class="row v-half">
    <figure class="product item half">
      <div class="image cover">
        <img src="http://deyf8doogqx67.cloudfront.net/images/BAhbB1sHOgZmSSJMMjAxMi8wNS8xNS8wNC8yNS81Mi8xODkvY2VsbF9waG9uZV9sZW5zZXNfYjQxMF82MDAuMDAwMDAwMTMxMTgxMDcwNC5qcGcGOgZFVFsIOgZwOgp0aHVtYkkiCjYwMHg+BjsGVA.png">
      </div>

      <div class="info">
        <h3 class="title">Canon EOS M Camera</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </figure>
  
    <figure class="product item half">
      <div class="image cover">
        <img src="http://deyf8doogqx67.cloudfront.net/images/BAhbB1sHOgZmSSIrMjAxMi8wOC8xNi8wMS8yNy81Ny8xOTIvMjQ5NDU2NDRfMDA5X2IGOgZFVFsIOgZwOgp0aHVtYkkiCjMzOHg+BjsGRg.png">
      </div>
      
      <div class="info">
        <h3 class="title">Native Union Pop Phone Handset</h3>
        <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </figure>
  </div>
  
  <div class="row v-half">
    <figure class="product item third">
      <div class="image cover">
        <img src="http://deyf8doogqx67.cloudfront.net/images/BAhbB1sHOgZmSSIrMjAxMi8wNy8yMi8wMC8xOS8zOC80MjcvMjU3NjAxMTdfMDk1X2IGOgZFVFsIOgZwOgp0aHVtYkkiCjMzOHg+BjsGRg.png">
      </div>

      <div class="info">
        <h3 class="title">Canon EOS M Camera</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </figure>
  
    <figure class="product item third">
      <div class="image cover">
        <img src="http://deyf8doogqx67.cloudfront.net/images/BAhbB1sHOgZmSSIrMjAxMi8wNi8wNS8xMi8wNy8xNC83NTkvMjQzNTU0MDZfMDA0X2IGOgZFVFsIOgZwOgp0aHVtYkkiCjI5MXg+BjsGRg.png">
      </div>
      
      <div class="info">
        <h3 class="title">Native Union Pop Phone Handset</h3>
        <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </figure>
    
    <figure class="product item third">
      <div class="image cover">
        <img src="http://deyf8doogqx67.cloudfront.net/images/BAhbB1sHOgZmSSIzMjAxMi8wNy8wNi8xMC8yMS80MC84MDMvdDIxNjZfY29sb3JibG9ja180LmpwZwY6BkVUWwg6BnA6CnRodW1iSSIKNjAweD4GOwZU.png">
      </div>
      
      <div class="info">
        <h3 class="title">Native Union Pop Phone Handset</h3>
        <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </figure>
  </div>
</div>
<!-- page end 2 - 3 -->

<!-- 5 page start 1 - 1/3 2/3 -->
<div class="page">
  <div class="row">
    <div class="col half">
      <figure class="product item">
        <div class="image cover">
          <img src="http://deyf8doogqx67.cloudfront.net/images/BAhbB1sHOgZmSSIrMjAxMi8wOC8wMS8xMy80Ny8xOS83MzUvMjQ5MDUwNTFfMDQwX2IGOgZFVFsIOgZwOgp0aHVtYkkiCjMzOHg+BjsGRg.png">
        </div>

        <div class="info">
          <h3 class="title">Canon EOS M Camera</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </figure>
    </div>
    
    <div class="col half">
      <figure class="product item v-third">
        <div class="image cover">
          <img src="http://deyf8doogqx67.cloudfront.net/images/BAhbB1sHOgZmSSIrMjAxMi8wNi8xOC8xNS8zNS8wNC8xNjUvMTg1NDM5MzRfMDIwX2IGOgZFVFsIOgZwOgp0aHVtYkkiCjI5MXg+BjsGRg.png">
        </div>
        
        <div class="info">
          <h3 class="title">Native Union Pop Phone Handset</h3>
          <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </figure>
      
      <figure class="product item v-third-2">
        <div class="image cover">
          <img src="http://deyf8doogqx67.cloudfront.net/images/BAhbB1sHOgZmSSI0MjAxMi8wOC8wOS8wNy81NS8wMy85MDIvaXBob25lX2xlbnNfZGlhbF94bC5qcGcGOgZFVFsIOgZwOgp0aHVtYkkiCjYwMHg+BjsGVA.png">
        </div>

        <div class="info">
          <h3 class="title">Farmhouse Fresh Sweet Cream Body Milk Moisturizer - Ivory</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </figure>
      
    </div>
  </div>
</div>
<!-- page end 1 - 1/3 2/3 -->


<div id="trending">
<% sample_products.each_with_index do |product, index| %>
  <div class="row">
  <% dimension = size(product.image_width, product.image_height) %>
  <%= render 'product', locals: { product: product, dimension: dimension, type: ["spli", "normal"].sample} %>
  </div>
<% end %>
</div>

<script>
  var products = <%= sample_products.to_json %>
</script>