<% @title = "Welcome to shop2" %>

<section id="welcome" class="toc page">
  <nav>
    <h1 id="logo"><a href="javascript:window.location.reload()">Shop2</a></h1>
    <a>Swipe to discover &#x2192;</a>
  </nav>
  
  <figure class="featured">
    <a href="/list">
    <img src="flickr://gilt" width="100%" height="100%">
    <h3>Gilt</h3>
    <figcaption>Cover page</figcaption>
    </a>
  </figure>

  <figure class="signup">
    <a href="/list">
    <img src="flickr://Signup" width="100%" height="100%">
    <h3>Sign up</h3>
    <figcaption>Build your personal catalog</figcaption>
    </a>
  </figure>

  <figure>
    <a href="/list">
    <img src="flickr://design" width="100%" height="100%">
    <h3>Design</h3>
    <figcaption>Show hight level category</figcaption>
    </a>
  </figure>

  <figure>
    <a href="/list">
    <img src="flickr://fashion" width="100%" height="100%">
    <h3>Mens</h3>
    <figcaption>of content in a category</figcaption>
    </a>
  </figure>
  
  <figure>
    <a href="/list">
    <img src="flickr://women fashion" width="100%" height="100%">
    <h3>Womens</h3>
    <figcaption>Make Your Bedroom Sleep-Friendly</figcaption>
    </a>
  </figure>

  <figure>
    <a href="/list">
    <img src="flickr://Hypebeast" width="100%" height="100%">
    <h3>Hypebeast</h3>
    <figcaption>Make Your Bedroom Sleep-Friendly</figcaption>
    </a>
  </figure>
  
  <figure>
    <a href="/list">
    <img src="flickr://street fashion" width="100%" height="100%">
    <h3>Asos</h3>
    <figcaption>Make Your Bedroom Sleep-Friendly</figcaption>
    </a>
  </figure>
  
  <figure>
    <a href="/list">
    <img src="flickr://mens fashion" width="100%" height="100%">
    <h3>Park and bond</h3>
    <figcaption>Make Your Bedroom Sleep-Friendly</figcaption>
    </a>
  </figure>
</section>