<article class="content page" data-handle="{{ handle }}">
  <header style="">
    <h3 class="title">{{ title }}</h3>
    <p>
      {{ #author }}<span class="author">By {{ author }}</span>{{ /author }}
      {{ #published_at }}
        | <datetime class="">{{ published_at }}</datetime>
      {{ /published_at }}
    <p>
  </header>
  <div class="body">
    {{ #content }}
      {{{ content }}}
    {{ /content }}
  </div>
</article>
