<div id="{{class}}-dropdown" class="drop-down">
  <div class="drop-wrapper">
    <span class="drop-top"></span>
    <ul class="popover-list">
      {{#collection}}
        <li><a href="{{link}}">{{query}}</a></li>
      {{/collection}}
    </ul>
  </div>
</div>
