<style>
  .cover.page {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background-image: url("/issue/cover.jpeg");
    background-size: cover;
    
    color: white;
    font-family: "proxima-nova", sans-serif;
  }
  
  #issue .featured {
    position: relative;
    top: -30px;
  }
  #issue .cover .start-button {
    background: none;
    border: 2px solid rgba(255,255,255, 0.5);
    border-radius: 50px;
    right: 20px;
    top: 10px;
    padding: 0;
    text-align: center;
    line-height: 100px;
    height: 100px;
    width: 100px;
  }
  
  #issue .page {
    font-size: 16px;
  }
  
  
  .cover h1 {
    text-shadow: 1px 2px rgba(0,0,0,0.3);
  }
</style>

<div id="issue" style="display:none">
  <div class="cover page">
    
    <h3>
      Issue
      01
    </h3>
    
    <h1 class="logo"></h1>
    
    <div class="featured">
      <h3>Featured</h3>
      <ul>
        <li>Winter wonderment </li>
        <li>California Voyage </li>
        <li>Breath in, Breath out</li>
        <li>Brand: Taylor Stitch</li>
        <li>Shopping guide</li>
      </ul>
    </div>
    
    <div class="welcome">
      <h1>Adventure</h1>
      
      <a class="start-button" href="#" rel="app">Swipe ></a>
    </div>
    
    <div class="footer">
      <!-- <i class="icon-facebook"></i> -->
      <a href=""></a>
    </div>
  </div>
  <header class="toolbar">
    <a class="icon menu"></a>

    <div class="title"><span>Adventure issue</span></div>
    
    <div class="actions" style="">
      <a class="icon heart"> </a>
      <a class="icon share" rel="popover" href="#shareDropdown"></a>
    </div>
    
    <div class="popover" id="shareDropdown" style="display:none">
      <div class="drop-wrapper">
        <span class="drop-top"></span>
        <ul class="popover-list">
            <li><a class="facebook" href="#"><i class="icon-facebook"></i>Facebook</a></li>
            <li><a class="twitter" href="#"><i class="icon-twitter"></i>Twitter</a></li>
            <li><a class="pinterest" href="#"><i class="icon-pinterest"></i>Pinterest</a></li>
        </ul>
      </div>
    </div>
  </header>

  <div id="issue-content" class="swipe-paging">
    
    <article class="content page">
      <div class="col half" style="background-size:cover; background-image: url(issue/images/intro.jpg);">
      </div>
      
      <div class="col half">
        <div class="item">
        <p>
        Whenever  I think of my intentions for a new year, I think of embarking on uncharted expeditions—some literal and some figurative. Regardless of which, I am always excited for major changes in the way I experience things and how I will learn and grow from them.
        </p>
        <p>
        It’s a new year and Shop2 is a new magazine. Everything we do moving forward in 2013 is going to be an adventure. In being our very first issue, I created the Adventure Issue with a specific thought in mind. I hope you are inspired.
      </p>
      <p>
        Expect our first issue to come from a place of curiosity. A brand new year often begs the question, ‘How is this year going to be better than last?’ We have an answer: Get Adventurous.  Whatever that means for you. The literal definition of adventure is ‘an exciting or very unusual experience; participation in exciting undertakings or enterprises; a bold undertaking; an action of uncertain outcome.’ Think about, but not too long. 
      </p>
      <p>
        Whether it means taking an exotic trip, learning a new language, becoming a yogi or going on your first climbing expedition, the intention of adventure is to create a deeper connection with your inner-self—one that hungers for excitement, thirsts for exploration and feeds off of adrenaline. There is nothing more exhilarating than pushing yourself through boundaries and facing the unknown with both courage and bravery.  I believe that fearlessness and adventure are best friends and this Issue is meant to inspire both.
      </p>
      <p>
        What’s going to be your adventure? What are going to be the things you do this year that gets you off the couch and into new, unexplored territory? We encourage you to think about it. And act.
      </p>
      <p>
        Happy Adventure
      </p>
      <p>
        Nkechi Njaka
        <cite>Fashion Editor and Content Curator</cite>
      </p>
      </div>
      </div>
    </article>
    <article class="page full dark content" style="background-size:cover; background-image: url(issue/images/winder%20wonderment/cover.jpg); background-repeat: no-repeat">
      <div class="col half">
        <div class="left-content">
          <h1 class="title">Winter Wonderment</h1>
          <p>We enter into the New Year with the physical and environmental reality of winter. In most places in the northern hemisphere, the temperature has dropped close to zero, snow has fallen, stuck and even accumulated. For those places in the northern, northern parts, one can even find themselves snowed in for days at a time-- either because of unfathomable amounts of precipitation or the negative windshields.
          </p>
          <p>
          Very few people find winter their favorite season, or more specifically, January their favorite month. Traveling and the scrupulous process of choosing the right look appropriate for the season can be exhausting and sometimes the reason for not leaving the house. Or worse: it can be the reason for leaving the house feeling uncomfortable, not prepared for the cold or not stylish enough.
        </p>
        <p>
          In the depths of the snow mounds, fur and feather down, there lies several opportunities to create adventure-- where discovering new winter activities and winter fashion are magical explorations. A trip to the cabin with the chance of getting snowed in, snow shoeing and then cozying up near a fireplace or even playing with the requisite layering (necessitated by the cold weather) by pairing a couple different winter fabrics together.
        </p>
        <p>
          Anticipate those moments of crisp cold air and beautiful white landscapes, the smell of pine and sandalwood with a new, more adventurous perspective.
        </p>
        <p>
          Happy Adventure.
        </p>
      </div>
      </div>
      <div class="col half">
        <div id="winter-wonderland-photos" class="gallery">
          <a class="play" href="#gallery" ><i class="icon-play"></i> View gallery</a>

          <a rel="external" title="" href="issue/images/winder%20wonderment/1.jpg"></a>
          <a rel="external" title="" href="issue/images/winder%20wonderment/2.jpg"></a> 
          <a rel="external" title="" href="issue/images/winder%20wonderment/3.jpg"></a> 
          <a rel="external" title="" href="issue/images/winder%20wonderment/4.jpg"></a> 
        </div> 
      </div>
    </article>
    
    <article class="page full dark content" style="background-size:cover; background-image: url(issue/images/california%20voyage/cover.jpg); background-repeat: no-repeat">
      <div class="col half">
        <div class="left-content">
        <h1 class='title'>California voyage</h1>
        <blockquote><i class="icon"></i>I want art to find me. I don’t think I am there yet.</blockquote>
      
        <p>
        I met Peter Jamus a little over a year ago in Minneapolis. We crossed paths several times in the fashion circles we both were apart of. I admired and still admire his photographic work; he always evokes such intense emotion in his images and it’s equally perplexing, moving and captivating. I knew I wanted to know him, work with him and share his perspective with others.
        </p><p>
        We met at the infamous First Avenue venue (where Purple Rain was filmed) and talked about his goals for 2012. One of which included a very popular Flickr photography trend of taking a new image every day for the whole year. Peter made about two months in last year. Luckily, it’s a brand new year, and Peter has brand new adventures planned.
        </p><p>
        So who is Peter Jamus and what is he doing differently than last year? ‘I’m finding more purpose and meaning in my work; I had started to loose that working with clients,’ Peter explained when asked what he was focusing on in 2013. 
        </p><p>
        ‘This year I want to focus on personal expression. Closing off the space between the art and the audience.’ EXTROPLOLATE.
        </p><p>
        For him, that also means owning a body of work that fully summarizes him and his point of view.
        </p><p>
        Self described as an adventure photographer, Peter admits that a lot of his favorite images from his collection are ‘stolen moments,’ which he describes as ‘photos from an adventure, where nothing is staged.’ This is evidenced in his uncanny ability to capture emotion with a single finger or feather.
        </p><p>
        Peter recently went on a voyage along the California Coast to explore this concept of adventure photography. This voyage had an official name, and a hashtag (#LAFG). Peter hopped in an RV with some of his photographer friends from Flickr and headed west to adventure through different Californian landscapes to make and create and build community around entrepreneurial artistry. A lot of the artists at the LA Flickr Gathering are 100% supported by their work, and Peter is looking to achieve that in the next year.
        </p><p>
        One challenge that Peter faced on this adventure was an assignment that required the artists to preconceive work. Peter explained that the photographers arrived at the beach destination with props and elaborate ideas. “It was hard for me. Pre-visions are stifling…people had props, all these ideas, just floating around.’ Instead, Peter hung out by himself drawing letters in the sand, noticing much later that he was drawing the letters “A,” “R,” “T”. He recalls his fellow photographers who were running around with their props and their sets asking ‘What are you making?’ ‘Art,’ Peter responded. It was ‘the expression I needed then to move forward.’ Feeling disconnected from the assignment to prefabricate art, Peter, who rarely takes self-portraits, set up his tripod.  He related this experience of holding handfuls of sand and letting them sift through his fingertips to his newfound philosophy of art-creation. “This is the purest art form—no matter what, it will fade.’ And yet it was such a significant moment for him during his adventure. A very meaningful conclusion was born: ‘I want art to find me. I don’t think I am there yet.’
        </p>
        </div>
      </div>
      <div class="col half">
        <div id="voyage-photos" class="gallery">
          <a class="play" href="#gallery" ><i class="icon-play"></i> View gallery</a>
          
          <a rel="external" href="issue/images/california%20voyage/1.jpg"></a>
          <a rel="external" href="issue/images/california%20voyage/2.jpg"></a> 
          <a rel="external" href="issue/images/california%20voyage/3.jpg"></a> 
        </div> 
      </div>
    </article>
  
    <article class="page full content" style="background-size:cover; background-image: url(issue/images/yoga-retreat/cover.jpg); background-repeat: no-repeat">
      <div class="col half">
        <div class="left-content">
          <h1 class="title">Breath in, Breath out</h1>
          <p>

          The holidays often take a toll on our minds, hearts and bodies and probably the best thing that we can do to replenish ourselves when we are feeling drained is to step away from the madness and ‘get way’ somehow.  Escaping from the grind is not just about just booking a 90-minute massage, driving up the coast or going for a long run. Don’t get me wrong-- those things are all fantastic, but I’m talking about making room for exploration….on a week-long excursion to paradise.
        </p><p>

          I am becoming increasingly more intrigued with the ever-so-popular destination yoga-retreat trend. I happen to be an avid yogi (I’ve practiced for over eleven years), I wear pretty much only lululemon on the mat and I love traveling to escape the rat race. What could be better for the soul than a luscious trip to somewhere warm, where relaxation is the only thing on the agenda? And what better time to retreat than the present? Especially since, presently, we happen to be the middle of winter. Sounds great, right?
        </p><p>

          I am not the only one who thinks this is a phenomenal idea. There is increasing global fascination with the restorative powers and the recuperative health benefits of yoga that has ultimately created a growing economic development in the Asian, Carribean, Central and South American tourist markets. Not only are these exotic destinations amazing places to travel in general, it is also the new spot for tranquility seekers.
        </p><p>

          Perhaps you are on a spiritual enlightenment journey or in search for a new way to recharge.  Regardless of your yoga experience level and your budget, there are yoga retreats in abundance pretty much in every region for all those seeking the bliss and relaxation that goes along with it. 
        </p><p>

          For the dubious tranquility-seeker, there are several appealing components to a yoga retreat experience: World-class yoga teachers, exquisite meals comprised of fresh, local, nutritious food-- all in a lush tropical setting. One other amazing thing to note, too, is that the majority of these experiences offer devastatingly beautiful views of rolling hills and coast lines, have other healing and wellness offerings such as cleanses, detox therapies or meditation for those seeking a little more wellness serenity.
        </p><p>

          It can be an overwhelming task ascertaining the best trip for such an adventure. Here is a look at some of the more interesting and exotic yoga-retreat resorts that paradise has to offer. We have four, to be exact. 
        </p><p>


          Sivananda Ashram Yoga Retreat in the Bahamas 
          This gorgeous place is located on five acres of gorgeous beach in Paradise Island, Bahamas. It’s been a place of practice for yogis for more than 40 years. It's a rustic, (read crunchy) place for sure, but it's also insanely affordable. The package price of $89 a night affords you your own little cabin, two vegetarian meals, two yoga classes per day, and morning and evening meditation instruction. For additional fees you can treat yourself to  ayurvedic spa treatments, detoxification and cooking classes. Or the really ambitious, this retreat even offers extended juice fasts. 
        </p><p>


          Ashiyana Retreat Centre in Goa, India
          Ashiyana has daily yoga and meditation class schedule with a roster of resident instructors and offer yoga retreats with visiting international teachers scheduled depending on the season. Yogis stay in bungalows overlooking the beach and dine on Vegetarian Indian and Western cuisine. Ashiyana is a serene spot situated between the Mandrem River and the coast of the Indian Ocean in northern Goa, India. 
        </p><p>

          Blue Spirit Retreat  in Nosara, Costa Rica
          Blue Spirit is a retreat center bordering a nature reserve on the northwest coast of Costa Rica. A saltwater infinity swimming pool is the first thing you see as you approach the center, a sight that sets the tone for an experience of the infinite outdoors. Paths lined with tree-canopies lead yogis to the beach for sunset yoga practice. The menu is mostly vegetarian with the option to feast on fresh-caught fish. Accommodations are solar powered and made with local concrete and sustainably.
        </p><p>

          Tui Tai Expeditions, Fiji Islands 
          The place is for the off-the-beaten-path type of yogi. And for the adrenaline junky. Have you ever considered practicing yoga on top of an (inactive) volcano? This adventure company offers luxurious (an intmate groups of 20 or less) sailing trips that include spa treatments and gourmet meals. Along with all that, guests can also enjoy a mix of yoga, mountain biking, snorkeling, hiking, visits to remote villages, and visits to pristine and private beaches. The package is pricey ($3,193 for 5 nights, all inclusive), but almost certainly worth saving your pennies for.
          <p>
      </div>
      </div>
      
      <div class="col half">
        <div id="yogaphotos" class="gallery">
          <a class="play" href="#gallery" ><i class="icon-play"></i> View gallery</a>
          
          <a rel="external" href="issue/images/yoga-retreat/1.jpg"></a>
          <a rel="external" href="issue/images/yoga-retreat/2.jpg"></a> 
          <a rel="external" href="issue/images/yoga-retreat/3.jpg"></a> 
          <a rel="external" href="issue/images/yoga-retreat/4.jpg"></a> 
          <a rel="external" href="issue/images/yoga-retreat/5.jpg"></a> 
          <a rel="external" href="issue/images/yoga-retreat/6.jpg"></a> 
          <a rel="external" href="issue/images/yoga-retreat/7.jpg"></a> 
        </div> 
      </div>
    </article>


  <div class="page full content"  style="background-size:cover; background-image: url(issue/images/taylor%20stitch/cover.jpg); background-repeat: no-repeat">
    <div class="col half">
      <div class="left-content">
        <h1 class="title">Interview: Taylor Stitch</h1>
        
        <blockquote>
          We started the whole company because we thought most all shopping experiences for men were terrible and we couldn’t find shirts that fit. We studied traditional shirt making under the tutelage of the Gambert’s in Newark, NJ. They still make all of our custom tailored shirts and have been doing such things for 3 generations; over 85 years in fact.
          <cite>Taylor Stitch</cite>
        </blockquote>
        
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
    <div class="col half" >
      <div class="gallery">
        <a class="play" href="#gallery" ><i class="icon-play"></i> View gallery</a>
        
        <a rel="external" href="issue/images/taylor%20stitch/1.jpg"></a>
        <a rel="external" href="issue/images/taylor%20stitch/2.jpg"></a> 
        <a rel="external" href="issue/images/taylor%20stitch/3.jpg"></a> 
        <a rel="external" href="issue/images/taylor%20stitch/4.jpg"></a> 
        <a rel="external" href="issue/images/taylor%20stitch/5.jpg"></a> 
        <a rel="external" href="issue/images/taylor%20stitch/6.jpg"></a> 
        <a rel="external" href="issue/images/taylor%20stitch/7.jpg"></a> 
        <a rel="external" href="issue/images/taylor%20stitch/8.jpg"></a> 
      </div>
    </div>
  </div>

  
    <div class="page">
      <div class="col half">
        <h1>Shopping guide</h1>
      </div>
      <div class="col half">
        <img src="//placehold.it/200x150">  <img src="//placehold.it/200x150">
        <br/><br/>
        <img src="//placehold.it/200x150">  <img src="//placehold.it/200x150">
        <br/><br/>
        <img src="//placehold.it/200x150">  <img src="//placehold.it/200x150">
      </div>
    </div>
  </div>
</div>

