<!-- Version 1, layout 2 - 3 -->
<script type="text/mustache" id="section1_tpl" class="section_tpl" data-count="5" data-type="v-split">
<div class="page rotatable">
  <div class="row v-half">
    <figure class="product item half"></figure>
    <figure class="product item half split"></figure>
  </div>

  <div class="row v-half">
    <figure class="product item third"></figure>
    <figure class="product item third"></figure>
    <figure class="product item third"></figure>
  </div>
</div>
</script>

<!-- Version 2, layout 2 - 2 -->
<script type="text/mustache" id="section2_tpl" class="section_tpl" data-count="4" data-type="v-split">
<div class="page rotatable">
  <div class="row v-half">
    <figure class="product item third-2 split"></figure>
    <figure class="product item third"></figure>
  </div>

  <div class="row v-half">
    <figure class="product item third"></figure>
    <figure class="product item third-2"></figure>
  </div>
</div>
</script>

<!-- Version 3, layout 2 - 2 -->
<script type="text/mustache" id="section2_tpl" class="section_tpl" data-count="4" data-type="v-split">
<div class="page rotatable">
  <div class="row v-half">
    <figure class="product item third-2"></figure>
    <figure class="product item third"></figure>
  </div>

  <div class="row v-half">
    <figure class="product item half"></figure>
    <figure class="product item half"></figure>
  </div>
</div>
</script>

<!-- Version 4, layout 1 - 2 -->
<script type="text/mustache" id="section3_tpl" class="section_tpl" data-count="3" data-type="h-split">
<div class="page rotatable">
  <div class="row">
    <div class="col half">
      <figure class="product item"></figure>
    </div>

    <div class="col half">
      <figure class="product item v-half"></figure>
      <figure class="product item v-half split"></figure>
    </div>
  </div>
</div>
</script>

<script type="text/mustache" id="product_tpl" class="product_tpl">
  <%= render 'product' %>
</script>

<script type="text/mustache" id="mobile_tpl" class="mobile_tpl">
<div class="page rotatable">
  <figure class="product item"></figure>
  <figure class="product item"></figure>
  <figure class="product item"></figure>
  <figure class="product item"></figure>
  <figure class="product item"></figure>
  <figure class="product item"></figure>
  <figure class="product item"></figure>
  <figure class="product item"></figure>
  <figure class="product item"></figure>
  <figure class="product item"></figure>
</div>
</script>
