<div class="page rotatable">
  <div class="row v-half">
    <figure class="item third-2"></figure>
    <figure class="item third"></figure>
  </div>

  <div class="row v-half">
    <figure class="item half"></figure>
    <figure class="item half"></figure>
  </div>
</div>