<div id="{{type}}-dropdown" class="drop-down">
  <div class="drop-wrapper">
    <span class="drop-top"></span>
    <ul class="popover-list">
      {{#collection}}
        <li><a class="{{class}}" href="{{link}}">{{content}}</a></li>
      {{/collection}}
    </ul>
  </div>
</div>
