<article class="product page" data-handle="{{ handle }}">
  <div class="image" style="background-image: url(http://deyf8doogqx67.cloudfront.net{{ cdn_image_url }}); background-size: cover; background-position: center; height: 100%;"></div>

  <div class="info">
    <h3 class="title">{{ title }}</h3>
    {{#brand}}
      <p class="source">via: <span>{{ brand }}</span></p>
    {{/brand}}
    <p class="price">
      <span>{{ price_in_string }}</span>
      <span>{{ comparison_price }}</span>
    </p>
    <a class="store" href="{{ url }}" target="_blank">buy now ></a>

    <p class="description">{{ description }}</p>

    <p class="description">
      Accusamus photo booth in pour-over enim qui salvia, lomo cillum pitchfork id single-origin coffee officia cosby sweater cray. Pitchfork truffaut sartorial direct trade accusamus consectetur. Odd future cosby sweater portland occaecat, direct trade twee retro irure locavore food truck sriracha photo booth sed bicycle rights flexitarian. Swag echo park sartorial accusamus pinterest, consectetur anim pop-up. Velit pitchfork lo-fi mixtape. Organic next level anim ea, carles 3 wolf moon master cleanse irony shoreditch do cosby sweater ex incididunt eu. Tempor jean shorts forage nulla, squid synth etsy vice hella accusamus biodiesel.
    </p>
  </div>
</article>
