<!-- layout 1, 1 - 1/2 1/2 -->
<div class="page rotatable">
  <div class="col half">
    <figure class="product item">
      <div class="image cover">
        <img src="http://deyf8doogqx67.cloudfront.net/images/BAhbB1sHOgZmSSI1MjAxMS8xMi8yMy8wMC81Mi8yMi85MTQvMDQyMDA5X2FuX2lrZWFfaGFjazQuanBnBjoGRVRbCDoGcDoKdGh1bWJJIgo2MDB4PgY7BlQ.png">
      </div>

      <div class="info">
        <h3 class="title">Canon EOS M Camera</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </figure>
  </div>
  
  <div class="col half">
    <figure class="product item v-half">
      <div class="image cover">
        <img src="http://deyf8doogqx67.cloudfront.net/images/BAhbB1sHOgZmSSIrMjAxMi8wOC8wMS8xMy80Ny8xOS83MzUvMjQ5MDUwNTFfMDQwX2IGOgZFVFsIOgZwOgp0aHVtYkkiCjMzOHg+BjsGRg.png">
      </div>
      
      <div class="info">
        <h3 class="title">Native Union Pop Phone Handset</h3>
        <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </figure>
    
    <figure class="product item v-half">
      <div class="image cover">
        <img src="http://deyf8doogqx67.cloudfront.net/images/BAhbB1sHOgZmSSI8MjAxMi8wNS8xNy8wMC81Ny8wNC82NjcvUGhlYXNlbnRfRmVhdGhlcl9Ta2lydF83Nzk4LmpwZwY6BkVUWwg6BnA6CnRodW1iSSIKNjAweD4GOwZU.png">
      </div>

      <div class="info">
        <h3 class="title">Farmhouse Fresh Sweet Cream Body Milk Moisturizer - Ivory</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </figure>    
  </div>
</div>
<!-- layout 1, 1 - 1/2 1/2 -->