@font-face {
	font-family: 'issue-icons';
	src:url('fonts/issue-icons.eot');
	src:url('fonts/issue-icons.eot?#iefix') format('embedded-opentype'),
		url('fonts/issue-icons.woff') format('woff'),
		url('fonts/issue-icons.ttf') format('truetype'),
		url('fonts/issue-icons.svg#issue-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'issue-icons';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-export, .icon-heart, .icon-earth, .icon-docs, .icon-twitter, .icon-facebook, .icon-link, .icon-comment, .icon-cog, .icon-arrow-left, .icon-arrow-right, .icon-pictures, .icon-music, .icon-shop, .icon-book, .icon-ccw, .icon-info, .icon-question, .icon-user, .icon-search, .icon-stream, .icon-play, .icon-gauge, .icon-eye, .icon-statistics, .icon-brush, .icon-archive, .icon-plus, .icon-cross, .icon-list, .icon-rss, .icon-profile, .icon-off, .icon-edit, .icon-minus, .icon-ellipsis, .icon-plus-2, .icon-arrow-left-2, .icon-arrow-right-2, .icon-grid, .icon-books, .icon-books-2, .icon-stack, .icon-play-2, .icon-menu, .icon-tag, .icon-cart, .icon-tshirt, .icon-checkmark-circle, .icon-clock {
	font-family: 'issue-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-export:before {
	content: "\e000";
}
.icon-heart:before {
	content: "\e001";
}
.icon-earth:before {
	content: "\e002";
}
.icon-docs:before {
	content: "\e004";
}
.icon-twitter:before {
	content: "\e007";
}
.icon-facebook:before {
	content: "\e008";
}
.icon-link:before {
	content: "\e00a";
}
.icon-comment:before {
	content: "\e00b";
}
.icon-cog:before {
	content: "\e00c";
}
.icon-arrow-left:before {
	content: "\e00d";
}
.icon-arrow-right:before {
	content: "\e00e";
}
.icon-pictures:before {
	content: "\e011";
}
.icon-music:before {
	content: "\e013";
}
.icon-shop:before {
	content: "\e01b";
}
.icon-book:before {
	content: "\e01c";
}
.icon-ccw:before {
	content: "\e01e";
}
.icon-info:before {
	content: "\e01f";
}
.icon-question:before {
	content: "\e020";
}
.icon-user:before {
	content: "\e02a";
}
.icon-search:before {
	content: "\e019";
}
.icon-stream:before {
	content: "\e021";
}
.icon-play:before {
	content: "\e022";
}
.icon-gauge:before {
	content: "\e023";
}
.icon-eye:before {
	content: "\e024";
}
.icon-statistics:before {
	content: "\e025";
}
.icon-brush:before {
	content: "\e026";
}
.icon-archive:before {
	content: "\e027";
}
.icon-plus:before {
	content: "\e028";
}
.icon-cross:before {
	content: "\e029";
}
.icon-list:before {
	content: "\f0c9";
}
.icon-rss:before {
	content: "\e014";
}
.icon-profile:before {
	content: "\e003";
}
.icon-off:before {
	content: "\f011";
}
.icon-edit:before {
	content: "\f044";
}
.icon-minus:before {
	content: "\f068";
}
.icon-ellipsis:before {
	content: "\e005";
}
.icon-plus-2:before {
	content: "\e009";
}
.icon-arrow-left-2:before {
	content: "\e00f";
}
.icon-arrow-right-2:before {
	content: "\e010";
}
.icon-grid:before {
	content: "\e015";
}
.icon-books:before {
	content: "\e016";
}
.icon-books-2:before {
	content: "\e017";
}
.icon-stack:before {
	content: "\e01d";
}
.icon-play-2:before {
	content: "\e012";
}
.icon-menu:before {
	content: "\e006";
}
.icon-tag:before {
	content: "\e018";
}
.icon-cart:before {
	content: "\e01a";
}
.icon-tshirt:before {
	content: "\e02b";
}
.icon-checkmark-circle:before {
	content: "\e02c";
}
.icon-clock:before {
	content: "\e02d";
}
