/* line 10, ../../../stylesheets/base/form.scss */
form {
  margin: 0 0 1.25em;
  /*================================================
          Label/hint
    ================================================*/
  /*================================================
          Input fields
    ================================================*/
  /*
      Focus state
  */
  /*================================================
          Errors
    ================================================*/
}
/* line 15, ../../../stylesheets/base/form.scss */
form .col {
  position: relative;
}
/* line 19, ../../../stylesheets/base/form.scss */
form .row {
  position: relative;
  padding-bottom: 1.6em;
  margin-bottom: 0.5em;
}
/* line 28, ../../../stylesheets/base/form.scss */
form p.large, form label.large {
  font-size: 24px;
  line-height: 45px;
}
/* line 33, ../../../stylesheets/base/form.scss */
form label.radio {
  padding-right: 1em;
}
/* line 36, ../../../stylesheets/base/form.scss */
form label.radio input {
  margin-right: 0.5em;
}
/* line 40, ../../../stylesheets/base/form.scss */
form .hint_style, form .hint, form .error {
  color: #888;
  font-style: italic;
  line-height: 1.4;
  font-size: 13px;
  position: absolute;
}
/* line 49, ../../../stylesheets/base/form.scss */
form .hint {
  /*    bottom: -1.7em;*/
  /*    left: 0;*/
  /*left: 0;
  bottom: -1.7em;*/
}
/* line 60, ../../../stylesheets/base/form.scss */
form .text_field, form input[type="text"], form input[type="password"], form input[type="tel"], form input[type="email"],
form input[type="search"], form input[type="url"], form textarea, form select {
  padding: 9px;
  margin: 0px;
  line-height: 2em;
  height: auto;
  width: 100%;
  max-width: 600px;
  font-size: 14px;
  border: 1px solid #cccccc;
  background: white;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 1px 1px 2px #eeeeee inset;
  -moz-box-shadow: 1px 1px 2px #eeeeee inset;
  box-shadow: 1px 1px 2px #eeeeee inset;
}
/* line 78, ../../../stylesheets/base/form.scss */
form input.large {
  font-size: 24px !important;
  line-height: 45px;
  height: 45px;
}
/* line 85, ../../../stylesheets/base/form.scss */
form input[type="text"], form input[type="password"], form input[type="tel"], form input[type="email"],
form input[type="search"], form input[type="url"], form textarea, form select {
  font-size: 100%;
  line-height: normal;
  /* ie */
}
/* line 4, ../../../stylesheets/base/form.scss */
form input[type="text"].placeholder, form input[type="password"].placeholder, form input[type="tel"].placeholder, form input[type="email"].placeholder,
form input[type="search"].placeholder, form input[type="url"].placeholder, form textarea.placeholder, form select.placeholder {
  font-family: georgia;
  font-weight: normal !important;
  font-style: italic;
  font-size: 15px;
}
/* line 5, ../../../stylesheets/base/form.scss */
form input[type="text"]:-moz-placeholder, form input[type="password"]:-moz-placeholder, form input[type="tel"]:-moz-placeholder, form input[type="email"]:-moz-placeholder,
form input[type="search"]:-moz-placeholder, form input[type="url"]:-moz-placeholder, form textarea:-moz-placeholder, form select:-moz-placeholder {
  font-family: georgia;
  font-weight: normal !important;
  font-style: italic;
  font-size: 15px;
}
/* line 6, ../../../stylesheets/base/form.scss */
form input[type="text"]::-webkit-input-placeholder, form input[type="password"]::-webkit-input-placeholder, form input[type="tel"]::-webkit-input-placeholder, form input[type="email"]::-webkit-input-placeholder,
form input[type="search"]::-webkit-input-placeholder, form input[type="url"]::-webkit-input-placeholder, form textarea::-webkit-input-placeholder, form select::-webkit-input-placeholder {
  font-family: georgia;
  font-weight: normal !important;
  font-style: italic;
  font-size: 15px;
}
/* line 7, ../../../stylesheets/base/form.scss */
form input[type="text"]:-ms-input-placeholder, form input[type="password"]:-ms-input-placeholder, form input[type="tel"]:-ms-input-placeholder, form input[type="email"]:-ms-input-placeholder,
form input[type="search"]:-ms-input-placeholder, form input[type="url"]:-ms-input-placeholder, form textarea:-ms-input-placeholder, form select:-ms-input-placeholder {
  font-family: georgia;
  font-weight: normal !important;
  font-style: italic;
  font-size: 15px;
}
/* line 99, ../../../stylesheets/base/form.scss */
form select {
  width: auto;
  background-color: #fff;
  border: 1px solid #cccccc;
  height: 2.5em;
  line-height: 2.5em;
}
/* line 107, ../../../stylesheets/base/form.scss */
form input[type=submit], form input[type=button], form button[type=submit] {
  line-height: 2em;
  padding: 3px 15px;
  margin-right: 5px;
}
/* line 116, ../../../stylesheets/base/form.scss */
form input:focus, form select:focus, form textarea:focus {
  border: 1px solid #a1cfde !important;
}
/* line 126, ../../../stylesheets/base/form.scss */
form .field_with_errors input.string, form .field_with_errors select.select {
  border-color: #f3a4a4;
}
/* line 130, ../../../stylesheets/base/form.scss */
form .field_with_errors .hint {
  display: none;
}
/* line 135, ../../../stylesheets/base/form.scss */
form .error {
  color: #e84949;
}

/*================================================
      Notification
================================================*/
/* line 146, ../../../stylesheets/base/form.scss */
div.notification {
  width: 100%;
  padding: 20px;
  margin: 20px 0 40px;
  background: white;
  color: #111;
}
/* line 153, ../../../stylesheets/base/form.scss */
div.notification a.close {
  float: right;
  width: 20px;
  height: 20px;
}
/* line 155, ../../../stylesheets/base/form.scss */
div.notification a.close:before {
  font-size: 24px;
  color: #111;
}
