@font-face {
  font-family: 'proxima_nova_ltregular';
  font-weight: normal;
  font-style: normal;
  src: url('../../fonts/proximanova-light-webfont.eot');
  src: url('../../fonts/proximanova-light-webfont.eot?#iefix') format("embedded-opentype"), url('../../fonts/proximanova-light-webfont.woff') format("woff"), url('../../fonts/proximanova-light-webfont.ttf') format("truetype"), url('../../fonts/proximanova-light-webfont.svg#proxima_nova_ltregular') format("svg");
}

@font-face {
  font-family: 'proxima_nova_bold';
  font-weight: normal;
  font-style: normal;
  src: url('../../fonts/proximanova-bold-webfont.eot');
  src: url('../../fonts/proximanova-bold-webfont.eot?#iefix') format("embedded-opentype"), url('../../fonts/proximanova-bold-webfont.woff') format("woff"), url('../../fonts/proximanova-bold-webfont.ttf') format("truetype"), url('../../fonts/proximanova-bold-webfont.svg#proxima_nova_bold') format("svg");
}

@font-face {
  font-family: 'proxima_nova_regular';
  font-weight: normal;
  font-style: normal;
  src: url('../../fonts/proximanova-regular-webfont.eot');
  src: url('../../fonts/proximanova-regular-webfont.eot?#iefix') format("embedded-opentype"), url('../../fonts/proximanova-regular-webfont.woff') format("woff"), url('../../fonts/proximanova-regular-webfont.ttf') format("truetype"), url('../../fonts/proximanova-regular-webfont.svg#proxima_nova_regular') format("svg");
}

/* line 37, ../../../stylesheets/base/typography.scss */
html {
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-size: 62.5%;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: #f3f5f6;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 48, ../../../stylesheets/base/typography.scss */
body {
  font: 16px/28px "proxima_nova_regular", "Helvetica Neue";
  color: #222;
}

/* #Typography
================================================== */
/* line 55, ../../../stylesheets/base/typography.scss */
h1, h2, h3, h4, h5, h6, .title {
  margin: 0;
  font-family: "proxima_nova_bold";
  /*  font-family: "Georgia","Times New Roman",serif;*/
  font-weight: bold;
  text-rendering: optimizelegibility;
}

/* line 63, ../../../stylesheets/base/typography.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}

/* line 66, ../../../stylesheets/base/typography.scss */
h1 {
  margin-bottom: 0;
  font-size: 24px;
  font-size: 1.5em;
  font-size: 2.4rem;
  line-height: 1.5;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* line 77, ../../../stylesheets/base/typography.scss */
h2 {
  font-family: "proxima_nova_ltregular";
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 0.75em;
  font-size: 18px;
  font-size: 1.115em;
  font-size: 1.8rem;
  line-height: 1.2;
}

/* line 88, ../../../stylesheets/base/typography.scss */
h3 {
  font-family: "proxima_nova_regular";
  margin-bottom: 1em;
  font-size: 16px;
  font-size: 1em;
  font-size: 1.6rem;
  line-height: 1.3;
}

/* line 97, ../../../stylesheets/base/typography.scss */
h4 {
  text-transform: uppercase;
}

/* line 101, ../../../stylesheets/base/typography.scss */
.content-body {
  max-width: 50em;
  margin: 0 auto;
}
/* line 105, ../../../stylesheets/base/typography.scss */
.content-body p {
  margin: 0 auto 1.5em;
}

/* line 111, ../../../stylesheets/base/typography.scss */
.subtitle {
  font-family: georgia;
  font-style: italic;
  text-transform: none;
  font-weight: normal;
  color: #666;
  margin: 0 0 0.75em;
}

/* =======================================================
        Links
   =======================================================*/
/* line 124, ../../../stylesheets/base/typography.scss */
a {
  color: #4a90a6;
  text-decoration: none;
}
/* line 128, ../../../stylesheets/base/typography.scss */
a:visited {
  color: #333;
}

/* line 133, ../../../stylesheets/base/typography.scss */
.toolbar, a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 136, ../../../stylesheets/base/typography.scss */
a, a:active, a:visited {
  color: #666;
  text-decoration: none;
}

/* line 141, ../../../stylesheets/base/typography.scss */
a:hover {
  color: #f04500;
}

/* line 145, ../../../stylesheets/base/typography.scss */
a.large {
  font-size: 18px;
  text-transform: uppercase;
}

/* line 150, ../../../stylesheets/base/typography.scss */
p.center {
  text-align: center;
}

/*======================================================
      Helpers
  ======================================================*/
/* line 162, ../../../stylesheets/base/typography.scss */
.text-centered {
  text-align: center;
}

/* ====
      Responsive (larger screen)
  ====*/
@media screen and (min-width: 768px) {
  /* line 174, ../../../stylesheets/base/typography.scss */
  h1 {
    font-size: 30px;
    font-size: 1.875em;
    font-size: 3rem;
    line-height: 1.2;
  }

  /* line 182, ../../../stylesheets/base/typography.scss */
  h2 {
    font-size: 24px;
    font-size: 1.5em;
    font-size: 2.4rem;
    line-height: 1.2;
  }

  /* line 189, ../../../stylesheets/base/typography.scss */
  h3 {
    font-size: 18px;
    font-size: 1.115em;
    font-size: 1.8rem;
    line-height: 1.3;
  }
}
