@import "css3/background";
@import "css3/background-image";
/*

  Dark theme

*/
.dark-theme {
  color: white;

  .subtitle {
    color: #ccc;
  }

  a:not(.button) {
    color: white;
    text-decoration: none;
  }

  .no-touch & a:not(.button):hover {
    color: lighten(#f04500, 20%);
  }
}

/*

  Dark container extends a dark theme, used in editions, login and gallery.

*/
.dark-container {
  @extend .dark-theme;
  height: 100%;
  background-color: #111;

  @include min-screen(768) {
    .container {
      padding-top: 5%;
    }
  }
}

.dark-container.linen {
  background-image: image-url('/assets/linen-small.png');

  &:after {
    @include radial-gradient(circle, rgba(100,100,100,0.2), rgba(0,0,0,0.9));
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }
}




.white-container {
  background: #fff;
}
