/* 768 =================================================== */

// 1. ROOT 					==============================
// 2. TYPOGRAPHY 			==============================
// 3. COLOUR 				==============================
// 4. TEXTURE 				==============================
// 5. ELEMENTS 				==============================
// 6. LAYOUT 				==============================
// 7. VENDOR-SPECIFIC 		==============================
// 8. MODERNIZR 			==============================
// 9. TEMPLATE SPECIFICS 	==============================

// Detail Page
article.page {
  .col {
  	&.half { 
  	  height: 49%;
      width: 100%;
      background: white;
      
      .image {
        left: 25%;
        position: relative;
        width: 50%;
      }
      
      .info {
        text-align: center;
        .store {
          margin: 0;
        }
        
        .price {
          line-height: 37px;
          vertical-align: middle;
        }
        p {
          margin-top: 10px;
          text-align: left;
        }
      }
    }
  }
}
