/*
    Item

    define layout and positioning of a rendering unit

    .item
    .split              - Split view that has large image on the left
    .no-image           - Item style without a image, this uses larger font
    .no-description     - Increase image area without description
    .product            - Product has a price tag

    Admin site

    .admin .item        - Manage product items
    .admin .published   - Show product that is published
    .admin .archived    -

*/
/*
    div.item (onlick=http)
      a.via
      a.add-to
      div.info
      a.link href=page


*/

.page {

.item {
  @include box-sizing(border-box);
  
  position: relative;
  float: left;
  margin: 0 0 0 0;
  height: 100%;
  width: 100%;
  padding: 20px;
  -webkit-hyphens: auto;
  border-bottom: 1px solid #eee;

  .image {
    border: 0;
    height: 75%;
    overflow: hidden;

    background-size: cover;
    background-position: 50% 10%;
    background-repeat: no-repeat;
    background-color: #eee;

    &.fadein {
      @include transition(opacity 0.1s ease-in-out);
      
      opacity: 0.4;
    }
  }


  .title {
    /*    Style   */
    position: relative;
    font-family: "proxima-nova", "Helvetica Neue";
    padding: 0.75em 0 0 2px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #2c2c2c;
    font-size: 12px;
    line-height: 1.5;
    margin: 0;

    // Elipsis
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .description {
    width: 100%;
    font-size: 13px;
    margin: 0.25em 0 0.5em;
    line-height: 1.5;
    max-height: 6em;
    padding-left: 2px;
    color: #777;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    white-space: initial;

    // Fix for non webkit browser multiline ellipsis
    // Set height to line-height * lines
    height: 3em;

    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  @include min-screen(480) {

    .image {
      height: 70%;
    }

    border-right: 1px solid #eee;
  }

  // Larger screen
  @include max-screen(480) {
    .description {
      display: none;
    }
  }

  // Quotes and tweets

  &.quote {
    &:after {
      text-shadow: 0 0 10px rgba(0,0,0,0.5);
      content: "\201C";
      color: white;
      opacity: 0.9;
      font-size: 100px;
      position: absolute;
      left: 25px;
      top: 47px;
      z-index: 1;
      line-height: 40px;
    }
  }

  blockquote {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    max-width: 500px;
    margin: 0.25em 0;
    padding: 0.25em 30px;
    line-height: 1.45;
    position: relative;
  }

  blockquote:before {
    display: block;
    content: "\201C";
    font-size: 60px;
    position: absolute;
    left: -10px;
    top: -20px;
    color: #7a7a7a;
  }

  blockquote cite {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px;

    &:before {
      content: "\2014 \2009";
    }
  }


  // Sources
  .admin & {
    &:before {
      font: 10px helvetica;
      content: "";
//      content: attr(data-status);
      border: 20px solid transparent;
      position: absolute;
      width: 0;
      height: 0;
      left: -2px;
      top: -3px;
      z-index: 1;
      text-indent: -25px;
      line-height: 65px;
      text-transform: uppercase;
      color: white;
      @include rotate(-45deg);
    }

    &.published:before {
      border-bottom: 20px solid lighten(#57ad68, 10%);
    }

    &.featured:before {
      border-bottom: 20px solid lighten(#e16360, 10%);
    }

    &.archived {
      .image, .title, .description {
        opacity: 0.4 !important;
      }
    }
  }

/*

    Item actions

    Define all actions available for a item

    .link             -  Large clickable area of the item
    .via              -  Source item (magazine, source)
    .more-action      -  Dispay more action dropdowns
    .add-to           -
    %action-btn       -

*/
  .link {
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    z-index: 1;
  }

  &.active .link {
    box-shadow: 0px 0px 5px 1px  rgba(97, 157, 215, 0.5);
  }

  .no-touch &:hover .link {
//    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 8px 1px  rgba(97, 157, 215, 0.5);
  }

  .via {
    position: absolute;
    font-size: 12px;
    color: #999;

    padding-left: 2px;
    height: 26px;
    line-height: 26px;
    bottom: 10px;

    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    width: 85%;

    img {
      margin-right: 5px;
      vertical-align: middle;
    }
  }

  // Abstract class
  %action-btn {
    text-align: center;
    line-height: 30px;
    display: block;
    width: 30px;
    height: 30px;
    font-size: 18px;

    // icon back
    .no-touch &:before {
      color: rgba(200, 200, 200, 0.4);
    }

    .no-touch &:hover {
      color: rgba(100,100,100, 1);
      background: rgba(230,230,230,0.3);
    }

    .no-touch &:active {
      color: rgba(100,100,100, 1);
      background: rgba(0, 0, 0, 0.2) !important;
    }
  }

  .no-touch &:hover %action-btn {
    &:before {
      color: rgba(100,100,100, 0.7);
    }
  }

  // More button

  .more-actions {
    @extend %action-btn;
    @extend .icon-ellipsis;
    position: absolute;
    right: 20px;
    bottom: 10px;
    z-index: 3;

    .webview & {
      display: none;
    }
  }

  // Add to button
  .add-to {
    @extend %action-btn;
    @extend .icon-plus-2;

    z-index: 2;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 18px;

    background: rgba(250, 250, 250, 0.75);

    // Icon font
    &:before {
      color: rgba(131,130,130, 1);
    }

    // Default background
    .no-touch & {
      background: rgba(250, 250, 250, 0);
    }
  }

  // Hovered item, hovered add to item
  .no-touch &:hover .add-to {

    // Icon font
    &:before {
      color: rgba(130, 130 ,130, 1);
    }

    // Icon area
    background: rgba(250, 250, 250, 0.75);

    .no-touch &:hover {
      color: rgba(100,100,100, 1);
      background: rgba(230,230,230,0.3);
    }
  }

  @include min-screen(480) {
    .more-actions, .via {
      bottom: 20px;
    }
  }
}




.horizontal & {
  .row:first-child .item {
    border-top: 0;
  }
}


.row .item:last-child {
  border-right: 0;
}

.row .col:first-child .product.item .price {
  margin-bottom: 43px;
}

/*
      Product Styles
*/
.product, .no-description {

  .overlay {
    height: 80%;
  }

  .image {
    display: block;
    height: 80%;
  }

  &.no-source {

  }
}

.no-description {
  .description {
    display: none;
  }
}

.no-image {
  .title {
    // Fix for non webkit browser multiline ellipsis
    // Set height to line-height * lines
    height: 3em;

    margin-top: 20px;
    font-size: 150%;
    overflow : hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2 !important;
    white-space: normal;
  }

  .image {
    display:none;
  }

  .title {
    position: relative;
    left: 0;
  }

  .description {
    // Fix for non webkit browser multiline ellipsis
    // Set height to line-height * lines
    height: 6em;

    font-weight: 200;
    font-size: 120%;
    -webkit-line-clamp: 4 !important;
  }
}

.photo, .video {
  color: white;
  padding-bottom: 20px;

  .image {
    position: relative;
    height: 100%;
  }

  .description {
    display: none;
    color: white;
  }

  &:not(.split) {
    .title {
      position: absolute;
      right: 20px;
      left: 20px;
      text-transform: none;
      font-family: georgia;
      font-style: italic;
      padding: 0 10px;

      box-sizing: border-box;
      color: white;
      bottom: 45px;

      text-shadow: 0px 1px 3px rgba(0,0,0,0.75);

      font-size: 16px;
      letter-spacing: 0;
    }

    &:after {
      content: " ";
      display: block;
      position: absolute;
      bottom: 0;
      left: 20px;
      right: 20px;
      padding: 0;
      background: none;
      bottom: 20px;
      height: 70px;

      @include background(linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.25)));
    }

    .via {
      text-shadow: 0 1px 1px rgba(0,0,0,0.7);
      color: #fff;
      left: 30px;
      bottom: 20px;
    }

    .more-actions {
      bottom: 25px;
    }
  }
}

/*
      Video content
*/
.video {
  .image {
    position: relative;
    @extend .icon-play;

    &:before {
      text-shadow: 0 0 10px rgba(0,0,0,0.5);
      color: white;
      opacity: 0.9;
      font-size: 80px;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -40px;
      margin-top: -40px;
      z-index: 1;
    }
    height: 100%;

  }
}

/*
      Product content
*/
.product {

  .price {
    display: inline-block;
    position: absolute;
    font-size: 12px;

//    top: -32px;
    left: 30;
    margin-top: -30px;
    padding: 5px 18px;
    height: 20px;
    line-height: 20px;

    font-weight: bold;
    background: rgba(0, 0, 0, 0.8);
    color: white;
  }

  .price:before {
    position: absolute;
    left: 50%;
    top: 100%;
    width: 0;
    height: 0;
    border: solid transparent;
    content: " ";

    margin-left: -7px;
    border-width: 7px;
    border-top-color: rgba(0, 0, 0, 0.8);
  }

  .description {
    display: none;
  }

  .counters {
    color: #DF5454;
    font-size: 14px;
    position: absolute;
    top: 2%;
    right: 6%;
    z-index: 1;
    line-height: 12px;
  }
}

/*
    Product split view
*/
.item.split {
  @include min-screen(480) {

    .description {
      width: 48%;
      -webkit-line-clamp: 5 !important;
    }

    .image {
      position: absolute;
      overflow: hidden;
      display: inline-block;
      left: 20px;
      top: 20px;
      bottom: 20px;
      right: 50%;
      height: auto;
      vertical-align: middle;
    }

    .price {
      top: 13%;
      margin-top: 20px;
      right: 50%;

      &:before {
        left: 100%;
        top: 50%;
        margin-left: 0;
        margin-top: -7px;
        border: solid transparent;
        border-width: 6px;
        border-left-color: rgba(0, 0, 0, 0.8);
      }
    }

    .title {
      margin-top: 5%;
      margin-left: 52%;
      font-weight: 200;
    }

    .description {
      margin-left: 52%;
      font-weight: 200;
      font-size: 150%;
      white-space: normal;
      max-height: inherit;
      text-overflow: ellipsis;
    }

    .via {
      position: absolute;
      left: 52%;
      width: 45%;
    }

  }
}
}
