/*

  Issue

  .issue-item
    .branding
    .description


    .subscribe
    .unsubscribe

    .download

    .pregress

*/

#discover-page {
  height: 100%;
}

/*
    Magazine cover style
*/

.magazine {
  @include box-sizing(border-box);
  display: inline-block;
  position: relative;


  font-size: 16px;
  color: white;
  vertical-align: middle;
  white-space: normal;

  background: #222;
  background-position: center;
  background-size: cover;

  box-shadow: 0px 1px 4px rgba(0,0,0,0.6), 0px -1px 0px rgba(255,255,255,0.2) inset;

  min-width: 160px;
  min-height: 213px;

  @include transition(all 0.3s ease-in-out);

  &:before {
    @include box-sizing(border-box);

    content: "";
    display: block;
    position: absolute;

    left: 0;
    top: 0;
    bottom: 0;
    right: 0;

    @include background( linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.05), rgba(0,0,0,0.05), rgba(0,0,0,0.3)));
  }

  .content {
    @include box-sizing(border-box);

    position: absolute;
    width: 100%;
    padding: 10% 20px 10%;
    overflow: hidden;
    p { color: white; }
  }

  .brand {
    font: italic 14px/1 georgia;
    font-size: 3.5vw;
    font-size: 4vmin;

    text-align: center;
    text-shadow: 0px 1px 2px rgba(0,0,0, 0.3);
  }

  .title {
    font-size: 24px;
    font-size: 7vw;

    line-height: 1;

    letter-spacing: 4px;
    margin-bottom: 0.5em;
    text-transform: uppercase;

    text-align: center;
    text-shadow: 1px 1px 2px rgba(0,0,0, 0.3);
  }
}


// Actions
.magazine {
  .link {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  %touch-icon-style {
    @extend %icon-style;
    height: 50px;
    line-height: 50px;
    padding-left: 15px;
    padding-right:15px;
    font-size: 32px;
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    display: none;
    z-index: 2;

    .no-touch &:hover {
      background: rgba(100,100,100, 0.4);
    }
  }

  .subscribe {
    @extend %touch-icon-style;
    @extend .icon-bookmark3;
    top: 0;
    right: 0;
    left: initial;
  }

  .download {
    @extend %touch-icon-style;
    @extend .icon-ios7-cloud-download-outline;
    display: none;
  }

  .more-actions {
    @extend %touch-icon-style;
    @extend .icon-ellipsis;
  }

  @include min-screen(768) {
    .subscribe, .download {
      display: block;
    }
  }
}

/*
    Issues container

    Flexbox
*/
.magazine-list {
  @include box-sizing(border-box);

  font-size: 0;
  padding: 0;
  margin: 0;

  margin-top: 120px;
  margin-right: -1%;

  list-style: none;
  position: relative;
  overflow: none;

  @include min-screen(768) {
    margin: 20% auto 0;
    width:   85%;

    white-space: nowrap;
  }

  .magazine {
    border-radius: 2%;
    margin: 0% 1% 1% 0%;
    width: 49%;
    padding-bottom: 65.33%;


    .brand {
      margin: 0.25em 0 0.5em;
      margin: 2% 0 2.5%;
    }

    // 3 columns
    @include min-screen(768) {
      float: left;
      margin-right: 3%;
      margin-bottom: 4%;

      width: 30%;
      padding-bottom: 40%;

      .brand {
        margin: 0.25em 0 0.5em;
        margin: 1vmin 0 1vmin;

        font-size: 20px;
        font-size: 1.5vw;
      }

      .title {
        font-size: 32px;
        font-size: 3.2vw;
      }
    }

    // flat tiles
    @include min-screen(1024) {
      float: none;
    }
  }

  &.grid {
    margin: 100px auto 0;

  }

  &.grid .magazine {
    float: left;

    // 3 columns
    @include min-screen(768) {
      margin: 0 1.6666% 3%;
    }

    // 4 columns {}
    @include min-screen(1024) {
      margin: 0 1% 3% 0;

      width: 24%;
      padding-bottom: 32%;

      .brand {
        font-size: 20px;
        font-size: 1.5vw;
      }

      .title {
        font-size: 32px;
        font-size: 2.5vw;
      }
    }
  }
}

section.filters {
  top: 0;
  right: 0;

  position: fixed;
  top: 70px;

  width: 100%;
  height: 50px;

  .button-group {
    display: block;
    text-align: center;
    margin: 0 auto;
  }

  .button {
    display: inline-block;
    padding: 0px 25px;
    max-width: 120px;

    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 15px;
    border: none;
    box-shadow: none;
    text-shadow: none;
    background: none;
    float: none;
    color: #ccc;
  }

  .button.active {
    color: white;
    background: #333;
  }

  .button:first-child, .button:last-child {
    border-radius: 15px !important;
  }
}
