@import 'ui/gallery';

/*
  Generic pages
    - article, stream, modal ..etc
*/

.page {
  box-sizing: border-box;
  white-space: normal;
}

[role=main].content-view {
  height: 100%;
}

/*

  Various page style in the system

  .page             - default page style, optimise for readability

  Stream

    .stream             - Swipable page on the stream
    .vertical .page     - vertical scrolled pages
    .horizontal .page   - horizontal swipe pages

  Article page

  article.page
    > .content        - Content container
    > .cover-area     - Cover area for top image, video and headings

    .one-column       -   One column layout, cover/image fit view support fullscreen
    .two-column       -
    .two-column       -
    .fullscreen       -

  Content type
    .content      -     content page
    .product      -     product page
    .gallery      -     gallery page

*/

article.page {
  position: relative;
  margin: 0 auto;
  text-align: center;
  font: 16px/1.25 "proxima-nova";

  // HACK: hide empty Ps
  // TODO: remove empty tags when import local issues
  p:empty {
    display: none;
  }

  // NOTE: Keep this link selector at the top of this block
  // so other link styles can overwrite this
  a:not(.button) {
    text-decoration: underline;
  }

  // Cover area for image/video
  .cover-area {
    box-sizing: border-box;
    position: relative;

    margin: 0;
    width: 100%;
    height: auto;
    min-height: 400px;
    background-position: 50% 20%;
    background-size: cover;
    background-repeat: no-repeat;

    figcaption.inset {
      top: initial;
      bottom: 0;

      a {
        text-decoration: none;
        color: white;
      }
    }
  }

  // Content Style

  .content {
    box-sizing: border-box;
    float: none;
    padding: 15px;
    vertical-align: middle;
    color: #222;
    width: 100%;

    p a {
      text-decoration: none;
    }

    img {
      vertical-align: middle;
      display: inline-block;
      max-width: 100%;
    }

    header em {
      display: inline-block;
      max-width: 180px;
      vertical-align: middle;
    }

    figure.image {
      margin-bottom: 20px;
    }

    // Fixes video aspect ratio in content
    figure.video {
      width: 100%;
      padding-bottom: 56.25%;
      height: 0;
      margin-bottom: 50px;
    }
  }

  // vertical middle align header if there's no content
  &.no-content {
    .content:before {
      display: inline-block;
      margin-right: -0.25em; /* Adjusts for spacing */
      height: 100%;
      content: '';
      vertical-align: middle;
    }

    header {
      display: inline-block;
    }
  }

  // Content formatting
  big { font-size: 120% }

  header {
    box-sizing: border-box;
    position: relative;
    margin: 0 0 20px 0;
    padding: 0;
    text-align: center;
    width: 100%;

    hgroup {
      padding-top: 50px;
    }

    .category {
      color: #666;
      text-transform: uppercase;
      letter-spacing: 2px;
      font: bold 12px "proxima-nova";
    }

  }

  .column-break {
    display: block;
    margin: 0;
    break-before: column;
    -webkit-column-break-after: always;
    -moz-column-break-after: always;
    column-break-after: always;
  }

  .title {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 0.25em;
  }

  .avatar {
    margin-right: 5px;
    width: 50px;
    height: 50px;
    border: 2px solid #eee;
    border-radius: 50%;
  }

  .credits {
    font: italic 12px "proxima-nova";
  }

  blockquote {
    position: relative;
    margin: 0.25em auto;
    padding: 0.5em 10px 0.25em 25px;
    max-width: 600px;
    font-style: italic;
    font-size: 18px;
    font-family: Georgia, serif;
    line-height: 1.45;
  }

  blockquote:before {
    position: absolute;
    top: -20px;
    left: 0;
    display: block;
    color: #999;
    content: "\201C";
    font-size: 50px;
  }

  blockquote:after {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    color: #999;
    content: "\201D";
    font-size: 80px;
    width: 40px;
    height: 40px;
  }

  blockquote.single:after {
    content: none;
  }

  blockquote cite {
    display: block;
    margin-top: 5px;
    color: #999999;
    font-size: 14px;

    &:before {
      content: "\2014 \2009";
    }
  }

  blockquote .author {
    margin: 0.5em 0;
    text-align: right;
  }

  figure.image {
    display: block;
    margin: 0 auto;

    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;

    position: relative;
    text-align: center;

    & > img {
      position: absolute;
      right: 0;
      left: 0;
//      margin: 0 auto;
      display: inline-block;

    }

    figcaption {
      padding: 10px 20px;
      text-align: left;
      font-style: italic;
      font-size: 80%;
    }

    figcaption.inset {
      position: absolute;
//      top: 0;
      right: 0;
      color: white;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
      font-weight: bold;
      white-space: normal;

      a {
        text-decoration: none;
        color: white;
      }
    }
  }


//  .image.cover {
//    position:relative;
//    top: -50%;
//    left: -50%;
//    width: 200%;
//    height: 200%;
//  }

  .author, .published-at {
    color: #333;
    font-style: italic;
    font-family: Georgia;
  }

  p {
    margin: 1.25em 0;
    text-align: justify;
    word-break: hyphenate;
    -webkit-hyphens: auto;
  }

  p.center {
    text-align: center;
  }

  ul, ol {
    padding-left: 20px;
  }

  .body {
    width: 100%;
    text-align: left;

    p:first-child {
      margin-top: 0;
    }

    p:last-child {
      margin-bottom: 0;
    }

    img {
      display: block;
      margin: 0 auto;
    }

    .right {
      margin: 0;
      text-align: right;
    }
  }

  /*
      Page media
  */

  img.medium, img.large {
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
    max-width: 100%;
    height: auto;
  }

  ul li, ol li {
    line-height: 1.6;
  }

  .video-wrapper {
    position: absolute;
    top: 50%;
    box-sizing: border-box;
    margin-top: -102px;
    padding-top: 25px;
    padding-bottom: 56.25%; /* 16:9 */
    width: 100%;
    height: 0;

    // Force webkit to render
    -webkit-transform: translate3d(0, 0, 0);

    iframe, object, embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  figure video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
  }

  figure.audio {
    margin-bottom: 10px;

    .thumbnail {
      position: relative;
    }
  }

  figure.video {
    position: relative;
    display: block;
    background-size: 100%;
    clear: both;
    -webkit-transform: translate3d(0, 0, 0);
    background-color: black;

    .thumbnail {
      position: absolute;
      background-repeat: no-repeat;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: contain;
      background-position: center;
      cursor: pointer;
    }

    iframe {
      display: none;
      position: absolute;
      width: 100%;
      top: 0; left:0;
      height: 100%;
    }

    figcaption {
      position: absolute;
      left: 0;
      bottom: -50px;
      width: 100%;
    }

    @extend %icon-style;
    @extend .icon-arrow-right;

    &:before {
      cursor: pointer;
      position: absolute;
      top: 50%;
      left: 0;
      z-index: 999;
      margin-top: -50px;
      width: 100%;
      color: white;
      text-align: center;
      text-shadow: 0 0 3px rgba(0,0,0,0.4);
      font-size: 100px;
    }

    &.play:before {
      content: none;
    }

    &.play iframe {
      display: block;
    }
  }

  a.audio {
    left: initial;
    right: 50px;
    color: white;
    text-decoration: none;
    @extend %touch-icon-style;

    &.audio-on {
      @extend .icon-ion-ios-volume-high;
      display: block;
    }

    &.audio-off {
      @extend .icon-ion-ios-volume-low;
      display: block;
    }
  }

  .show-map {
    @extend %touch-icon-style;
    @extend .icon-ios7-world-outline;
  }

  a.show-map {
    display: block;
    left: initial;
    right: 50px;
    color: white;
    z-index: 0;
    font-size: 26px;
    text-decoration: none;
  }

  .description {
    display: block;
    clear: both;
  }

  footer {
    float: none;
    clear: both;
    margin: 0 auto !important;
    min-height: 110px;
  }

  // Content Layout

  &.black {
    background-color: black;

    header .category {
      color: #eee;
    }

    .content {
      @extend .dark-theme;
      background: black;
    }
  }

  &.no-content.no-header {
    background: initial;

    .content {
      display: none;
    }

    &.has-product .content {
      display: block;
    }
  }

  &.caption .content {
    @extend .dark-theme;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    text-align: left;

    .title {
      font-size: 18px;
      font-family: "EB Garamond";
    }

    .description {
      text-align: left;
      font-size: 16px;
      font-family: "EB Garamond";
    }

    .body { display: none;}
    .extras { display:none; }
  }

  &.white .content {
    background: #fff;
  }

  /*
    Image layout

    .image-none
    .image-fit
    .image-background
    .image-cover

    # migrate
    .cover-area.fit .cover-area.background .cover-area.cover

    .cover-area.video, .cover-area.image
  */

  &.image-none {
    background: none;

    .cover-area { display:none }
  }

  &.image-fit {
    .cover-area {
      position: relative;
      background-size: 100%;

      .video-wrapper {
        position: relative;
      }
    }
  }

  &.image-cover {
  }

  &.image-background {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .column-break {
      height: 0;
    }

    .content {
      position: relative;
    }

    .cover-area.video {
//      position: relative;
      display: block;
      height: 100%;
      background-color: black;
      width: 100%;
      height: 0;
      padding-bottom: 56.25%; /* 16:9 */
      margin-bottom: 30px;
    }

    &.left {
      text-align: left;
    }

    &.right {
      text-align: right;
    }

    // Transparent content
    &.transparent .category {
        color: #eee;
    }

    &.transparent.transparent-black .content {
      color: initial !important;
    }

    &.transparent.transparent-black .category {
      color: #666;
    }

    // When there is no text or image content
    &.no-content {
      .content {
        position: relative;
      }

      figcaption.inset {
        overflow: auto;
        padding: 10px 20px;
        max-height: 120px;
        background: black;
        white-space: normal;
      }
    }

    // When there is no title and no summary
    &.no-header {
      figcaption.inset {
        overflow: auto;
        padding: 10px 20px;
        max-height: 120px;
        background: black;
        white-space: normal;
      }

      .cover-area {
        display: block;
        height: 100%;
        background-color: black;
        background-position: 50%;
        background-size: 120%;
      }
    }
  }

  /*
      Image alignment
  */
  &.cover-right .content {
    float: left;
  }

  &.cover-right .column-break {
    display: block;
  }

  .single-item {
    position: relative;
    overflow: hidden;
    padding: 10px 0;

    .title, .subtitle {
      text-align: left;
    }

    .thumb-image {
      float: left;
      width: 140px;
      height: auto;
      margin: 0 20px 10px 0;
    }

    .title {
      font-size: 110%;
      text-transform: initial;
    }

    .subtitle {
      font-size: 90%;
      margin: 0 0 0.5em;
    }
  }
}

article.page.toc {
  background: #fff;

  h2 {
    text-transform: none;
    font-weight: normal;
    font-size: 20px;
    font-family: "EB Garamond";
  }

  .content {
    padding: 15px;
  }

  .content header {
    margin: 0;
    padding: 0;

    h1.title {
      display: none;
    }
  }

  .cover-area {
    position: relative;
    overflow: hidden;

    video {
      object-fit: cover;
      width: 100%;
      bottom: 0;
    }

    .brand-logo {
      position: absolute;
      right: 14px;
      bottom: 14px;
      max-width: 200px;
    }
  }

  .main {
    height: auto;
  }

  /*
    Content list
  */
  .menu {
    padding: 20px 20px 0;
    height: auto;
    background-color: #f5f5f5;
    text-align: center;
  }

  .menu h2 {
    margin: 0.2em 0 0;
  }

  .menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .menu li {
    box-sizing: border-box;
    padding: 20px;
  }

  .menu li:first-of-type {
    padding-top: 0;
  }

  .menu li a {
    color: #000;
    text-decoration: none !important;
    letter-spacing: 2px;
    line-height: 1.25;
  }

  .menu li .story {
    display: block;
    text-decoration: underline;
    font-size: 24px;
    font-family: "EB Garamond";
  }

  .menu li .category {
    display: block;
    color: #555;
    text-transform: uppercase;
    letter-spacing: 1px;

    font: normal 12px/1 "proxima-nova";
  }

  .menu li .author {
    display: block;
    color: #555;
    font-weight: normal;
    font-size: 14px;
    font-family: "EB Garamond";
    line-height: 18px;
  }
}

article.page.has-product {

  &.no-content {
    .content:before {
      content: none;
      display: inline-block;
      margin: 0;
      height: 0;
      vertical-align: default;
    }

    header {
      display: block;
    }

    .product-set {
      margin: 0;
      padding: 0;
    }
  }

  header .title {
    letter-spacing: 2px;
    font: bold 24px "proxima-nova";
  }

  .content h3:not(.subtitle) {
    text-align: left;
    font-weight: normal;
    font-family: "EB Garamond";
  }

  /*
      Product set
  */
  .product-set {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: left;
    white-space: normal;
    margin-bottom: 20px;
    font-size: 0;
  }

  .product-set li {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    padding: 5px 0;
    height: 200px;
    vertical-align: middle;
    text-align: center;
  }

  .product-set li img {
    max-height: 85%;
  }

  .product-set a {
    width: 100%;
    height: 100%;
  }

  .product-set.set-0 {
    height: 0;
  }

  .product-set.set-2 li {
    width: 100%;
  }

  .product-set.set-4 li {
    width: 49%;
  }

  .product-set.set-6 li {
    width: 49%;
  }

  .product-set.set-9 li {
    width: 49%;
  }
}

/*
    Responsive large screen
*/
@include min-screen(768) {

  article.page {
    .title {
      font-size: 28px;
      font-size: 3.5vmin;
    }

    figure {
      display: inline-block;
    }

    &.scroll .content {
      overflow: auto;
    }

    .cover-area {
      background-position: center;
    }

    .content {
      padding: 50px 25px 25px;
    }

    &.top .content {
      vertical-align: top;
      -webkit-box-pack: start;
      -moz-box-pack: start;
    }

    &.middle .content {
      padding: 25px;
      vertical-align: middle;
      -webkit-box-pack: center;
      -moz-box-pack: center;
    }

    &.bottom .content {
      vertical-align: bottom;
      -webkit-box-pack: end;
      -moz-box-pack: end;
    }

    blockquote {
      margin-bottom: 1.25em;
      padding: 0.25em 10px 0.25em 50px;
    }

    blockquote:before {
      left: 5px;
      font-size: 80px;
      min-width: 36px;
    }

    .credits {
      position: absolute;
      top: initial;
      left: 20px;
      padding: 0;
      width: 250px;
    }

    &.right .credits {
      left: initial;
      right: 20px;
    }

    &.black .content {
      background: rgba(0, 0, 0, 0.7);
    }

    figure.video {
//      &:before {
//        margin-top: -50px;
//      }

      figcaption {
        margin-top: 56.25%;
      }
    }

    &.paginate .content {
      display: block;
    }
  }

  article.page.toc {
    .main, .menu {
      overflow: auto;
      height: 100%;
    }
  }

  article.one-column {
    .content {
      display: inline-block;

      margin: 0 auto;
      max-width: 45em;

      float: none;
    }

    .cover-area {
      position: relative;
    }

    &.page.has-product .product-set {
      padding: 10px 0;
      width: 100%;

      li {
        height: 255px;
      }

      &.set-4 li {
        width: 24%;
      }

      &.set-6 li {
        width: 28%;
        margin-right: 4.9%;
      }

      &.set-9 li {
        width: 33.33%;
      }
    }
  }

  article.two-column,
  article.three-column {

    padding-bottom: 0;
    white-space: nowrap;

    .content {
      width: 50%;
      height: 100%;
      white-space: normal;

      // Multi column system
      display: -webkit-box;
      display: -moz-box;
      display: box;

      -webkit-box-orient: vertical;
      -webkit-box-pack: start;
      -webkit-box-align: center;

      -moz-box-orient: vertical;
      -moz-box-pack: start;
      -moz-box-align: center;

      img {
        -webkit-column-break-inside: avoid;
        -moz-column-break-inside: avoid;
        column-break-inside: avoid;
      }
    }

    &.paginate {
      text-align: left;

      .column-break {
        height: 1px;
      }

      header {
        padding-top: 20%;
      }

      .content {
        overflow: default;
        -webkit-column-count:2;
        -moz-column-count:2;
        column-count:2;
        -webkit-column-gap: 50px;
        -moz-column-gap: 50px;
        column-gap: 50px;
      }
    }

    .cover-area {
      position: relative;
      padding: 0;
      margin: 0;
      width: 50%;
      height: 100%;
      justify-content: center;

      header {
        padding-top: 20%;
        padding-right: 40px;
        padding-left: 40px;
        height: 100%;
      }
    }

    &.cover-right .cover-area {
      position: absolute;
      top: 0;
    }

    &.cover-left.image-cover .cover-area,
    &.cover-left.image-fit .cover-area {
      float: left;
    }
  }

  article.page.three-column {
    &.paginate .content {
      -webkit-column-count:3;
      -moz-column-count:3;
      column-count:3;
      -webkit-column-gap: 50px;
      -moz-column-gap: 50px;
      column-gap: 50px;
    }

    .content {
      width: 33.3%;
    }

    .cover-area {
      width: 66.66%;
    }
  }

  // Image backgorund in large screen (>768)

  article.page.image-fit {

    &.one-column .cover-area {
      margin: 0 auto;
      max-width: 45em;
    }

  }

  article.page.image-background {

    // Use inline-block, vertical-align, text-align to position content element on full screen image bg
    // Use &:before to render a full hight place holder for this to work.
    &:before {
      display: inline-block;
      margin-right: -0.25em; /* Adjusts for spacing */
      height: 100%;
      content: '';
      vertical-align: middle;
    }

    .cover-area {
      position: absolute;
      display: inline-block;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;

      .video-wrapper {
        position: relative;
        top: initial;
        margin: 0;
        height: 100%;
      }
    }

    .cover-area.video {
      display: block;
      height: 100%;
    }

    .cover-area.video + .content {
      display: block;
      margin: 0 auto;
    }

    //
    // this requires position: relative for positioning
    .content {
      position: relative;
      display: inline-block;
      height: 95%;
      padding: 20px 25px;
      float: none;
    }

    // Remove any content colour
    &.transparent .content {
      background: none;
    }

    &.no-content.no-header figure {
      figcaption.inset {
        background: rgba(0, 0, 0, 0.7);
      }
    }

    &.no-header.no-content {
      background-size: cover;
    }

    &.height-auto .content {
      margin: 50px 20px 20px;
      max-height: 90%;
      height: auto;
    }

    &.height-full .content header {
      width: 98%;
    }

    &.height-full .content {
      box-sizing: border-box;
      margin: 0 auto;
      height: 100%;
      padding-top: 50px;
    }
  }

  /*
    Product set

    - Set style and layout for 2, 4, 6 products
    - product set becomes cover when there is no cover image
  */

  article.page.has-product {
    &.cover-right .column-break {
      display: block;
    }

    // Use product set as cover area, need to remove height
    &.no-image.two-column .cover-area,
    &.no-image.three-column .cover-area {
      position: absolute;
      top: 0;
      right: initial;
      bottom: 0;
      height: initial;

      &.product-set {
        margin: 0;
      }

      &.product-set.set-2,
      &.product-set.set-4 {
        top: 17%;

        li {
          height: 33%;
        }
      }

      &.product-set.set-6,
      &.product-set.set-9 {
        top: 5%;

        li {
          height: 30%;
        }
      }
    }

    &.cover-left .cover-area {
      left: 0;
    }

    &.paginate .content header {
      padding: 18px 0;
    }

    .product-set.set-4 li {
      height: 200px;
    }

    .product-set.set-9 li {
      width: 33.33%;
    }
  }
}

@media only screen and (min-width: 768px) and (orientation: portrait) {
  article.page .title {
    font-size: 28px;
  }

  article.page.toc .menu li {
    margin-top: 24px;
    height: auto;
  }

  article.page.has-product {
    &.no-image .cover-area {
      position: static;
      float: none;
      height: auto;
    }

    &.no-image.cover-right .cover-area{
      left: initial;
      right: 0;
    }

  }
}

@media only screen and (min-width: 768px) and (orientation: landscape) {

  article.page.has-product {

    &.no-image .content {
      margin: 0;
    }

    &.no-image.cover-left .content {
      margin: 0;
    }

    &.no-image .product-set {
      position: absolute;
      background-color: white;
    }

  }
}

/*
  Stream paging
*/

.horizontal {
  height: 100%;
  white-space: nowrap;

  .stream.page {
    padding-top: 50px;
  }
}

.vertical {
  .page {
    clear: left;
  }
}

.stream-paging {
  @include clearfix;

  @include min-screen(480) {
    margin-top: -10px !important;

    /*
        Admin stream has toolbar
    */

    .admin & {
      margin-top: 50px !important;
    }
  }

  overflow: visible;
  padding-bottom: 100px;
  width: 100% !important;
  line-height: 0;

  [role=main] &.container {
    padding: 0;
  }

  .vertical & {
    top: 50px;
    clear: left;
  }

  .horizontal & {
    display: inline-block;
    margin: 0;
    padding-bottom: 0;
    white-space: nowrap;

    .page {
      display: inline-bottom;
    }

    .view-more {
      bottom: 0;
      display: inline-block;
      width: 100px;
      line-height: 100%;

      span {
        display: block;
        margin-top: 350px;
      }
    }
  }
}
