.page {
  @include box-sizing(border-box);
  white-space: normal;
}

[role=main].content-view {
  height: 100%;
}

/*

  Various page style in the system

  .page             - default page style, optimise for readability

  Stream

    .stream             - Swipable page on the stream
    .vertical .page     - vertical scrolled pages
    .horizontal .page   - horizontal swipe pages

  Article page

  article.page
    > .content        - Content container
    > .cover-area     - Cover area for top image, video and headings

    .one-column       -   One column layout, cover/image fit view support fullscreen
    .two-column       -
    .two-column       -
    .fullscreen       -

  Content type

    .content      -     content page
    .product      -     product page
    .gallery      -     gallery page

*/
article.page {
  position: relative;
  margin: 0 auto;
  text-align: center;
  font: 16px/1.25 "proxima-nova";

  // Cover area for image/video
  .cover-area {
    @include box-sizing(border-box);
    position: relative;
    min-height: 300px;
    width: 100%;
    height: auto;
    background-position: 50% 20%;
    background-size: cover;
    background-repeat: no-repeat;

    &.fit {
      position: relative;
      background-size: 100%;

      .video-wrapper {
        position: relative;
      }
    }

    &.background {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;

      &:before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.1);
        content: '';
      }
    }

    figcaption.inset {
      top: initial;
      bottom: 0;
    }
  }

  // Content Style

  .content {
    @include box-sizing(border-box);
    float: none;
    padding: 15px;
    vertical-align: middle;

    img {
      max-width: 100%;
    }
  }

  &.scroll .content {
    overflow: auto;
  }

  // vertical middle align header if there's no content
  &.no-content {
    .content:before {
      display: inline-block;
      margin-right: -0.25em; /* Adjusts for spacing */
      height: 100%;
      content: '';
      vertical-align: middle;
    }

    header {
      display: inline-block;
      vertical-align: middle;
    }
  }

  // Content formatting

  header {
    @include box-sizing(border-box);

    margin: 0 0 20px 0;
    padding: 0;
    text-align: center;

    hgroup {
      padding-top: 50px;
    }

    .category {
      color: #666;
      text-transform: uppercase;
      letter-spacing: 2px;
      font: bold 12px "proxima-nova";
    }
  }

  .column-break {
    display: none;
    margin: 0;
    break-before: column;
    -webkit-column-break-before: always;
    -webkit-column-break-after: always;
  }

  .title {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 24px;
  }

  .avatar {
    margin-right: 5px;
    width: 50px;
    height: 50px;
    border: 2px solid #eee;
    border-radius: 50%;
  }

  .credits {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 200px;

    font: bold 12px "proxima-nova";
  }

  blockquote {
    position: relative;
    margin: 0.25em auto;
    padding: 0.5em 10px 0.25em 25px;
    max-width: 500px;
    font-style: italic;
    font-size: 18px;
    font-family: Georgia, serif;
    line-height: 1.45;
  }

  blockquote:before {
    position: absolute;
    top: -20px;
    left: 0;
    display: block;
    color: #999;
    content: "\201C";
    font-size: 50px;
  }

  blockquote cite {
    display: block;
    margin-top: 5px;
    color: #999999;
    font-size: 14px;

    &:before {
      content: "\2014 \2009";
    }
  }

  blockquote .author {
    margin: 0.5em 0;
    text-align: right;
  }

  figure {
    position: relative;

    figcaption {
      padding: 20px 30px 20px;
      font-style: italic;
      font-size: 80%;
    }

    figcaption.inset {
      position: absolute;
      top: 0;
      right: 10px;
      color: white;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
      font-weight: bold;
    }
  }

  .image.cover {
    position:relative;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
  }

  .author, .published-at {
    color: #333;
    font-style: italic;
    font-family: Georgia;
  }

  p {
    margin: 1.25em 0;
    text-align: justify;
    word-break:hyphenate;
    -webkit-hyphens: auto;
    line-height: 1.4;
  }

  ul {
    padding-left: 20px;
  }

  .body {
    text-align: left;

    p:first-child {
      margin-top: 0;
    }

    p:last-child {
      margin-bottom: 0;
    }

    .right {
      margin: 0;
      text-align: right;
    }
  }

  a[href]:not(.button) {
    text-decoration: underline;
  }

  img.medium, img.large {
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
    max-width: 100%;
    height: auto;
  }

  ul li, ol li {
    line-height: 1.6;
  }

  video {
    -webkit-transform-style: preserve-3d;
  }

  .video-wrapper {
    @include box-sizing(border-box);
    padding-top: 25px;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;

    iframe, object, embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .description {
    display: block;
    clear: both;
  }

  footer {
    float: none;
    clear: both;
    margin: 0 auto !important;
    min-height: 110px;
  }

  // Content Layout

  &.black {
    background-color: black;

    .content {
      @extend .dark-theme;
      background: rgba(0, 0, 0, 0.7);
    }
  }

  &.caption .content {
    @extend .dark-theme;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    text-align: left;

    .title {
      font-size: 18px;
      font-family: "EB Garamond";
    }

    .description {
      text-align: left;
      font-size: 16px;
      font-family: "EB Garamond";
    }

    .body { display: none;}
    .extras { display:none; }
  }

  &.white .content {
    background: rgba(255, 255, 255,0.9);
  }

  &.top .content {
    vertical-align: top;
  }

  &.bottom .content {
    vertical-align: bottom;
  }

  // Image layout

  &.cover-right .content {
    float: left;
  }

  &.cover-right .column-break {
    display: block;
  }

  &.image-background {
    position: relative;
    overflow: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &.image-background .column-break {
    height: 0;
  }

  &.image-background .content {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50%;
  }

  &.image-background.transparent {
    color: white;
  }

  &.image-background.video .content {
    position: relative;
    height: auto;
  }

  &.image-background.video .cover-area {
    position: relative;
    display: block;
    height: 100%;
  }

  &.image-background.left {
    text-align: left;
  }

  &.image-background.right {
    text-align: right;
  }

  .single-product {
    position: relative;
    overflow: hidden;

    .thumb-image {
      float: left;
      width: 180px;
      height: 180px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .title {
      font-size: 24px;
      font-family: "EB Garamond";
    }

    .subtitle {
      margin: 0;
    }
  }
}

article.one-column {
  .cover-area {
    h1 {
      padding-top: 130px;
    }
  }

  &.image-background:before {
    content: none;
  }
}

article.page.toc {

  h2 {
    text-transform: none;
    font-weight: normal;
    font-size: 20px;
    font-family: "EB Garamond";
  }

  .content {
    padding: 0 20px;
  }

  .content header {
    padding: 20px 0 0;
  }

  .cover-area {
    position: relative;

    .brand-logo {
      position: absolute;
      right: 14px;
      bottom: 14px;
      max-width: 200px;
    }
  }

  .main {
    height: auto;
  }

  /*
    Content list
  */
  .menu {
    padding: 20px 20px 0;
    height: auto;
    background-color: #f5f5f5;
    text-align: center;
  }

  .menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .menu li {
    @include box-sizing(border-box);
    margin-top: 18px;
    height: 70px;
  }

  .menu li a {
    color: #000;
    text-decoration: none !important;
    letter-spacing: 2px;
    line-height: 1.25;
  }

  .menu li .story {
    display: block;
    text-decoration: underline;
    font-size: 24px;
    font-family: "EB Garamond";
  }

  .menu li .category {
    display: block;
    color: #555;
    text-transform: uppercase;
    letter-spacing: 1px;

    font: normal 12px/1 "proxima-nova";
  }

  .menu li .author {
    display: block;
    color: #555;
    font-weight: normal;
    font-size: 14px;
    font-family: "EB Garamond";
    line-height: 18px;
  }
}

article.page.has-product {
  text-align: left;

  &.no-image .cover-area.cover {
    display: none;
  }

  &.no-content {
    .content:before {
      content: initial;
    }

    header {
      display: block;
    }

    .product-set {
      margin: 0;
    }
  }

  header .title {
    letter-spacing: 2px;
    font: bold 24px "proxima-nova";
  }

  .content h3 {
    text-align: left;
    font-weight: normal;
    font-family: "EB Garamond";
  }

  .product-set {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0 20px 0;
    padding: 0;
    list-style-type: none;
    text-align: left;
    white-space: normal;
  }

  .product-set li {
    position: relative;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 0;
    height: 190px;
    vertical-align: middle;
    text-align: center;
  }

  .product-set li img {
    max-width: 100%;
    max-height: 100%;
  }

  .product-set.set-2 li {
    width: 100%;
  }

  .product-set.set-4 li {
    width: 49%;
  }

  .product-set.set-6 li {
    width: 49%;
  }
}

@include min-screen(768) {
  article.page {
    .title {
      font-size: 34px;
    }

    .cover-area {
      background-position: center;
    }

    &.cover-right .cover-area {
      position: absolute;
      top: 0;
    }

    .content {
      padding: 30px;
    }

    &.middle .content {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-box-pack: center;
      -webkit-box-align: center;
    }

    blockquote {
      padding: 0.25em 10px 0.25em 50px;
    }

    blockquote:before {
      left: 5px;
      font-size: 80px;
    }

    .single-product {
      .button {
        position: absolute;
        right: 0;
        bottom: 0;
        margin: 0;
      }
    }
  }

  article.page.toc {
    .main, .menu {
      overflow: auto;
      height: 100%;
    }
  }

  article.page.image-background {
    &:before {
      display: inline-block;
      margin-right: -0.25em; /* Adjusts for spacing */
      height: 100%;
      content: '';
      vertical-align: middle;
    }

    .content {
      position: relative;
      display: inline-block;
      height: 95%;
    }

    &.no-header.no-content {
      background-size: cover;
    }

    &.height-auto .content {
      margin: 2% 0;
      max-height: 90%;
      height: auto;
    }

    &.height-full .content {
      margin: 0 auto;
      height: 100%;
    }

    &.video {
      position: relative;
      overflow: auto;
    }

    &.video:before {
      content: none;
    }

    &.video .cover-area {
      display: block;
      height: 100%;
    }

    &.video .content {
      margin: 0;
      width: 100%;
    }
  }

  article.page.has-product {
    &.cover-right .column-break {
      display: block;
    }

    // Use product set as cover area, need to remove height
    &.no-image .cover-area {
      position: absolute;
      top: 0;
      right: initial;
      bottom: initial;
      height: initial;
    }

    &.scroll.cover-left .content,
    &.scroll.cover-right .content {
      overflow: auto;
      height: 100%;
    }

    &.cover-left .cover-area {
      left: 0;
    }

    &.paginate .content header {
      padding: 18px 0;
    }

    .product-set.set-4 li {
      height: 280px;
    }
  }

  article.one-column {
    &.image-background:before {
    }

    .content {
      display: inline-block;
    }

    .content, .cover-area.fit {
      margin: 0 auto;
      width: 45em;
    }
  }

  article.two-column,
  article.three-column {
    padding-bottom: 0;
    white-space: nowrap;

    .content {
      width: 50%;
      height: 100%;
      vertical-align: middle;
      white-space: normal;

      img {
        display: inline-block;
        max-height: 85%;
        -webkit-column-break-before: always;
        -moz-column-break-before: always;
        column-break-before: always;
        -webkit-column-break-inside: avoid;
        -moz-column-break-inside: avoid;
        column-break-inside: avoid;
      }
    }

    &.paginate {
      text-align: left;

      .column-break {
        height: 1px;
      }

      header {
        padding-top: 30%;
      }

      .content {
        overflow: default;
        -webkit-column-count:2;
        -moz-column-count:2;
        column-count:2;
        -webkit-column-gap: 60px;
        -moz-column-gap: 60px;
        column-gap: 60px;
      }
    }

    .cover-area {
      position: relative;
      float: left;
      padding: 0;
      width: 50%;
      height: 100%;
      justify-content: center;

      header {
        padding-top: 20%;
        padding-right: 40px;
        padding-left: 40px;
        height: 100%;
      }
    }
  }

  article.three-column {
    &.paginate .content {
      -webkit-column-count:3;
      -moz-column-count:3;
      column-count:3;
      -webkit-column-gap: 60px;
      -moz-column-gap: 60px;
      column-gap: 60px;
    }

    .content {
      width: 33.3%;
    }

    .cover-area {
      width: 66.66%;
    }
  }

  #issue-viewer:not(.mobile) article.one-column {
    .content, .cover-area.fit {
      margin: 0 auto;
      width: 45em;
    }
  }
}

@media only screen and (min-width: 768px) and (orientation: portrait) {
  article.page .title {
    font-size: 28px;
  }

  article.page.toc .menu li {
    margin-top: 24px;
    height: auto;
  }

  article.page.has-product {
    &.no-image .cover-area {
      position: static;
      left: 0;
      float: none;
      width: 100%;
      height: auto;
    }

    &.no-image .content {
      // width: 100%;
    }

    &.no-image .product-set li {
      height: 200px;
    }

    &.no-image .product-set.set-6 li {
      // width: 30%;
    }
  }
}

@media only screen and (min-width: 768px) and (orientation: landscape) {
  article.page.has-product {

    &.no-image .content {
      margin: 0;
    }

    .product-set.set-6 li {
      width: 49%;
    }

    &.no-image .product-set {
      position: absolute;
      top: 50%;
      margin-top: -300px;
    }

    &.no-image.right .product-set {
      left: 0;
    }
  }
}

// TODO: MOVE TO ADMIN
#preview_item_content {
  clear: both;
  &.no-cover [data-cover], img[data-size=tiny] {
    display: none; }
}

/*
  Stream paging
*/

.horizontal {
  height: 100%;
  white-space: nowrap;

  .stream.page {
    padding-top: 50px;
  }
}

.vertical {
  .page {
    clear: left;
  }
}

.stream-paging {
  @include clearfix;

  @include min-screen(480) {
    margin-top: -10px !important;
  }
  overflow: visible;
  padding-bottom: 100px;
  width: 100% !important;
  line-height: 0;

  .vertical & {
    top: 50px;
    clear: left;
  }

  .horizontal & {
    display: inline-block;
    margin: 0;
    padding-bottom: 0;
    white-space: nowrap;

    .page {
      display: inline-block;
    }

    .view-more {
      bottom: 0;
      display: inline-block;
      width: 100px;
      line-height: 100%;

      span {
        display: block;
        margin-top: 350px;
      }
    }
  }
}

#next-page, #prev-page {
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 2000;
  display: none;
  margin-top: -50px;
  width: 50px;
  height: 100px;
  color: #999;
  text-align: center;

  &:before {
    font-size: 30px;
    line-height: 100px;
  }

  .no-touch &:hover, &:active {
    background: #666;
  }
}

/*
  Content paging
*/
#next-page {
  @extend .icon-arrow-right-2;
}

#prev-page {
  @extend .icon-arrow-left-2;
  left: 0;

  .admin & {
    left: 80px;
  }
}


/*
  Landscape Styles
*/

[role="main"].landscape {
  article.page.image-background .cover-area {
    background-position: top;
  }
}
