/*
    title font: BodoniSvtyTwo
    Body font: EB Garamond

*/
.fashion-theme {
  @import url(//fonts.googleapis.com/css?family=EB+Garamond);

  font-family: "EB Garamond";
  font-size: 14px;

  .page {
    font-family: "EB Garamond";
    font-size: 16px;
  }

  .page .title {
    font-family: 'BodoniSvtyTwoITCTT-Book';
    letter-spacing: 2px;
  }
}

/*

  Dark theme

*/
.dark-theme {
  color: white;

  .subtitle {
    color: #ccc;
  }

  a:not(.button) {
    color: white;
    text-decoration: none;
  }

  .no-touch & a:not(.button):hover {
    color: lighten(#e96b56, 10%);
  }
}
