
/*

  Toolbar is a top bar that can be used both as navbar or toolbar


  .fullscreen             -   Toolbar for fullscreen style content like images
                              fullscreen-toolbar-container required
                              to set nesassry padding.
  .dark-theme             -   dark theme uses white text and icon style

*/
.toolbar {
//  width:100%;
  height: 50px;
  z-index: 2;
//  border-bottom: 1px solid rgba(0,0,0, 0.1);
  text-align: center;
//  position: absolute;
  width: 100%;
  color: #333;
  font-size: 0;
  background: #fff;

  .dark-theme & {
    color: #fff;

    a:hover {
      color: white;
    }
  }

  &.dark-theme {
    color: #fff;
    a:hover {
      color: white;
    }

    background: #0c0c0c;
  }

  .left {
    position: absolute;
    left: 0;
    top: 0;
  }

  .right {
    position: absolute;
    right: 0;
    top: 0;
  }


  & > a {
    font-size: 16px;

    // For extension

    &:before {
      font-size: 28px;
      line-height: 50px;
      font-weight: normal;
  //    margin-right: 5px;
    }

    &:last-child {
      margin-right: 0;
    }

    span {
      font-family: georgia;
      font-style: italic;
      line-height: 50px;
      vertical-align: top;
    }

    vertical-align: top;
    display: inline-block;

    padding-left: 15px;
    padding-right:15px;
    min-width: 20px;
    line-height: 50px;
    height: 50px;

    cursor: pointer;
    color: #666;

    &:active {
      @include transition-duration(0.5s);
      background: rgba(0,0,0, 0.1);
    }
  }

  .button {
    margin-top: 10px;
    line-height: 29px;
  }


  //    Specific menu
  a.menu, a.back, a.follow {
    float: left;
  }

  a.menu {
    @extend .icon-list;
  }

  a.filter {
    @extend .icon-menu;
    float: right;
    width: 64px;
  }

  a.back {
    //font-family: georgia;
    //font-style: italic;
    vertical-align: top;
    margin-right: 10px;
    line-height: 50px;
    height: 50px;

    @extend %icon-style;
    @extend .icon-ios7-arrow-back;

    span { display: none }
  }

  a.plus {
    @extend %icon-style;

    @extend .icon-plus-2;
  }

  a.search {
    @extend %icon-style;

    @extend .icon-search;
  }

  a.subscribe {
    @extend %icon-style;
    @extend .icon-bookmark;
  }

  .title {
    display: inline-block;

    font: lighter 17px/50px 'proxima-nova';
    font-weight: 300 ;

    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    letter-spacing: 0.7px;

    cursor: pointer;
    overflow: hidden;
    width: 50%;

    a:active { background: none; }

    span {
//      position: relative;
//      left:6px;
//      top: 20px;
    }
  }


  .search-issue {
    display: inline-block;
    font-weight: normal;
    font-size: 24px;
    width: 60%;
    max-width: 500px;

    &:before {
      position: absolute;
      color: #666;
      top: 18px;
      margin-left: 10px;
    }

    @extend %icon-style;
    @extend .icon-search;
  }

  input.search {
    box-sizing: border-box;
    background: #333;
    color: white;
    border-color: transparent;
    font-size: 17px;
    margin-top: 10px;
    height: 40px;
    padding-left: 40px;

    box-shadow: none;


  }

  div.actions {
    position: absolute;

    .heart {
      @extend .icon-heart;
      right: 114px;
//      background: url('/images/action-like.png') no-repeat center;
    }

    .collect {
      @extend .icon-plus;
      right: 57px;
//      background: url('/images/action-collect.png') no-repeat center;
    }

    .share {
      @extend .icon-export;
      right: 0px;
//      background: url('/images/action-share.png') no-repeat center;
    }
  }

  @include min-screen(768) {
    a.back span {
      display: inline
    }
  }
}

.toolbar.transparent {
  position: absolute;
  background: transparent;

  &.dark-theme {
    @include background( linear-gradient(top, rgba(0,0,0,0.1) 20%, rgba(0,0,0,0.0) ) );

    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  }
}

// Fullscreen toolbar
.toolbar.fullscreen {
  position: fixed;
  top: 0;
}

.toolbar.fullscreen + .container {
  padding-top: 50px;
}

// Fullscreen toolbar
.toolbar.fixed {
  top: 0;
  right: 0;
  z-index: 10;
  position: fixed;
}

//
//@import "compass/css3/inline-block";
//
///*
//
//  Toolbar is a top bar that can be used both as navbar or toolbar
//
//
//  .fullscreen             -   Toolbar for fullscreen style content like images
//                              fullscreen-toolbar-container required
//                              to set nesassry padding.
//  .dark-theme             -   dark theme uses white text and icon style
//
//*/
//.toolbar {
//  height: 50px;
//  z-index: 3;
//  text-align: center;
//  position: relative;
//  width: 100%;
//  color: #333;
//  font-size: 0;
////  -webkit-transform: translate3d(0, 0, 0);
//
//  %dark-theme {
//    @include background(linear-gradient( rgba(0,0,0, 0.5), rgba(0,0,0,0)));
//    color: #fff;
//
//    a:not(.button), a:hover {
//      color: white;
//    }
//  }
//
//  &.overtop {
//    position: absolute;
//
////    @include background(linear-gradient( rgba(255, 255,255, 0.5), rgba(255,255,255,0)));
////
////    text-shadow: 1px 1px 1px #fff;
//  }
//
//  .dark-theme & {
//    @extend %dark-theme;
//  }
//
//  &.dark-theme {
//    @extend %dark-theme;
//  }
//
//  .left {
//    position: absolute;
//    left: 0;
//    top: 0;
//  }
//
//  .right {
//    position: absolute;
//    right: 0;
//    top: 0;
//  }
//
//  // For extension
//  .icon-style {
//    font-size: 22px;
//    line-height: 50px;
//    font-weight: normal;
//
////    margin-right: 5px;
//  }
//
//  a:not(.button) {
//    font-size: 16px;
//
//    &:before {
//      @extend .icon-style;
//    }
//
//    &:last-child {
//      margin-right: 0;
//    }
//
//    span {
//      font-family: georgia;
//      font-style: italic;
//      line-height: 50px;
//      vertical-align: top;
//    }
//
//    vertical-align: top;
//    @include inline-block;
//
//    padding-left: 15px;
//    padding-right:15px;
//    min-width: 20px;
//    line-height: 50px;
//    height: 50px;
//
//    cursor: pointer;
//    color: #666;
//
//
//    &:active {
//      @include transition-duration(0.3s);
//      background: rgba(0,0,0, 0.1);
//    }
//  }
//
//  //    Specific menu
//  a.menu, a.back, a.follow {
//    float: left;
//  }
//
//  a.menu {
//    @extend .icon-list;
//  }
//
//  a.filter {
//    @extend .icon-menu;
//    float: right;
//    width: 64px;
//  }
//
//  a.back {
//    //font-family: georgia;
//    //font-style: italic;
//    vertical-align: top;
//    margin-right: 10px;
//    line-height: 50px;
//    height: 50px;
//
//    &:before {
//      @extend .icon-style;
//      margin-left: -5px;
//    }
//    @extend .icon-arrow-left-2;
//  }
//
//  a.plus {
//    &:before {
//      @extend .icon-style;
//    }
//    @extend .icon-plus-2;
//  }
//
//  a.search {
//    &:before {
//      @extend .icon-style;
//    }
//
//    @extend .icon-search;
//  }
//
//  .title {
//    @include inline-block;
//    text-transform: uppercase;
//    text-overflow: ellipsis;
//    white-space: nowrap;
//    letter-spacing: 0.7px;
//    font-weight: normal;
//    font-size: 18px;
//    font-family: "proxima_nova_ltregular";
//    line-height: 50px;
//    cursor: pointer;
//    overflow: hidden;
//    width: 50%;
//
//    a:active { background: none; }
//
//    span.caret {
//      position: relative;
//      left:6px;
//      top: 22px;
//    }
//  }
//
//  div.actions {
//    position: absolute;
//
//    .heart {
//      @extend .icon-heart;
//      right: 114px;
////      background: url('/images/action-like.png') no-repeat center;
//    }
//
//    .collect {
//      @extend .icon-plus;
//      right: 57px;
////      background: url('/images/action-collect.png') no-repeat center;
//    }
//
//    .share {
//      @extend .icon-export;
//      right: 0px;
////      background: url('/images/action-share.png') no-repeat center;
//    }
//  }
//
//  // Buttons
//
//  .button {
//    margin-top: 10px;
//    height: 30px;
//    line-height: 30px;
//  }
//}
//
//
//// Fullscreen toolbar
//.toolbar.fixed {
//  top: 0;
//  right: 0;
//  position: fixed !important;
//  background: #fff;
//}
//
//.dark-theme.toolbar {
//  a {
//    color: white;
//  }
//}
//
//.vertical .toolbar + .container {
//  padding-top: 50px;
//}
//
//
////.toolbar + .page {
////  padding-top: 50px;
////}
//
//// Fullscreen toolbar
//.toolbar.fullscreen {
//  position: absolute;
//  background: transparent;
//}
