#spring-issue {
  article.page {
    ol, ul {

      p {
        margin-bottom: 0.5em;
      }

      ol, ul {
        margin: 0.5em 0 0.5em;
      }
    }

    @media only screen and (min-width: 768px) {
      h3 {
        font-size: 2.1vmin;
      }

      &.two-column,
      &.three-column {
        img {
          -webkit-column-break-before: initial;
          -moz-column-break-before: initial;
          column-break-before: initial;
          -webkit-column-break-inside: avoid;
          -moz-column-break-inside: avoid;
          column-break-inside: avoid;
          margin-bottom: 20px;
        }
      }
    }
  }

  [data-page="index"] {
    .brand {
      display: block;
      background: url(spread.svg) no-repeat;
      background-size: contain;
      background-position: center;
      width: 22vmin;
      height: 9vmin;
      margin: 20px auto 0;
      color: transparent;
      text-shadow: none;
    }

    .title {
      display: block;
      background: url(title.svg) no-repeat;
      background-size: contain;
      background-position: center;
      width: 65vmin;
      height: 20vmin;
      margin: 0 auto;
      color: transparent;
      text-shadow: none;
    }
  }

  [data-page="toc"] {
    .menu li .story {
      text-decoration: initial;
      text-transform: initial;
    }

    .cover-area {
      min-height: 350px;
    }

    .content {
      header {
        display: none;
      }

      h1 {
        text-align: center;
      }

      .author {
        width: 150px;
        margin: 0;
      }

      .contributors {
        overflow: hidden;
        padding: 0;
        list-style-type: none;
        text-align: center;
      }

      .contributors li {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 5px 0 5px 80px;
        width: 100%;
        text-align: left;
      }

      .contributors .avatar {
        position: absolute;
        margin-left: -65px;
      }

      .contributors .description {
        color: #555;
        font-style: italic;
      }

      @media only screen and (min-width: 768px) {
        .contributors li {
          float: left;
          width: 50%;
        }
      }
    }
  }

  [data-page="story-two/1"] {
    .content .body {
      figure img {
        width: 80%;
        margin-bottom: 0;
      }
    }
  }

  // Ad Page

  [data-page="ad"] {
    header {
      display: none;
    }

    .cover-area {
      min-height: initial;
      height: 100%;
    }

    .content {
      position: absolute;
      top: 0;
      left: 0;
      margin: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      max-width: initial;
      max-height: initial;

      .body {
        position: relative;
        height: 100%;
      }

      img {
        margin: 0;
      }

      a {
        position: absolute;
        text-decoration: none;
      }

      .message {
        top: -10%;
        left: 10%;
      }

      .product {
        left: 0;
        bottom: 2%;
        max-width: 85%;

        p {
          display: none;
          margin: 0;
          color: #0F3553;
          padding-left: 10px;
          font-family: serif;
          text-shadow: 0 0 1px rgba(0,0,0,0.2);
        }

        img {
          max-width: 85%;
        }
      }

      .brand {
        right: 0;
        bottom: 2%;
        width: 15%;

        img {
          width: 100%;
        }
      }
    }

    @media only screen and (min-width: 768px) {
      .content .product {
        p {
          display: block;
        }

        img {
          max-width: 70%;
        }
      }
    }
  }

  // [data-page="story-four/1"] {
  //   .content {
  //     height: 100%;
  //   }

  //   .content ul {
  //     margin: 0;
  //     padding: 0;
  //     width: 100%;
  //     height: 100%;
  //     list-style: none;

  //     li {
  //       position: relative;
  //       display: inline-block;
  //       width: 33%;
  //       height: 33%;
  //     }

  //     li .hotspot {
  //       width: 100%;
  //       height: 100%;
  //       margin: 0;
  //     }

  //     li .image {
  //       height: 100%;
  //       background-repeat: no-repeat;
  //       background-size: contain;
  //       background-position: center;
  //     }

  //     li h3 {
  //       position: absolute;
  //       bottom: 0;
  //       left: 0;
  //     }
  //   }

  //   @media only screen and (min-width: 768px) {
  //     header {
  //       position: absolute;
  //       top: 33%;
  //       left: 33%;
  //       width: 33%;
  //       height: 33%;
  //       margin: 0;
  //       padding: 45px 15px 15px;
  //       overflow: scroll;
  //     }
  //     .content ul {
  //       li:nth-of-type(5) {
  //         margin-left: 33%;
  //       }
  //     }
  //   }
  // }

  /*
      Polaroid
  */

  ul.polaroids {
    margin: 0;
    padding: 0;
  }

  .polaroid-wrap {
    list-style: none;
    display: inline-block;
    max-width: 48%;
  }

  figure.polaroid {
    display: inline;
    float: left;
    margin: 0;
    max-width: 80%;
    max-height: 300px;
    width: auto;
    color: #333;
    text-align: center;
    text-decoration: none;

    font-size: 18px;
    font-family: "Marker Felt", sans-serif;

    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    transition: all .15s linear;

    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    transform: rotate(-2deg);

    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
  }

  figure.polaroid figcaption {
    text-align: center;
    text-decoration: none;
  }

  figure.polaroid img {
    padding: 6px;
    width: 100%;
    background: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,.25);
    vertical-align: middle;
  }

  .polaroid-wrap:nth-child(even) figure {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    transform: rotate(3deg);
  }

  @media only screen and (min-width: 768px) {
    figure.polaroid {
      margin: 0 0% -5% 5%;
      padding-left: 20px;
      max-width: 24%;
      max-height: 25vw;
    }

    figure.polaroid img {
      padding: 15px 15px 20px;
    }

    .polaroid-wrap {
      display: inline;
      max-width: initial;
    }

    .polaroid-wrap:nth-child(3n+1) {
      clear: both;
    }

    .polaroid-wrap:nth-child(4) figure {
      clear: left;
    }
  }

  .polaroid-wrap:hover figure {
    position: relative;
    z-index: 5;

    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    transform: scale(1.5);
  }
}
