#spring-issue {

  article.page {
    ol, ul {

      p {
        margin-bottom: 0.5em;
      }

      ol, ul {
        margin: 0.5em 0 0.5em;
      }
    }

    @media only screen and (min-width: 768px) {
      h3 {
        font-size: 2.1vmin;
      }

      &.two-column,
      &.three-column {
        img {
          -webkit-column-break-before: initial;
          -moz-column-break-before: initial;
          column-break-before: initial;
          -webkit-column-break-inside: avoid;
          -moz-column-break-inside: avoid;
          column-break-inside: avoid;
          margin-bottom: 20px;
        }
      }
    }
  }

  [data-page="index"] {
    .brand {
      display: block;
      background: url(spread.svg) no-repeat;
      background-size: 100%;
      width: 22vmin;
      height: 9vmin;
      margin: 20px auto 0;
      color: transparent;
      text-shadow: none;
    }
  }

  [data-page="toc"] {
    .menu li .story {
      text-decoration: initial;
      text-transform: initial;
    }

    .content {
      header {
        display: none;
      }

      h1 {
        text-align: center;
      }
    }
  }

  [data-page="story-one"] {

  }

}
