<header class="toolbar dark-theme transparent">
  <a class="back left" href="javascript:history.back()"><span>back</span></a>
  
  <h1 class="title">
    Minkpink // Music <i class="caret"></i>
  </h1>
  
  <a href="#new_content_button" class="plus open-target right" rel="popover">Some</a>
  <div class="popover" id="new_content_button" style="display:none">
    <div class="drop-wrapper">
      <span class="drop-top"></span>
      <ul class="popover-list">
        <li class="header"><span>New post</span></li>
        <li><a class="active"  href="#"><i class="icon-edit"> </i >Article</a></li>
        <li><a class="active" href="#"><i class="icon-tag"> </i> Product</a></li>

        <li><a class="active"  href="#"><i class="icon-pictures"> </i> Photo</a></li>
      </ul>
    </div>
  </div>
  
  <div class="popover-wrap">

  </div>
  
</header>

<section class="magazine cover page fullscreen dark-theme " style="background-image: url(<%= issue.background_url %>);">
  <div class="container">
    
    <img class="issue-logo" style="zoom: 0.8" src="/images/logo-round-white.svg"></img>
    
    <div class="extra-1"></div>
    <div class="extra-2"></div>

    <hgroup>
      <h2 class="brand"><%= issue.magazine_title %></h2>
      <h1 class="title"><%= issue.short_title %></h1>
      <h2 class="description"><%= issue.description %></h2>
    </hgroup>
    
    <!-- <a class="subscribe" href="#"></a> -->
    <a class="browse" href="toc">‹</a>
    <a class="download" href="#"></a>
  </div>
</section>
