<section class="issue cover page fullscreen dark-theme " style="background-image: url(<%= issue.image_url %>);">
  <div class="container">
    <nav role="navigation">
      <ul class="links">
        <li><a class="subscribe button outline" href="#" onclick="$('#subscribe' ,'#unsubscribe').toggleClass('hidden')">Subscribe</a></li>
        <li><a class="unsubscribe button outline hidden" href="#" onclick="$('#subscribe' , '#unsubscribe').toggleClass('hidden')">Unsubscribe</a></li>
        <li><a class="button outline" href="#">Share</a></li>
      </ul>
    </nav>

    <h1 id="issue-logo" class="icon logo " style="zoom: 0.7"></h1>

    <hgroup>
      <h2 class="brand"><%= issue.edition_title %></h2>
      <h1 class="title"><%= issue.short_title %></h1>
      <h2 class="description"><%= issue.description %></h2>
    </hgroup>

    <a class="browse" href="toc">‹</a>
  </div>
</section>
