
<section class="magazine cover page fullscreen dark-theme " style="background-image: url(<%= issue.image_url %>);">
  <div class="container">
    
    <img class="issue-logo" style="zoom: 0.8" src="/images/logo-round-white.svg"></img>
    
    <div class="extra-1"></div>
    <div class="extra-2"></div>

    <hgroup>
      <h2 class="brand"><%= issue.edition_title %></h2>
      <h1 class="title"><%= issue.short_title %></h1>
      <h2 class="description"><%= issue.description %></h2>
    </hgroup>

    <a class="browse" href="toc">‹</a>
    <a class="subscribe" href="#"></a>
    <a class="download" href="#"></a>
  </div>
</section>
