<% if @layout %>
  <%= render @layout %>
<% else %>

<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"><![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js no-touch" lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>issue</title>

    <!-- http://t.co/dKP3o1e -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.ico">

    <!--iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="/assets/application.css" type="text/css">
    <link rel="stylesheet" href="/holiday/assets/custom.css" type="text/css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="/assets/issue.js" type="text/javascript" charset="utf-8"></script>
    <script>
      App.detectLayout()
    </script>
    
    <style>
      .page {
        width: 100%;
        height: 100%;
      }

      body {
        background: #fff;
      }

      /* Debugger */

      .debug {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        display: none;

        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        padding: 20px;
        width: 100%;
        background-color: #333;
        color: white;
        text-align: left;
      }

      .debug.active {
        display: block;
      }

      .debug ul {
        float: left;
        margin: 0;
        padding: 10px;
      }

      .debug .params {
        float: right;
      }

      .debug a {
        color: orange;
      }
    </style>
  </head>

  <body>
    <div role=main class="fashion-theme content-view">
      <%= yield %>
    </div>
  </body>

  <script>
    App.init()

  </script>

  <script type="text/html" id='popover-template'>
    <div class="arrow"></div>
    <div class="details">
      <div class="thumb-image" style="background-image: url('<%%= image_url %>')"></div>
      <h1 class="title"><%%= title %></h1>
      <h2 class="subtitle">
        <%% if (typeof subtitle != "undefined" ) { %>
          <%%= subtitle %>,
        <%% } %>
        <%% if (typeof price != "undefined" ) { %>
          <%%= price %>
        <%% } %>
      </h2>
      <div class="description"><%%= description %></div>
    </div>
    <div class="actions">
    <a href="<%%= url %>" class="button small outline" target="_blank">shop now</a>
    </div>
  </script>

  <script>

    function toggle_rendering() {
      $('article.page').toggleClass('paginate').toggleClass('scroll');
      App.refresh()
    }

    function toggle_debugger() {
      $('.debug').toggleClass('active');
    }

    function toggle_popover(target) {
      if (!App.products) return;

      var popover       = $('.product-popover'),
          spacing       = 18,

          hotspotHeight = target.height(),
          hotspotWidth  = target.width(),
          hotspotCenter = {
            'x': target.offset().left + hotspotWidth/2,
            'y': target.offset().top + hotspotHeight/2
          },

          template      = $("#popover-template").html(),
          targetUrl     = target.attr('href'),

          arrow         = $('<div>'+template+'</div>').find('.arrow'),
          arrowSpacing  = 110,
          arrowPosition,
          popoverWidth,
          popoverHeight,
          data;

      if (popover.length == 0) {
        popover = $('<div class="product-popover dark-theme"></div>');
        $('body').append(popover);
      }

      // hide popover
      if (popover.hasClass('show')) {
        popover.removeClass('show').addClass('hide');

      } else {

        data = _.find(App.products, function(product) {
          return targetUrl == product.url;
        });

        if (typeof data == "undefined") return;

        popover.html(_.template(template, data));

        popoverWidth = popover.width();
        popoverHeight = popover.height();

        // ipad
        if (document.body.offsetWidth > 480) {

          arrow.removeClass('up down left right');

          // arrow point down
          if (document.body.offsetHeight - hotspotCenter.y - hotspotHeight/2 < popoverHeight) {
            arrowPosition = 'down';
            popover.css('top', hotspotCenter.y - hotspotHeight/2 - popoverHeight);

          // arrow point up
          } else {
            arrowPosition = 'up';
            popover.css('top', hotspotCenter.y + hotspotHeight/2 + spacing);
          }

          // arrow position left
          if (hotspotCenter.x < popoverWidth - arrowSpacing) {
            arrowPosition += ' left';
            popover.css('left', hotspotCenter.x - arrowSpacing);

          // arrow position right
          } else {
            arrowPosition += ' right';
            popover.css('left', hotspotCenter.x - popoverWidth + arrowSpacing);
          }

          popover.find('.arrow').addClass(arrowPosition)
        }

        // show popover
        popover.removeClass('hide').addClass('show');
      }

      $('body').toggleClass('stop-scrolling');
      $('article.page .content').toggleClass('stop-scrolling');
    }

    $('body').on('click', function(e) {
      if ($(e.target).closest('a').hasClass('hotspot')) {
        toggle_popover($(e.target).closest('a'));
        return false;
      } else if ($('.product-popover').hasClass('show')) {
        $('.product-popover').removeClass('show').addClass('hide');
        $('body').removeClass('stop-scrolling');
        $('article.page .content').removeClass('stop-scrolling');
      }
    })
  </script>

  <% if respond_to? :yield_content %>
    <%= yield_content :js %>
  <% else %>
    <%= yield :js %>
  <% end %>

</html>

<% end %>
