
<%=
  render "toc", locals: { :page => Hashie::Mash.new(
    title: "Holiday Issue",
    description: nil,
    author_name: nil,
    author_icon: nil,
    content_type: "photo",
    image_url: "http://cl.ly/image/27131I1H411P/Screen%20Shot%202013-12-12%20at%204.25.17%20pm.png",
    brand_image: "http://cl.ly/image/1V2Z0K1J1H1g/header-text.png",
    published_at: 3.days.ago,

    content: lorem_ipsum(5) + <<-BLOCK,
      <p>
        <img src="http://f.cl.ly/items/2R0x3B113o1H2G1y2R3z/signature.png" alt="">
      </p>

      <ul class="contributors">
        <h2><em>A blogger powered magazine</em></h2>
        <li>
          <img class="avatar" src="http://cl.ly/image/3u2R2z2h0L3V/aubrey.png" alt="">
          <span>Aubrey Daquinag</span>
          <span class="description">The Love Assembly</span>
        </li>
        <li>
          <img class="avatar" src="http://cl.ly/image/1b2M3v0I0m2K/jessica.png" alt="">
          <span>Jessica Cheung</span>
          <span class="description">Jysla Kay blog</span>
        </li>
        <li>
          <img class="avatar" src="http://cl.ly/image/3T3Q03470k10/michelle.png" alt="">
          <span>Michelle Lau</span>
          <span class="description">A minute away from Snowlng</span>
        </li>
        <li>
          <img class="avatar" src="http://cl.ly/StPu/Image%202013.12.11%204%3A54%3A01%20pm.png" alt="">
          <span>Zyralyn Bacani</span>
          <span class="description">Content Writer of Issue</span>
        </li>
      </ul>
BLOCK

    layout: params.fetch(:layout, {}).reverse_merge(
      type: "toc",
      image_align: "left",
      image_style: "cover",
      content_style: "black",
      content_align: "left",
      content_valign: "bottom",
      content_overflow: "paginate"
    )
  )}
%>
