<!--
  http://localhost:3000/issue/one-col?layout[image_style]=fit
 -->

<%= render "one_column", locals: {
  page: Hashie::Mash.new(
    title: "SUMMER SURVIVAL GUIDE",
    description: lorem_ipsum,
    author_name: "Zyralyn Bacani",
    author_icon: "http://cl.ly/StPu/Image%202013.12.11%204%3A54%3A01%20pm.png",
    content_type: "article",
    top_image: "http://31.media.tumblr.com/e8b9ca89ac00aaf1878b83d2ff5c9832/tumblr_mx3tsop3GI1st5lhmo1_1280.jpg",
    published_at: 3.days.ago,

    content: <<-BLOCK,
    <p>
      I’m sure most of you can relate when I say that living in Australia makes you experience all four seasons in one day. From the switch to an intense winter to a scorching summer, it surely can’t be good for our skin or hair! Zyralyn from Issue tells you how to beat the heat this summer and give it the R&R that it deserves!
    </p>

    #{ 50.times.map{ "<p>#{lorem_ipsum(10)}</p>" }.join("") }
  BLOCK

    layout: params.fetch(:layout, {}).reverse_merge(
      type: "one_column",
      image_align: "left",
      image_style: "cover",
      content_overflow: "paginate"
    )
  )}
%>
