<style>
  .page.has-product {
    text-align: left;
  }

  .page.has-product.no-image .cover-area {
    padding: 10px;
    min-height: initial;
    width: 100%;
    height: 75%;
  }

  .page.has-product header .title {
    letter-spacing: 2px;
    font-weight: normal;
    font-size: 24px;
    font-family: "proxima_nova_bold";
  }

  .page.has-product header .category {
    color: #666;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    font-family: "proxima_nova_bold";
  }

  .page.has-product .content h3 {
    text-align: left;
    text-transform: uppercase;
    font-weight: normal;
    font-family: "EB Garamond";
  }

  .page.has-product .product-set {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    white-space: normal;
  }

  .page.has-product .product-set li {
    position: relative;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
    height: 140px;
    vertical-align: middle;
    text-align: center;
  }

  .page.has-product .product-set li img {
    max-width: 100%;
    max-height: 100%;
  }

  .page.has-product .product-set li .tag {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #333;
    color: white;
    text-align: center;
    font-weight: bold;
    line-height: 1.8;
  }

  .page.has-product .product-set.set-2 li {
    width: 100%;
    height: 50%;
  }

  .page.has-product .product-set.set-4 li {
    width: 49%;
    height: 50%;
  }

  .page.has-product .product-set.set-6 li {
    width: 49%;
  }

  @media only screen and (min-width: 768px) {
    .page.has-product.cover-right .column-break {
      display: block;
    }

    .page.has-product .cover-area {
      position: absolute;
      top: 0;
      right: initial;
      bottom: initial;
      width: 50%;
      height: 100%;
    }

    .page.has-product.scroll.cover-left .content,
    .page.has-product.scroll.cover-right .content {
      overflow: auto;
      height: 100%;
    }

    .page.has-product.cover-left .cover-area {
      left: 0;
    }

    .page.has-product.paginate .content header {
      padding: 18px 0;
    }
  }

  @media only screen and (min-width: 768px) and (orientation: portrait) {
    .page.has-product.cover-left .content {
      margin-left: 384px;
    }

    .page.has-product.cover-left.paginate .cover-area {
      width: 384px;
    }

    .page.has-product.no-image .content {
      width: 100%;
    }

    .page.has-product.no-image .product-set li {
      height: 200px;
    }

    .page.has-product.no-image .product-set.set-6 li {
      width: 30%;
    }
  }

  @media only screen and (min-width: 768px) and (orientation: landscape) {
    .page.has-product.cover-left .content {
      margin-left: 512px;
    }

    .page.has-product.no-image .content {
      margin: 0;
    }

    .page.has-product.paginate .cover-area {
      width: 512px;
    }

    .page.has-product .product-set li {
      height: 200px;
    }

    .page.has-product .product-set.set-6 li {
      width: 49%;
    }

    .page.has-product.no-image .product-set {
      position: absolute;
      top: 50%;
      margin-top: -300px;
      width: 512px;
    }

    .page.has-product.no-image.left .product-set {
      left: 512px;
    }

    .page.has-product.no-image.right .content {
      margin-left: 512px;
    }

    .page.has-product.no-image.right .product-set {
      left: 0;
    }
  }
</style>

<%= render "column", locals: {
  page: Hashie::Mash.new(
    title: "MUST HAVES",
    description: nil,
    author_name: nil,
    author_icon: nil,
    top_image: "http://31.media.tumblr.com/5d40ddbd07fc716e715bd5462e305edd/tumblr_mx3tmhXNNE1st5lhmo1_1280.jpg",
    # top_image: nil,
    content_type: "article",
    published_at: 3.days.ago,

    category: nil,
    content: <<-BLOCK,
    #{ 10.times.map{ "<p>#{lorem_ipsum(10)}</p>" }.join("") }
  BLOCK

    products: [
      'http://cl.ly/image/3740122Z2G2j/Screen%20Shot%202013-12-13%20at%2011.51.59%20am.png',
      'http://cl.ly/image/0W2z1x231p2D/Screen%20Shot%202013-12-18%20at%206.28.32%20pm.png',
      'http://cl.ly/image/16260q391k3t/Screen%20Shot%202013-12-13%20at%2011.31.23%20am.png',
      'http://cl.ly/image/0E1D2G2z2w3g/Screen%20Shot%202013-12-13%20at%2011.32.49%20am.png',
      'http://cl.ly/image/3I3k0r000g0p/Screen%20Shot%202013-12-13%20at%2012.09.59%20pm.png',
      'http://cl.ly/image/2a2B1x2Y192R/Screen%20Shot%202013-12-13%20at%2011.32.09%20am.png'
    ],

    #
    # Products Split View Formatting
    #
    # Cover Area Layout
    #   image_align:      -
    #   image_style:      cover  | fit    | background
    #
    # Content Layout
    #   content_overflow: scroll | paginate
    #
    # Content Position In Background Image Layout
    #   content_style:    white  | black
    #   content_align:    left   | center | right
    #   content_height:   auto   | full
    #   content_valign:   top    | middle | bottom
    layout: params.fetch(:layout, {}).reverse_merge(
      type: "two-column",
      image_align: "left",
      image_style: "cover",
      content_overflow: "scroll",
      content_style: "white",
      content_align: "right",
      content_height: "auto",
      content_valign: "bottom"
    )
  )}
%>
