<!--
  http://localhost:3000/issue/two-col?layout[image_align]=right&layout[image_style]=cover
 -->

<style>
  .page.has-product .content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 25px;
  }

  .page.has-product .cover-area {
    display: block;
  }

  .page.has-product .cover-area header {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5% 0 0;
    height: 15%;
  }

  .page.has-product .cover-area .product-set {
    float: left;
    clear: left;
    width: 50%;
  }

  .page.has-product .title {
    /*font-style: italic;
    font-size: 56px;
    font-family: 'BodoniSvtyTwoITCTT-Book';*/

    letter-spacing: 2px;
    font-weight: normal;
    font-size: 24px;
    font-family: "proxima_nova_bold";
  }

  .page.has-product .content .body {
    padding: 25px 0;
  }

  .page.has-product .content h3 {
    text-transform: uppercase;
    font-weight: normal;
    font-family: "EB Garamond";
  }

  .page.has-product .product {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 25px;
    width: 100%;
    height: 100%;
  }

  .page.has-product header {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 5% 0 0;
    height: 15%;
  }

  .page.has-product header .category {
    color: #666;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    font-family: "proxima_nova_bold";
  }

  .page.has-product .product-set {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .page.has-product .product-set.set-2 {
    height: 45%;
  }

  .page.has-product .product-set.set-4 {
    height: 65%;
  }

  .page.has-product .product-set.set-4 li {
    height: 50%;
  }

  .page.has-product .product-set.set-6 {
    height: 85%;
  }

  .page.has-product .product-set.set-6 li {
    height: 33.33%;
  }

  .page.has-product .product-set li {
    position: relative;
    display: inline-block;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 5px;
    width: 50%;
    height: 100%;
    text-align: center;
  }

  .page.has-product .product-set li img {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    vertical-align: middle;
  }

  .page.has-product .product-set li .tag {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -13px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #000;
    color: white;
    text-align: center;
    font-weight: bold;
    line-height: 1.6;
  }

  .page.has-product.align_left.no-image .product_area {
    float: left;
    width: 50%;
    height: 100%;
  }

  .page.has-product.align_right.no-image .product_area {
    float: right;
    width: 50%;
    height: 100%;
  }

  .page.has-product.align_right.no-image .content {
    float: left;
  }

  @media screen and (orientation:portrait) {
    .page.has-product .product header {
      height: 15%;
    }

    .page.has-product .product-set {
      height: 85%;
    }

    .page.has-product .col.half .product-set li {
      width: 33.33%;
      height: 50%;
    }

    #issue-viewer:not(.protrait) .page.has-product .col.half {
      width: 49.99%;
      height: 100%;
    }

    #issue-viewer:not(.protrait) .page.has-product .col.half .product header {
      height: 10%;
    }

    #issue-viewer:not(.protrait) .page.has-product .col.half .product-set {
      height: 90%;
    }

    #issue-viewer:not(.protrait) .page.has-product .col.half .product-set li {
      width: 50%;
      height: 33.33%;
    }
  }

  #issue-viewer.portrait .page.has-product .col.half {
    width: 100%;
    height: 49.99%;
  }

  #issue-viewer.portrait .page.has-product .product header {
    height: 15%;
  }

  #issue-viewer.portrait .page.has-product .product-set {
    height: 85%;
  }

  #issue-viewer.portrait .page.has-product .col.half .product-set li {
    width: 33.33%;
    height: 50%;
  }
</style>

<%= render "split", locals: {
  page: Hashie::Mash.new(
    title: "Protect & Revitalise",
    description: nil,
    author_name: nil,
    author_icon: nil,
    top_image: "http://31.media.tumblr.com/5d40ddbd07fc716e715bd5462e305edd/tumblr_mx3tmhXNNE1st5lhmo1_1280.jpg",
    # top_image: nil,
    content_type: "article",
    published_at: 3.days.ago,

    category: "must have",
    content: <<-BLOCK,
    <h3>beauty trends</h3>
    <p>Shelve your matte cosmetics this season because it’s all about sporting that balmy, hydrated skin until it has drunk its fill!</p>
    <p>The latest craze this Summer is all about luminous skin with that natural dewy finish. This was spotted in various runways in New York to the likes of Marni, Matthew Williamson and Balmain- so investing in cream highlighters is our top survival tip this season, which can be combined with your foundation to suit your skin tone.</p>

    <h3>THE SKIN</h3>
    <p>White and its family of hues including eggshell, vanilla and sand are used to brighten the face this spring. Highlight bone structure just where the sun hits by either generously applying the color with a few wide strokes of a make-up brush, or by using it as a topcoat to fade darker tones and make for a fresh finish. Seen at: Catherine Malandrino, Emilio Pucci and Prada.</p>
    <p>This season it’s all about luminous skin, so forget the matte look and use powder sparingly. The key products to invest in are cream highlighters, which can be mixed and blended to suit your skin tone. We saw this at most of the shows – it’s that youthful glowing look that the models have even though it’s their eighth show of the day and they’re running on little sleep. So what are the make-up artists’ tips for getting the perfect glow?</p>
    <p>“The first step for base is moisturisers,” says head make-up artist Baltasar Gonzaez Pinel backstage at Roland Mouret. “I like MAC’s Studio Moisture Fix. It’s a cream that doesn’t look oily but it has this feeling that you are applying something rich on the skin. Then I use Studio Moisture Foundation, which is a perfect blend of silicon based ingredients and pigments, so that when you blend it, blemishes disappear.”</p>
    <p>At Giambattista Valli, legendary make-up director Val Garland emphasised the importance of highlighters: “For this show there is always a sense of sheen, so highlighters are very much an essential component. For spring, the tones are anything that is flesh based – less pearl and more real.”</p>
    <p>Only 1-2 mere drops of the A’kin rose Ship oil are needed to instantly rejuvenate the skin and over time, maintain your skin’s elasticity.</p>
    <p>For those with oily skin and acne, I know exactly what you’re thinking! Why would you apply more oil to your skin, right? Well A’kin’s rosehip oil helps re-balance the oil in the skin, regenerating the natural oil production levels and reducing the appearance of scarring. It absorbs right into the skin, without leaving an oily residue.</p>

    <h3>Quick tips:</h3>
    <p>Combine 2-3 drops into your daily moisturizer for a more effective result.</p>
    <p>Exfoliate those pores! While rosehip oil will assist with oily and congested skin, it’s essential that you exfoliate at least once a week to help remove any build-up. Maybe try a chemical exfoliant because it means less stress to already agitated skin!</p>

    <h3>SUBHEADING</h3>
    <p>condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>
  BLOCK

    products: [
      'http://cl.ly/image/3740122Z2G2j/Screen%20Shot%202013-12-13%20at%2011.51.59%20am.png',
      'http://cl.ly/image/0d311K2J3V0p/Screen%20Shot%202013-12-13%20at%2011.41.47%20am.png',
      'http://cl.ly/image/3I3k0r000g0p/Screen%20Shot%202013-12-13%20at%2012.09.59%20pm.png',
      'http://cl.ly/image/16260q391k3t/Screen%20Shot%202013-12-13%20at%2011.31.23%20am.png',
      'http://cl.ly/image/2a2B1x2Y192R/Screen%20Shot%202013-12-13%20at%2011.32.09%20am.png',
      'http://cl.ly/image/0E1D2G2z2w3g/Screen%20Shot%202013-12-13%20at%2011.32.49%20am.png'
    ],

    abc: <<-BLOCK,
    <ul class="product-set">
      <li>
        <img src="http://cl.ly/image/3740122Z2G2j/Screen%20Shot%202013-12-13%20at%2011.51.59%20am.png" alt="">
        <span class="tag">1</span>
      </li>
      <li>
        <img src="http://cl.ly/image/0d311K2J3V0p/Screen%20Shot%202013-12-13%20at%2011.41.47%20am.png" alt="">
        <!-- <img src="http://placehold.it/500x200" alt=""> -->
        <span class="tag">2</span>
      </li>
      <li>
        <img src="http://cl.ly/image/3I3k0r000g0p/Screen%20Shot%202013-12-13%20at%2012.09.59%20pm.png" alt="">
        <span class="tag">3</span>
      </li>
      <li>
        <img src="http://cl.ly/image/16260q391k3t/Screen%20Shot%202013-12-13%20at%2011.31.23%20am.png" alt="">
        <span class="tag">4</span>
      </li>
      <li>
        <img src="http://cl.ly/image/2a2B1x2Y192R/Screen%20Shot%202013-12-13%20at%2011.32.09%20am.png" alt="">
        <span class="tag">5</span>
      </li>
      <li>
        <img src="http://cl.ly/image/0E1D2G2z2w3g/Screen%20Shot%202013-12-13%20at%2011.32.49%20am.png" alt="">
        <span class="tag">6</span>
      </li>
    </ul>
  BLOCK

    layout: params.fetch(:layout, {}).reverse_merge(
      type: "split",
      image_align: "left",
      image_style: "cover",
      content_overflow: nil,
      product_align: "right"
    )
  )}
%>
