/* line 6, ../../stylesheets/admin.scss */
[role=main] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  margin-left: 80px;
}
/* line 11, ../../stylesheets/admin.scss */
[role=main] > .content {
  margin: 20px 40px;
}
/* line 15, ../../stylesheets/admin.scss */
#sidebar + [role=main] {
  margin-left: 400px;
}

/*
  Sidebar
  
  
*/
/* line 27, ../../stylesheets/admin.scss */
#sidebar {
  background: #f4f6f7;
  border-right: 1px solid #eeeeee;
  position: fixed;
  left: 80px;
  top: 0;
  overflow-y: scroll;
  width: 320px;
  height: 100%;
  float: left;
}

/*
  Sidebar item
  
  .item
  
*/
/* line 49, ../../stylesheets/admin.scss */
#sidebar .nav li > a {
  overflow: hidden;
  *zoom: 1;
  display: block;
  padding: 10px 20px;
  color: #333;
}
/* line 57, ../../stylesheets/admin.scss */
#sidebar .nav li:hover {
  background: #fff;
}
/* line 61, ../../stylesheets/admin.scss */
#sidebar .nav li.item {
  display: block;
  font-size: 13px;
  border-bottom: 1px solid #eeeeee;
  position: relative;
}
/* line 68, ../../stylesheets/admin.scss */
#sidebar .nav li.item figure {
  float: left;
  margin: 10px 10px 10px 0;
  vertical-align: top;
}
/* line 73, ../../stylesheets/admin.scss */
#sidebar .nav li.item figure img {
  vertical-align: text-top;
}
/* line 78, ../../stylesheets/admin.scss */
#sidebar .nav li.item a {
  color: #666;
}
/* line 82, ../../stylesheets/admin.scss */
#sidebar .nav li.item .description {
  margin: 10px 0 0;
  line-height: 1.3;
}
/* line 87, ../../stylesheets/admin.scss */
#sidebar .nav li.item .title {
  font-size: 18px;
  color: #333;
  font-weight: normal;
  margin-top: 10px;
}
/* line 94, ../../stylesheets/admin.scss */
#sidebar .nav li.item .info {
  margin-top: 5px;
  clear: left;
  font-style: italic;
}
/* line 100, ../../stylesheets/admin.scss */
#sidebar .nav li.item .time {
  float: right;
}
/* line 107, ../../stylesheets/admin.scss */
#sidebar .nav li.item .actions {
  position: absolute;
  right: 20px;
  top: 20px;
}
/* line 112, ../../stylesheets/admin.scss */
#sidebar .nav li.item .actions .button {
  opacity: 0.01;
}
/* line 118, ../../stylesheets/admin.scss */
#sidebar .nav li.item:hover .button, #sidebar .nav li .item.hover .button {
  opacity: 1;
}

/* line 129, ../../stylesheets/admin.scss */
#sidebar form {
  padding: 20px 20px 80px;
}
/* line 134, ../../stylesheets/admin.scss */
#sidebar .filter-container {
  border-bottom: 1px dashed #cccccc;
  margin: 30px 20px 20px;
  position: relative;
}
/* line 139, ../../stylesheets/admin.scss */
#sidebar .filter-container .caret {
  position: absolute;
  right: 15px;
  background: #F4F6F7;
  z-index: 999;
}
/* line 146, ../../stylesheets/admin.scss */
#sidebar .filter-container select.filter {
  position: absolute;
  right: 10px;
  bottom: -0.7em;
  border: none;
  background: #F4F6F7;
  color: #666;
  font-size: 14px;
  text-align: center;
  text-align: -webkit-center;
  -webkit-appearance: none;
  -webkit-appearance: button;
  -moz-appearance: button;
  width: 110px;
  padding: 0 10px;
  outline: none;
  -moz-appearance: window;
}
