/*======================================================
    Layout and rendering
    ---
    
    No style or presentation code should be in this stylesheet

    Default style for 320px

    Structure (menu/main)
    Grid (row/col)
  ======================================================*/
/* line 17, ../../stylesheets/grid.scss */
.col {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  /*  height: 99.9%;          // why*/
  float: left;
}
/* line 24, ../../stylesheets/grid.scss */
.col .item:last-child {
  margin-bottom: 0;
}

/* line 29, ../../stylesheets/grid.scss */
.row {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
  position: relative;
  /*  width: 100%;            // ???*/
  overflow: hidden;
  *zoom: 1;
}
/* line 37, ../../stylesheets/grid.scss */
.row:last-child {
  background: none;
}

/*======================================================
    Divided width
  ======================================================*/
/* line 47, ../../stylesheets/grid.scss */
.col.full, .item.full {
  width: 100%;
}
/* line 49, ../../stylesheets/grid.scss */
.col.half, .item.half {
  width: 48%;
}
/* line 50, ../../stylesheets/grid.scss */
.col.third, .item.third {
  width: 31.333%;
}
/* line 51, ../../stylesheets/grid.scss */
.col.third-2, .item.third-2 {
  width: 64.667%;
}
/* line 53, ../../stylesheets/grid.scss */
.col.fourty, .item.fourty {
  width: 39%;
}
/* line 54, ../../stylesheets/grid.scss */
.col.sixty, .item.sixty {
  width: 59%;
}
/* line 56, ../../stylesheets/grid.scss */
.col:last-child, .item:last-child {
  margin-right: 0;
}

/* line 62, ../../stylesheets/grid.scss */
.no-gutter .col.half, .no-gutter .item.half {
  width: 49.9%;
}
/* line 63, ../../stylesheets/grid.scss */
.no-gutter .col.third, .no-gutter .item.third {
  width: 33.3%;
}
/* line 64, ../../stylesheets/grid.scss */
.no-gutter .col.third-2, .no-gutter .item.third-2 {
  width: 66.6%;
}
/* line 65, ../../stylesheets/grid.scss */
.no-gutter .col.sixth, .no-gutter .item.sixth {
  width: 15.02%;
}
/* line 67, ../../stylesheets/grid.scss */
.no-gutter .col.fourty, .no-gutter .item.fourty {
  width: 39%;
}
/* line 68, ../../stylesheets/grid.scss */
.no-gutter .col.sixty, .no-gutter .item.sixty {
  width: 59%;
}

/* line 72, ../../stylesheets/grid.scss */
col.centred {
  float: none !important;
  margin: 0 auto !important;
}

/* line 79, ../../stylesheets/grid.scss */
.row.v-full, .col.v-full, .item.v-full {
  height: 100%;
}
/* line 80, ../../stylesheets/grid.scss */
.row.v-half, .col.v-half, .item.v-half {
  height: 49.4%;
}
/* line 81, ../../stylesheets/grid.scss */
.row.v-third, .col.v-third, .item.v-third {
  height: 35.03%;
}
/* line 82, ../../stylesheets/grid.scss */
.row.v-third-2, .col.v-third-2, .item.v-third-2 {
  height: 64%;
}

/*======================================================
        12 column grid collapsed for mobile
  ======================================================*/
/* line 89, ../../stylesheets/grid.scss */
.x1, .x2, .x3, .x4, .x5, .x6, .x7, .x8, .x9, .x10, .x11, .x12 {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* line 95, ../../stylesheets/grid.scss */
  .col {
    float: left;
    margin-right: 2%;
  }
  /* line 99, ../../stylesheets/grid.scss */
  .col:last-child {
    margin-right: 0;
  }

  /* line 104, ../../stylesheets/grid.scss */
  .x1 {
    width: 6.333%;
  }

  /* line 105, ../../stylesheets/grid.scss */
  .x2 {
    width: 14.667%;
  }

  /* line 106, ../../stylesheets/grid.scss */
  .x3 {
    width: 23%;
  }

  /* line 107, ../../stylesheets/grid.scss */
  .x4 {
    width: 31.333%;
  }

  /* line 108, ../../stylesheets/grid.scss */
  .x5 {
    width: 39.667%;
  }

  /* line 109, ../../stylesheets/grid.scss */
  .x6 {
    width: 48%;
  }

  /* line 110, ../../stylesheets/grid.scss */
  .x7 {
    width: 56.333%;
  }

  /* line 111, ../../stylesheets/grid.scss */
  .x8 {
    width: 64.667%;
  }

  /* line 112, ../../stylesheets/grid.scss */
  .x9 {
    width: 73%;
  }

  /* line 113, ../../stylesheets/grid.scss */
  .x10 {
    width: 81.333%;
  }

  /* line 114, ../../stylesheets/grid.scss */
  .x11 {
    width: 89.667%;
  }

  /* line 115, ../../stylesheets/grid.scss */
  .x12 {
    width: 100%;
  }
}
