@charset "UTF-8";
/*
    Layout and rendering
    ---
    No style or presentation code should be in this stylesheet

    Default style for 320px
    
    Grid system
*/
/*
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/* line 18, ../../stylesheets/h5bp.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 19, ../../stylesheets/h5bp.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 20, ../../stylesheets/h5bp.scss */
audio:not([controls]) {
  display: none;
}

/* line 21, ../../stylesheets/h5bp.scss */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
/* line 33, ../../stylesheets/h5bp.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 35, ../../stylesheets/h5bp.scss */
body {
  margin: 0;
  font-size: 13px;
  line-height: 1.231;
}

/* line 37, ../../stylesheets/h5bp.scss */
body, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

/* =============================================================================
   Links
   ========================================================================== */
/* line 45, ../../stylesheets/h5bp.scss */
a {
  color: #00e;
}

/* line 46, ../../stylesheets/h5bp.scss */
a:visited {
  color: #551a8b;
}

/* line 47, ../../stylesheets/h5bp.scss */
a:hover {
  color: #06e;
}

/* line 48, ../../stylesheets/h5bp.scss */
a:focus {
  outline: thin dotted;
}

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
/* line 51, ../../stylesheets/h5bp.scss */
a:hover, a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/* line 58, ../../stylesheets/h5bp.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 60, ../../stylesheets/h5bp.scss */
b, strong {
  font-weight: bold;
}

/* line 62, ../../stylesheets/h5bp.scss */
blockquote {
  margin: 1em 40px;
}

/* line 64, ../../stylesheets/h5bp.scss */
dfn {
  font-style: italic;
}

/* line 66, ../../stylesheets/h5bp.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 68, ../../stylesheets/h5bp.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 70, ../../stylesheets/h5bp.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* Redeclare monospace font family: h5bp.com/j */
/* line 73, ../../stylesheets/h5bp.scss */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* Improve readability of pre-formatted text in all browsers */
/* line 76, ../../stylesheets/h5bp.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 78, ../../stylesheets/h5bp.scss */
q {
  quotes: none;
}

/* line 79, ../../stylesheets/h5bp.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 81, ../../stylesheets/h5bp.scss */
small {
  font-size: 85%;
}

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
/* line 84, ../../stylesheets/h5bp.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 85, ../../stylesheets/h5bp.scss */
sup {
  top: -0.5em;
}

/* line 86, ../../stylesheets/h5bp.scss */
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/* line 93, ../../stylesheets/h5bp.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 94, ../../stylesheets/h5bp.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 95, ../../stylesheets/h5bp.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e
 */
/* line 107, ../../stylesheets/h5bp.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/*
 * Correct overflow not hidden in IE9
 */
/* line 113, ../../stylesheets/h5bp.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/* line 120, ../../stylesheets/h5bp.scss */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/* line 127, ../../stylesheets/h5bp.scss */
form {
  margin: 0;
}

/* line 128, ../../stylesheets/h5bp.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Indicate that 'label' will shift focus to the associated form element */
/* line 131, ../../stylesheets/h5bp.scss */
label {
  cursor: pointer;
}

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
/* line 138, ../../stylesheets/h5bp.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
/* line 146, ../../stylesheets/h5bp.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */
/* line 153, ../../stylesheets/h5bp.scss */
button, input {
  line-height: normal;
  *overflow: visible;
}

/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */
/* line 159, ../../stylesheets/h5bp.scss */
table button, table input {
  *overflow: auto;
}

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */
/* line 166, ../../stylesheets/h5bp.scss */
button, input[type="button"], input[type="reset"], input[type="submit"], [role="button"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/*
 * Consistent box sizing and appearance
 */
/* line 172, ../../stylesheets/h5bp.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 173, ../../stylesheets/h5bp.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 174, ../../stylesheets/h5bp.scss */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
/* line 180, ../../stylesheets/h5bp.scss */
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
/* line 187, ../../stylesheets/h5bp.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* Colors for form validity */
/* line 191, ../../stylesheets/h5bp.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* =============================================================================
   Tables
   ========================================================================== */
/* line 198, ../../stylesheets/h5bp.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 199, ../../stylesheets/h5bp.scss */
td {
  vertical-align: top;
}

/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */
/*
 * Media queries for responsive design github.com/h5bp/mobile-boilerplate/wiki/The-Style
 */
/* Styles for desktop and large screen ----------- */
/*styles for 800px and up!*/
@media only screen and (min-width: 800px) {
  /* Styles */
}
/*/mediaquery*/
/* iPhone 4, Opera Mobile 11 and other high pixel ratio devices ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}
/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* prevent callout */
/* line 250, ../../stylesheets/h5bp.scss */
.nocallout {
  -webkit-touch-callout: none;
}

/* A hack for HTML5 contenteditable attribute on mobile */
/* line 253, ../../stylesheets/h5bp.scss */
textarea[contenteditable] {
  -webkit-appearance: none;
}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if they have been set as display: none */
/* line 256, ../../stylesheets/h5bp.scss */
.gifhidden {
  position: absolute;
  left: -100%;
}

/* For image replacement */
/* line 259, ../../stylesheets/h5bp.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

/* line 260, ../../stylesheets/h5bp.scss */
.ir br {
  display: none;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
/* line 263, ../../stylesheets/h5bp.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
/* line 266, ../../stylesheets/h5bp.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
/* line 269, ../../stylesheets/h5bp.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
/* line 272, ../../stylesheets/h5bp.scss */
.invisible {
  visibility: hidden;
}

/* Contain floats: h5bp.com/q */
/* line 275, ../../stylesheets/h5bp.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 276, ../../stylesheets/h5bp.scss */
.clearfix:after {
  clear: both;
}

/* line 277, ../../stylesheets/h5bp.scss */
.clearfix {
  *zoom: 1;
}

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 287, ../../stylesheets/h5bp.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: h5bp.com/s */
  /* line 288, ../../stylesheets/h5bp.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 289, ../../stylesheets/h5bp.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 290, ../../stylesheets/h5bp.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 291, ../../stylesheets/h5bp.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 292, ../../stylesheets/h5bp.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 293, ../../stylesheets/h5bp.scss */
  thead {
    display: table-header-group;
  }

  /* h5bp.com/t */
  /* line 294, ../../stylesheets/h5bp.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 295, ../../stylesheets/h5bp.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 297, ../../stylesheets/h5bp.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 298, ../../stylesheets/h5bp.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
/* line 17, ../../stylesheets/layout.scss */
html {
  -webkit-font-smoothing: antialiased;
}

/* line 25, ../../stylesheets/layout.scss */
div.container {
  background: #ffc;
  margin: 0 auto;
  overflow: hidden;
  width: 96%;
}

/*
    Item
    
    define layout and positioning of a rendering unit
        
*/
/* line 35, ../../stylesheets/layout.scss */
.item {
  position: relative;
  background: #fff;
  float: left;
  margin: 0 1% 2% 0;
  overflow: hidden;
  width: 100%;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 55, ../../stylesheets/layout.scss */
.item .info {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  display: inline-block;
}

/* line 65, ../../stylesheets/layout.scss */
.col {
  position: relative;
  font-size: 120%;
  width: 100%;
  height: 91%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin: 0 1% 0 0;
  overflow: hidden;
  /* Backgorund hinting mode */
}
/* line 77, ../../stylesheets/layout.scss */
.col .item {
  height: 100%;
}
/* line 81, ../../stylesheets/layout.scss */
.col .item:last-child {
  margin-bottom: 0;
}

/* line 91, ../../stylesheets/layout.scss */
.row {
  position: relative;
  font-size: 120%;
  overflow: hidden;
  *zoom: 1;
  width: 100%;
  height: 91%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 101, ../../stylesheets/layout.scss */
.row:last-child {
  background: none;
}
/* line 105, ../../stylesheets/layout.scss */
.row.v-full {
  height: 100%;
}
/* line 106, ../../stylesheets/layout.scss */
.row.v-half {
  height: 45%;
  margin-bottom: 1%;
}
/* line 111, ../../stylesheets/layout.scss */
.row.v-third {
  height: 32.03%;
  margin-bottom: 1%;
}
/* line 115, ../../stylesheets/layout.scss */
.row.v-third-2 {
  height: 66%;
}
/* line 122, ../../stylesheets/layout.scss */
.page .row > .item {
  height: 100%;
}

/* line 128, ../../stylesheets/layout.scss */
.page {
  margin: 55px 1% 0px 1%;
  max-height: 100%;
}
/* line 132, ../../stylesheets/layout.scss */
.page .row:last-child {
  margin-bottom: 0;
}

/* line 139, ../../stylesheets/layout.scss */
.col.full, .item.full {
  width: 100%;
}
/* line 140, ../../stylesheets/layout.scss */
.col.half, .item.half {
  width: 49.5%;
}
/* line 141, ../../stylesheets/layout.scss */
.col.third, .item.third {
  width: 32.65%;
}
/* line 142, ../../stylesheets/layout.scss */
.col.third-2, .item.third-2 {
  width: 64%;
}
/* line 144, ../../stylesheets/layout.scss */
.col.sixth, .item.sixth {
  width: 15.02%;
}
/* line 146, ../../stylesheets/layout.scss */
.col.fourty, .item.fourty {
  width: 39%;
}
/* line 147, ../../stylesheets/layout.scss */
.col.sixty, .item.sixty {
  width: 59%;
}
/* line 149, ../../stylesheets/layout.scss */
.col.v-full, .item.v-full {
  height: 100%;
}
/* line 150, ../../stylesheets/layout.scss */
.col.v-half, .item.v-half {
  height: 49.40%;
}
/* line 151, ../../stylesheets/layout.scss */
.col.v-third, .item.v-third {
  height: 35.03%;
}
/* line 152, ../../stylesheets/layout.scss */
.col.v-third-2, .item.v-third-2 {
  height: 64%;
}
/* line 154, ../../stylesheets/layout.scss */
.col:last-child, .item:last-child {
  margin-right: 0;
}

@media only screen and (min-width: 768px) {
  /* 768 =================================================== */
}
@media only screen and (min-width: 992px) {
  /* 992 =================================================== */
  /* line 14, ../../stylesheets/_992.scss */
  [role=main] {
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1382px) {
  /* 1382 =================================================== */
}
/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
  /* line 2, ../../stylesheets/_landscape.scss */
  article.page .image.cover {
    position: relative;
    height: 200%;
    width: 200%;
    top: -50%;
    left: -50%;
  }
  /* line 10, ../../stylesheets/_landscape.scss */
  article.page .price, article.page .store {
    display: inline-block;
  }
  /* line 14, ../../stylesheets/_landscape.scss */
  article.page .price {
    float: left;
    line-height: 37px;
  }
  /* line 19, ../../stylesheets/_landscape.scss */
  article.page .store {
    margin-bottom: 1em;
    float: right;
  }
  /* line 22, ../../stylesheets/_landscape.scss */
  article.page .store .button {
    margin: 0;
  }
  /* line 27, ../../stylesheets/_landscape.scss */
  article.page .description {
    display: block;
    clear: both;
  }

  /* line 36, ../../stylesheets/_landscape.scss */
  .row.v-half figure.product.half:nth-child(2) .image,
  .col.half .v-third .image {
    width: 50%;
    left: -1%;
  }
  /* line 44, ../../stylesheets/_landscape.scss */
  .row.v-half figure.product.half:nth-child(2) .image img,
  .col.half .v-third .image img {
    width: 100%;
  }
  /* line 49, ../../stylesheets/_landscape.scss */
  .row.v-half figure.product.half:nth-child(2) .info,
  .col.half .v-third .info {
    margin: 0;
    width: 49%;
    position: relative;
    vertical-align: middle;
  }
  /* line 54, ../../stylesheets/_landscape.scss */
  .row.v-half figure.product.half:nth-child(2) .info p,
  .col.half .v-third .info p {
    white-space: normal;
  }

  /* line 61, ../../stylesheets/_landscape.scss */
  .row.v-half .third .image.cover,
  .col.half .v-half .image.cover {
    top: -20%;
    left: 0;
    height: 100%;
    width: 100%;
  }
  /* line 66, ../../stylesheets/_landscape.scss */
  .row.v-half .third .image.cover img,
  .col.half .v-half .image.cover img {
    width: 100%;
  }
}
/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
  /* 768 =================================================== */
  /* line 13, ../../stylesheets/_portrait.scss */
  .row {
    height: 93.8%;
  }
  /* line 16, ../../stylesheets/_portrait.scss */
  .row.v-half {
    height: 46.4%;
  }

  /* line 21, ../../stylesheets/_portrait.scss */
  .col {
    height: 93.8%;
  }
  /* line 23, ../../stylesheets/_portrait.scss */
  .col .v-third {
    height: 32.68%;
  }

  /* line 28, ../../stylesheets/_portrait.scss */
  article.page .row {
    height: 95.5%;
  }
  /* line 33, ../../stylesheets/_portrait.scss */
  article.page .col.half, article.page .item.half {
    height: 49%;
    width: 100%;
  }
  /* line 39, ../../stylesheets/_portrait.scss */
  article.page .image.cover {
    position: relative;
    height: 100%;
    width: initial;
    top: initial;
    left: initial;
  }
  /* line 48, ../../stylesheets/_portrait.scss */
  article.page .info .title, article.page .info .price, article.page .info .store {
    text-align: center;
  }
}
/*
    Utility
*/
/* line 201, ../../stylesheets/layout.scss */
.ipad {
  height: 1024px;
  width: 768px;
}
/* line 205, ../../stylesheets/layout.scss */
.ipad.landscape {
  width: 1024px;
  height: 768px;
}

/* line 211, ../../stylesheets/layout.scss */
.iphone {
  width: 320px;
  height: 480px;
}
/* line 215, ../../stylesheets/layout.scss */
.iphone.landscape {
  height: 480px;
  weight: 320px;
}

/* line 221, ../../stylesheets/layout.scss */
.grid-item .item {
  height: 40px;
}
