/* =========================================
    Mobile first layout
    ========================================*/
/* line 5, ../../stylesheets/layout.scss */
nav[role=navigation] {
  width: auto;
  height: 50px;
  line-height: 50px;
  float: right;
}

/* line 12, ../../stylesheets/layout.scss */
.links li {
  list-style: none;
  float: left;
  line-height: 50px;
}

/* line 18, ../../stylesheets/layout.scss */
.links a {
  letter-spacing: 0px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 8px 15px;
}

/* line 25, ../../stylesheets/layout.scss */
nav[role=navigation] .links a.active {
  border: 1px solid #999999;
}

/* ========================================
        Page head
   ========================================*/
/* line 34, ../../stylesheets/layout.scss */
body > header {
  box-sizing: border-box;
  min-height: 150px;
  margin: 0 0 20px;
  padding: 1px;
  padding-top: 20px;
  /*  h1.logo {
      font-size: 30px;
      padding-top: 20px;
      font-size: 24px;
      float: left;
      width: 80px;
      padding: 0;
    }*/
}
/* line 51, ../../stylesheets/layout.scss */
body > header h1.logo {
  text-indent: -20000px;
  margin: 0;
  padding: 0;
  float: left;
  width: 200px;
  height: 80px;
  /*    background: image-url("issue-logo.png") -15px -90px no-repeat;*/
}
/* line 61, ../../stylesheets/layout.scss */
body > header h1 {
  text-transform: uppercase;
  margin: 0 0 0.2em;
  padding-top: 50px;
}
/* line 67, ../../stylesheets/layout.scss */
body > header a {
  color: #222;
}

/* line 72, ../../stylesheets/layout.scss */
header.cover-image {
  height: 300px;
}
/* line 75, ../../stylesheets/layout.scss */
header.cover-image h1 {
  padding-top: 130px;
}

/* line 81, ../../stylesheets/layout.scss */
.logo {
  float: left;
  width: 200px;
  height: 80px;
  background: url('../images/issue-logo.png?1361755644') 0 -80px no-repeat;
}
/* line 88, ../../stylesheets/layout.scss */
.logo.small {
  width: 180px;
  height: 50px;
  background-position: -200px -80px;
}
/* line 94, ../../stylesheets/layout.scss */
.dark-theme .logo {
  background-position: 0 0px;
}
/* line 98, ../../stylesheets/layout.scss */
.dark-theme .logo.small {
  background-position: -200px 0px;
}

/* ========================================
        Footer
   ========================================*/
/* line 107, ../../stylesheets/layout.scss */
footer[role=contentinfo] {
  clear: both;
  padding: 50px 0;
  border-top: 1px solid #eeeeee;
}
/* line 112, ../../stylesheets/layout.scss */
footer[role=contentinfo] .copyright {
  padding: 0;
  margin: 0;
  float: right;
}
/* line 118, ../../stylesheets/layout.scss */
footer[role=contentinfo] .footer-links {
  list-style: none;
}
/* line 121, ../../stylesheets/layout.scss */
footer[role=contentinfo] .footer-links li {
  padding-right: 40px;
  display: inline;
}
