/*
    Layout and rendering
    ---
    No style or presentation code should be in this stylesheet

    Default style for 320px

    Structure (menu/main)
    Grid (row/col)
*/
/* line 16, ../../stylesheets/layout.scss */
.page .col {
  position: relative;
  width: 100%;
  height: 99.9%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin: 0;
  overflow: hidden;
}
/* line 28, ../../stylesheets/layout.scss */
.page .col .item:last-child {
  margin-bottom: 0;
}
/* line 33, ../../stylesheets/layout.scss */
.page .row {
  position: relative;
  overflow: hidden;
  *zoom: 1;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 43, ../../stylesheets/layout.scss */
.page .row:last-child {
  background: none;
}
/* line 47, ../../stylesheets/layout.scss */
.page .row.v-full {
  height: 100%;
}
/* line 48, ../../stylesheets/layout.scss */
.page .row.v-half {
  height: 49.9%;
}
/* line 52, ../../stylesheets/layout.scss */
.page .row.v-third {
  height: 32.03%;
}
/* line 55, ../../stylesheets/layout.scss */
.page .row.v-third-2 {
  height: 66%;
}
/* line 60, ../../stylesheets/layout.scss */
.page .col.full, .page .item.full {
  width: 100%;
}
/* line 61, ../../stylesheets/layout.scss */
.page .col.half, .page .item.half {
  width: 50%;
}
/* line 63, ../../stylesheets/layout.scss */
.page .col.third, .page .item.third {
  width: 33.3%;
}
/* line 64, ../../stylesheets/layout.scss */
.page .col.third-2, .page .item.third-2 {
  width: 66.6%;
}
/* line 66, ../../stylesheets/layout.scss */
.page .col.sixth, .page .item.sixth {
  width: 15.02%;
}
/* line 68, ../../stylesheets/layout.scss */
.page .col.fourty, .page .item.fourty {
  width: 39%;
}
/* line 69, ../../stylesheets/layout.scss */
.page .col.sixty, .page .item.sixty {
  width: 59%;
}
/* line 71, ../../stylesheets/layout.scss */
.page .col.v-full, .page .item.v-full {
  height: 100%;
}
/* line 72, ../../stylesheets/layout.scss */
.page .col.v-half, .page .item.v-half {
  height: 49.40%;
}
/* line 73, ../../stylesheets/layout.scss */
.page .col.v-third, .page .item.v-third {
  height: 35.03%;
}
/* line 74, ../../stylesheets/layout.scss */
.page .col.v-third-2, .page .item.v-third-2 {
  height: 64%;
}
/* line 76, ../../stylesheets/layout.scss */
.page .col:last-child, .page .item:last-child {
  margin-right: 0;
}

/* iPads (landscape) ----------- */
/* iPads (portrait) ----------- */
