/* line 3, ../../stylesheets/page.scss */
.page {
  margin: 0 1%;
  max-height: 100%;
}
/* line 7, ../../stylesheets/page.scss */
.page .row:last-child {
  margin-bottom: 0;
}

/* line 13, ../../stylesheets/page.scss */
article.page .image.cover {
  position: relative;
  height: 200%;
  width: 200%;
  top: -50%;
  left: -50%;
}
/* line 21, ../../stylesheets/page.scss */
article.page .price, article.page .store {
  display: inline-block;
}
/* line 25, ../../stylesheets/page.scss */
article.page .price {
  float: left;
  line-height: 37px;
}
/* line 30, ../../stylesheets/page.scss */
article.page .button.store {
  margin-bottom: 1em;
  display: block;
  float: right;
  margin: 0;
}
/* line 37, ../../stylesheets/page.scss */
article.page .description {
  display: block;
  clear: both;
}

@media screen and (orientation:portrait) {
  /* line 45, ../../stylesheets/page.scss */
  article.page .col.half {
    height: 49%;
    width: 100%;
    background: white;
  }
  /* line 50, ../../stylesheets/page.scss */
  article.page .col.half .image {
    left: 25%;
    position: relative;
    width: 50%;
  }
  /* line 56, ../../stylesheets/page.scss */
  article.page .col.half .info {
    text-align: center;
  }
  /* line 58, ../../stylesheets/page.scss */
  article.page .col.half .info .store {
    margin: 0;
  }
  /* line 62, ../../stylesheets/page.scss */
  article.page .col.half .info .price {
    line-height: 37px;
    vertical-align: middle;
  }
  /* line 67, ../../stylesheets/page.scss */
  article.page .col.half .info p {
    margin-top: 10px;
    text-align: left;
  }
}
/* line 78, ../../stylesheets/page.scss */
#content .page {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  padding: 22px 22px 22px 22px;
  overflow: hidden;
  font-family: 'proxima_nova_regular';
}
/* line 87, ../../stylesheets/page.scss */
#content .page .info {
  margin: 0 22px;
}
/* line 91, ../../stylesheets/page.scss */
#content .page .title {
  margin: 0;
  color: #2c2c2c;
  font-weight: normal;
  font-size: 23px;
  font-family: 'proxima_nova_bold';
}
/* line 99, ../../stylesheets/page.scss */
#content .page .price span:first-child {
  color: #2c2c2c;
  font-size: 18px;
  font-family: 'proxima_nova_bold';
}
/* line 106, ../../stylesheets/page.scss */
#content .page .store {
  position: absolute;
  top: 120px;
  right: 0;
  padding: 17px 14px 17px 22px;
  background-color: #F04500;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'proxima_nova_bold';
}
/* line 118, ../../stylesheets/page.scss */
#content .page .source {
  margin: 0;
  color: #666;
  font-size: 12px;
}
/* line 122, ../../stylesheets/page.scss */
#content .page .source span {
  color: #2c2c2c;
}
/* line 126, ../../stylesheets/page.scss */
#content .page .description {
  padding-top: 25px;
  font-size: 16px;
}
/* line 132, ../../stylesheets/page.scss */
#content .content.page {
  overflow: auto;
}
/* line 135, ../../stylesheets/page.scss */
#content .content.page header {
  margin: 0 0 18px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
  text-align: center;
}
/* line 143, ../../stylesheets/page.scss */
#content .content.page header, #content .content.page .body {
  width: 80%;
  margin: 0 auto;
}
/* line 149, ../../stylesheets/page.scss */
#content .content.page .title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: normal;
}
/* line 157, ../../stylesheets/page.scss */
#content .content.page .author, #content .content.page .published-at {
  color: #333;
  font-family: Georgia;
  font-style: italic;
}
/* line 163, ../../stylesheets/page.scss */
#content .content.page .body {
  font-size: 16px;
  line-height: 22px;
  color: #333;
  text-align: justify;
  -webkit-hyphens: auto;
}
/* line 175, ../../stylesheets/page.scss */
#content .content.page .body p {
  margin: 1.2em 0 !important;
}
/* line 179, ../../stylesheets/page.scss */
#content .content.page .body a[href] {
  color: #d93e00;
}
/* line 183, ../../stylesheets/page.scss */
#content .content.page .body img {
  box-sizing: border-box;
  clear: both;
  display: block;
  float: none;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}
/* line 195, ../../stylesheets/page.scss */
#content .content.page iframe {
  width: 100% !important;
}

/* line 215, ../../stylesheets/page.scss */
.landing {
  margin-left: 260px;
  height: 100%;
  background-color: #000;
  background-image: url(/images/cover-girl-bus.jpeg);
  background-position: center;
  background-size: cover;
  color: white;
  font-family: "proxima-nova", sans-serif;
}
/* line 226, ../../stylesheets/page.scss */
.landing .featured {
  width: 30%;
  float: right;
  padding: 0 20px;
}
/* line 231, ../../stylesheets/page.scss */
.landing .featured h3 {
  top: 20px;
  font-size: 16px;
  color: #666;
  text-transform: uppercase;
  text-align: right;
}
/* line 239, ../../stylesheets/page.scss */
.landing .featured ul {
  list-style: none;
  text-transform: uppercase;
  text-align: right;
  font-size: 16px;
  line-height: 24px;
  color: #eee;
}
/* line 249, ../../stylesheets/page.scss */
.landing .logo {
  opacity: 0.3;
  position: absolute;
  right: 20px;
  bottom: 0;
  padding: 38px 0 0 105px;
  height: 60px;
  background: url("/images/logo.png") no-repeat 20px 20px;
  color: white;
  font-size: 22px;
}
/* line 261, ../../stylesheets/page.scss */
.landing .welcome {
  position: absolute;
  top: 35%;
  padding-left: 12px;
  font-weight: bold;
}
/* line 267, ../../stylesheets/page.scss */
.landing .welcome p:first-child {
  margin: 0 0 0 8px;
  font-size: 102px;
  text-transform: uppercase;
}
/* line 273, ../../stylesheets/page.scss */
.landing .welcome p:nth-child(2) {
  margin: 0 0 0 8px;
  font-size: 25px;
}
/* line 278, ../../stylesheets/page.scss */
.landing .welcome a {
  color: white;
  position: absolute;
  top: 40px;
  right: 12px;
  padding: 18px 20px 18px 26px;
  background-color: #f04500;
  text-transform: uppercase;
  font-size: 14px;
}
/* line 290, ../../stylesheets/page.scss */
.landing .footer {
  position: absolute;
  bottom: 28px;
  padding-left: 30px;
  font-size: 14px;
  line-height: 20px;
}
/* line 297, ../../stylesheets/page.scss */
.landing .footer a {
  font-family: "proxima_nova_bold";
  color: white;
  vertical-align: bottom;
}
/* line 303, ../../stylesheets/page.scss */
.landing .footer i {
  padding-right: 10px;
  vertical-align: middle;
  font-size: 24px;
}

/* line 311, ../../stylesheets/page.scss */
.flash, .notice, .alert {
  position: absolute;
  top: 45px;
  right: 0px;
  z-index: 100;
  padding: 20px 30px;
  width: 268px;
  background: #222;
  color: white;
  font-weight: bold;
  font-size: 15px;
  font-family: "Helvetica Neue", Hevetica, Arial, sans-serif;
}
