/*
Syntax error: Undefined mixin 'box-shadow'.
        on line 48 of ./stylesheets/site.scss, in `box-shadow'
        from line 48 of ./stylesheets/site.scss

43:   height: 44px;
44:   background: #F4F8F9;
45:   border-bottom: none;
46:   border-top: 2px solid black;
47:   z-index: 2;
48:   @include box-shadow(rgba(0,0,0, 0.3) 0px 1px 3px);
49: //  @include box-shadow(#000000, 2px 2px 10px);
50: 
51:   a:first-child {
52:     position: absolute;
53:     top: 7px;

Backtrace:
./stylesheets/site.scss:48:in `box-shadow'
./stylesheets/site.scss:48
/Users/gkwrh/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:170:in `visit_mixin'
/Users/gkwrh/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.1.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/gkwrh/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/gkwrh/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.1.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/gkwrh/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.1.19/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/gkwrh/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.1.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/gkwrh/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/gkwrh/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/gkwrh/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/gkwrh/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.1.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/gkwrh/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:238:in `visit_rule'
/Users/gkwrh/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.1.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/gkwrh/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/gkwrh/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.1.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/gkwrh/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.1.19/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/gkwrh/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.1.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/gkwrh/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/gkwrh/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/gkwrh/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/gkwrh/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.1.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/gkwrh/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/gkwrh/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.1.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/gkwrh/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/gkwrh/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/gkwrh/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.1.19/lib/sass/tree/root_node.rb:20:in `render'
/Users/gkwrh/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.1.19/lib/sass/engine.rb:300:in `_render'
/Users/gkwrh/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.1.19/lib/sass/engine.rb:247:in `render'
/Users/gkwrh/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.1.19/lib/sass/plugin/compiler.rb:340:in `update_stylesheet'
/Users/gkwrh/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.1.19/lib/sass/plugin/compiler.rb:202:in `block in update_stylesheets'
/Users/gkwrh/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.1.19/lib/sass/plugin/compiler.rb:200:in `each'
/Users/gkwrh/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.1.19/lib/sass/plugin/compiler.rb:200:in `update_stylesheets'
/Users/gkwrh/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.1.19/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/gkwrh/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.1.19/lib/sass/plugin.rb:54:in `check_for_updates'
/Users/gkwrh/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.1.19/lib/sass/plugin/rack.rb:51:in `call'
/Users/gkwrh/.rvm/gems/ruby-1.9.3-p125-perf/gems/rack-1.4.1/lib/rack/lint.rb:48:in `_call'
/Users/gkwrh/.rvm/gems/ruby-1.9.3-p125-perf/gems/rack-1.4.1/lib/rack/lint.rb:36:in `call'
/Users/gkwrh/.rvm/gems/ruby-1.9.3-p125-perf/gems/rack-1.4.1/lib/rack/showexceptions.rb:24:in `call'
/Users/gkwrh/.rvm/gems/ruby-1.9.3-p125-perf/gems/rack-1.4.1/lib/rack/commonlogger.rb:20:in `call'
/Users/gkwrh/.rvm/gems/ruby-1.9.3-p125-perf/gems/rack-1.4.1/lib/rack/chunked.rb:43:in `call'
/Users/gkwrh/.rvm/gems/ruby-1.9.3-p125-perf/gems/rack-1.4.1/lib/rack/content_length.rb:14:in `call'
/Users/gkwrh/.rvm/gems/ruby-1.9.3-p125-perf/gems/thin-1.3.1/lib/thin/connection.rb:80:in `block in pre_process'
/Users/gkwrh/.rvm/gems/ruby-1.9.3-p125-perf/gems/thin-1.3.1/lib/thin/connection.rb:78:in `catch'
/Users/gkwrh/.rvm/gems/ruby-1.9.3-p125-perf/gems/thin-1.3.1/lib/thin/connection.rb:78:in `pre_process'
/Users/gkwrh/.rvm/gems/ruby-1.9.3-p125-perf/gems/thin-1.3.1/lib/thin/connection.rb:53:in `process'
/Users/gkwrh/.rvm/gems/ruby-1.9.3-p125-perf/gems/thin-1.3.1/lib/thin/connection.rb:38:in `receive_data'
/Users/gkwrh/.rvm/gems/ruby-1.9.3-p125-perf/gems/eventmachine-0.12.10/lib/eventmachine.rb:256:in `run_machine'
/Users/gkwrh/.rvm/gems/ruby-1.9.3-p125-perf/gems/eventmachine-0.12.10/lib/eventmachine.rb:256:in `run'
/Users/gkwrh/.rvm/gems/ruby-1.9.3-p125-perf/gems/thin-1.3.1/lib/thin/backends/base.rb:61:in `start'
/Users/gkwrh/.rvm/gems/ruby-1.9.3-p125-perf/gems/thin-1.3.1/lib/thin/server.rb:159:in `start'
/Users/gkwrh/.rvm/gems/ruby-1.9.3-p125-perf/gems/rack-1.4.1/lib/rack/handler/thin.rb:13:in `run'
/Users/gkwrh/.rvm/gems/ruby-1.9.3-p125-perf/gems/rack-1.4.1/lib/rack/server.rb:265:in `start'
/Users/gkwrh/.rvm/gems/ruby-1.9.3-p125-perf/gems/rack-1.4.1/lib/rack/server.rb:137:in `start'
/Users/gkwrh/.rvm/gems/ruby-1.9.3-p125-perf/gems/rack-1.4.1/bin/rackup:4:in `<top (required)>'
/Users/gkwrh/.rvm/gems/ruby-1.9.3-p125-perf/bin/rackup:19:in `load'
/Users/gkwrh/.rvm/gems/ruby-1.9.3-p125-perf/bin/rackup:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'box-shadow'.\A         on line 48 of ./stylesheets/site.scss, in `box-shadow'\A         from line 48 of ./stylesheets/site.scss\A \A 43:   height: 44px;\A 44:   background: #F4F8F9;\A 45:   border-bottom: none;\A 46:   border-top: 2px solid black;\A 47:   z-index: 2;\A 48:   @include box-shadow(rgba(0,0,0, 0.3) 0px 1px 3px);\A 49: //  @include box-shadow(#000000, 2px 2px 10px);\A 50: \A 51:   a:first-child {\A 52:     position: absolute;\A 53:     top: 7px;"; }
