/* line 3, ../../stylesheets/swipe-view.scss */
.swipe-paging {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
}

/* line 9, ../../stylesheets/swipe-view.scss */
.animate {
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

/* line 25, ../../stylesheets/swipe-view.scss */
.page {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: normal;
  overflow: hidden;
}

/* line 37, ../../stylesheets/swipe-view.scss */
.page {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}

/* line 42, ../../stylesheets/swipe-view.scss */
.page.padding {
  width: 0;
}

/* line 47, ../../stylesheets/swipe-view.scss */
#content .page {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 22px 22px 22px 22px;
  overflow: hidden;
  font-family: 'proxima_nova_regular';
}
/* line 55, ../../stylesheets/swipe-view.scss */
#content .page .info {
  margin: 0 22px;
}
/* line 59, ../../stylesheets/swipe-view.scss */
#content .page .title {
  margin: 0;
  color: #2c2c2c;
  font-weight: normal;
  font-size: 23px;
  font-family: 'proxima_nova_bold';
}
/* line 67, ../../stylesheets/swipe-view.scss */
#content .page .price span:first-child {
  color: #2c2c2c;
  font-size: 18px;
  font-family: 'proxima_nova_bold';
}
/* line 74, ../../stylesheets/swipe-view.scss */
#content .page .store {
  position: absolute;
  top: 120px;
  right: 0;
  padding: 17px 14px 17px 22px;
  background-color: #F04500;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'proxima_nova_bold';
}
/* line 86, ../../stylesheets/swipe-view.scss */
#content .page .source {
  margin: 0;
  color: #666;
  font-size: 12px;
}
/* line 90, ../../stylesheets/swipe-view.scss */
#content .page .source span {
  color: #2c2c2c;
}
/* line 94, ../../stylesheets/swipe-view.scss */
#content .page .description {
  padding-top: 25px;
  font-size: 16px;
}
/* line 100, ../../stylesheets/swipe-view.scss */
#content .content.page {
  overflow: auto;
  margin: 0;
}
/* line 105, ../../stylesheets/swipe-view.scss */
#content .content.page header {
  margin: 0 0 18px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}
/* line 115, ../../stylesheets/swipe-view.scss */
#content .content.page .author, #content .content.page .published-at {
  color: #333;
  font-family: Georgia;
  font-style: italic;
}
/* line 121, ../../stylesheets/swipe-view.scss */
#content .content.page .body {
  font-size: 13px;
  line-height: 18px;
  color: #222;
  margin: 0;
  text-align: justify;
  -webkit-hyphens: auto;
}
/* line 133, ../../stylesheets/swipe-view.scss */
#content .content.page iframe {
  width: 100% !important;
}
/* line 143, ../../stylesheets/swipe-view.scss */
#content .content.page .body p {
  margin: 1.2em 0 !important;
}
/* line 147, ../../stylesheets/swipe-view.scss */
#content .content.page .body img {
  box-sizing: border-box;
  clear: both;
  display: block;
  float: none;
  margin: 0 auto;
}
