/* line 1, ../../stylesheets/typography.scss */
a {
  color: #4a90a6;
  text-decoration: none;
}
/* line 5, ../../stylesheets/typography.scss */
a:visited {
  color: #333;
}

/* line 10, ../../stylesheets/typography.scss */
.toolbar, a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@font-face {
  font-family: 'proxima_nova_ltregular';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/../../fonts/proximanova-light-webfont.eot');
  src: url('fonts/../../fonts/proximanova-light-webfont.eot?#iefix') format("embedded-opentype"), url('fonts/../../fonts/proximanova-light-webfont.woff') format("woff"), url('fonts/../../fonts/proximanova-light-webfont.ttf') format("truetype"), url('fonts/../../fonts/proximanova-light-webfont.svg#proxima_nova_ltregular') format("svg");
}

@font-face {
  font-family: 'proxima_nova_bold';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/../../fonts/proximanova-bold-webfont.eot');
  src: url('fonts/../../fonts/proximanova-bold-webfont.eot?#iefix') format("embedded-opentype"), url('fonts/../../fonts/proximanova-bold-webfont.woff') format("woff"), url('fonts/../../fonts/proximanova-bold-webfont.ttf') format("truetype"), url('fonts/../../fonts/proximanova-bold-webfont.svg#proxima_nova_bold') format("svg");
}

@font-face {
  font-family: 'proxima_nova_regular';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/../../fonts/proximanova-regular-webfont.eot');
  src: url('fonts/../../fonts/proximanova-regular-webfont.eot?#iefix') format("embedded-opentype"), url('fonts/../../fonts/proximanova-regular-webfont.woff') format("woff"), url('fonts/../../fonts/proximanova-regular-webfont.ttf') format("truetype"), url('fonts/../../fonts/proximanova-regular-webfont.svg#proxima_nova_regular') format("svg");
}
