@charset "UTF-8";
/* line 21, ../../stylesheets/ui.scss */
body.expand-menu .navigation li.active:after {
  content: "";
  position: absolute;
  right: -6px;
  top: 50%;
  margin-top: -6px;
  border-color: transparent #141414;
  border-style: solid;
  border-width: 8px 0px 8px 8px;
  height: 0px;
  width: 0px;
}

/* line 36, ../../stylesheets/ui.scss */
nav#menu {
  width: 260px;
  background: #0c0c0c;
}
/* line 40, ../../stylesheets/ui.scss */
nav#menu .logo {
  height: 120px !important;
  background: url("/images/logo.png") no-repeat center center;
}
/* line 43, ../../stylesheets/ui.scss */
nav#menu .logo a {
  margin-left: -25px;
  height: 120px;
  width: 220px;
}
/* line 51, ../../stylesheets/ui.scss */
nav#menu .navigation li {
  font-size: 15px;
  font-family: "HelveticaNeue";
  letter-spacing: 0.8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 44px;
  line-height: 44px;
  padding: 0 25px;
  border-top: 1px solid #0f0f0f;
  border-bottom: 1px solid #0a0a0a;
  position: relative;
}
/* line 64, ../../stylesheets/ui.scss */
nav#menu .navigation a {
  display: block;
  color: white;
}
/* line 69, ../../stylesheets/ui.scss */
nav#menu .navigation li.active {
  background: #141414;
}
/* line 74, ../../stylesheets/ui.scss */
nav#menu .navigation > ul li {
  padding-left: 30px;
  font-weight: normal;
}
/* line 78, ../../stylesheets/ui.scss */
nav#menu .navigation > ul li a {
  color: #ccc;
}
/* line 83, ../../stylesheets/ui.scss */
nav#menu .navigation > ul li a:before {
  font-size: 12px;
  content: '→';
  width: 10px;
  overflow: none;
  margin-right: 5px;
  color: #666;
}
/* line 93, ../../stylesheets/ui.scss */
nav#menu .navigation .counter {
  position: absolute;
  right: 24px;
  font-size: 12px;
}
/* line 99, ../../stylesheets/ui.scss */
nav#menu .navigation .right-icon {
  position: absolute;
  right: 20px;
  color: #444;
  font-size: 24px;
}
/* line 107, ../../stylesheets/ui.scss */
nav#menu .navigation li.user {
  position: absolute;
  bottom: 10px;
  width: 100%;
}
/* line 112, ../../stylesheets/ui.scss */
nav#menu .navigation li.user a {
  font-size: 12px;
}
/* line 116, ../../stylesheets/ui.scss */
nav#menu .navigation li.user .thumb {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  -ms-border-radius: 20;
  -o-border-radius: 20;
  border-radius: 20;
  overflow: hidden;
}
/* line 122, ../../stylesheets/ui.scss */
nav#menu .navigation li.user .settings {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  float: right;
  font-size: 24px;
}

/* line 133, ../../stylesheets/ui.scss */
header.toolbar {
  position: relative;
  height: 50px;
  background: #fff;
  z-index: 2;
  border-bottom: 1px solid #eee;
}
/* line 139, ../../stylesheets/ui.scss */
header.toolbar a {
  height: 50px;
  cursor: pointer;
}
/* line 144, ../../stylesheets/ui.scss */
header.toolbar a.menu, header.toolbar a.back, header.toolbar a.channel, header.toolbar a.follow {
  float: left;
}
/* line 148, ../../stylesheets/ui.scss */
header.toolbar a.menu {
  width: 64px;
  border-right: 1px solid #EEE;
  background: url("/images/icon-reorder.png") no-repeat center;
}
/* line 154, ../../stylesheets/ui.scss */
header.toolbar a.type {
  float: right;
  width: 64px;
  border-left: 1px solid #EEE;
  background: url("/images/icon-filter.png") no-repeat center;
}
/* line 161, ../../stylesheets/ui.scss */
header.toolbar a.back, header.toolbar a.channel {
  margin-left: 21px;
  width: 85px;
  border-right: 1px solid #EEE;
  background: url("/images/back.png") no-repeat 0% 50%;
  color: #666;
  text-align: center;
  font-style: italic;
  font-size: 12px;
  font-family: Georgia, "proxima_nova_regular";
  line-height: 50px;
}
/* line 174, ../../stylesheets/ui.scss */
header.toolbar a.follow {
  margin-left: 13px;
  padding-left: 14px;
  width: 77px;
  border-right: 1px solid #EEE;
  background: url("/images/action-collect.png") no-repeat 0% 50%;
  color: #666;
  text-align: center;
  font-style: italic;
  font-size: 12px;
  font-family: Georgia, "proxima_nova_regular";
  line-height: 50px;
}
/* line 188, ../../stylesheets/ui.scss */
header.toolbar .title {
  position: absolute;
  left: 50%;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  letter-spacing: 0.7px;
  font-weight: normal;
  font-size: 17px;
  font-family: "proxima_nova_ltregular";
  line-height: 50px;
}
/* line 200, ../../stylesheets/ui.scss */
header.toolbar .title span {
  position: relative;
  left: -50%;
}
/* line 204, ../../stylesheets/ui.scss */
header.toolbar .title span:after {
  display: inline-block;
  width: 18px;
  height: 11px;
  background: url("/images/down-arrow.png") no-repeat center;
  content: "";
}
/* line 214, ../../stylesheets/ui.scss */
header.toolbar div.actions {
  position: absolute;
  top: 0px;
  right: 0px;
}
/* line 219, ../../stylesheets/ui.scss */
header.toolbar div.actions a {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 56px;
  border-left: 1px solid #eee;
}
/* line 225, ../../stylesheets/ui.scss */
header.toolbar div.actions .heart {
  right: 114px;
  background: url("/images/action-like.png") no-repeat center;
}
/* line 230, ../../stylesheets/ui.scss */
header.toolbar div.actions .collect {
  right: 57px;
  background: url("/images/action-collect.png") no-repeat center;
}
/* line 235, ../../stylesheets/ui.scss */
header.toolbar div.actions .share {
  right: 0px;
  background: url("/images/action-share.png") no-repeat center;
}

/* line 247, ../../stylesheets/ui.scss */
div.drop-down {
  position: absolute;
  top: 22px;
  width: 110px;
  font-size: 13px;
}
/* line 253, ../../stylesheets/ui.scss */
div.drop-down span.drop-top {
  display: block;
  margin: -7px 0 0;
  padding: 7px 15px 0px;
  background: url("/images/top-arrow.png") no-repeat center top;
}
/* line 260, ../../stylesheets/ui.scss */
div.drop-down div.drop-wrapper {
  position: absolute;
  top: 36px;
  border: 1px solid #eee;
  background-color: white;
  font-family: "Helvetica Neue", Hevetica, Arial, sans-serif;
}
/* line 269, ../../stylesheets/ui.scss */
div.drop-down ul.popover-list {
  overflow: auto;
  margin: 0;
  padding: 0;
}
/* line 274, ../../stylesheets/ui.scss */
div.drop-down ul.popover-list li {
  display: block;
  float: none;
  margin: 0;
  padding: 13px 0px 13px 10px;
  border-top: 1px solid #eee;
  background-image: none;
}
/* line 282, ../../stylesheets/ui.scss */
div.drop-down ul.popover-list li a {
  height: 15px;
  line-height: 17px;
  text-transform: uppercase;
  font-size: 10px;
  font-family: "proxima_nova_regular";
  position: static;
  display: block;
  padding: 0px 0px 0px 37px;
  color: #b9b9b9;
  text-shadow: none;
  font-weight: normal;
}
/* line 295, ../../stylesheets/ui.scss */
div.drop-down ul.popover-list li a:active, div.drop-down ul.popover-list li a.active {
  color: #6f6f6f;
}
/* line 301, ../../stylesheets/ui.scss */
div.drop-down ul.popover-list li:first-child {
  border-top: none;
}

/* line 307, ../../stylesheets/ui.scss */
#filter-dropdown {
  right: -10px;
}
/* line 310, ../../stylesheets/ui.scss */
#filter-dropdown .drop-wrapper {
  left: -26px;
}
/* line 313, ../../stylesheets/ui.scss */
#filter-dropdown .drop-wrapper .drop-top {
  margin-left: 78px;
}
/* line 319, ../../stylesheets/ui.scss */
#filter-dropdown ul.popover-list li .view-all {
  background: url(/images/view-all-icon.png) no-repeat 10px top;
}
/* line 320, ../../stylesheets/ui.scss */
#filter-dropdown ul.popover-list li .shop {
  background: url(/images/shop-icon.png) no-repeat 10px top;
}
/* line 321, ../../stylesheets/ui.scss */
#filter-dropdown ul.popover-list li .read {
  background: url(/images/read-icon.png) no-repeat 10px top;
}
/* line 322, ../../stylesheets/ui.scss */
#filter-dropdown ul.popover-list li .photo {
  background: url(/images/photo-icon.png) no-repeat 10px top;
}
/* line 324, ../../stylesheets/ui.scss */
#filter-dropdown ul.popover-list li a:active, #filter-dropdown ul.popover-list li a.active {
  background-position-y: bottom;
}

/* line 330, ../../stylesheets/ui.scss */
#collection-dropdown {
  left: 50%;
  margin-left: -151px;
}
/* line 334, ../../stylesheets/ui.scss */
#collection-dropdown .drop-wrapper {
  width: 300px;
}
/* line 337, ../../stylesheets/ui.scss */
#collection-dropdown .drop-wrapper a {
  height: 18px;
  padding: 0 0 0 5px;
  line-height: 20px;
  color: #6F6F6F;
  font-size: 13px;
}
/* line 345, ../../stylesheets/ui.scss */
#collection-dropdown .drop-wrapper li.active {
  border-left: 5px solid #000;
}
/* line 348, ../../stylesheets/ui.scss */
#collection-dropdown .drop-wrapper li.active a {
  padding: 0;
  color: #333;
}

/*      Discover menu   */
/* line 360, ../../stylesheets/ui.scss */
#discover {
  background: white;
  position: absolute;
  z-index: 100;
  height: 1000px;
  width: 100%;
}
/* line 367, ../../stylesheets/ui.scss */
#discover header {
  padding: 40px 20px;
  background: white;
  position: relative;
  z-index: 1;
}
/* line 373, ../../stylesheets/ui.scss */
#discover header input[type=search] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-family: Georgia;
  font-style: italic;
  font-size: 16px;
  padding: 10px 20px;
  border: 1px solid #ddd;
  width: 100%;
}
/* line 383, ../../stylesheets/ui.scss */
#discover header input[type=search]:focus {
  box-shadow: 0 0 5px #0064ff;
  outline: 0;
}
/* line 391, ../../stylesheets/ui.scss */
#discover ul#category {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 220px;
  height: 100%;
  background: #eee;
  float: left;
  position: relative;
}
/* line 401, ../../stylesheets/ui.scss */
#discover ul#category li {
  position: relative;
  font-size: 14px;
  font-family: "HelveticaNeue-Light";
  letter-spacing: 0.8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 44px;
  line-height: 44px;
  padding: 0 25px;
  border-top: 1px solid #ddd;
}
/* line 414, ../../stylesheets/ui.scss */
#discover ul#category a {
  display: block;
  color: #444;
}
/* line 419, ../../stylesheets/ui.scss */
#discover ul#category li:hover {
  background: #e6e6e6;
}
/* line 423, ../../stylesheets/ui.scss */
#discover ul#category li.active {
  background: #ccc;
}
/* line 427, ../../stylesheets/ui.scss */
#discover ul#category li.active:after {
  content: "";
  position: absolute;
  right: -6px;
  top: 50%;
  margin-top: -6px;
  border-color: transparent #ccc;
  border-style: solid;
  border-width: 8px 0px 8px 8px;
  height: 0px;
  width: 0px;
}
/* line 441, ../../stylesheets/ui.scss */
#discover ul#category > ul li {
  padding-left: 40px;
  font-weight: normal;
}
/* line 445, ../../stylesheets/ui.scss */
#discover ul#category > ul li a {
  color: #ccc;
}

/* line 454, ../../stylesheets/ui.scss */
ul.channels {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding-top: 120;
  left: 20px;
  top: 0;
  border-top: 200px;
  position: absolute;
  bottom: 0;
  padding-bottom: 50%;
}
/* line 472, ../../stylesheets/ui.scss */
ul.channels li {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  color: white;
  font-size: 14px;
  padding: 15px;
  width: 240px;
  height: 170px;
  background: #999;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
}
/* line 493, ../../stylesheets/ui.scss */
ul.channels .action {
  font-family: "Georgia";
  position: absolute;
  top: 30%;
  left: 30px;
  float: left;
  margin-right: 10px;
  text-align: center;
  display: block;
  font-size: 24px;
  font-weight: bold;
  line-height: 70px;
  width: 70px;
  height: 70px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  border-radius: 40px;
  color: white;
  border: 1.5px solid rgba(255, 255, 255, 0.3);
}
/* line 513, ../../stylesheets/ui.scss */
ul.channels .action.followed {
  background: rgba(240, 69, 0, 0.2);
}
/* line 517, ../../stylesheets/ui.scss */
ul.channels .action:hover {
  background: rgba(255, 255, 255, 0.2);
}
/* line 521, ../../stylesheets/ui.scss */
ul.channels .action.view {
  left: 130px;
}
