/* line 9, ../../stylesheets/ui.scss */
nav#menu {
  width: 260px;
  background: #0c0c0c;
}
/* line 13, ../../stylesheets/ui.scss */
nav#menu .logo {
  height: 120px !important;
  background: url("/images/logo.png") no-repeat center center;
}
/* line 16, ../../stylesheets/ui.scss */
nav#menu .logo a {
  margin-left: -25px;
  height: 120px;
  width: 220px;
}
/* line 24, ../../stylesheets/ui.scss */
nav#menu .navigation li {
  font-size: 15px;
  font-family: "HelveticaNeue-Light", "HelveticaNeue";
  letter-spacing: 0.8px;
  font-weight: bold;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 44px;
  line-height: 44px;
  padding: 0 25px;
  border-top: 1px solid #0f0f0f;
  border-bottom: 1px solid #0a0a0a;
}
/* line 37, ../../stylesheets/ui.scss */
nav#menu .navigation a {
  display: block;
  color: white;
}
/* line 42, ../../stylesheets/ui.scss */
nav#menu .navigation li.active {
  background: #141414;
}
/* line 49, ../../stylesheets/ui.scss */
nav#menu .navigation > ul li {
  padding-left: 40px;
  font-weight: normal;
}
/* line 53, ../../stylesheets/ui.scss */
nav#menu .navigation > ul li a {
  color: #ccc;
}

/* line 72, ../../stylesheets/ui.scss */
header.toolbar {
  position: relative;
  height: 50px;
  background: #fff;
  z-index: 2;
  border-bottom: 1px solid #eee;
}
/* line 78, ../../stylesheets/ui.scss */
header.toolbar a {
  height: 50px;
  cursor: pointer;
}
/* line 83, ../../stylesheets/ui.scss */
header.toolbar a.menu, header.toolbar a.back, header.toolbar a.channel, header.toolbar a.follow {
  float: left;
}
/* line 87, ../../stylesheets/ui.scss */
header.toolbar a.menu {
  width: 64px;
  border-right: 1px solid #EEE;
  background: url("/images/icon-reorder.png") no-repeat center;
}
/* line 93, ../../stylesheets/ui.scss */
header.toolbar a.type {
  float: right;
  width: 64px;
  border-left: 1px solid #EEE;
  background: url("/images/icon-filter.png") no-repeat center;
}
/* line 100, ../../stylesheets/ui.scss */
header.toolbar a.back, header.toolbar a.channel {
  margin-left: 21px;
  width: 85px;
  border-right: 1px solid #EEE;
  background: url("/images/back.png") no-repeat 0% 50%;
  color: #666;
  text-align: center;
  font-style: italic;
  font-size: 12px;
  font-family: Georgia, "proxima_nova_regular";
  line-height: 50px;
}
/* line 113, ../../stylesheets/ui.scss */
header.toolbar a.follow {
  margin-left: 13px;
  padding-left: 14px;
  width: 77px;
  border-right: 1px solid #EEE;
  background: url("/images/action-collect.png") no-repeat 0% 50%;
  color: #666;
  text-align: center;
  font-style: italic;
  font-size: 12px;
  font-family: Georgia, "proxima_nova_regular";
  line-height: 50px;
}
/* line 127, ../../stylesheets/ui.scss */
header.toolbar .title {
  position: absolute;
  left: 50%;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  letter-spacing: 0.7px;
  font-weight: normal;
  font-size: 17px;
  font-family: "proxima_nova_ltregular";
  line-height: 50px;
}
/* line 139, ../../stylesheets/ui.scss */
header.toolbar .title span {
  position: relative;
  left: -50%;
}
/* line 143, ../../stylesheets/ui.scss */
header.toolbar .title span:after {
  display: inline-block;
  width: 18px;
  height: 11px;
  background: url("/images/down-arrow.png") no-repeat center;
  content: "";
}
/* line 153, ../../stylesheets/ui.scss */
header.toolbar div.actions {
  position: absolute;
  top: 0px;
  right: 0px;
}
/* line 158, ../../stylesheets/ui.scss */
header.toolbar div.actions a {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 56px;
  border-left: 1px solid #eee;
}
/* line 164, ../../stylesheets/ui.scss */
header.toolbar div.actions .heart {
  right: 114px;
  background: url("/images/action-like.png") no-repeat center;
}
/* line 169, ../../stylesheets/ui.scss */
header.toolbar div.actions .collect {
  right: 57px;
  background: url("/images/action-collect.png") no-repeat center;
}
/* line 174, ../../stylesheets/ui.scss */
header.toolbar div.actions .share {
  right: 0px;
  background: url("/images/action-share.png") no-repeat center;
}

/*      Discover menu   */
/* line 189, ../../stylesheets/ui.scss */
#discover {
  background: white;
  position: absolute;
  z-index: 100;
  height: 1000px;
}
/* line 194, ../../stylesheets/ui.scss */
#discover header {
  padding: 40px 20px;
}
/* line 197, ../../stylesheets/ui.scss */
#discover header input[type=search] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-family: Georgia;
  font-style: italic;
  font-size: 16px;
  padding: 10px 20px;
  border: 1px solid #ddd;
  width: 100%;
}
/* line 207, ../../stylesheets/ui.scss */
#discover header input[type=search]:focus {
  box-shadow: 0 0 5px #0064ff;
  outline: 0;
}
/* line 215, ../../stylesheets/ui.scss */
#discover ul#category {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 220px;
  height: 100%;
  background: #eee;
  float: left;
}
/* line 224, ../../stylesheets/ui.scss */
#discover ul#category li {
  font-size: 14px;
  font-family: "HelveticaNeue-Light";
  letter-spacing: 0.8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 44px;
  line-height: 44px;
  padding: 0 25px;
  border-top: 1px solid #ddd;
}
/* line 236, ../../stylesheets/ui.scss */
#discover ul#category a {
  display: block;
  color: #444;
}
/* line 241, ../../stylesheets/ui.scss */
#discover ul#category li:hover {
  background: #e6e6e6;
}
/* line 245, ../../stylesheets/ui.scss */
#discover ul#category li.active {
  background: #ccc;
}
/* line 250, ../../stylesheets/ui.scss */
#discover ul#category > ul li {
  padding-left: 40px;
  font-weight: normal;
}
/* line 254, ../../stylesheets/ui.scss */
#discover ul#category > ul li a {
  color: #ccc;
}
/* line 260, ../../stylesheets/ui.scss */
#discover ul.channels {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 240px;
  width: 100%;
  height: 100%;
}
/* line 269, ../../stylesheets/ui.scss */
#discover ul.channels li {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  color: white;
  font-size: 14px;
  padding: 15px;
  width: 240px;
  height: 170px;
  background: #999;
  margin-right: 20px;
  margin-bottom: 20px;
  background-size: cover;
}
/* line 285, ../../stylesheets/ui.scss */
#discover ul.channels .action {
  font-family: "Georgia";
  position: absolute;
  top: 30%;
  left: 30px;
  float: left;
  margin-right: 10px;
  text-align: center;
  display: block;
  font-size: 24px;
  font-weight: bold;
  line-height: 70px;
  width: 70px;
  height: 70px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  border-radius: 40px;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
/* line 305, ../../stylesheets/ui.scss */
#discover ul.channels .action:hover {
  background: rgba(255, 255, 255, 0.2);
}
/* line 309, ../../stylesheets/ui.scss */
#discover ul.channels .action.view {
  left: 130px;
}
