<div class="edition-overlay overlay" style=""></div>

<div id="preview_edition" class="editions-container container dark-theme">
  <header class="toolbar">
    <h1 class="title"></h1>
  </header>
  
  <div class="col x11 centered">
    
    <div id="flash_notificatin", class="flash notification">
      <a class="close-target" href="#flash_notificatin"></a>
      You have reserved this edition
    </div>
  
    <div class="row">
      <div class="edition-item col x4" style="background-image:url(<%= image_path "site/edition-bg-#{[1,2,3,4,5,6,7].sample}.jpg" %>)">
        <div class="content">
          <h3 class="title">Inspire</h3>
          <p class="author">by Taylor Luk</p>
        </div>
      </div>
      
      <div class="col x8">
        <h1>Inspire is coming soon</h1>
        <h3 class="subtitle">
          Most inspiring read for busy entrepreneurs
        </h3>
        
        <p>
          Inspire is a edition created by Taylor Luk, subscribe now to receive updates from Taylor Luk.
        
          Issue is your edition of curated magazine.
        </p>
      
        <a class="button facebook large">
          <i class="icon-facebook"></i><span>
          Subscribe</span></a>
      
        <a class="button black large"><span>What is Issue?</span></a>
      </div>
    </div>
</div>
