<div class="swipe-paging">
</div>

<% content_for :js do %>
<script> App = {} </script>
<script src="/javascripts/views/swipe_view.js"></script>
<script src="/javascripts/vendor/h5bp-helper.js"></script>

<script>
  var page = "sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. "
  
  
  var i = 0, pages = []
  
  
  for (i = 0; i < 7; i++) {
    pages.push("<h1>Page " + i + " </h1> " + page)
  }
  i = -1;
  
  var createPage = function (step) {
    i = i + step
    if (i < 0) i = -1
    
    if (i> 6) i = 7
    
    console.log("Generate page", i, pages[i])
    return pages[i]
  }
  
  
  $('.swipe-paging').append('<div class="page">'+ createPage(+1)+'</div>')
  $('.swipe-paging').append('<div class="page next loading">Loading...</div>')
  
  view = new App.SwipeView
  
  // Next page doesn't exist
  view.on("fetch:next", function(view) {
    var loading = view.$('.loading')
    loading.html( createPage(+1) )
    loading.removeClass('loading')
  })

  // Buffered page doesn't exist
  view.on("buffer:next", function(view) {
    var page = createPage(+1)
    if (page)
      $(view.el).append('<div class="page">' + page + '</div>')
  })
  
  // Buffered page doesn't exist
  view.on("buffer:prev", function(view) {
    var page = createPage(-1)
    if (page)
      view.padding.after('<div class="page">' + page + '</div>')
  })
</script>
<% end %>