article.page[data-page="mobile-audience"] {
  .background  {
   -webkit-filter: blur(10px); -moz-filter: blur(10px); -o-filter: blur(10px); -ms-filter: blur(10px); filter: blur(10px);
  }

  .content {
    color: black;

    @media only screen and (min-width: 768px) {
      color: white;
    }
  }

}
