@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "BokkaSolidOT";
  src: url("fonts/BokkaSolidOT.otf") format("opentype");
}

#mummyhacks-issue {
  $light-brand-color: #fdf0d5;
  $dark-brand-color: #512f2a;

  article.page {
    .highlights,
    .highlights p {
      font-family: 'BokkaSolidOT';
      padding: 0;
      text-align: center;
      list-style: none;
      font-weight: bold;
      color: #d8162d;
      text-transform: uppercase;
    }

    .title, header {
      font-family: 'BokkaSolidOT';
      color: $light-brand-color;
    }

    .body {
      font-family: OpenSans;
    }

    .description, .subtitle {
      font-style: normal;
    }
  }

  .issue-menu li a .title {
    font-family: 'BokkaSolidOT';
    color: $light-brand-color;
    font-size: 18px;
  }

  @media only screen and (min-width: 768px) {
    article.page {
      header {
        h1 {
          font-size: 28px;
          font-size: 3.6vmin;
        }

        .description, .subtitle {
          font-size: 20px;
          font-size: 2.5vmin;
        }
      }

      .body p {
        text-align: center;
      }
    }
  }

  [data-page="index"] {
    background-position: 35% 20%;

    .brand {
      display: block;
      background: url(logo.png) no-repeat;
      background-size: 100%;
      width: 28vmin;
      height: 10vmin;
      margin: 30px auto 0;
      color: transparent;
      text-shadow: none;
    }

    .title {
      font-size: 34px;
    }

    @media only screen and (min-width: 768px) {
      background-position: center;

      .brand {
        width: 20vmin;
        height: 8vmin;
      }

      .title {
        font-size: 90px;
        line-height: 100px;
      }
    }
  }

  [data-page="toc"] {
    header h1 {
      display: none;
    }
  }

  [data-page="story-one"],
  [data-page="story-two"],
  [data-page="end"] {
    background: $light-brand-color;

    .content {
      background: $light-brand-color;

      h1, p, .description, .subtitle {
        color: $dark-brand-color;
      }
    }
  }

  [data-page="story-two"],
  [data-page="end"] {
    @media only screen and (min-width: 768px) {
      .content {
        background: rgba(0, 0, 0, 0.7);

        h1, p, .description, .subtitle {
          color: $light-brand-color;
        }
      }
    }
  }

  [data-page="story-two"],
  [data-page="story-three"],
  [data-page="story-four"],
  [data-page="video-one"],
  [data-page="end"] {
    header {
      h1 {
        font-family: 'BokkaSolidOT';
        color: $light-brand-color;
        text-decoration: underline;
      }

      .description, .subtitle {
        font-family: 'BokkaSolidOT';
        color: $light-brand-color;
        font-weight: bold;
        text-align: center;
      }
    }

    .body {
      color: $light-brand-color;
    }
  }

  [data-page="story-one"] {
    header h1 {
      font-family: 'BokkaSolidOT';
      color: $dark-brand-color;
    }

    .body {
      color: $dark-brand-color;
    }

    @media only screen and (min-width: 768px) {
      .content {
        margin: 20px;
        background: none;
      }
    }
  }

  [data-page="story-two"] {
    .cover-area {
      background-position: 10% 20%;
    }

    @media only screen and (min-width: 768px) {
      .cover-area {
        background-position: 50% 20%;
      }
    }
  }

  [data-page="story-three"],
  [data-page="story-four"] {
    background: $light-brand-color;

    .content {
      background: $light-brand-color;
    }

    header {
      h1 {
        color: $dark-brand-color;
      }

      .description, .subtitle {
        color: $dark-brand-color;
      }
    }

    .body {
      color: $dark-brand-color;
    }
  }

  [data-page="story-three"] {
    height: auto !important;
  }

  [data-page="story-four"] {
    .cover-area figcaption.inset {
      background: url(story-four/p1-2.jpg) no-repeat;
      background-size: 100%;
      margin: 0;
      color: transparent;
      text-shadow: none;
      width: 100%;
      height: 62px;
      padding: 0;
    }

    @media only screen and (min-width: 768px) {
      .cover-area figcaption.inset {
        height: 126px;
      }
    }
  }

  [data-page="video-one"] {
    background: $light-brand-color;

    .content {
      background: $light-brand-color;
    }

    header h1,
    header .category {
      color: $dark-brand-color;
    }
  }

  [data-page="end"] {
    .cover-area {
      background-position: 8% 20%;
    }

    @media only screen and (min-width: 768px) {
      .cover-area {
        background-position: center;
      }
    }
  }
}
