
%icon-style {
  font-family: 'issue-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-align: center;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:before {
    font-size: 26px;
  }
}

#coach-touring-issue {

  // Start Cover
  [data-page=index] {
  }
  // End Cover

  // [data-page='abc'] {
  //   @media only screen and (min-width: 768px) {
  //   }

  //   @media only screen and (min-width: 768px) and (orientation: portrait) {
  //   }
  // }
  // End
}

// Overwrites default slide in animation
// @keyframes slidein-layer {
//   0% {
//     opacity: 0;
//     transform: translateY(100%);
//   }
//   100% {
//     opacity: 1;
//     transform: translateY(0);
//   }
// }

// @keyframes animatedBackground {
//   0% { background-position: 10% 5%; }
//   50% { background-position: 35% 5%; }
//   100% { background-position: 10% 5%; }
// }

// @keyframes videoFadeIn {
//   from { opacity: 0; }
//   to { opacity: 1; }
// }

// @keyframes scaling {
//   0% {
//     transform: scale(1);
//   }

//   25% {
//     transform: scale(0.98);
//   }

//   50% {
//     transform: scale(1);
//   }

//   75% {
//     transform: scale(1.02);
//   }

//   100% {
//     transform: scale(1);
//   }
// }
