/* fix google map API */
.map {
  line-height: 16px;
}

#broad-horizons-issue {

  #issue-branding {
    font-size: 10px;
  }

  figure.cover-area .gallery {
    height: 100%;
    margin: 0;
  }

  p:empty {
    display: none;
  }

  article.one-column {
    h2 {
      font-weight: bold;
      letter-spacing: 3px;
      margin-bottom: 40px;
    }

    .body p {
      font-family: georgia;
      line-height: 30px;
      font-size: 18px;
    }

    figure.wrapping {
      text-align: center;

      figcaption {
        text-align: left;
        padding: 10px 0 0;
      }
    }

    figure.full {
      margin: 50px 0;
      height: 600px;
      overflow: hidden;

      &:before {
        content: '';
        position: absolute;
        top: 0; left:0; right: 0; bottom: 0;
        background: rgba(0,0,0,0.3);
      }

      .container {
        position: absolute;
        top: 50%;
        color: white;
        left: 50%;
        width: 280px;
        margin-left: -140px;
        height: 100px;
        margin-top: -50px;
        text-align: center;
      }

      .subtitle {
        color: white;
        text-align: center;
      }
    }


    footer {
      max-width: 1280px;
      margin: 0px 0 10px;
      padding-top: 100px;
      min-height: initial;

      div {
        line-height: 34px;
      }

      img {
        width: 60px;
      }

      hr {
        margin: 17px 0;
        clear: none;
        background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.05));
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.05));
      }

      span {
        color: #555;
        text-transform: uppercase;
        font-weight: bold;
      }
    }

    @media only screen and (min-width: 768px) {
      .content {
        max-width: initial;
        padding: 50px 0 25px;

        .body > {
          h1, h2, h3, p, figure, section {
            max-width: 720px;
            margin-left: auto;
            margin-right: auto;
            box-sizing: border-box;

            &.full {
              max-width: initial;
            }
          }

          section {
            margin-bottom: 20px;
          }
        }
      }
    }
  }

  [data-page=index] {

    .brand {
      position: relative;
      display: block;
      background: url(brand.png) no-repeat;
      background-size: contain;
      background-position: center;
      width: 45vmin;
      height: 15vmin;
      margin: 0 auto 0em;
      color: transparent;
      text-shadow: none;
    }

    .title {
      font-family: "HelveticaNeue-CondensedBold", "sans-serif-condensed";
      font-size: 36px;
      font-weight: bold;
      letter-spacing: 4px;
    }

    .description {
      font-family: georgia;
      font-style: italic;
      text-transform: capitalize;
      border: 0.5px solid rgba(255,255,255,0.5);
      border-width: 1px 0;
      padding: 5px 0;
      margin: 0 auto 2vmin;
    }

    .issue-logo {
      display: none;
    }

    @media only screen and (min-width: 768px) {

      .title {

        font-size: 90px;
        letter-spacing: 5px;
      }


      .description {
        width: 26em;
      }
    }

  }

  // Start Flinders Range Custom Styles
  [data-page='flinders-range'] {
    .cover-area {
      height: 100vh;
      background-size: cover;
      background-repeat: no-repeat;
      overflow: hidden;

      &:before {
        content: none;
      }

      header {
        max-width: 45em;
        margin: 0 auto;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 50%;
        padding: 0 10px;
        z-index: 1;

        transform: translateY(-20%);
        -webkit-transform: translateY(-20%);

        // Video background image
        .title, .subtitle {
          color: white;
        }

        .title {
          font-weight: bold;
          padding: 0;
          margin-bottom: 30px;
        }

        .subtitle {
          font-family: proxima-nova;
          font-weight: lighter;
        }
      }

      video {
        margin-left: -0.25em; // offset inline block white space
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        background-repeat: no-repeat;

        animation:  fade 0.8s ease both;
        -webkit-animation:  fade 0.8s ease both;

        animation-delay: 0.8s;
        -webkit-animation-delay: 0.8s;
      }

      figcaption {
        position: absolute;
        left: 10px;
        bottom: 20px;
        font-size: 12px;
        color: white;
        padding: 0;
        width: auto;
        max-width: 100px;
      }

      .page-scroll {
        position: absolute;
        bottom: 4px;
        left: 50%;
        margin-left: -20px;
        text-decoration: none;

        i {
          font-size: 40px;
          color: white;
        }
      }
    }

    .content {
      background: white;
      color: #222;

      h2 {
        text-align: center;
      }

    }

    @media only screen and (min-width: 768px) {
      .cover-area {
        figcaption {
          left: 20px;
          font-size: 14px;
          max-width: initial;
        }
      }

      .content {
        figure.wrapping {
          float: left;
          max-width: 320px;
          margin: 0 30px 10px 0;
        }
      }
    }
  }
  // End Flinders Range Custom Styles

  // Start Luxe Hotel Custom Styles
  [data-page='luxe-hotel'] {
    .cover-area {
      display: block;
      height: 100vh;

    	-webkit-backface-visibility: hidden;
    	-webkit-perspective: 1000;
      -webkit-transform: translate3d(0, 0, 0);

    	background-position: 0px 0px;
    	background-repeat: repeat-x;

    	animation: animatedBackground 50s linear infinite;
    	-webkit-animation: animatedBackground 50s linear infinite;

      .container {
        background-color: rgba(0, 0, 0, 0.3);
      }

      header {
        max-width: 45em;
        margin: 0 auto;
        position: relative;
        top: 50%;
        padding: 0 10px;

        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);

        .title, .subtitle, .category {
          color: white;
        }

        .title {
          font-size: 26px;
          font-weight: bold;
          padding: 0;
          margin-bottom: 30px;
        }

        .subtitle {
          font-family: proxima-nova;
          font-weight: lighter;
          font-style: normal;
          text-align: left;
        }
      }
    }
  }
  // End Luxe Hotel Custom Styles
}

@keyframes animatedBackground {
	0% { background-position: 0 0; }
  50% { background-position: 100% 0; }
	100% { background-position: 0 0; }
}

@-webkit-keyframes animatedBackground {
	0% { background-position: 0 0; }
  50% { background-position: 100% 0; }
	100% { background-position: 0 0; }
}

@keyframes videoFadeIn {
	from { opacity: 0; }
  to { opacity: 1; }
}

@-webkit-keyframes videoFadeIn {
	from { opacity: 0; }
  to { opacity: 1; }
}
