@font-face {
  font-family: 'AGOldFaceBold';
  font-weight: bold;
  font-style: normal;
  src: url('fonts/AGOldFaceBold.ttf');
}

@font-face {
  font-family: 'GillSans';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/Gill_Sans_MT.ttf');
}

@font-face {
  font-family: 'GillSans';
  font-weight: 300;
  font-style: normal;
  src: url('fonts/GillSansLight.ttf');
}

$header-color: #8ebbd1;
$text-color: #8b9ca5;

#escape-one-issue {

  .issue-menu li a .title {
    font-family: 'GillSans';
  }

  h1.title, h3.subtitle {
    font-family: 'GillSans';
    font-weight: 300;
  }

  h1.title {
    letter-spacing: 4px;
    color: $header-color;
  }

  h2, h3 {
    font-family: 'GillSans';
  }

  h3 {
    font-weight: normal;
  }

  li, p {
    font-family: 'GillSans';
    font-weight: 300;

    word-break: normal;
    -webkit-hyphens: none;
  }

  .quotes {
    font-family: 'GillSans';
    font-weight: 300;
  }

  @media only screen and (min-width: 768px) {
    article.page.black .content {
      background: rgba(12, 29, 39, 0.45);
    }

    h1.title {
      color: $header-color;
    }

    .circle {
      position: absolute;
      width: 280px;
      height: 280px;
      border: 5px solid #8EBBD1;
      border-radius: 50%;
      padding: 40px;
      box-sizing: border-box;
      overflow: visible;
      text-align: center;
      color: $text-color;

      h2 {
        font-family: 'AGOldFaceBold';
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 0.25em;
      }

      p {
        margin-top: 0;
        font-weight: normal;
        font-size: 16px;
        text-align: inherit;
      }
    }
  }

  [data-page="index"] {
    h1.title {
      color: white;
      font-weight: normal;
      font-size: 14vw;
      line-height: 1;
    }

    .brand {
      display: block;
      background: url(opera-bar-logo-white.png) no-repeat;
      background-size: contain;
      background-position: center;
      width: 22vmin;
      height: 18vmin;
      margin: 0 auto 0.5em;
      color: transparent;
      text-shadow: none;
    }

    a.browse {
      right: -21px;
      font-size: 14px;
      color: #eee;
      background-color: rgba(0, 0, 0, 0.4);
      height: 60px;
      padding: 0px 20px 0 10px;
      margin-top: -30px;
      line-height: 60px;
      font-family: "HelveticaNeue-CondensedBold", "sans-serif-condensed";
      border-radius: 0px;
    }

    a.browse:before {
      position: relative;
      display: inline-block;
      font-family: "proxima-nova";
      content: "›";
      vertical-align: bottom;
      text-shadow: none;
      font-size: 50px;
      height: 60px;
      line-height: 60px;
      color: rgb(238, 238, 238);
      left: -5px;
    }

    @media only screen and (min-width: 768px) {
      h1.title {
        font-size: 9vw;
        line-height: 1;
      }

      .brand {
        height: 14vmin;
      }
    }
  }

  [data-page="toc"] {
    .menu .head h2 {
      font-family: 'GillSans';
    }

    .menu li .category,
    .menu li .story,
    .menu li .author {
      font-family: 'GillSans' !important;
      font-style: normal;
      text-decoration: initial;
      text-transform: initial;
    }

    .menu li .category {
      font-family: 'AGOldFaceBold' !important;
      font-size: 10px;
      text-transform: uppercase;
      color: #999;
    }

    .cover-area {
      min-height: 290px;
      background-position: bottom;
    }

    .content {
      overflow: auto;

      p {
        margin: 1em 0;
      }

      h1 {
        display: block;
      }

      .author {

        margin: -30px 0 0;
      }
    }


    @media only screen and (min-width: 768px) {
      h1.title {
        font-size: 80px;
        line-height: 60px;
        text-align: left;
      }
    }

  }

  [data-page="an-ode-to-produce"] {
    .author-details {
      p {
        margin: 0;
        line-height: 1;
        font-weight: normal;
        font-style: italic;
        font-size: 14px;
        text-align: left;
        color: $text-color;
      }

      .author-name {
        margin-bottom: 0.25em;
        font-weight: bold;
        font-style: normal;
      }
    }

    @media only screen and (min-width: 768px) {
      .content {
        .category { display: none }

        .author-details {
          padding-left: 20px;

          p {
            width: 100px;
          }
        }

        header {
          position: absolute;
          top: 20%;
          left: 15%;
          width: 500px;

          h1.title {
            font-size: 80px;
            line-height: 80px;
            text-align: left;
          }
        }
      }
    }
  }

  [data-page="an-ode-to-produce/2"] {
    @media only screen and (min-width: 768px) {
      .quotes {
        position: absolute;
        left: 40px;
        bottom: 40px;
        width: 400px;
        padding: 20px;
        color: white;
        font-size: 24px;
        border-radius: 3px;
        background: rgba(12, 29, 39, 0.45);
      }
    }
  }

  [data-page="a-taste-of-the-sea"] {
    .cover-area.fit {
      background-size: cover;
    }

    @media only screen and (min-width: 768px) {
      .cover-area.fit {
        background-position: 260px 100px;
        background-size: 100%;
      }
      .content .category { display: none }

      .content header {
//        position: absolute;
//        top: 40px;
//        left: 40px;
        width: 460px;

        h1.title {
          font-size: 80px;
          line-height: 80px;
          text-align: left;
        }
      }

      .circle {
        left: 44%;
        bottom: 20px;

        h2 {
          margin-top: 0.75em;
        }
      }
    }
  }

  [data-page="a-taste-of-the-sea/1"] {
    h1.title {
      font-family: 'AGOldFaceBold';
      font-weight: bold;
      color: white;
      font-size: 18px;
    }

    h3.subtitle {
      font-weight: normal;
      color: white;
    }

    .content {
      li, p {
        font-weight: normal;
      }
    }

    @media only screen and (min-width: 768px) {
      header {
        text-align: left;
      }
    }
  }

  [data-page="reel-experts"] {
    .author-details {
      p {
        line-height: 1;
        margin: 0;
        font-weight: normal;
        font-style: italic;
        font-size: 14px;
        text-align: left;
        color: $text-color;
      }

      .author-name {
        margin-bottom: 0.25em;
        font-style: normal;
        font-weight: bold;
      }

      .author-name br {
        display: none;
      }
    }

    @media only screen and (min-width: 768px) {
      .content .category {
        display: none;
      }

      .content {
        .author-details {
          padding-left: 20px;
        }

        .author-name br {
          display: inline;
        }

        header {
          position: absolute;
          top: 20%;
          left: 10%;
          width: 500px;

          h1.title {
            font-size: 80px;
            line-height: 80px;
            text-align: left;
          }
        }
      }
    }
  }

  [data-page="reel-experts/1"] {
    .cover-area.fit {
      background-size: cover;
    }

    @media only screen and (min-width: 768px) {
      .cover-area.fit {
        background-position: 50% 40px;
        background-size: 100%;
      }

      .content header {
        position: absolute;
        top: 40px;
        left: 40px;
        width: 460px;

        h1.title {
          font-size: 80px;
          line-height: 80px;
          text-align: left;
        }
      }

      .circle {
        left: 50%;
        bottom: 20px;
      }
    }
  }

  [data-page="ambassador-megan"],
  [data-page="ambassador-dustin"] {
    h1.title {
      color: #222;
    }
  }

  /*
      Polaroid
  */

  article.page ul.polaroids {
    margin: 0;
    padding: 0;
  }

  .polaroid-wrap {
    list-style: none;
    display: inline-block;
    max-width: 48%;
  }

  figure.polaroid {
    display: inline;
    float: left;
    margin: 0;
    max-width: 80%;
    max-height: 300px;
    width: auto;
    color: #333;
    text-align: center;
    text-decoration: none;

    font-size: 18px;
    font-family: "Marker Felt", sans-serif;

    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    transition: all .15s linear;

    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    transform: rotate(-2deg);

    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
  }

  figure.polaroid figcaption {
    text-align: center;
    text-decoration: none;
  }

  figure.polaroid img {
    padding: 6px;
    width: 100%;
    background: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,.25);
    vertical-align: middle;
  }

  .polaroid-wrap:nth-child(even) figure {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    transform: rotate(3deg);
  }

  @media only screen and (min-width: 768px) {
    figure.polaroid {
      margin: 0 0% -5% 5%;
      padding-left: 20px;
      max-width: 23%;
      max-height: 23vw;
    }

    figure.polaroid img {
      padding: 15px 15px 20px;
    }

    .polaroid-wrap {
      display: inline;
      max-width: initial;
    }

    .polaroid-wrap:nth-child(3n+1) {
      clear: both;
    }

    .polaroid-wrap:nth-child(4) figure {
      clear: left;
    }

    .polaroid-wrap:nth-child(5) figure {
      position: relative;
      left: 2vh;

      -webkit-transform: none;
      -moz-transform: none;
      transform: none;
    }

    .polaroid-wrap:nth-child(8) figure {
      position: relative;
      top: -1vh;
      left: 1vh;

      -webkit-transform: none;
      -moz-transform: none;
      transform: none;
    }
  }

  .polaroid-wrap:hover figure {
    position: relative;
    z-index: 5;

    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    transform: scale(1.5);
  }

}
