
/*=====================================
      Button group with split icon
  =====================================*/
.button-group {
  vertical-align: middle;
  display: inline-block;
  position: relative;
  z-index: 99999;

  .button {
    border-radius: 0px;
  	position: relative;
    float: left;
    margin-left: -1px;
    margin-right:0;
  }

  .button:first-child {
    margin-left: 0px;
    margin-right: 0;
    
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
  }

  .button:last-child {
    margin-left: 0px;
    margin-right: 0;

    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  .dropdown {
    padding: 0px 6px;
    
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    
    box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 -1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);

    .caret {
      height: 0px;
      margin-top: -3px;
      padding: 0;
    }
  }

  &.toggle {
    
    & > .dropdown-menu {
      display: block;
    }
    
  }
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 99999;
  display: none;
  float: left;
  min-width: 120px;
  padding: 4px 0;
  margin: 1px 0 0;
  list-style: none;
  background-color: #ffffff;
  color: $btn-text-colour;

  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);

//  *border-right-width: 2px;
//  *border-bottom-width: 2px;
  
  border-radius: 3px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background-clip: padding-box;

  &.button-hover {
    display: block;
  }

  a:not(.button) {
    cursor: pointer;
    text-align: left;
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 20px !important;
    color: #333;
    white-space: nowrap;
  }

  .no-touch & li > a:hover,
  .active > a,
  .no-touch & .active > a:hover {
    text-decoration: none;
    background-color: #eee;
  }

  .divider {
    height: 1px;
    margin: 8px 1px;
    overflow: hidden;
    background-color: #E5E5E5;
    border-bottom: 1px solid white;

    & + li > a {
      color: #999;
    }
  }
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: 4px solid #999;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
  margin-top: -3px;
  
  .dark-theme &, .dark-container & {
    border-top: 4px solid #fff;
  }  
}



.popover-wrap {
  display: inline-block;
}

$content-color: #fff;
$border-color: #ddd;

$dark-content-color: #1e1e1e;
$dark-border-color: #666;

%dropdown-arrow {
  // Arrow
  .arrow {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 11px;
  
  
    &.up {
      top: -10px;
      left: 50%;
      border-top-width: 0;
      border-bottom-color: $border-color;
    }
  
    &:after {
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
    
      content: " ";
    
      top: 1px;
      margin-left: -10px;
      border-width: 10px;
    
      border-bottom-color: $content-color;
      border-top-width: 0;
    }

  
    &.down {
      bottom: -11px;
      left: 50%;
      border-bottom-width: 0;
      border-top-color: $border-color;
    
      &:after {    
        top: -11px;
        margin-left: -10px;
        border-width: 10px;

        border-top-color: $content-color;
        border-bottom-width: 0;
      }
    }
  
    &.left{
      left: 100px;
      right: auto;
    }
  
    &.right {
      left: auto;
      right: 100px;
    }
  }
  
  
  &.dark-theme {
    .arrow {
      &:after {
        border-bottom-color: $dark-content-color;
      }
    
      &.up {
        border-bottom-color: $dark-border-color;
      }
    
      &.down {
        border-top-color: $dark-border-color;
      }
    
      &.down:after {
        border-top-color: $dark-content-color; 
      }
    }
  }
}
