<header id="edition-cover" class="page-head dark-theme" style="background-image: url(/images/site/publisher-bg.jpg); background-size:cover; background-position: 0 60%">
  <div class="container">
    <h1 class="logo small">Issue blog</h1>
    
    <nav role="navigation">
      <ul class="links">
        <li>
          <a class="icon icon-export open-target" rel="popover" href="#shareDropdown"></a>
          <div class="popover small right" id="shareDropdown" style="display:none">
            <div class="drop-wrapper">
              <span class="drop-top"></span>
              <ul class="popover-list">
                <li class="header"><span>Share to</span></li>
                <li><a class="active popup" data-height="300" data-width="600" href="https://www.facebook.com/dialog/feed?display=popup&amp;app_id=103180386434013&amp;link=http://on.issue.by/YxuuGg&amp;redirect_uri=http://issue.dev/close_popup">
                    <i class="icon-facebook"> </i>Facebook</a>
                </li>
                <li>
                  <a class="active popup" data-height="300" data-width="600" href="https://twitter.com/intent/tweet?url=http://on.issue.by/YxuuGg&amp;via=Issueby&amp;text=Watch%20of%20the%20Week:%20Montblanc%20TimeWalker%20Chronograph%20USA%20Special">
                    <i class="icon-twitter"> </i> Twitter</a>
                </li>
                <li>
                <a class="active" href="mailto:?subject=Hey%2C%20check%20this%20out&amp;body=Hi,%20I'd%20like%20to%20share%20this,%20Checkout%20Watch%20of%20the%20Week:%20Montblanc%20TimeWalker%20Chronograph%20USA%20Special%20http://on.issue.by/YxuuGg">
                  <i class="">@</i> Email this</a>

                </li>
              </ul>
            </div>
          </div>
        </li>
        <li><a class="active" href="/site"> Subscribe</a></li>
      </ul>
    </nav>
    <hgroup >
      <h1>The highlight</h1>
      <h3 class="subtitle">
      The official edition with highlights of news, insight, friends & people behind issue
      </h3>
    </hgroup>
  </div>
</header>

<div id="sections" class="container infinite-list">    


  <div class="page stream" id="page-article_514d2b5470b853cb280006da" data-offset-top="40" data-height="702" data-visible="true">
    <div class="row v-third-2">
      
      <div class="article item full split" id="article_514d2b4a70b85367aa00066d">

          <div class="image fadein shown" data-height="550" data-width="366" data-image="http://thumb.issue.by/?src=http://assets.shop2.dev.s3.amazonaws.com/2013/03/23/15/13/03/149/Montblanc_Watch_of_the_Week_600.jpg&amp;resolution=320" style="background-image: url(http://cl.ly/image/2f1J0s0A1g1k/Screen%20Shot%202013-03-27%20at%204.31.03%20PM.png);">
          </div>

          <div class="info">
            Cover Story

            <h3 class="title">Latest issue from Shop2, Issue</h3>
            <p class="description">
              I am excited to announce that, we are working on a exciting release..,.. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>

              <a class="via user" href="/stream?feed_id=514c1fbd70b8537d3c00001c">Issue</a>

          </div>

          <a class="link" data-turbolink="true" href="http://issue.dev/stream/items/514d2b4a70b85367aa00066d">Watch of the Week: Montblanc TimeWalker Chronograph USA Special</a>  
      </div>
      
      
    </div>
  
      
      <div class="row v-half fadein">


<div class="article item third" id="article_514d2b4a70b85367aa00066d">

    <div class="image fadein shown" data-height="550" data-width="366" data-image="http://thumb.issue.by/?src=http://assets.shop2.dev.s3.amazonaws.com/2013/03/23/15/13/03/149/Montblanc_Watch_of_the_Week_600.jpg&amp;resolution=320" style="background-image: url(http://thumb.issue.by/?src=http://assets.shop2.dev.s3.amazonaws.com/2013/03/23/15/13/03/149/Montblanc_Watch_of_the_Week_600.jpg&amp;resolution=320);">
    </div>
    
    <div class="info">
      Men in fresh
    
      <h3 class="title">Watch of the Week: Montblanc TimeWalker Chronograph USA Special</h3>
      <p class="description">

I first spotted this Montblanc watch back in January at the Salon International de la Haute Horlogerie watch trade show and what struck me immediately was how the timepiece manages to be both industrial in design yet so elegant. Every detail, from the m...</p>
      
        <a class="via user" href="/stream?feed_id=514c1fbd70b8537d3c00001c">The GQ Eye: GQ on Style</a>
        
    </div>
  
    <a class="link" data-turbolink="true" href="http://issue.dev/stream/items/514d2b4a70b85367aa00066d">Watch of the Week: Montblanc TimeWalker Chronograph USA Special</a>  
</div>

<div class="article item third-2   " id="article_514d2b4c70b853cb28000682">

    <div class="image fadein shown" data-height="430" data-width="635" data-image="http://thumb.issue.by/?src=http://assets.shop2.dev.s3.amazonaws.com/2013/03/23/15/13/04/559/APC_Jean_Touitou_T_Shirts.jpg&amp;" style="background-image: url(http://thumb.issue.by/?src=http://assets.shop2.dev.s3.amazonaws.com/2013/03/23/15/13/04/559/APC_Jean_Touitou_T_Shirts.jpg&amp;);">
    </div>
    
    <div class="info">
      Men in fresh
    
      <h3 class="title">The Daily Endorsement: A.P.C. /  Jean Touitou T-Shirts</h3>
      <p class="description">

Jean Touitou is a designer who eschews all things over-designed which is why, in his quest to find the perfect t-shirt, he ended up creating is own lineup of tees. The new A.P.C. t-shirts feature simple cuts with self collars and slightly curved side he...</p>
      
        <a class="via user" href="/stream?feed_id=514c1fbd70b8537d3c00001c">The GQ Eye: GQ on Style</a>
        
    </div>
  
    <a class="link" data-turbolink="true" href="http://issue.dev/stream/items/514d2b4c70b853cb28000682">The Daily Endorsement: A.P.C. /  Jean Touitou T-Shirts</a>
    
  
</div></div><div class="row v-half fadein">
<div class="article item half   " id="article_514d2b4d70b853cb28000697">

    <div class="image fadein shown" data-height="430" data-width="635" data-image="http://thumb.issue.by/?src=http://assets.shop2.dev.s3.amazonaws.com/2013/03/23/15/13/05/987/GQJonHammDroppingKnowledge_635.jpg&amp;resolution=480" style="background-image: url(http://thumb.issue.by/?src=http://assets.shop2.dev.s3.amazonaws.com/2013/03/23/15/13/05/987/GQJonHammDroppingKnowledge_635.jpg&amp;resolution=480);">
    </div>
    
    <div class="info">
      Men in fresh
    
      <h3 class="title">Dropping Knowledge: Going Hamm</h3>
      <p class="description">Planning on flexing your sartorial muscles in the blog arena? You'll need to come packing—and no, we're not referring to your pocket square game. Every week on the Eye, we'll cover a basic term you need to know right now...before you get laughed off the I...</p>
      
        <a class="via user" href="/stream?feed_id=514c1fbd70b8537d3c00001c">The GQ Eye: GQ on Style</a>
        
    </div>
  
    <a class="link" data-turbolink="true" href="http://issue.dev/stream/items/514d2b4d70b853cb28000697">Dropping Knowledge: Going Hamm</a>
    
  
</div>
<div class="article item half   " id="article_514d2b5070b853cb280006a3">

    <div class="image fadein shown" data-height="480" data-width="635" data-image="http://thumb.issue.by/?src=http://assets.shop2.dev.s3.amazonaws.com/2013/03/23/15/13/06/532/Plaid_20Trend_20Report_20Triptych.jpg&amp;resolution=480" style="background-image: url(http://thumb.issue.by/?src=http://assets.shop2.dev.s3.amazonaws.com/2013/03/23/15/13/06/532/Plaid_20Trend_20Report_20Triptych.jpg&amp;resolution=480);">
    </div>
    
    <div class="info">
      Men in fresh
    
      <h3 class="title">Your Warmer Weather Plaid</h3>
      <p class="description">

We're accustomed to seeing plaid all over the fall shows but this season designers are playing with the linear pattern for the warmer months. The larger scale and saturated colors in this batch liven up every piece applied to, giving new life to standar...</p>
      
        <a class="via user" href="/stream?feed_id=514c1fbd70b8537d3c00001c">The GQ Eye: GQ on Style</a>
        
    </div>
  
    <a class="link" data-turbolink="true" href="http://issue.dev/stream/items/514d2b5070b853cb280006a3">Your Warmer Weather Plaid</a>
    
  
</div></div><!-- /row -->

</div><!-- /page -->

</div><!-- /container -->