/*
    Reset button style

*/
/* line 13, ../../../stylesheets/ui/button.scss */
input[type="button"], button {
  border: 0 none;
  font: inherit;
}

/* line 17, ../../../stylesheets/ui/button.scss */
*:focus {
  outline: 0 none;
}

/* line 18, ../../../stylesheets/ui/button.scss */
input[type="submit"] {
  border: 1px solid rgba(0, 0, 0, 0.25);
}

/* line 19, ../../../stylesheets/ui/button.scss */
input[type="button"], button {
  -moz-box-sizing: content-box;
}

/*fixes mozilla padding - mozilla only, doesn't need webkit or other values */
/* line 20, ../../../stylesheets/ui/button.scss */
input[type="button"]::-moz-focus-inner, button::-moz-focus-inner {
  padding: 0;
  border: 0 none;
}

/*fixes mozilla button padding - mozilla only, doesn't need webkit or other values */
/*
    Default button style
*/
/* line 27, ../../../stylesheets/ui/button.scss */
.button, button, input[type="button"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "proxima_nova_regular", "Helvetica Neue", Hevetica, Arial, sans-serif;
  margin: 0;
  padding: 0px 15px;
  font-size: 12px;
  font-weight: bold;
  height: 29px;
  line-height: 27px;
  color: #383B3B;
  border: 1px solid #d5dcdc;
  text-align: center;
  text-shadow: 0px 1px 1px white;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  background-color: #fbfbfb;
  white-space: nowrap;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  /*  @include background-image(linear-gradient(top center, $start, $end));*/
  /*  @include box-shadow(rgba(255,255,255, 0.5) 0 0 1px 0 inset);*/
}
/* line 58, ../../../stylesheets/ui/button.scss */
.button:hover, .button .hover, button:hover, button .hover, input[type="button"]:hover, input[type="button"] .hover {
  cursor: pointer !important;
  color: #515555;
  background-color: #ecf1f1;
  /*    border-color: #A1CFDE;*/
  /*    @include background-image(linear-gradient(top center, lighten($start, 3%), lighten($end, 3%)));*/
}
/* line 66, ../../../stylesheets/ui/button.scss */
.button:active, button:active, input[type="button"]:active {
  background-color: white;
  /*    @include background-image(linear-gradient(top center, $end, $start));*/
}
/* line 71, ../../../stylesheets/ui/button.scss */
.button [class^="icon-"], .button [class*=" icon-"], button [class^="icon-"], button [class*=" icon-"], input[type="button"] [class^="icon-"], input[type="button"] [class*=" icon-"] {
  float: left;
  display: inline-block;
  height: 29px;
  line-height: 27px;
  font-size: 17px;
}
/* line 79, ../../../stylesheets/ui/button.scss */
.button span, button span, input[type="button"] span {
  padding-left: 5px;
  height: 29px;
  line-height: 27px;
  display: inline-block;
}

/* line 89, ../../../stylesheets/ui/button.scss */
.button.disabled,
button[disabled],
button[disabled]:active {
  color: #999999 !important;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2UxZTFlMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f6f6f6), color-stop(100%, #e1e1e1));
  background-image: -webkit-linear-gradient(top center, #f6f6f6, #e1e1e1);
  background-image: -moz-linear-gradient(top center, #f6f6f6, #e1e1e1);
  background-image: -o-linear-gradient(top center, #f6f6f6, #e1e1e1);
  background-image: linear-gradient(top center, #f6f6f6, #e1e1e1);
  border-color: #d4d4d4;
  border-top-color: #dedede;
  border-bottom-color: #c9c9c9;
  cursor: default;
}

/* line 100, ../../../stylesheets/ui/button.scss */
.button.small, .button.small span, button.small, button.small span {
  font-size: 11px;
  font-weight: bold;
  height: 20px;
  line-height: 18px;
  padding: 0px 10px;
}
/* line 107, ../../../stylesheets/ui/button.scss */
.button.small [class^="icon-"], .button.small [class*=" icon-"], .button.small span [class^="icon-"], .button.small span [class*=" icon-"], button.small [class^="icon-"], button.small [class*=" icon-"], button.small span [class^="icon-"], button.small span [class*=" icon-"] {
  height: 20px;
  line-height: 18px;
  font-size: 13px;
}
/* line 114, ../../../stylesheets/ui/button.scss */
.button.large, button.large {
  /*    font-family: "proxima-nova-sc-osf-ext-cond", "Helvetica Neue", Hevetica, Arial, sans-serif;*/
  font-size: 14px;
  line-height: 45px;
  height: 45px;
  padding: 0px 20px;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 12px;
  letter-spacing: 2px;
}
/* line 125, ../../../stylesheets/ui/button.scss */
.button.large [class^="icon-"], .button.large [class*=" icon-"], button.large [class^="icon-"], button.large [class*=" icon-"] {
  height: 45px;
  line-height: 50px;
  font-size: 24px;
}

/* line 136, ../../../stylesheets/ui/button.scss */
.button.black, button.black {
  background-color: #3c3d3c;
  /*    @include background-image(linear-gradient(top center, #3c3d3c, #0e0e0e));*/
  color: white !important;
  border: 1px solid #2b2b2b;
  text-shadow: 0px 1px 1px black;
}
/* line 143, ../../../stylesheets/ui/button.scss */
.button.black:hover, .button.black .hover, button.black:hover, button.black .hover {
  background-color: #4B4C4B;
  /*      @include background-image(linear-gradient(top center, #4B4C4B, #1D1D1D));*/
}
/* line 148, ../../../stylesheets/ui/button.scss */
.button.black:active, button.black:active {
  background-color: #0e0e0e;
  /*      @include background-image(linear-gradient(top center, #0e0e0e, #3c3d3c));*/
}
/* line 154, ../../../stylesheets/ui/button.scss */
.button.orange, button.orange {
  background: #f04500;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
  color: white;
}
/* line 167, ../../../stylesheets/ui/button.scss */
.button.orange:hover, button.orange:hover {
  background: #ff510a;
}
/* line 171, ../../../stylesheets/ui/button.scss */
.button.orange:active, button.orange:active {
  background: #8a2800;
}

/* line 180, ../../../stylesheets/ui/button.scss */
.button.facebook, button.facebook {
  background: #4363a6;
  color: white;
  text-transform: none;
  text-shadow: 0px 1px #375697;
  border: 1px solid #4363a6;
}
/* line 189, ../../../stylesheets/ui/button.scss */
.button.facebook i, button.facebook i {
  font-size: 21px;
}
/* line 193, ../../../stylesheets/ui/button.scss */
.button.facebook span, button.facebook span {
  vertical-align: top;
  padding-left: 10px;
  color: white;
}
/* line 199, ../../../stylesheets/ui/button.scss */
.button.facebook.large span, button.facebook.large span {
  font-size: 13px;
  height: 45px;
  line-height: 45px;
}
/* line 205, ../../../stylesheets/ui/button.scss */
.button.facebook.small span, button.facebook.small span {
  height: 20px;
  line-height: 18px;
}
/* line 210, ../../../stylesheets/ui/button.scss */
.button.facebook:hover, button.facebook:hover {
  background: #5e7dbe;
}
/* line 214, ../../../stylesheets/ui/button.scss */
.button.facebook:active, button.facebook:active {
  background: #4363a6;
}

/* line 219, ../../../stylesheets/ui/button.scss */
.button.twitter, button.twitter {
  font-family: proxima-nova, "Helvetica Neue", pragmatica-web, Hevetica, Arial, sans-serif;
  background: #36a3d4;
  color: white;
  text-transform: none;
  text-shadow: 0px 1px #375697;
  border: 1px solid #36a3d4;
}
/* line 230, ../../../stylesheets/ui/button.scss */
.button.twitter i, button.twitter i {
  font-size: 21px;
}
/* line 234, ../../../stylesheets/ui/button.scss */
.button.twitter span, button.twitter span {
  vertical-align: top;
  padding-left: 10px;
  color: white;
}
/* line 240, ../../../stylesheets/ui/button.scss */
.button.twitter.large span, button.twitter.large span {
  font-size: 13px;
  height: 37px;
  line-height: 35px;
}
/* line 246, ../../../stylesheets/ui/button.scss */
.button.twitter.small span, button.twitter.small span {
  height: 20px;
  line-height: 18px;
}
/* line 251, ../../../stylesheets/ui/button.scss */
.button.twitter:hover, button.twitter:hover {
  background: #60b6dd;
}
/* line 255, ../../../stylesheets/ui/button.scss */
.button.twitter:active, button.twitter:active {
  background: #36a3d4;
}
