/* line 3, ../../../stylesheets/ui/dropdown.scss */
div.popover {
  position: absolute;
  top: 27px;
  width: 110px;
  font-size: 13px;
}
/* line 9, ../../../stylesheets/ui/dropdown.scss */
div.popover span.drop-top {
  display: block;
  margin: -7px 0 0;
  padding: 7px 15px 0px;
  background: url("/images/top-arrow.png") no-repeat center top;
}
/* line 16, ../../../stylesheets/ui/dropdown.scss */
div.popover div.drop-wrapper {
  -webkit-box-shadow: #c9c9c9 2px 2px 5px;
  -moz-box-shadow: #c9c9c9 2px 2px 5px;
  box-shadow: #c9c9c9 2px 2px 5px;
  position: absolute;
  top: 36px;
  border: 1px solid #eeeeee;
  background-color: white;
  font-family: "Helvetica Neue", Hevetica, Arial, sans-serif;
}
/* line 25, ../../../stylesheets/ui/dropdown.scss */
div.popover ul.popover-list {
  overflow: auto;
  margin: 0;
  padding: 0;
}
/* line 30, ../../../stylesheets/ui/dropdown.scss */
div.popover ul.popover-list li {
  display: block;
  float: none;
  margin: 0;
  padding: 18px 0px 18px 10px;
  border-top: 1px solid #eeeeee;
  background-image: none;
}
/* line 38, ../../../stylesheets/ui/dropdown.scss */
div.popover ul.popover-list li a {
  height: 15px;
  line-height: 17px;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "proxima_nova_regular";
  position: static;
  display: block;
  padding: 18px 0px 18px 18px;
  color: #b9b9b9;
  text-shadow: none;
  font-weight: normal;
}
/* line 51, ../../../stylesheets/ui/dropdown.scss */
div.popover ul.popover-list li a:active, div.popover ul.popover-list li a.active {
  color: #6f6f6f;
}
/* line 56, ../../../stylesheets/ui/dropdown.scss */
div.popover ul.popover-list li.header {
  color: #7A7A7A;
  text-align: center;
  font-size: 16px;
  font-family: "proxima_nova_regular";
}
/* line 64, ../../../stylesheets/ui/dropdown.scss */
div.popover ul.popover-list li:first-child {
  border-top: none;
}

/* line 70, ../../../stylesheets/ui/dropdown.scss */
#filterDropdown {
  right: -10px;
}
/* line 73, ../../../stylesheets/ui/dropdown.scss */
#filterDropdown .drop-wrapper {
  left: -26px;
}
/* line 76, ../../../stylesheets/ui/dropdown.scss */
#filterDropdown .drop-wrapper .drop-top {
  margin-left: 70px;
  padding-right: 30px;
}
/* line 82, ../../../stylesheets/ui/dropdown.scss */
#filterDropdown ul.popover-list li {
  padding: 0;
}
/* line 85, ../../../stylesheets/ui/dropdown.scss */
#filterDropdown ul.popover-list li a {
  vertical-align: top;
}
/* line 88, ../../../stylesheets/ui/dropdown.scss */
#filterDropdown ul.popover-list li a span {
  display: inline-block;
  padding-right: 16px;
  width: 15px;
  height: 15px;
}
/* line 95, ../../../stylesheets/ui/dropdown.scss */
#filterDropdown ul.popover-list li a.view-all span {
  background: url(/images/view-all-icon.png) no-repeat left top;
}
/* line 96, ../../../stylesheets/ui/dropdown.scss */
#filterDropdown ul.popover-list li a.shop span {
  background: url(/images/shop-icon.png) no-repeat left top;
}
/* line 97, ../../../stylesheets/ui/dropdown.scss */
#filterDropdown ul.popover-list li a.read span {
  background: url(/images/read-icon.png) no-repeat left top;
}
/* line 98, ../../../stylesheets/ui/dropdown.scss */
#filterDropdown ul.popover-list li a.photo span {
  background: url(/images/photo-icon.png) no-repeat left top;
}
/* line 101, ../../../stylesheets/ui/dropdown.scss */
#filterDropdown ul.popover-list li a:active span, #filterDropdown ul.popover-list li a.active span {
  background-position-y: bottom;
}

/* line 107, ../../../stylesheets/ui/dropdown.scss */
#collectionDropdown {
  left: 50%;
  margin-left: -151px;
}
/* line 111, ../../../stylesheets/ui/dropdown.scss */
#collectionDropdown .drop-wrapper {
  width: 300px;
  min-height: 94px;
}
/* line 115, ../../../stylesheets/ui/dropdown.scss */
#collectionDropdown .drop-wrapper li {
  padding: 0;
}
/* line 118, ../../../stylesheets/ui/dropdown.scss */
#collectionDropdown .drop-wrapper li.header {
  padding: 10px 0px;
}
/* line 119, ../../../stylesheets/ui/dropdown.scss */
#collectionDropdown .drop-wrapper li a {
  height: 18px;
  color: #6F6F6F;
  font-size: 13px;
  line-height: 20px;
}
/* line 126, ../../../stylesheets/ui/dropdown.scss */
#collectionDropdown .drop-wrapper li a.active {
  background-color: #f3f3f3;
}

/* line 133, ../../../stylesheets/ui/dropdown.scss */
#shareDropdown {
  right: -10px;
}
/* line 136, ../../../stylesheets/ui/dropdown.scss */
#shareDropdown .drop-wrapper {
  left: -26px;
}
/* line 139, ../../../stylesheets/ui/dropdown.scss */
#shareDropdown .drop-wrapper .drop-top {
  margin-left: 70px;
  padding-right: 30px;
}
/* line 145, ../../../stylesheets/ui/dropdown.scss */
#shareDropdown .drop-wrapper .popover-list a {
  display: inline;
  padding: 0;
  border: none;
  color: #6f6f6f;
  vertical-align: bottom;
}
/* line 152, ../../../stylesheets/ui/dropdown.scss */
#shareDropdown .drop-wrapper .popover-list a i {
  width: 28px;
  font-size: 19px;
}
