@font-face {
  font-family: 'issue-icons';
  src: url('../../fonts/issue-icons.eot');
  src: url('../../fonts/issue-icons.eot?#iefix') format("embedded-opentype"), url('../../fonts/issue-icons.woff') format("woff"), url('../../fonts/issue-icons.ttf') format("truetype"), url('../../fonts/issue-icons.svg#issue-icons') format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
/* line 13, ../../../stylesheets/ui/icons.scss */
[data-icon]:before {
  font-family: 'issue-icons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
/* line 30, ../../../stylesheets/ui/icons.scss */
.icon-export, .icon-heart, .icon-earth, .icon-docs, .icon-twitter, .icon-facebook, .icon-link, .icon-comment, .icon-cog, .icon-arrow-left, .icon-arrow-right, .icon-pictures, .icon-music, .icon-shop, .icon-ccw, .icon-info, .icon-question, .icon-user, .icon-search, .icon-stream, .icon-play, .icon-gauge, .icon-eye, .icon-statistics, .icon-brush, .icon-archive, .icon-plus, .icon-cross, .icon-list, .icon-rss, .icon-profile, .icon-off, .icon-edit, .icon-minus, .icon-ellipsis, .icon-plus-2, .icon-arrow-left-2, .icon-arrow-right-2, .icon-grid, .icon-books, .icon-books-2, .icon-stack, .icon-play-2, .icon-menu, .icon-tag, .icon-cart, .icon-tshirt, .icon-checkmark-circle, .icon-clock, .icon-book, .icon-resize-enlarge, .icon-bold, .icon-italic, .icon-code, .icon-palette, .icon-list-ul, .icon-list-ol, .icon-microphone {
  font-family: 'issue-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* line 40, ../../../stylesheets/ui/icons.scss */
.icon-export:before {
  content: "\e000";
}

/* line 43, ../../../stylesheets/ui/icons.scss */
.icon-heart:before {
  content: "\e001";
}

/* line 46, ../../../stylesheets/ui/icons.scss */
.icon-earth:before {
  content: "\e002";
}

/* line 49, ../../../stylesheets/ui/icons.scss */
.icon-docs:before {
  content: "\e004";
}

/* line 52, ../../../stylesheets/ui/icons.scss */
.icon-twitter:before {
  content: "\e007";
}

/* line 55, ../../../stylesheets/ui/icons.scss */
.icon-facebook:before {
  content: "\e008";
}

/* line 58, ../../../stylesheets/ui/icons.scss */
.icon-link:before {
  content: "\e00a";
}

/* line 61, ../../../stylesheets/ui/icons.scss */
.icon-comment:before {
  content: "\e00b";
}

/* line 64, ../../../stylesheets/ui/icons.scss */
.icon-cog:before {
  content: "\e00c";
}

/* line 67, ../../../stylesheets/ui/icons.scss */
.icon-arrow-left:before {
  content: "\e00d";
}

/* line 70, ../../../stylesheets/ui/icons.scss */
.icon-arrow-right:before {
  content: "\e00e";
}

/* line 73, ../../../stylesheets/ui/icons.scss */
.icon-pictures:before {
  content: "\e011";
}

/* line 76, ../../../stylesheets/ui/icons.scss */
.icon-music:before {
  content: "\e013";
}

/* line 79, ../../../stylesheets/ui/icons.scss */
.icon-shop:before {
  content: "\e01b";
}

/* line 82, ../../../stylesheets/ui/icons.scss */
.icon-ccw:before {
  content: "\e01e";
}

/* line 85, ../../../stylesheets/ui/icons.scss */
.icon-info:before {
  content: "\e01f";
}

/* line 88, ../../../stylesheets/ui/icons.scss */
.icon-question:before {
  content: "\e020";
}

/* line 91, ../../../stylesheets/ui/icons.scss */
.icon-user:before {
  content: "\e02a";
}

/* line 94, ../../../stylesheets/ui/icons.scss */
.icon-search:before {
  content: "\e019";
}

/* line 97, ../../../stylesheets/ui/icons.scss */
.icon-stream:before {
  content: "\e021";
}

/* line 100, ../../../stylesheets/ui/icons.scss */
.icon-play:before {
  content: "\e022";
}

/* line 103, ../../../stylesheets/ui/icons.scss */
.icon-gauge:before {
  content: "\e023";
}

/* line 106, ../../../stylesheets/ui/icons.scss */
.icon-eye:before {
  content: "\e024";
}

/* line 109, ../../../stylesheets/ui/icons.scss */
.icon-statistics:before {
  content: "\e025";
}

/* line 112, ../../../stylesheets/ui/icons.scss */
.icon-brush:before {
  content: "\e026";
}

/* line 115, ../../../stylesheets/ui/icons.scss */
.icon-archive:before {
  content: "\e027";
}

/* line 118, ../../../stylesheets/ui/icons.scss */
.icon-plus:before {
  content: "\e028";
}

/* line 121, ../../../stylesheets/ui/icons.scss */
.icon-cross:before {
  content: "\e029";
}

/* line 124, ../../../stylesheets/ui/icons.scss */
.icon-list:before {
  content: "\f0c9";
}

/* line 127, ../../../stylesheets/ui/icons.scss */
.icon-rss:before {
  content: "\e014";
}

/* line 130, ../../../stylesheets/ui/icons.scss */
.icon-profile:before {
  content: "\e003";
}

/* line 133, ../../../stylesheets/ui/icons.scss */
.icon-off:before {
  content: "\f011";
}

/* line 136, ../../../stylesheets/ui/icons.scss */
.icon-edit:before {
  content: "\f044";
}

/* line 139, ../../../stylesheets/ui/icons.scss */
.icon-minus:before {
  content: "\f068";
}

/* line 142, ../../../stylesheets/ui/icons.scss */
.icon-ellipsis:before {
  content: "\e005";
}

/* line 145, ../../../stylesheets/ui/icons.scss */
.icon-plus-2:before {
  content: "\e009";
}

/* line 148, ../../../stylesheets/ui/icons.scss */
.icon-arrow-left-2:before {
  content: "\e00f";
}

/* line 151, ../../../stylesheets/ui/icons.scss */
.icon-arrow-right-2:before {
  content: "\e010";
}

/* line 154, ../../../stylesheets/ui/icons.scss */
.icon-grid:before {
  content: "\e015";
}

/* line 157, ../../../stylesheets/ui/icons.scss */
.icon-books:before {
  content: "\e016";
}

/* line 160, ../../../stylesheets/ui/icons.scss */
.icon-books-2:before {
  content: "\e017";
}

/* line 163, ../../../stylesheets/ui/icons.scss */
.icon-stack:before {
  content: "\e01d";
}

/* line 166, ../../../stylesheets/ui/icons.scss */
.icon-play-2:before {
  content: "\e012";
}

/* line 169, ../../../stylesheets/ui/icons.scss */
.icon-menu:before {
  content: "\e006";
}

/* line 172, ../../../stylesheets/ui/icons.scss */
.icon-tag:before {
  content: "\e018";
}

/* line 175, ../../../stylesheets/ui/icons.scss */
.icon-cart:before {
  content: "\e01a";
}

/* line 178, ../../../stylesheets/ui/icons.scss */
.icon-tshirt:before {
  content: "\e02b";
}

/* line 181, ../../../stylesheets/ui/icons.scss */
.icon-checkmark-circle:before {
  content: "\e02c";
}

/* line 184, ../../../stylesheets/ui/icons.scss */
.icon-clock:before {
  content: "\e02d";
}

/* line 187, ../../../stylesheets/ui/icons.scss */
.icon-book:before {
  content: "\e01c";
}

/* line 190, ../../../stylesheets/ui/icons.scss */
.icon-resize-enlarge:before {
  content: "\e02e";
}

/* line 193, ../../../stylesheets/ui/icons.scss */
.icon-bold:before {
  content: "\f032";
}

/* line 196, ../../../stylesheets/ui/icons.scss */
.icon-italic:before {
  content: "\f033";
}

/* line 199, ../../../stylesheets/ui/icons.scss */
.icon-code:before {
  content: "\e02f";
}

/* line 202, ../../../stylesheets/ui/icons.scss */
.icon-palette:before {
  content: "\e030";
}

/* line 205, ../../../stylesheets/ui/icons.scss */
.icon-list-ul:before {
  content: "\f0ca";
}

/* line 208, ../../../stylesheets/ui/icons.scss */
.icon-list-ol:before {
  content: "\f0cb";
}

/* line 211, ../../../stylesheets/ui/icons.scss */
.icon-microphone:before {
  content: "\e031";
}
