

<div role="main" class="fullscreen-toolbar">
  <header class="toolbar">
    <a class="left icon-list">back</a>
    <h1 class="title">stream</h1>
    
    <div class="actions right">
      <a class="icon-cog"></a>
      <a href="#" class="button">edit</a>
    </div>
  </header>
  
  <div id="sections">
    <div class="swipe-paging">
    <div class="page stream">

      <div class="row v-half">
        <div class="item half product">
          <a class="link" href="/items/{{ handle }}">
            <div class="image" data-original="{{ image_url }}" style="background-size: cover; background-image:url(http://lorempixel.com/g/600/300/fashion/2)">
            </div>
          </a>
        
          <div class="info">
            <a class="link" href="/items/{{ handle }}">
              <h3 class="title">Lorem ipsum dolor sit amet</h3>
            </a>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

            <a href="{{ path }}" class="via user">
              by Taylor Luk
            </a>
          </div>
          <a class="price">$200</a>
        </div>
        
        <div class="item half article">
          <a class="link" href="/items/{{ handle }}">
            <div class="image" data-original="{{ image_url }}" style="background-size: cover; background-image:url(http://lorempixel.com/g/600/300/fashion/3)">
            </div>
          </a>
        
          <div class="info">
            <a class="link" href="/items/{{ handle }}">
              <h3 class="title">Lorem ipsum dolor sit amet</h3>
            </a>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

            <a href="{{ path }}" class="via user">
              by Taylor Luk
            </a>
          </div>
          <!-- <a class="price">$200</a> -->
        </div>

      </div><!-- Row -->

      <div class="row v-half">
        
        <div class="third item article">
          <a class="link" href="/items/{{ handle }}">
            <div class="image" data-original="{{ image_url }}" style="background-size: cover; background-image:url(http://lorempixel.com/g/600/300/fashion/5)">
            </div>
          </a>
        
          <div class="info">
            <a class="link" href="/items/{{ handle }}">
              <h3 class="title">Lorem ipsum dolor sit amet</h3>
            </a>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

            <a href="{{ path }}" class="via user">
              by Taylor Luk
            </a>
          </div>
          <!-- <a class="price">$200</a> -->
        </div>
        
        
        <div class="third item article">
          <a class="link" href="/items/{{ handle }}">
            <div class="image" data-original="{{ image_url }}" style="background-size: cover; background-image:url(http://lorempixel.com/g/600/300/fashion/6)">
            </div>
          </a>
        
          <div class="info">
            <a class="link" href="/items/{{ handle }}">
              <h3 class="title">Lorem ipsum dolor sit amet</h3>
            </a>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

            <a href="{{ path }}" class="via user">
              by Taylor Luk
            </a>
          </div>
          <!-- <a class="price">$200</a> -->
        </div>
      
      
        <div class="third item article">
          <a class="link" href="/items/{{ handle }}">
            <div class="image" data-original="{{ image_url }}" style="background-size: cover; background-image:url(http://lorempixel.com/g/600/300/fashion/7)">
            </div>
          </a>
        
          <div class="info">
            <a class="link" href="/items/{{ handle }}">
              <h3 class="title">Lorem ipsum dolor sit amet</h3>
            </a>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

            <a href="{{ path }}" class="via user">
              by Taylor Luk
            </a>
          </div>
          <!-- <a class="price">$200</a> -->
        </div>
      </div>
    </div>
    </div>
  </div>
  
</div>