<nav id="menu" role="navigation">
  <ul class="nav">
    <li><a href="#">
      <span class="text">Stream</span>
      <span class="icon icon-stream"></span>
    </a></li>
    <li><a href="#">
      <span class="text">Editions</span>
      <span class="icon icon-book"></span>
    </a></li>  </ul>
</nav>
<!-- <nav id="menu" class="thin" role="navigation">
  <ul class="nav">
    <li>
      <a id="edition-switch" href="/app/editions" title="Switch editions">
        <span class="text">Editions</span>
        <span class="icon"></span>
      </a>
    </li>
    <li>
      <a href="#" title="Dashboard">
        <span class="text">Dashboard</span> 
        <span class="icon icon-statistics"></span>
      </a>
    </li>
    <li class="">
      <a href="/app/admin" title="content">
        <span class="text">Content</span> 
        <span class="icon icon-profile"></span>
      </a>
    </li>
    <li>
      <a href="#" title="Customize">
        <span class="text">Customize</span> 
        <span class="icon icon-brush"></span>
      </a>
    </li>
    <li>
      <a href="/app/admin/crud" title="Feeds">
        <span class="text">Feeds</span> 
        <span class="icon icon-rss"></span>
      </a>
    </li>
    
    <li class="bottom">
      <a class="icon settings" href="/settings">
        <i class="icon-cog"></i>
      </a>

      <a href="/taylorluk/items">
        <img class="thumb" width="30" height="30" src="https://en.gravatar.com/userimage/3750669/11f87325e01820f4350d21db1fb429c8.jpeg">

        <span class="text">Taylor Luk</span>
      </a>
    </li>
  </ul>
</nav> -->
<div role="main" class="">
  <header class="toolbar fullscreen">
    <a class="left icon-list" onclick="$('.offcanvas').toggleClass('active')"></a>
    <h1 class="title">stream</h1>
    
    <div class="actions right">
      <a class="icon-cog"></a>
      <!-- <a href="#" class="button">edit</a> -->
    </div>
  </header>
  
  <div id="sections">
    <div class="swipe-paging">
    <div class="page stream">

      <div class="row v-half">
        <div class="item half product">
          <a class="link" href="/items/{{ handle }}">
            <div class="image" data-original="{{ image_url }}" style="background-size: cover; background-image:url(http://lorempixel.com/g/600/300/fashion/2)">
            </div>
          </a>
        
          <div class="info">
            <a class="link" href="/items/{{ handle }}">
              <h3 class="title">Lorem ipsum dolor sit amet</h3>
            </a>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

            <a href="{{ path }}" class="via user">
              by Taylor Luk
            </a>
          </div>
          <a class="price">$200</a>
        </div>
        
        <div class="item half article">
          <a class="link" href="/items/{{ handle }}">
            <div class="image" data-original="{{ image_url }}" style="background-size: cover; background-image:url(http://lorempixel.com/g/600/300/fashion/3)">
            </div>
          </a>
        
          <div class="info">
            <a class="link" href="/items/{{ handle }}">
              <h3 class="title">Lorem ipsum dolor sit amet</h3>
            </a>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

            <a href="{{ path }}" class="via user">
              by Taylor Luk
            </a>
          </div>
          <!-- <a class="price">$200</a> -->
        </div>

      </div><!-- Row -->

      <div class="row v-half">
        
        <div class="third item article">
          <a class="link" href="/items/{{ handle }}">
            <div class="image" data-original="{{ image_url }}" style="background-size: cover; background-image:url(http://lorempixel.com/g/600/300/fashion/5)">
            </div>
          </a>
        
          <div class="info">
            <a class="link" href="/items/{{ handle }}">
              <h3 class="title">Lorem ipsum dolor sit amet</h3>
            </a>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

            <a href="{{ path }}" class="via user">
              by Taylor Luk
            </a>
          </div>
          <!-- <a class="price">$200</a> -->
        </div>
        
        
        <div class="third item article">
          <a class="link" href="/items/{{ handle }}">
            <div class="image" data-original="{{ image_url }}" style="background-size: cover; background-image:url(http://lorempixel.com/g/600/300/fashion/6)">
            </div>
          </a>
        
          <div class="info">
            <a class="link" href="/items/{{ handle }}">
              <h3 class="title">Lorem ipsum dolor sit amet</h3>
            </a>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

            <a href="{{ path }}" class="via user">
              by Taylor Luk
            </a>
          </div>
          <!-- <a class="price">$200</a> -->
        </div>
      
      
        <div class="third item article">
          <a class="link" href="/items/{{ handle }}">
            <div class="image" data-original="{{ image_url }}" style="background-size: cover; background-image:url(http://lorempixel.com/g/600/300/fashion/7)">
            </div>
          </a>
        
          <div class="info">
            <a class="link" href="/items/{{ handle }}">
              <h3 class="title">Lorem ipsum dolor sit amet</h3>
            </a>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

            <a href="{{ path }}" class="via user">
              by Taylor Luk
            </a>
          </div>
          <!-- <a class="price">$200</a> -->
        </div>
      </div>
    </div>
    </div>
  </div>
  
</div>