<div id="login_page" class="dark-container dark-theme">
  
  <header class="toolbar">
    <a href="/site" class="back"> back</a>
  </header>
  <div class="container x7 centered">
    
    <form class="col x5 centered">
      <div class="col text-centered">
        <a href="/site" class="logo centered">
          Issue
        </a>
        
        <p class="subtitle">
          What is your story?
        </p>
      </div>
      
      <a class="button large facebook col" href="/session/new?provider=facebook">
        <i class="icon-facebook"> </i>
        Sign in with Facebook
      </a>
      
      <a class="button large black col" href="/session/new?provider=facebook">
        Start your own issue?
      </a>

<!--
      <a class="button large twitter col" href="/session/new?provider=twitter">
        <i class="icon-twitter"> </i>
        Sign in with Twitter
      </a>

      <a class="button large col " href="/session/new?provider=facebook">
        Start your own issue?
      </a>

      <a class="button large twitter" href="/session/new?provider=twitter">
        <i class="icon-twitter"> </i>
        Sign in with Twitter
      </a>

      <div class="col">
        <input type="text" placeholder="Login or email" class="large">
      </div>
      <div class="col">
        <input type="password" class="large">
      </div>
      
      <div class="col">
        <input type="submit" class="button large orange" value="Login now">
        <button class="large black">
          Signup
        </button>
      </div> -->
    </form>
  </div>
</div>