@import "compass/css3/border-radius";
@import "compass/css3/images";
@import "compass/css3/background-clip";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";
@import "compass/css3/box-sizing";


/*
    Reset button style

*/
input[type="button"], button {
  border:0 none;
  font:inherit;
}
*:focus{outline:0 none;}
input[type="submit"] {border:1px solid rgba(0, 0, 0, 0.25);}
input[type="button"], button {-moz-box-sizing: content-box;}/*fixes mozilla padding - mozilla only, doesn't need webkit or other values */
input[type="button"]::-moz-focus-inner, button::-moz-focus-inner { padding:0;border:0 none; }/*fixes mozilla button padding - mozilla only, doesn't need webkit or other values */

/*
    Default button style
*/
.button, button, input[type="button"] {
  $start: #ecf1f1;
  $end: #ecf1f1;

  // To enable SVG gradient support in Opera and IE9
  // http://compass-style.org/reference/compass/css3/images/
  $experimental-support-for-svg: true;

  // default
  font-family: "proxima_nova_regular", "Helvetica Neue", Hevetica, Arial, sans-serif;
	margin: 0 8px 0 0;
	padding: 0px 20px;
	font-size: 13px;
  font-weight: bold;
  height: 30px;
  line-height: 21px;
	color: #383B3B;
	border: 1px solid #D5DCDC;
	text-align: center;
	text-shadow: 0px 1px 1px #fff;
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	background-color: $start;
	white-space: nowrap;
	
  @include box-sizing(border-box);
	@include border-radius(3px);
/*  @include background-image(linear-gradient(top center, $start, $end));*/
/*  @include box-shadow(rgba(0,0,0, 0.2) 0 -1px 1px 0 inset);*/

  &:hover, .hover {
    cursor: pointer !important;
    color: lighten(#383B3B, 10%);
    background-color: lighten($end, 10%);
/*    border-color: #A1CFDE;*/
    /*    @include background-image(linear-gradient(top center, lighten($start, 3%), lighten($end, 3%)));*/
  }

  &:active {
    background-color: darken($end, 5%);
/*    @include background-image(linear-gradient(top center, $end, $start));*/
  }

  [class^="icon-"], [class*=" icon-"] {
    float: left;
    display: inline-block;
    height: 29px;
    line-height: 27px;
    font-size: 17px;
  }

  span {
    padding-left: 5px;
    height: 29px;
    line-height: 27px;
    display: inline-block;
  }
}

.button.disabled,
button[disabled],
button[disabled]:active {
	color: #999 !important;
	@include background-image(linear-gradient(top center, #f6f6f6, #e1e1e1));
	border-color: #d4d4d4;
	border-top-color: #dedede;
	border-bottom-color: #c9c9c9;
	cursor: default;
}

// Button sizes
.button, button {
  &.small, &.small span {
    font-size: 11px;
    font-weight: bold;
    height: 20px;
    line-height: 18px;
    padding: 0px 10px;

	  [class^="icon-"], [class*=" icon-"] {
	    height: 20px;
	    line-height: 18px;
	    font-size: 13px;
	  }
  }

  &.large {
/*    font-family: "proxima-nova-sc-osf-ext-cond", "Helvetica Neue", Hevetica, Arial, sans-serif;*/
    font-size: 12px;
    line-height: 45px;
    height: 45px;
    padding: 0px 10px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 12px;
    letter-spacing: 2px;
    
	  [class^="icon-"], [class*=" icon-"] {
      height: 45px;
      line-height: 50px;
      font-size: 24px;
	  }
    
    @include min-screen(768) {
      font-size: 14px;
      padding: 0px 20px;
    }
  }
  

}

// Button colors
.button, button {
  
  &.black {
    background-color: #3c3d3c;
/*    @include background-image(linear-gradient(top center, #3c3d3c, #0e0e0e));*/
    color: white !important;
    border: none; //1px solid #2b2b2b;
    @include text-shadow(0px 1px 2px rgba(0,0,0,0.3));

    &:hover, .hover {
      background-color: #4B4C4B;
/*      @include background-image(linear-gradient(top center, #4B4C4B, #1D1D1D));*/
    }

    &:active {
      background-color: #0e0e0e;
/*      @include background-image(linear-gradient(top center, #0e0e0e, #3c3d3c));*/
    }
  }

  &.orange {
    $color: #F04500;
    
    background: lighten($color, 12%);
    
    border: none;
/*    text-transform: uppercase;*/
/*    font-weight: bold;*/
    
    @include text-shadow(0px 1px 2px rgba(0,0,0,0.3));
    color: white;
    
    
    &:hover {
      background: lighten($color, 15%);
    }
    
    &:active {
      background: darken($color, 20%);
    }
  }
}

.button.mobile-block,
button.mobile-block {
  margin-top: 10px;
  width: 100%;
  
  @include min-screen(768) {
    margin-top: 0;
    width: auto
  }
}

// actions
.button.facebook, button.facebook {
  $color: #4363a6;
  background: $color;
  color: white;
  @include text-shadow(0px 1px #375697);
  border: 1px solid $color;

  i {
    font-size: 21px;
    padding-right: 5px;
  }

  span {
    vertical-align: top;
    padding-left: 20px;
    color: white;
  }

  &.large span {
/*    font-size: 13px;
*/  
    height: 45px;
    line-height: 45px;
  }

  &.small span {
    height: 20px;
    line-height: 18px;
  }

  &:hover {
    background: lighten($color, 10%);
  }

  &:active {
    background: $color;
  }
}

.button.twitter, button.twitter {
  $color: #36A3D4;
  @include text-shadow(0px 1px darken($color, 10%));

/*  font-family: proxima-nova, 'Helvetica Neue', pragmatica-web, Hevetica, Arial, sans-serif;*/
  background: $color;
  color: white;
/*  text-transform: none;*/

/*  text-shadow: 0px 1px #375697;*/
  border: 1px solid $color;

  i {
    font-size: 21px;
    padding-right: 5px;
  }

  span {
    vertical-align: top;
    padding-left: 15px;
    color: white;
  }

  &.large span {
    font-size: 13px;
    height: 37px;
    line-height: 35px;
  }

  &.small span {
    height: 20px;
    line-height: 18px;
  }

  &:hover {
    background: lighten($color, 10%);
  }

  &:active {
    background: $color;
  }
}


/*=====================================
      Button group with split icon    
  =====================================*/
.button-group {
  vertical-align: middle;
  display: inline-block;
  position: relative;
  z-index: 99999;

  .button {
  	@include border-radius(0px);
  	position: relative;
    float: left;
    margin-left: -1px;
  }

  .button:first-child {
    margin-left: 0px;
    margin-right: 0;
    @include border-corner-radius(bottom, left, 3px);
    @include border-corner-radius(top, left, 3px);
  }

  .dropdown {
    padding: 0px 6px;
    @include border-corner-radius(bottom, right, 3px);
    @include border-corner-radius(top, right, 3px);
    @include box-shadow(inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05));

    .caret {
      height: 0px;
      margin-top: -3px;
      padding: 0;
    }
  }

  &.toggle {
    & > .dropdown-menu {
      display: block;
    }
  }
}


.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 99999;
  display: none;
  float: left;
  min-width: 120px;
  padding: 4px 0;
  margin: 1px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  @include border-radius(3px);
  @include box-shadow(0 5px 10px rgba(0, 0, 0, 0.2));
  @include background-clip(padding-box);

  &.buttonHover {
    display: block;
  }

  a {
    cursor: pointer;
    text-align: left;
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 20px !important;
    color: #333;
    white-space: nowrap;
  }

  li > a:hover,
  .active > a,
  .active > a:hover {
    text-decoration: none;
    background-color: #eee;
  }

  .divider {
    height: 1px;
    margin: 8px 1px;
    overflow: hidden;
    background-color: #E5E5E5;
    border-bottom: 1px solid white;

    & + li > a {
      color: #999;
    }
  }
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: 4px solid black;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
}
