article.page {
  .image.cover {
    position:relative;
    height: 200%; 
    width: 200%;
    top: -50%;
    left: -50%;
  }
  
  .price, .store {
    display: inline-block;
  }
  
  .price {
    float: left;
    line-height: 37px;
  }
  
  .store {
    margin-bottom: 1em;
    float: right;
    .button {
      margin: 0;
    }
  }
  
  .description {
    display: block;
    clear: both;
  }
}

//.cover img {
//  max-width: 75%;
//  max-height: 75%;
//}

.split .image {
  width: 50%;
  left: -1%;
  height: 100%;
  
  img {
    width: 100%;
    max-height: initial;
    max-width: initial;
  }
}

//.row.v-half figure.product.half:nth-child(2),
//.col.half .v-third {
//  .image {
////    overflow: hidden;
////    display: inline-block;
////    width: 50%;
////    left: -1%;
////    height: 100%;
////    top: initial;
////    vertical-align: middle;
//    img {
////      width: 100%;
//    }
//  }
//
//  .info {
//    margin: 0;
//    width: 49%;
//    position: relative;
//    vertical-align: middle;
//    p {
//      white-space: normal;
//    }
//  }
//}
//
//.row.v-half .third .image.cover,
//.col.half .v-half .image.cover {
//  top: -20%;
//  left: 0;
//  height: 100%;
//  width: 100%;
//  img {
//    width: 100%;
//  }
//}