@import "spring";

// UI/menu

// 5. ITEM       			==============================
@import 'app/item';

// 6. PAGE       			==============================
@import 'app/page';

@import 'app/menu';
@import 'app/toolbar';

.logo {
  float: left;
  width: 200px;
  height: 80px;
  background: image-url("issue-logo.png") -0 -80px no-repeat;
  text-indent: -111111px;
  
  &.small {
    width: 180px;
    height: 50px;
    background-position: -200px -80px;
  }
  
  .dark-theme & {
    background-position: 0 0px;
  }
  
  .dark-theme &.small {
    background-position: -200px 0px;
  }
}

//.item {
//  @include clearfix;
//  padding-bottom: 1em;
//  border-bottom: 1px solid #ccc;
//  margin-bottom: 1em;
//  
//  h3 {
//    font-family: "proxima_nova_ltregular";
//    margin-bottom: 0.5em;
//  }
//  
//  p {
//    font-size: 14px;
//    color: #555;
//    margin-top: 0;
//  }
//  
//  .actions {
//    margin-left: 10px;
//    float: right;
//  }
//  
//  
//  figure {
//    float: left;
//    margin: 0 10px 10px 0;
//  }
//  
//  .extras {
//    font-size: 13px;
//    font-style: italic;
//    color: #999;
//    clear: left;
//  }
//}

#menu {
  position: fixed;
  top: 0;
}

[role=main] {
  @include box-sizing(border-box);
  position: relative;
//  margin-left: 80px;
  
  & > .content {
    margin: 20px;
  }
  
  #sidebar + & {
//    margin-left: 400px;
  }
}

// Attribution
.attribution {
  display: inline;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 3px 10px;
  color: white;
  background: rgba(0,0,0, 0.5);
  font-size: 12px;
}


// 6. Different Sections

@import 'app/editions';
@import 'app/signin';
@import 'app/users';


// 7. RESPONSIVE 			==============================

.container {
  margin:0 auto;
  width: 85%;
}

@media only screen and (min-width: 768px) {
  
  .container {
    margin:0 auto;
    max-width: 980px
  }
}



