@import "spring";

// UI/menu

// 5. ITEM       			==============================
@import 'app/item';

// 6. PAGE       			==============================
@import 'app/page';



// 7. RESPONSIVE 			==============================

.container {
  margin:0 auto;
  width: 85%;
}

@media only screen and (min-width: 768px) {
  
  .container {
    margin:0 auto;
    max-width: 980px
  }
}



