@import "spring";

// UI/menu

// 5. ITEM       			==============================
@import 'app/item';

// 6. PAGE       			==============================
@import 'app/page';

@import 'app/menu';
@import 'app/toolbar';


.logo {
  float: left;
  width: 200px;
  height: 80px;
  
  background: image-url("issue-logo.png") -0 -80px no-repeat;
  
  &.small {
    width: 180px;
    height: 50px;
    background-position: -200px -80px;
  }
  
  .dark-theme & {
    background-position: 0 0px;
  }
  
  .dark-theme &.small {
    background-position: -200px 0px;
  }
}

#sidebar {
  background: #f6f9fa;
  border-right: 1px solid #ccc;
}

// Attribution
.attribution {
  display: inline;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 3px 10px;
  color: white;
  background: rgba(0,0,0, 0.5);
  font-size: 12px;
}


// 6. Different Sections

@import 'app/editions';


// 7. RESPONSIVE 			==============================

.container {
  margin:0 auto;
  width: 85%;
}

@media only screen and (min-width: 768px) {
  
  .container {
    margin:0 auto;
    max-width: 980px
  }
}



