@import 'frameless';
@import 'compass/css3';
@import 'font-awesome';

$highlight: rgb(232,232,232);
$emphasis: rgb(23,23,23);

@mixin height ($cols:1) {
  height: #{($cols * ($column + $gutter) - $gutter) / $em}em;
}

body {
	font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
//  color: #444;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
	
  font-size: 1.0625em;
  line-height: 1.411764705882353em;
//  font-family: futura-pt,Futura,"Trebuchet MS",sans-serif;
  background: #fff;
  color: #000;
  border-top:2px solid #000;
}


a {
  text-decoration: none;
  color: #373737;
  &:visited {
    color: black;
  }
  
  &:hover, &:focus, &:active {
    color: #DF5454;
  }

}

section.page {
  clear: both;
  margin: 0 auto;
//  @include width(4.2);

  h1 {
    font-size: 1.17em;
  }
}

// Toolbar
nav.toolbar {
  position: relative;
  height: 40px;
  text-align: center;
  padding: 5px 0;
  box-sizing: border-box;
  background: #F4F8F9;
  
  i {
    font-size: 32px;
    vertical-align: middle;
  }
  
  .back {
    position: absolute;
    left: 6px;

    max-width: 65px;
    padding: 0px;
    right: auto;
  }
  
  .action, .group {
    position: absolute;
    right: 5px;
    top: 3px;
    display: inline-block;
  }
  
  .group .action {//
      width: 32px;
      margin-right: 10px;
      position: relative;
  }
  
}

.flickrbombContainer {
  display: inline-block;
  vertical-align: center;
}

#logo {
  margin: 12px 6px;
  
  &> a {
    color: #000;
    text-decoration: none;
    font-weight: normal;
    text-transform: uppercase;
  }
}


.listview {
  list-style: none;
  
  &> li {
    position: relative;
    box-sizing: border-box;
    
    clear: left;
    top: -1px;
    border-top: 1px solid #ccc;
    padding: 9px 12px;
    font: 18px;
    background: #fff;
    
    min-height: 60px;
    
    &:last-child {
      border-bottom: 1px solid #ccc; 
    }
    
    .thumb {
      height: 100px;
      width: 100px;
      float: left;
      margin: 0 20px 0 0;
      text-align: center;
      overflow: hidden;
      border-radius: 3px;
    }
    
    img {
      max-width: 100px;
    }
  }
}

article {
  img.image {
    width: 100%;
    max-width: 1024px;
  }
}
//.bar {
//    position: absolute;
//    background: #222;
//    left: 0;
//    width: 100%;
//    color: #fff;
//    padding: 5px 0;
//    font-size: 10px;
//    font-weight: bold;
//    text-align: center;
//    box-sizing: border-box;
//}
//
//.bar.top {
//    top: 0;
//    height: 44px;
//    border-bottom: 1px solid #000;
//    padding: 10px;
//    font-size: 22px;
//}
//
//.bar.bottom {
//    bottom: 0;
//}


// 320+

section.toc {
  
  figure {
    position: relative;
    float: left;
    color: #fff;

    @include width(2.3);
    @include height(2);

    margin-left: 5px;
    margin-top: 6px;
    overflow: hidden;
    
    a {
      color: inherit;
      text-decoration: none;
    }
  }

  figure.featured {
    @include width(4.3);
    
    figcaption, h3 {
      width: 97.5%;
      padding-left: 2.5%;
    }
  }
  
  figcaption {
    position: absolute;
    bottom: 0;
    font-size: 12px;
    
  	white-space: nowrap;
  	width: 95%;
    padding-left: 5%;

  	overflow: hidden;
  	text-overflow: ellipsis;
  	
    font-weight: bold;
    @include text-shadow(rgba(black, 0.6) 0px 1px 0, rgba(black, 0.3) 0px 1px 0);
  }
  
  h3 {
    position:absolute;
    font-weight: 600;
    height: 2em;
    width: 95%;
    padding-left: 5%;
    padding-top: 3%;
    top: 0;
    font-size: 18px;
    @include text-shadow(rgba(black, 0.4) 1px 1px 0, rgba(black, 0.2) -1px 1px 1px); 
    @include background(linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.1), rgba(0,0,0,0)));
  }
}

@media screen and (max-width: 1px) {
	body {
		font-size: #{($font-size - 2)/16}em;
	}
}



/*
	Wide mobile layout 
	480-767 px
	Zoomed in above 480 px
*/

@media screen and (min-width: 30em) {
  
  section.page {
    @include width(6.6);
  }
  
  section.toc {
    @include width(6.6);
    
    figure {
      @include width(3.4);
    }
    
    figure.featured {
      @include width(6.5);
    }
  }
}


/*
	Tablet layout 
	600-911 px
	Zoomed in above 600 px
*/

@media screen and (min-width: 37.5em) {
  
  section.page {
    @include width(10);
  }
  
  section.toc {

    &>figure {
      margin-left: 12px;
      margin-bottom: 12px;
      
      @include height(3.5);
      &.featured {
        @include width(6.6);
      }
    }
    
    h3 {
      font-size: 2em;
      font-weight: bold;
    }
    
    figcaption {
      font-size: 1em;
    }
  }
}


/*
	Widescreen layout 
	912-1887 px
	Zoomed in above 912 px
*/

@media screen and (min-width: 57em) {
  section.page {
    @include width(13.6);
  }
  
  section.toc {    
    &>figure {
      @include width(4.55);
      @include height(3.5);
      
      &.featured {
        @include width(8.9);
      }
    }
    
    h3 {
      font-size: 2em;
      font-weight: bold;
    }
    
    figcaption {
      font-size: 1em;
    }
  }
  
}

@media screen and (min-width: 57em) and (max-width: 117.9375em) {

}


/*
	Huge-screen layout 
	1888-2520 px
	Zoomed in above 1920 px
*/

@media screen and (min-width: 118em) {

}