.page {
  margin: 0 1%;
  max-height: 100%;

  .row:last-child {
    margin-bottom: 0;
  }
}

article.page {
  .image.cover {
    position:relative;
    height: 200%;
    width: 200%;
    top: -50%;
    left: -50%;
  }

  .price, .store {
    display: inline-block;
  }

  .price {
    float: left;
    line-height: 37px;
  }

  .button.store {
    margin-bottom: 1em;
    display: block;
    float: right;
    margin: 0;
  }

  .description {
    display: block;
    clear: both;
  }
}

@media screen and (orientation:portrait) {

  article.page .col.half {
	  height: 49%;
    width: 100%;
    background: white;

    .image {
      left: 25%;
      position: relative;
      width: 50%;
    }

    .info {
      text-align: center;
      .store {
        margin: 0;
      }

      .price {
        line-height: 37px;
        vertical-align: middle;
      }

      p {
        margin-top: 10px;
        text-align: left;
      }
    }
  }

}

.landing {
  margin-left: 260px;
  height: 100%;
  background-image: url(/images/landing_stargates_modified.png);
  background-position: center;
  background-size: cover;
  color: white;
  font-family: "proxima-nova", sans-serif;

  .logo {
    padding: 38px 0 0 105px;
    height: 100px;
    background: url("/images/logo.png") no-repeat 20px 20px;
    color: white;
    font-size: 22px;
  }

  .welcome {
    position: absolute;
    top: 35%;
    padding-left: 12px;
    font-weight: bold;

    p:first-child {
      margin: 0 0 0 8px;
      font-size: 102px;
      text-transform: uppercase;
    }

    p:nth-child(2) {
      margin: 0 0 0 8px;
      font-size: 25px;
    }

    span {
      position: absolute;
      top: 40px;
      right: 12px;
      padding: 18px 20px 18px 26px;
      background-color: #f04500;
      text-transform: uppercase;
      font-size: 14px;
    }
  }

  .footer {
    position: absolute;
    bottom: 28px;
    padding-left: 30px;
    font-size: 14px;
    line-height: 20px;

    a {
      font-family: "proxima_nova_bold";
      color: white;
      vertical-align: bottom;
    }

    i {
      padding-right: 10px;
      vertical-align: middle;
      font-size: 24px;
    }
  }
}

div.drop-down {
  position: absolute;
  top: 22px;
  width: 110px;
  font-size:13px;

  span.drop-top {
    display: block;
    margin: -7px 0 0;
    padding: 7px 15px 0px;
    background: url("/images/top-arrow.png") no-repeat center top;
  }

  div.drop-wrapper {
    // @include box-shadow(#c9c9c9 2px 2px 5px);
    position: absolute;
    top: 36px;
    border:1px solid #eee;
    background-color: white;
    font-family: "Helvetica Neue", Hevetica, Arial, sans-serif;
  }

  ul.popover-list {
    overflow: auto;
    margin: 0;
    padding: 0;

    li {
      display: block;
      float: none;
      margin: 0;
      padding: 13px 0px 13px 10px;
      border-top: 1px solid #eee;
      background-image: none;

      a {
        height: 15px;
        line-height: 17px;
        text-transform: uppercase;
        font-size: 10px;
        font-family: "proxima_nova_regular";
        position: static;
        display: block;
        padding: 0px 0px 0px 37px;
        color: #b9b9b9;
        text-shadow: none;
        font-weight: normal;

        &:active, &.active {
          color: #6f6f6f;
        }
      }
    }

    li:first-child {
      border-top: none;
    }
  }
}

#filter-dropdown {
  right: -10px;

  .drop-wrapper {
    left: -26px;

    .drop-top {
      margin-left: 78px;
    }
  }

  ul.popover-list li {
    .view-all { background: url(/images/view-all-icon.png) no-repeat 10px top; }
    .shop { background: url(/images/shop-icon.png) no-repeat 10px top; }
    .read { background: url(/images/read-icon.png) no-repeat 10px top; }
    .photo { background: url(/images/photo-icon.png) no-repeat 10px top; }

    a:active, a.active {
      background-position-y: bottom;
    }
  }
}

#collection-dropdown {
  left: 50%;
  margin-left: -151px;

  .drop-wrapper {
    width: 300px;

    a {
      height: 18px;
      padding: 0 0 0 5px;
      line-height: 20px;
      color: #6F6F6F;
      font-size: 13px;
    }

    li.active {
      border-left: 5px solid #000;

      a {
        padding: 0;
        color: #333;
      }
    }
  }
}

.flash, .notice, .alert {
  position: absolute;
  top: 45px;
  right: 0px;
  z-index: 100;
  padding: 20px 30px;
  width: 268px;
  background: #222;
  color: white;
  font-weight: bold;
  font-size: 15px;
  font-family: "Helvetica Neue", Hevetica, Arial, sans-serif;
}
