.page {
  margin: 0 1%;
  max-height: 100%;

  .row:last-child {
    margin-bottom: 0;
  }
}

article.page {
  .image.cover {
    position:relative;
    height: 200%;
    width: 200%;
    top: -50%;
    left: -50%;
  }

  .price, .store {
    display: inline-block;
  }

  .price {
    float: left;
    line-height: 37px;
  }

  .button.store {
    margin-bottom: 1em;
    display: block;
    float: right;
    margin: 0;
  }

  .description {
    display: block;
    clear: both;
  }
}

@media screen and (orientation:portrait) {

  article.page .col.half {
	  height: 49%;
    width: 100%;
    background: white;

    .image {
      left: 25%;
      position: relative;
      width: 50%;
    }

    .info {
      text-align: center;
      .store {
        margin: 0;
      }

      .price {
        line-height: 37px;
        vertical-align: middle;
      }

      p {
        margin-top: 10px;
        text-align: left;
      }
    }
  }

}

.landing {
  margin-left: 220px;
  height: 100%;
  background-image: url(/images/landing_stargates_modified.png);
  background-position: center;
  background-size: cover;
  color: white;
  font-family: "proxima-nova", sans-serif;

  .logo {
    padding: 38px 0 0 105px;
    height: 100px;
    background: url("/images/logo.png") no-repeat 20px 20px;
    color: white;
    font-size: 22px;
  }

  .welcome {
    position: absolute;
    top: 35%;
    padding-left: 12px;
    font-weight: bold;

    p:first-child {
      margin: 0 0 0 8px;
      font-size: 102px;
      text-transform: uppercase;
    }

    p:nth-child(2) {
      margin: 0 0 0 8px;
      font-size: 25px;
    }

    span {
      position: absolute;
      top: 40px;
      right: 12px;
      padding: 18px 20px 18px 26px;
      background-color: #f04500;
      text-transform: uppercase;
      font-size: 14px;
    }
  }

  .footer {
    position: absolute;
    bottom: 20px;
    padding-left: 20px;
    font-size: 14px;

    i {
      padding-right: 10px;
      vertical-align: middle;
      font-size: 24px;
    }
  }
}

div.drop-down {
  position: absolute;
  width: 115px;
  font-size:13px;

  span.drop-top {
    display: block;
    margin: -11px 0 0;
    padding: 11px 15px 0px;
    background: url("/images/token-top.png") no-repeat center top;
  }

  div.drop-wrapper {
    position: absolute;
    top: 36px;
    width:175px;
    border:1px solid #eee;
    background-color: white;
    font-family: "Helvetica Neue", Hevetica, Arial, sans-serif;
  }

  ul.popover-list {
    overflow: auto;
    margin: 0;
    padding: 0;

    li {
      display: block;
      float:none;
      margin: 0;
      padding:0px 4px;
      border-bottom: 1px solid #eee;
      background-image: none;
      line-height: 22px;

      a {
        position: static;
        display: block;
        padding: 4px 15px;
        height: 22px;
        color: #888;
        text-shadow: none;
        font-weight: normal;
      }
    }

    li:last-child {
      border-bottom: none;
    }
  }
}

#filter-dropdown {
  top: 25px;
  right: 0;

  .drop-wrapper {
    width: 138px;
    left: -26px;

    .drop-top {
      margin-left: 78px;
    }
  }
}

#collection-dropdown {
  top: 25px;
  left: 50%;
  margin-left: -89px;
}
