.page {
  margin: 0 1%;
  max-height: 100%;
  
  .row:last-child {
    margin-bottom: 0;
  }
}

article.page {
  .image.cover {
    position:relative;
    height: 200%; 
    width: 200%;
    top: -50%;
    left: -50%;
  }
  
  .price, .store {
    display: inline-block;
  }
  
  .price {
    float: left;
    line-height: 37px;
  }
  
  .button.store {
    margin-bottom: 1em;
    display: block;
    float: right;
    margin: 0;
  }
  
  .description {
    display: block;
    clear: both;
  }
}

@media screen and (orientation:portrait) {
  
  article.page .col.half { 
	  height: 49%;
    width: 100%;
    background: white;
    
    .image {
      left: 25%;
      position: relative;
      width: 50%;
    }
    
    .info {
      text-align: center;
      .store {
        margin: 0;
      }

      .price {
        line-height: 37px;
        vertical-align: middle;
      }
      p {
        margin-top: 10px;
        text-align: left;
      }
    }
  }
  
}
