@import "compass/css3/box-shadow";
@import "compass/css3/box-sizing";  


/*

  Application
  
  Items
  
  Images

*/

.button.large [class^="icon-"],
.button.large [class*=" icon-"] {
  height: 40px;
  line-height: 40px;
}

/*

  All Style for mobile site.
  --------------------------------------------------
*/
$bg_color: #f8fafa;
$text_color: #333;

body {
  background: $bg_color;
  color: $text_color;
}

.logo {
  background: inline-image("logo.png") 10px 4px no-repeat;
//  text-indent: -10000px;
  margin: 0 0 0 0px;
  padding: 0;
  padding-left: 65px;
  font-family: "HelveticaNeue-CondensedBold";
  width:  80px;
  height: 50px;
  line-height: 50px;
}

/*
    Navigation list
*/
.nav {
  list-style: none;
  
  & > li {
    display: block;
    float: left;

    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
  }
  
  & > li > a {
    display: block;
    float: none;
    padding: 11px 10px 12px;
    line-height: 21px;
    color: #222;
    text-decoration: none;
  }
}

/*
      Content
*/

.content {
  padding: 10px;
}


/*
      Form
*/

input[type=text], input[type=password], textarea {
  border: 1px solid #c6d2d2;
  border-radius: 5px;
  padding: 0px 10px;
  box-shadow: #eee 1px 1px 5px 0px inset;
  font-size: 14px;
  line-height: 19px;
  
  &:focus {
    box-shadow: #39f 0px 0px 10px 0px;
  }
}


.stream-header {
  border-bottom: 1px solid #ddd;
  text-align: center;
  margin: 20px 10px;
  height: 0px;
  & > span {
    position: relative;
    font-family: serif;
    font-style: italic;
    font-size: 14px;
    top: -18px;
    padding: 10px;
    height: 14px;
    display: inline-block;
    background: #F8FAFA;
  }
}

/*
    Homepage
*/
#hero {
  @include box-sizing(border-box);
  margin: 20px 0;
  padding: 20px 20px;
  text-align: center;
  background: #fff;
}

#trending {
  margin-top: 30px;
}


/*
    Signup Page
*/

input.email {
  width: 220px
}

form.signup {
  margin: 0 auto;
  max-width: 420px;
  text-align: center;
  
  .full {
    @include box-sizing(border-box);
    width: 100%;
  }
  
  input[type=text] {
    padding: 0.5em;
    margin-bottom: 10px;
    width: 100%;
  }
}

// Pagination
.pagination {
  display: none;
}

/*
  Product Detail Page
*/

article.product {
  .info {
    top: 0px;
    height: 100%;
    
    p {
      visibility: visible;
      white-space: initial;
      text-overflow: initial;
      margin-bottom: 1em;
    }
    
    .price {
      visibility: visible;
      
      font-size: 1.5em;
    }
    
    .button {
      margin: 0 0em 2em 0em;
    }
  }
}
