@import "compass/css3/columns";

.swipe-paging {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
}

.animate {
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.swiping {
  -webkit-transition: all .15s ease-out;
  -moz-transition: all .15s ease-out;
  -o-transition: all .15s ease-out;
  -ms-transition: all .15s ease-out;
  transition: all .15s ease-out;
}

.page {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: normal;
  overflow: hidden;
}

.page {
  transform: translate3d(0,0,0);
  -webkit-transform:translate3d(0,0,0);
}

.page.padding {
  width: 0;
}

#content {
  .page {
    padding: 22px 0 22px 22px;
    overflow: hidden;

    .info {
      margin: 0 22px;

      .title {
        margin: 0;
        padding: 70px 0 0;
        color: #2c2c2c;
        font-weight: normal;
        font-size: 23px;
        font-family: 'proxima_nova_bold';
      }

      .source {
        margin: 0;
        color: #666;
        font-size: 12px;
        font-family: 'proxima_nova_regular';
        span {
          color: #2c2c2c;
        }
      }

      .price {
        span:first-child {
          color: #2c2c2c;
          font-size: 18px;
          font-family: 'proxima_nova_bold';
        }
      }

      .store {
        position: absolute;
        top: 120px;
        right: 0;
        padding: 17px 14px 17px 22px;
        background-color: #F04500;
        color: white;
        text-transform: uppercase;
        font-size: 14px;
        font-family: 'proxima_nova_bold';
      }

      .description {
        padding-top: 25px;
        color: #666;
        font-size: 16px;
        font-family: 'proxima_nova_regular';
      }
    }
  }

  .content.page {
    padding: 22px;
    margin: 0;
    @include column-count(2);

    .touch-image {
      display:inline-block;
      width: 100%;
      height: auto;
      min-height: 50%;
      background-size: cover;
      background-position: center;
    }

    iframe {
      width: 100% !important;
    }

    * {
      margin: 0 !important;
      padding: 0 !important;
    }

    h1, h2, h3, h4, h5, h6 {
      margin: 15px 0 !important;
    }

    p {
      margin: 0 0 10px 0 !important;
    }
  }
}
