@import "compass/css3/columns";

.swipe-paging {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
}

.animate {
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.swiping {
//  -webkit-transition: all .15s ease-out;
//  -moz-transition: all .15s ease-out;
//  -o-transition: all .15s ease-out;
//  -ms-transition: all .15s ease-out;
//  transition: all .15s ease-out;
}

.page {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: normal;
  overflow: hidden;
}

.page {
  transform: translate3d(0,0,0);
  -webkit-transform:translate3d(0,0,0);
}

.page.padding {
  width: 0;
}

#content {
  .page {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  
    padding: 22px 22px 22px 22px;
    overflow: hidden;
    font-family: 'proxima_nova_regular';

    .info {
      margin: 0 22px;
    }
    
    .title {
      margin: 0;
      color: #2c2c2c;
      font-weight: normal;
      font-size: 23px;
      font-family: 'proxima_nova_bold';
    }
    .price {
      span:first-child {
        color: #2c2c2c;
        font-size: 18px;
        font-family: 'proxima_nova_bold';
      }
    }

    .store {
      position: absolute;
      top: 120px;
      right: 0;
      padding: 17px 14px 17px 22px;
      background-color: #F04500;
      color: white;
      text-transform: uppercase;
      font-size: 14px;
      font-family: 'proxima_nova_bold';
    }
    
    .source {
      margin: 0;
      color: #666;
      font-size: 12px;
      span {
        color: #2c2c2c;
      }
    }
    .description {
      padding-top: 25px;
      font-size: 16px;
    }
  }

  .content.page {
    overflow: auto;
    
    margin: 0;    
    
    header {
      margin: 0 0 18px;
      padding-bottom: 15px;
      border-bottom:1px solid #eee;
    }
    
    .title {
      // margin: 0.5em 0;
    }
    
    .author, .published-at {
      color: #333;
      font-family: Georgia;
      font-style: italic;
    }
    
    .body {
      // @include column-count(2);
      // @include column-gap(40px);
      font-size: 13px;
      line-height: 18px;
      color: #222;
      margin: 0;
      
      text-align: justify;
      -webkit-hyphens: auto;
    }
    
    iframe {
      width: 100% !important;
    }

    .body * {
//      margin: 0 !important;
//      padding: 0 !important;
    }
    
    .body {
      p {
        margin: 1.2em 0 !important;
      }
      
      img {
        box-sizing: border-box;
        clear: both;
        display: block;
        float: none;
        margin: 0 auto;
      }
    }
    
//
//    h1, h2, h3, h4, h5, h6 {
//      margin: 15px 0 !important;
//    }
//
//    p {
//      margin: 0 0 10px 0 !important;
//    }
  }
}
