a {
  color: #4a90a6;
  text-decoration: none;

  &:visited {
    color: #333;
  }
}

.toolbar, a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

@font-face {
  font-family: 'proxima_nova_ltregular';
  font-weight: normal;
  font-style: normal;
  src: font-url('../../fonts/proximanova-light-webfont.eot');
  src: font-url('../../fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('../../fonts/proximanova-light-webfont.woff') format('woff'),
       font-url('../../fonts/proximanova-light-webfont.ttf') format('truetype'),
       font-url('../../fonts/proximanova-light-webfont.svg#proxima_nova_ltregular') format('svg');
}

@font-face {
  font-family: 'proxima_nova_bold';
  font-weight: normal;
  font-style: normal;
  src: font-url('../../fonts/proximanova-bold-webfont.eot');
  src: font-url('../../fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('../../fonts/proximanova-bold-webfont.woff') format('woff'),
       font-url('../../fonts/proximanova-bold-webfont.ttf') format('truetype'),
       font-url('../../fonts/proximanova-bold-webfont.svg#proxima_nova_bold') format('svg');
}

@font-face {
  font-family: 'proxima_nova_regular';
  font-weight: normal;
  font-style: normal;
  src: font-url('../../fonts/proximanova-regular-webfont.eot');
  src: font-url('../../fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('../../fonts/proximanova-regular-webfont.woff') format('woff'),
       font-url('../../fonts/proximanova-regular-webfont.ttf') format('truetype'),
       font-url('../../fonts/proximanova-regular-webfont.svg#proxima_nova_regular') format('svg');
}
