@import "compass/css3/box-sizing";

//      User interface

//------ ui/menu

nav#menu {
  width: 260px;
  background: #161717;

  .logo {
    height: 120px !important;
    background: url("/images/logo.png") no-repeat center center;
//    text-indent: -1000000px;
    a {
      margin-left: -25px;
      height: 120px;
      width: 220px;
    }
  }

  .navigation {
    li {
      font-size: 14px;
      font-family: "HelveticaNeue-Light";
      letter-spacing: 0.8px;
      font-weight: bold;
      @include box-sizing(border-box);
      height: 44px;
      line-height: 44px;
      padding: 0 25px;
      border-top: 1px solid #1e2020;
      border-bottom: 1px solid #000;
    }

    a {
      display: block;
      color: white;
    }

    li.active {
//      background: #f04f4f;
//      border-top: 1px solid #f48080;
    }
    
    // Level two menu
    & > ul li {
      padding-left: 40px;
      font-weight: normal;
      
      a {
        color: #ccc;
      }
    }

//    li.active:active {
//      background: #f04f4f;
//      border-bottom: 1px solid #f48080;
//      border-top: 1px solid #000;
//    }

    li.user {

    }
  }
}
//------ ui/toolbar

// Toolbar
header.toolbar {
  position: relative;
  height: 50px;
  background: #fff;
  z-index: 2;
  border-bottom: 1px solid #eee;
  a {
    position: absolute;
    display: inline-block;
    height: 50px;
    cursor: pointer;
  }

  a.menu {
    left: 0;
    width: 64px;
    border-right: 1px solid #EEE;
    background: url('/images/icon-reorder.png') no-repeat center;
  }

  a.type {
    right: 0;
    width: 64px;
    border-left: 1px solid #EEE;
    background: url('/images/icon-filter.png') no-repeat center;
  }

  a.back {
    left: 65px;
    margin-left: 10px;
    padding-left: 8px;
    width: 60px;
    border-right: 1px solid #EEE;
    background: url("/images/back.png") no-repeat 0% 50%;
    color: #666;
    text-align: center;
    font-size: 14px;
    font-family: "proxima_nova_regular";
    line-height: 50px;
  }

  & > h1 {
    overflow: hidden;
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    letter-spacing: 0.7px;
    font-weight: normal;
    font-size: 17px;
    font-family: "proxima_nova_ltregular";
    line-height: 50px;

    &.dropdown-arrow:after {
      display: inline-block;
      width: 18px;
      height: 11px;
      background: url("/images/down-arrow.png") no-repeat center;
      content: "";
    }
  }

  div.actions {
    position: absolute;
    top: 0px;
    right: 0px;

    a {
      width: 56px;
      border-left: 1px solid #eee;
    }

    .heart {
      right: 114px;
      background: url('/images/action-like.png') no-repeat center;
    }

    .collect {
      right: 57px;
      background: url('/images/action-collect.png') no-repeat center;
    }

    .share {
      right: 0px;
      background: url('/images/action-share.png') no-repeat center;
    }
  }
}


//------ ui/forms
//------ ui/buttons
//------ ui/popover
//------ ui/modal
