@charset "UTF-8";

@import "compass/css3/inline-block";
@import "compass/css3/box-sizing";
@import "compass/css3/border-radius";
@import "compass/css3/text-shadow";
@import "compass/css3/box-shadow";

//      User interface
//------ ui/menu
//------ ui/forms
//------ ui/buttons
//------ ui/popover
//------ ui/modal
//------- ui/discover_menu



//------ ui/menu

body.expand-menu .navigation {
    li.active:after {
      content:"";
      position: absolute;
      right:-6px;
      top: 50%;
      margin-top: -6px;
      border-color: transparent rgba(20,20,20,1);
      border-style: solid;
      border-width: 8px 0px 8px 8px;
      height: 0px;
      width: 0px;
    }

}

nav#menu {
  width: 260px;
  background: rgba(12,12,12, 1);

  .logo {
    height: 120px !important;
    background: url("/images/logo.png") no-repeat center center;
    a {
      margin-left: -25px;
      height: 120px;
      width: 220px;
    }
  }

  .navigation {
    li {
      font-size: 15px;
      font-family: "HelveticaNeue";
      letter-spacing: 0.8px;
      @include box-sizing(border-box);
      height: 44px;
      line-height: 44px;
      padding: 0 25px;
      border-top: 1px solid rgba(15, 15, 15, 1);
      border-bottom: 1px solid rgba(10, 10, 10, 1);
      position: relative;
    }

    a {
      display: block;
      color: white;
    }

    li.active {
      background: rgba(20,20,20,1);
    }

    li.active span.right-icon {
      color: white;
    }

    // Level two menu
    & > ul li {
      padding-left: 30px;
      font-weight: normal;

      a {
        color: #ccc;
      }
    }

    & > ul li a:before {
      font-size: 12px;
      content: '→';
      width: 10px;
      overflow: none;
      margin-right: 5px;
      color: #666;
    }

    .counter {
      position: absolute;
      right: 24px;
      font-size: 12px;
    }

    .right-icon {
      position: absolute;
      right: 20px;
      color: #444;
      font-size: 24px;
    }


    li.user {
      position: absolute;
      bottom: 10px;
      width: 100%;

      a {
        font-size: 12px;
      }

      .thumb {
        @include inline-block;
        @include border-radius(20);
        overflow:hidden
      }

      .settings {
        @include inline-block;
        float: right;
        font-size: 24px;
      }
    }
  }
}
//------ ui/toolbar

// Toolbar
header.toolbar {
  position: relative;
  height: 50px;
  background: #fff;
  z-index: 2;
  border-bottom: 1px solid #eee;
  a {
    height: 50px;
    cursor: pointer;
  }

  a.menu, a.back, a.channel, a.follow {
    float: left;
  }

  a.menu {
    width: 64px;
    border-right: 1px solid #EEE;
    background: url('/images/icon-reorder.png') no-repeat center;
  }

  a.filter {
    float: right;
    width: 64px;
    border-left: 1px solid #EEE;
    background: url('/images/icon-filter.png') no-repeat center;
  }

  a.back, a.channel {
    margin-left: 21px;
    width: 85px;
    border-right: 1px solid #EEE;
    background: url("/images/back.png") no-repeat 0% 50%;
    color: #666;
    text-align: center;
    font-style: italic;
    font-size: 12px;
    font-family: Georgia, "proxima_nova_regular";
    line-height: 50px;
  }

  a.follow {
    margin-left: 13px;
    padding-left: 14px;
    width: 77px;
    border-right: 1px solid #EEE;
    background: url("/images/action-collect.png") no-repeat 0% 50%;
    color: #666;
    text-align: center;
    font-style: italic;
    font-size: 12px;
    font-family: Georgia, "proxima_nova_regular";
    line-height: 50px;
  }

  .title {
    position: absolute;
    left: 50%;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    letter-spacing: 0.7px;
    font-weight: normal;
    font-size: 17px;
    font-family: "proxima_nova_ltregular";
    line-height: 50px;

    span {
      position: relative;
      left: -50%;
      color: #333;

      &:after {
        display: inline-block;
        width: 18px;
        height: 11px;
        background: url("/images/down-arrow.png") no-repeat center;
        content: "";
      }
    }
  }

  div.actions {
    position: absolute;
    top: 0px;
    right: 0px;

    a {
      @include inline-block;
      width: 56px;
      border-left: 1px solid #eee;
    }

    .heart {
      right: 114px;
      background: url('/images/action-like.png') no-repeat center;
    }

    .collect {
      right: 57px;
      background: url('/images/action-collect.png') no-repeat center;
    }

    .share {
      right: 0px;
      background: url('/images/action-share.png') no-repeat center;
    }
  }
}


//------ ui/forms
//------ ui/buttons
//------ ui/popover

div.popover {
  position: absolute;
  top: 27px;
  width: 110px;
  font-size:13px;

  span.drop-top {
    display: block;
    margin: -7px 0 0;
    padding: 7px 15px 0px;
    background: url("/images/top-arrow.png") no-repeat center top;
  }

  div.drop-wrapper {
    @include box-shadow(#c9c9c9 2px 2px 5px);
    position: absolute;
    top: 36px;
    border:1px solid #eee;
    background-color: white;
    font-family: "Helvetica Neue", Hevetica, Arial, sans-serif;
  }

  ul.popover-list {
    overflow: auto;
    margin: 0;
    padding: 0;

    li {
      display: block;
      float: none;
      margin: 0;
      padding: 18px 0px 18px 10px;
      border-top: 1px solid #eee;
      background-image: none;

      a {
        height: 15px;
        line-height: 17px;
        text-transform: uppercase;
        font-size: 12px;
        font-family: "proxima_nova_regular";
        position: static;
        display: block;
        padding: 18px 0px 18px 18px;
        color: #b9b9b9;
        text-shadow: none;
        font-weight: normal;

        &:active, &.active {
          color: #6f6f6f;
        }
      }

      &.header {
        color: #7A7A7A;
        text-align: center;
        font-size: 16px;
        font-family: "proxima_nova_regular";
      }
    }

    li:first-child {
      border-top: none;
    }
  }
}

#filterDropdown {
  right: -10px;

  .drop-wrapper {
    left: -26px;

    .drop-top {
      margin-left: 70px;
      padding-right: 30px;
    }
  }

  ul.popover-list li {
    padding: 0;

    a {
      vertical-align: top;

      span {
        display: inline-block;
        padding-right: 16px;
        width: 15px;
        height: 15px;
      }

      &.view-all span { background: url(/images/view-all-icon.png) no-repeat left top; }
      &.shop span { background: url(/images/shop-icon.png) no-repeat left top; }
      &.read span { background: url(/images/read-icon.png) no-repeat left top; }
      &.photo span { background: url(/images/photo-icon.png) no-repeat left top; }
    }

    a:active span, a.active span {
      background-position-y: bottom;
    }
  }
}

#collectionDropdown {
  left: 50%;
  margin-left: -151px;

  .drop-wrapper {
    width: 300px;
    min-height: 94px;

    li {
      padding: 0;

      &.header {padding: 10px 0px;}
      a {
        height: 18px;
        color: #6F6F6F;
        font-size: 13px;
        line-height: 20px;
      }

      a.active {
        background-color: #f3f3f3;
      }
    }
  }
}

#shareDropdown {
  right: -10px;

  .drop-wrapper {
    left: -26px;

    .drop-top {
      margin-left: 70px;
      padding-right: 30px;
    }

    .popover-list {
      a {
        display: inline;
        padding: 0;
        border: none;
        color: #6f6f6f;
        vertical-align: bottom;

        i {
          width: 28px;
          font-size: 19px;
        }
      }
    }
  }
}

//------ ui/modal
//------- ui/discover_menu

/*      Discover menu   */
#discover {
  background: white;
  position: absolute;
  z-index: 100;
  height: 1000px;
  width: 100%;

  header {
    padding: 40px 20px;
    background: white;
    position: relative;
    z-index: 1;

    input[type=search] {
      @include box-sizing(border-box);
      @include border-radius(5px);
      font-family: Georgia;
      font-style: italic;
      font-size: 16px;
      padding: 10px 20px;
      border: 1px solid #ddd;
      width: 100%;

      &:focus {
//        box-shadow: 0 0 5px ;
        box-shadow: 0 0 5px rgba(0, 100, 255, 1);
        outline: 0;
      }
    }
  }

  ul#category {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 220px;
    height: 100%;
    background: #eee;
    float: left;
    position:relative;

    li {
      position: relative;
      font-size: 14px;
      font-family: "HelveticaNeue-Light";
      letter-spacing: 0.8px;
      @include box-sizing(border-box);
      height: 44px;
      line-height: 44px;
      padding: 0 25px;
      border-top: 1px solid #ddd;
//        border-bottom: 1px solid rgba(10, 10, 10, 1);
    }

    a {
      display: block;
      color: #444;
    }

    li:hover {
      background: rgba(230, 230, 230,1);
    }

    li.active {
      background: #ccc;
    }

    li.active:after {
      content:"";
      position: absolute;
      right:-6px;
      top: 50%;
      margin-top: -6px;
      border-color: transparent #ccc;
      border-style: solid;
      border-width: 8px 0px 8px 8px;
      height: 0px;
      width: 0px;
    }

    // Level two menu
    & > ul li {
      padding-left: 40px;
      font-weight: normal;

      a {
        color: #ccc;
      }
    }
  }
}


ul.channels {
  @include box-sizing(border-box);
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
  
  overflow: auto;
  -webkit-overflow-scrolling:touch;
  
  padding-top: 120;
  left: 240px;
  top: 0;
  border-top: 200px;
  position: absolute;
  bottom: 0;
  padding-bottom: 50%;
  
  
  li {
    position: relative;
    @include box-sizing(border-box);
    float: left;
    color: white;


    font-size: 14px;
    padding: 15px;
    width: 240px;
    height: 170px;
    background: #999;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: rgba(0,0,0, 0.5);
    background-size: cover;
  }

  .action {
    font-family: "Georgia";
    position: absolute;
    top: 30%;
    left: 30px;
    float: left;
    margin-right: 10px;
    text-align: center;
    display: block;
    font-size: 24px;
    font-weight: bold;
    line-height: 70px;
    width: 70px;
    height: 70px;

    @include border-radius(40px);
    color: white;
    border: 1.5px solid rgba(255,255,255, 0.3);
  }

  .action.followed {
    background: rgba(240, 69, 0, 0.2);
  }

  .action:hover {
    background: rgba(255, 255, 255, 0.2);
  }

  .action.view {
    left: 130px;
  }
}
