@charset "utf-8";

@import "bourbon";

@import "spring";
@import 'ui/animation';
@import 'ui/icons';
@import 'ui/dropdown';

// UI/menu

@import 'app/magazine';
@import 'app/cover';


// 5. ITEM             ==============================
//@import 'app/item';

// 6. PAGE             ==============================
@import 'app/page';

@import 'app/theme';


// Issue branding

.logo {
  float: left;
  width: 200px;
  height: 80px;
  background: image-url("issue-logo.png") -0 -80px no-repeat;
  text-indent: -111111px;

  &.small {
    width: 140px;
    height: 50px;
    background-position: -200px -80px;
  }

  .dark-theme & {
    background-position: 0 0;
  }

  .dark-theme &.small {
    background-position: -200px 0;
  }
}

.logo.icon {
  float: left;
  width: 200px;
  height: 150px;

  background: image-url("logo-round.svg");
  background-size: contain;
  background-position: center;
  &.small {
    position: relative;
    zoom: 0.8;
    top: 40px;
    left: 0px;
    width: 100px;
    height: 100px;
//    background-position: -250px 0px;
    zoom: 0.7;
  }

  .dark-theme & {
//    background-position: 0 -250px;
  }

  .dark-theme &.small {
//    background-position: -250px -250px;
  }
}


[role=main] {
  @include box-sizing(border-box);

  position: relative;
  & > .content {
    margin: 20px;
  }
  
  #sidebar + & {
//    margin-left: 400px;
  }
}

// Attribution
.attribution {
  display: inline;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 3px 10px;
  color: white;
  background: rgba(0,0,0, 0.5);
  font-size: 12px;
}


// 6. Different Sections

//@import 'app/editions';
//@import 'app/signin';
//@import 'app/users';
//@import 'app/cover';


// 7. RESPONSIVE       ==============================

.container {
  margin:0 auto;
  width: 85%;
}

@media only screen and (min-width: 768px) {
  
  .container {
    margin:0 auto;
    max-width: 980px
  }
}



