@charset "UTF-8";

@import "base/media-queries";

//      User interface
//------ ui/menu
//------ ui/forms
//------ ui/buttons
//------ ui/popover
//------ ui/modal
@import 'ui/modal';
@import 'ui/icons';

//------ ui/menu

nav.tab-menu {
  margin-bottom: 2%;

  @include clearfix;

  ul {
    list-style: none;
    padding: 0;
    border:1px solid #ccc;
    clear: left;
  }

  li {
    border-bottom:1px solid #ccc;
    border-right: 0;

    &:last-child {
      border:0;
    }
  }

  a {
    padding: 10px 10px;
    display:block;
    .no-touch &:hover {
      background: #eee;
    }
  }

  @include min-screen(768) {
    ul {
      float: left;
    }
    li {
      border-right:1px solid #ccc;
      border-bottom: 0;
      float: left;
    }
  }
}


footer {
  clear: both;
}

//------ ui/form
//------ ui/button
@import "ui/button";

//------ ui/popover
@import "ui/dropdown";
@import "ui/popover";

//------ ui/modal
//------- ui/discover_menu
