
// .toolbar a.share {
//   display: none;
// }

// .toolbar a.subscribe {
//   right: 0;
// }

#energy-issue {
  p {
    font-family: georgia;
    font-size: 18px;
    line-height: 1.5em;
  }

  p:empty {
    display: none;
  }

  article.one-column {
  }

  // Start Cover Page Custom Styles
  [data-page=index] {
    .brand {
      position: relative;
      display: block;
      background: url(brand.png) no-repeat;
      background-size: contain;
      background-position: center;
      width: 45vmin;
      height: 15vmin;
      margin: 0 auto 0em;
      color: transparent;
      text-shadow: none;
    }

    .title {
      font-family: "HelveticaNeue-CondensedBold", "sans-serif-condensed";
      font-size: 36px;
      font-weight: bold;
      letter-spacing: 4px;
      text-shadow: 1px 1px 30px rgba(0, 0, 0, 0.1);
    }

    .description {
      font-family: georgia;
      font-style: italic;
      text-transform: capitalize;
      border: 0.5px solid rgba(255,255,255,0.5);
      border-width: 1px 0;
      padding: 5px 0;
      margin: 0 auto 2vmin;
    }

    .issue-logo {
      display: none;
    }

    @media only screen and (min-width: 768px) {
      .title {
        font-size: 90px;
        letter-spacing: 5px;
      }

      .description {
        width: 26em;
      }
    }
  }
  // End Cover Page Custom Styles

  // Start Return To Investment Custom Styles
  [data-page='turbine'] {
    @media only screen and (min-width: 768px) {
      header {
        text-align: left;
      }
    }
  }

  [data-page='turbine/2'] {
    figure.cover-area {
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.3);
      }

      .container {
        width: 75%;
        height: 80px;
        position: absolute;
        top: 40%;
        left: 0;
        right: 0;
        margin: -40px auto 0;
        color: white;
      }

      blockquote {
        margin: 0;
        padding: 0;
        white-space: initial;
        text-align: left;

        &:before,
        &:after {
          content: none;
        }
      }

      figcaption {
        position: absolute;
        left: 12px;
        bottom: 12px;
        font-size: 12px;
        color: white;
        width: 180px;
        text-align: left;
      }

      a.show-map {
        right: 0;
      }
    }

    @media only screen and (min-width: 768px) {
      figure.cover-area {
        figcaption {
          width: initial;
        }
      }
    }
  }

  [data-page='turbine/3'],
  [data-page='turbine/4'] {
    @media only screen and (min-width: 768px) {
      .cover-area.background {
        background-size: contain;
      }
    }
  }
  // End Return To Investment Custom Styles

  // Start Return To Investment Custom Styles
  [data-page='ret-question/1'] {
    @media only screen and (min-width: 768px) {
      p {
        margin: 1em 0;
      }

      .content {
        .image {
          -webkit-column-break-after: always;
          -moz-column-break-after: always;
          column-break-after: always;
        }
      }
    }
  }
  // End Return To Investment Custom Styles

  // Start The People's Power Custom Styles
  [data-page='peoples-power/2'] {
    @media only screen and (min-width: 768px) {
      .cover-area.background {
        background-size: contain;
      }
    }
  }
  // End The People's Power Custom Styles

  // Start Where your power comes from Custom Styles
  [data-page='power-source/2'] {
    @media only screen and (min-width: 768px) {
      .cover-area.background {
        background-size: contain;
      }
    }
  }
  // End Where your power comes from Custom Styles
}
