
// .toolbar a.share {
//   display: none;
// }

// .toolbar a.subscribe {
//   right: 0;
// }
%icon-style {
  font-family: 'issue-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-align: center;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:before {
    font-size: 26px;
  }
}

#energy-issue {

  p {
    font-family: georgia;
    font-size: 18px;
    line-height: 1.4;
  }

  p:empty {
    display: none;
  }

  article.one-column {
  }

  .content {
    .button.outline.active {
      background: rgba(255,255,255, 0.3);
    }
  }

  .page.infographic {
    & > .content {
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      margin: 0;
      max-height: initial;
    }

    & > .content header {
      margin: 30px 0 0;
      z-index: 1;
      max-width: 500px;

      .title {
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 3px;
        text-align: left;
      }

      .subtitle {
        text-align: left;
      }

      .description {
        margin-top: 0;
      }
    }

    .body {
      text-align: center;
    }

    .body > figure.image {
      margin: 0 auto;
      z-index: 1;
    }

    .cover-area {
      position: absolute;
      display: inline-block;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;

      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
    }

    .info-box {
      .background { display: none; }
    }

    .legend {
      position: absolute;
      left: 4px;
      bottom: 4px;
      z-index: 1;
    }

    .hotspot {
      @extend %icon-style;

      color: rgba(255, 255, 255, 0.7);
      width: 30px;
      z-index: 2;

      &:before{
        content: "\e65d";
      }

      &:active {
        color: #fff;
      }
    }

    .tabs {
      .button {
        line-height: 33px;
        height: 33px;
        padding: 0 30px;

        &:last-child {
          border-left: 0;
        }
      }
    }

    @media only screen and (min-width: 768px) {
      .tabs {
        position: absolute;
        right: 20px;
        top: 50px;
      }

      .legend {
        left: 20px;
        bottom: 50px;
        z-index: 2;
      }
    }
  }

  // Start Cover Page Custom Styles
  [data-page=index] {
    .brand {
      position: relative;
      display: block;
      background: url(brand.png) no-repeat;
      background-size: contain;
      background-position: center;
      width: 45vmin;
      height: 14vmin;
      margin: 0 auto 0.5em;
      color: transparent;
      text-shadow: none;
    }

    .title {
      font-family: "HelveticaNeue-CondensedBold", "sans-serif-condensed";
      font-size: 48px;
      font-weight: bolder;
      letter-spacing: 4px;
      text-shadow: 1px 1px 30px rgba(0, 0, 0, 0.1);
    }

    .description {
      text-transform: uppercase;
      padding: 5px 0;
      margin: 0 auto;
    }

    .issue-logo {
      display: none;
    }

    @media only screen and (min-width: 768px) {
      .brand {
        height: 12vmin;
      }

      .title {
        font-size: 90px;
        letter-spacing: 5px;
      }

      .description {
        width: 26em;
      }
    }
  }
  // End Cover Page Custom Styles

  // TOC
  [data-page='toc'] {
    .menu a.toc .story {
      text-decoration: none;
    }
  }
  // TOC

  // Start Return To Investment Custom Styles
  // Start Flinders Range Custom Styles
  [data-page='turbine'] {
    .cover-area {
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      overflow: hidden;
      margin: 0;

      &:before {
        content: none;
      }

      header {
        text-align: left;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 30%;
        padding: 0 10px;
        z-index: 1;

        transform: translateY(-20%);
        -webkit-transform: translateY(-20%);

        // Video background image
        .title, .subtitle {
          color: white;
          text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
          z-index: 2;
        }

        .title {
          font-weight: bold;
          padding: 0;
          margin-bottom: 30px;
        }

        .subtitle {
          font-family: proxima-nova;
          font-size: 1.9rem;
        }
      }

      video {
        margin-left: -0.25em; // offset inline block white space
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        background-repeat: no-repeat;

        animation:  fade 0.8s ease both;
        -webkit-animation:  fade 0.8s ease both;

        animation-delay: 0.8s;
        -webkit-animation-delay: 0.8s;
      }

      figcaption {
        position: absolute;
        left: 10px;
        bottom: 14px;
        font-size: 12px;
        color: white;
        padding: 0;
        width: auto;
        max-width: 160px;
      }

      .page-scroll {
        position: absolute;
        bottom: 4px;
        left: 50%;
        margin-left: -20px;
        text-decoration: none;

        i {
          font-size: 40px;
          color: white;
        }
      }
    }

    .content {
      background: white;
      color: #222;

      h2 {
        text-align: center;
      }
    }

    @media only screen and (min-width: 768px) {
      .cover-area {
        figcaption {
          left: 20px;
          font-size: 14px;
          max-width: initial;
        }

        header {
          max-width: 45em;
          margin: 0 0 0 5%;
        }
      }

      .content {
        figure.wrapping {
          float: left;
          max-width: 320px;
          margin: 0 30px 10px 0;
        }
      }
    }
  }
  // End

  [data-page='turbine/2'] {
    figure.cover-area {
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.3);
      }

      .container {
        width: 75%;
        height: 80px;
        position: absolute;
        top: 40%;
        left: 0;
        right: 0;
        margin: -40px auto 0;
        color: white;
      }

      blockquote {
        margin: 0;
        padding: 0;
        white-space: initial;
        text-align: left;

        &:before,
        &:after {
          content: none;
        }
      }

      figcaption {
        position: absolute;
        left: 12px;
        bottom: 12px;
        font-size: 12px;
        color: white;
        width: 180px;
        text-align: left;
      }

      a.show-map {
        right: 0;
      }
    }

    @media only screen and (min-width: 768px) {
      figure.cover-area {
        figcaption {
          width: initial;
        }
      }
    }
  }



  // End Return To Investment Custom Styles

  // Infographic

  [data-page='turbine/3'] {
    .wind-bg, .solar-bg {
      display: none;
    }

    figure.image {
      svg {
        position: absolute;
        left: 0;
        top: 0;
      }
    }

    svg path.state {
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
    }

    svg path:hover {
      fill: black;
    }

    svg path.bg:hover {
      fill: none;
    }

    @media only screen and (min-width: 768px) {
      .states {
        opacity: 0.7;
      }

      .info-box {
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }

  }


  // Start Return To Investment Custom Styles
  [data-page='ret-question/1'],
  [data-page='ret-question/3'] {
    figure.original {
      img {
        position: static;
      }

      figcaption {
        bottom: 0;
      }

      blockquote:before,
      blockquote:after {
        color: white;
      }
    }

    @media only screen and (min-width: 768px) {
      p {
        margin: 1em 0;
      }

      .content {
        blockquote {
          padding-top: 1.5em;

          -webkit-column-break-before: always;
          -moz-column-break-before: always;
          column-break-before: always;
        }

        figure.image {
          margin: 0;
          max-height: 90vh !important;

          -webkit-column-break-after: always;
          -moz-column-break-after: always;
          column-break-after: always;

          img {
            max-height: 100%;
          }
        }
      }
    }
  }

  [data-page='ret-question/2'] {
    figcaption {
      position: absolute;
      width: 100%;
      padding: 10px;
      color: white;
      box-sizing: border-box;
      bottom: 20px;
    }

    @media only screen and (min-width: 768px) {
      figcaption {
        line-height: 50px;
        background: none;
        left: 0;
        bottom: 0;
        padding: 0 10px;
      }
    }
  }
  // End Return To Investment Custom Styles

  // Start The People's Power Custom Styles
  [data-page='peoples-power'] {
    header {
      text-align: left;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.2);

      .category,
      .subtitle {
        color: white
      }

      .subtitle {
        margin: 0;
      }
    }
  }

  [data-page='peoples-power/3'] {
    #power_chart {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      margin: 0;
      z-index: 1;
    }

    .chart {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      opacity: 0.9;
    }

    &.infographic .legend {
      position: absolute;
      bottom: 22%;
    }

    .tabs.button-group .button {
      padding: 0 14px;
    }

    @media only screen and (min-width: 768px) {
      &.infographic .legend {
        left: 4px;
        bottom: 24px;
      }

      .tabs .button {
        padding: 0 30px;
      }
    }
  }
  // End The People's Power Custom Styles

  // Start Where your power comes from Custom Styles

  // End Where your power comes from Custom Styles
}
