
// .toolbar a.share {
//   display: none;
// }

// .toolbar a.subscribe {
//   right: 0;
// }

#energy-issue {
  p {
    font-family: georgia;
    font-size: 18px;
    line-height: 1.4;
  }

  p:empty {
    display: none;
  }

  article.one-column {
  }

  // Start Cover Page Custom Styles
  [data-page=index] {
    .brand {
      position: relative;
      display: block;
      background: url(brand.png) no-repeat;
      background-size: contain;
      background-position: center;
      width: 45vmin;
      height: 12vmin;
      margin: 0 auto 0.5em;
      color: transparent;
      text-shadow: none;
    }

    .title {
      font-family: "HelveticaNeue-CondensedBold", "sans-serif-condensed";
      font-size: 36px;
      font-weight: bolder;
      letter-spacing: 4px;
      text-shadow: 1px 1px 30px rgba(0, 0, 0, 0.1);
    }

    .description {
      text-transform: uppercase;
//      border: 0.5px solid rgba(255,255,255,0.5);
//      border-width: 1px 0;
      padding: 5px 0;
      margin: 0 auto 2vmin;
    }

    .issue-logo {
      display: none;
    }

    @media only screen and (min-width: 768px) {
      .title {
        font-size: 90px;
        letter-spacing: 5px;
      }

      .description {
        width: 26em;
      }
    }
  }
  // End Cover Page Custom Styles

  // Start Return To Investment Custom Styles
  // Start Flinders Range Custom Styles
  [data-page='turbine'] {
    .cover-area {
      height: 100vh;
      background-size: cover;
      background-repeat: no-repeat;
      overflow: hidden;

      &:before {
        content: none;
      }

      header {
        max-width: 45em;
        margin: 0 0 0 5%;
        text-align: left;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 30%;
        padding: 0 10px;
        z-index: 1;

        transform: translateY(-20%);
        -webkit-transform: translateY(-20%);

        // Video background image
        .title, .subtitle {
          color: white;
          text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
          z-index: 2;
        }

        .title {
          font-weight: bold;
          padding: 0;
          margin-bottom: 30px;
        }

        .subtitle {
          font-family: proxima-nova;
          font-size: 1.9rem;
        }
      }

      video {
        margin-left: -0.25em; // offset inline block white space
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        background-repeat: no-repeat;

        animation:  fade 0.8s ease both;
        -webkit-animation:  fade 0.8s ease both;

        animation-delay: 0.8s;
        -webkit-animation-delay: 0.8s;
      }

      figcaption {
        position: absolute;
        left: 10px;
        bottom: 20px;
        font-size: 12px;
        color: white;
        padding: 0;
        width: auto;
        max-width: 100px;
      }

      .page-scroll {
        position: absolute;
        bottom: 4px;
        left: 50%;
        margin-left: -20px;
        text-decoration: none;

        i {
          font-size: 40px;
          color: white;
        }
      }
    }

    .content {
      background: white;
      color: #222;

      h2 {
        text-align: center;
      }
    }

    @media only screen and (min-width: 768px) {
      .cover-area {
        figcaption {
          left: 20px;
          font-size: 14px;
          max-width: initial;
        }
      }

      .content {
        figure.wrapping {
          float: left;
          max-width: 320px;
          margin: 0 30px 10px 0;
        }
      }
    }
  }
  // End 

  [data-page='turbine/2'] {
    figure.cover-area {
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.3);
      }

      .container {
        width: 75%;
        height: 80px;
        position: absolute;
        top: 40%;
        left: 0;
        right: 0;
        margin: -40px auto 0;
        color: white;
      }

      blockquote {
        margin: 0;
        padding: 0;
        white-space: initial;
        text-align: left;

        &:before,
        &:after {
          content: none;
        }
      }

      figcaption {
        position: absolute;
        left: 12px;
        bottom: 12px;
        font-size: 12px;
        color: white;
        width: 180px;
        text-align: left;
      }

      a.show-map {
        right: 0;
      }
    }

    @media only screen and (min-width: 768px) {
      figure.cover-area {
        figcaption {
          width: initial;
        }
      }
    }
  }

  [data-page='turbine/3'],
  [data-page='turbine/4'],
  .page.infographic {
    @media only screen and (min-width: 768px) {
      .cover-area.background {
        background-size: contain;
      }
    }
  }
  // End Return To Investment Custom Styles

  // Start Return To Investment Custom Styles
  [data-page='ret-question/1'],
  [data-page='ret-question/3'] {
    figure.original {
      img {
        position: static;
      }

      figcaption {
        bottom: 0;
      }

      blockquote:before,
      blockquote:after {
        color: white;
      }
    }

    @media only screen and (min-width: 768px) {
      p {
        margin: 1em 0;
      }

      .content {
        blockquote {
          padding-top: 1.5em;

          -webkit-column-break-before: always;
          -moz-column-break-before: always;
          column-break-before: always;
        }

        figure.image {
          margin: 20px 0 0;

          -webkit-column-break-after: always;
          -moz-column-break-after: always;
          column-break-after: always;
        }
      }
    }
  }

  [data-page='ret-question/2'] {
    figcaption {
      width: 100%;
      height: 50px;
      background: none;
      padding: 0;
    }
  }
  // End Return To Investment Custom Styles

  // Start The People's Power Custom Styles
  [data-page='peoples-power/2'] {
    @media only screen and (min-width: 768px) {
      .cover-area.background {
        background-size: contain;
      }
    }
  }
  // End The People's Power Custom Styles

  // Start Where your power comes from Custom Styles
  [data-page='power-source/2'] {
    @media only screen and (min-width: 768px) {
      .cover-area.background {
        background-size: contain;
      }
    }
  }
  // End Where your power comes from Custom Styles
}
