
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'Gotham Black';
  src: url('fonts/gotham-black.ttf') format('truetype');
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'Gotham Thin';
  src: url('fonts/gotham-thin.ttf') format('truetype');
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'Gotham';
  src: url('fonts/gotham-book.ttf') format('truetype');
}

// $brand-green: #31825F;
$brand-green: #0C7C33;

@mixin brand-title {
  color: $brand-green;
  font-family: 'Gotham Thin';
  font-size: 30px;
  font-weight: bold;
}

@mixin header-style {
  text-align: left;
  font-weight: lighter;
  line-height: normal;
}

#rebalance-issue {
  h1 {
    color: $brand-green;
    font-weight: bold;
  }

  h2 {
    color: $brand-green;
  }

  p:empty {
    display: none;
  }

  .subtitle {
    font-family: 'proxima-nova';
    font-style: normal;
  }

  .highlight {
    border: 2px solid $brand-green;
    padding: 10px;

    .row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
    }

    p {
      color: $brand-green;
    }
  }

  // Start Cover
  [data-page='index'] {
    .brand {
      position: relative;
      display: block;
      background: url(brand.png) no-repeat;
      background-size: contain;
      background-position: center;
      width: 45vmin;
      height: 14vmin;
      margin: 0 auto;
      color: transparent;
      text-shadow: none;
    }

    .title {
      color: white;
      font-family: 'proxima-nova';
      font-weight: bolder;
      letter-spacing: 10px;
      text-shadow: 1px 1px 30px rgba(0, 0, 0, 0.1);

      font-size: 3.9em;
      line-height: 1em;
      margin: 50px 0 0;
    }

    .description {
      position: static;
      text-transform: uppercase;
      padding: 0;
      margin: -3.8em 0 0;
      font-size: 1.6em;
      font-weight: bold;
      letter-spacing: 8px;
      font-family: "HelveticaNeue-CondensedBold";
      white-space: nowrap;
    }

    .issue-logo {
      display: none;
    }

    .extra-1 {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 400px;
      height: 400px;
      background-image: url(sparkles.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      margin-left: -200px;
      margin-top: -70px;

      animation: sparkles 4s linear 0s infinite alternate;
    }

    @media only screen and (min-width: 768px) {
      .title {
        font-size: 5em;
      }

      .description {
        font-size: 2.2em;
      }
    }
  }
  // End Cover

  [data-page='toc'] {
    .head h2,
    .story {
      color: $brand-green;
    }

    @media only screen and (min-width: 768px) {
      .content {
        margin: 0;
      }
    }
  }

  [data-page='welcome'],
  [data-page='tummy-troubles'] {
    .title {
      display: none;
    }

    .cover-area {
      background-position: 0 0;
    }

    figcaption {
      color: #000;
      top: 18%;
      left: 6%;
      bottom: initial;
      right: initial;
      font-size: 20px;
      font-family: georgia;
      font-style: normal;
      text-shadow: initial;
    }

    .brand-title {
      @include brand-title;
    }

    p {
      font-family: 'Gotham';
    }

    .note {
      font-size: 10px;
    }

    @media only screen and (min-width: 768px) {
      .cover-area {
        background-position: 100% 0;
      }

      figcaption {
        top: 24%;
        left: 16%;
      }

      p {
        font-size: 12px;
      }
    }

    @media only screen and (min-width: 768px) and (orientation: portrait) {
      .cover-area {
        background-position: 60% 0;
      }

      figcaption {
        top: 20%;
        left: 0;
      }
    }
  }

  [data-page='tummy-troubles'] {
    .brand-title {
      font-size: 28px;
    }

    .note {
      color: $brand-green;
      font-size: 12px;
      text-transform: uppercase;
      font-family: 'Gotham Black';
    }

    figcaption {
      top: 60%;
    }

    @media only screen and (min-width: 768px) {
      figcaption {
        top: 58%;
        left: 8%;
      }
    }

    @media only screen and (min-width: 768px) and (orientation: portrait) {
      .cover-area {
        background-position: 20% 0;
      }

      .brand-title {
        font-size: 18px;
      }
    }
  }

  [data-page='gut-instinct'] {
    @media only screen and (min-width: 768px) {
      background-color: #afd4ea;

      .title {
        color: white;
        font-weight: bold;
        font-size: 7.5vmin;
        text-align: left;
        line-height: 7vmin;
      }

      .content {
        overflow: visible;
      }

      .gut {
        position: absolute;
        top: 20%;
        right: 0;
        width: 60%;
        height: 60%;
      }
    }
  }

  [data-page='restore-your-balance'] {
    height: auto;
    overflow: hidden;

    div.cover {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
    }

    header img {
      width: 60%;
    }

    header h1 {
      text-align: left;
      font-weight: lighter;
      margin-top: 20px;
    }

    @media only screen and (min-width: 768px) {
      height: 100%;

      header h1 {
        font-size: 4vmin;
        line-height: 1em;
      }
    }
  }

  [data-page='eat-well'],
  [data-page='be-well'],
  [data-page='be-well/5'] {
    h1 {
      color: white;
      text-shadow: -1px 0 green, 0 1px green, 1px 0 green, 0 -1px green;
    }

    @media only screen and (min-width: 768px) {
      h1 {
        font-size: 100px;
        text-shadow: -2px 0 green, 0 2px green, 2px 0 green, 0 -2px green;
      }
    }
  }

  [data-page='eat-well'] {
    header .wrapper {
      text-align: left;
    }

    header .title {
      font-size: 15vmin;
    }

    @media only screen and (min-width: 768px) {
      .content {
        padding-left: 100px;
      }

      header .subtitle {
        font-size: 3vmin;
        margin: 0;
      }
    }
  }

  [data-page='eat-well/1'] {
    header .title {
      text-align: left;
      font-weight: lighter;
      line-height: normal;
    }

    figcaption {
      color: #000;
      top: initial;
      left: 0;
      bottom: 0;
      font-size: 16px;
      font-family: georgia;
      font-style: normal;
      text-shadow: initial;
    }

    @media only screen and (min-width: 768px) {
      figcaption {
        left: initial;
        bottom: 10%;
        right: 24%;
      }
    }

    @media only screen and (min-width: 768px) and (orientation: portrait) {
      figcaption {
        right: 10%;
      }
    }
  }

  [data-page='eat-well/2'],
  [data-page='eat-well/3'],
  [data-page='eat-well/4'],
  [data-page='eat-well/5'],
  [data-page='eat-well/6'] {
    header {
      margin-bottom: 10px;
    }

    header .title {
      @include header-style;
    }

    p {
      margin: 0.5em 0;
      line-height: 1.2;
      text-align: left;
    }

    figcaption {
      color: #000;
      top: initial;
      left: initial;
      right: initial;
      bottom: initial;
      text-shadow: initial;
      font-style: normal;
      font-size: 18px;
    }
  }

  [data-page='eat-well/2'] {
    figcaption {
      left: 5%;
      bottom: 5%;
    }

    @media only screen and (min-width: 768px) {
      figcaption {
        left: 15%;
        bottom: 15%;
      }
    }
  }

  [data-page='eat-well/3'] {
    figcaption {
      top: 40%;
      right: 0;
    }

    @media only screen and (min-width: 768px) {
      figcaption {
        top: 30%;
        right: 15%;
      }
    }
  }

  [data-page='eat-well/5'] {
    figcaption {
      top: 8%;
      right: 2%;
    }

    @media only screen and (min-width: 768px) {
      .content {
        padding-top: 25px;
      }

      figcaption {
        top: initial;
        right: initial;
        left: 12%;
        bottom: 10%;
      }
    }
  }

  [data-page='eat-well/6'] {
    @media only screen and (min-width: 768px) {
      .content {
        padding-top: 25px;
      }
    }
  }

  [data-page='be-well'] {
    header .wrapper {
      text-align: left;
    }

    header .title {
      font-size: 15vmin;
    }

    @media only screen and (min-width: 768px) {
      .content {
        padding-left: 100px;
      }

      header .subtitle {
        font-size: 3vmin;
        margin: 0;
      }
    }
  }

  [data-page='be-well/1'] {
    .cover-area {
      background-position: center top;
    }

    header .title {
      @include header-style;
    }

    @media only screen and (min-width: 768px) {
      header .title {
        font-size: 4vmin;
      }
    }
  }

  [data-page='be-well/2'] {
    figcaption {
      color: #000;
      left: 0;
      bottom: 10%;
      text-shadow: initial;
      font-style: normal;
      font-size: 18px;
    }

    header .title {
      @include header-style;
    }

    @media only screen and (min-width: 768px) {
      figcaption {
        top: 10%;
        right: 15%;
        left: initial;
        bottom: initial;
      }
    }
  }

  [data-page='be-well/3'] {
    header .title {
      @include header-style;
    }

    figcaption {
      color: #000;
      top: 25%;
      left: 19%;
      text-shadow: initial;
      font-style: normal;
      font-size: 18px;
    }

    @media only screen and (min-width: 768px) {
      figcaption {
        top: 28%;
        left: 28%;
      }
    }
  }

  [data-page='be-well/5'] {
    figcaption {
      color: #000;
      top: 55%;
      right: 0;
      text-shadow: initial;
      font-style: normal;
      font-size: 18px;
      background: none;
    }

    .content {
      overflow: visible;
    }

    @media only screen and (min-width: 768px) {
      figcaption {
        top: 30%;
        right: 10%;
      }

      h1 {
        white-space: nowrap;
        font-size: 5vmin;
      }
    }
  }

  [data-page='end'] {
    > .content {
      height: initial;
      padding-top: 140px;
    }

    .subtitle {
      color: $brand-green;
      font-size: 25px;
      font-style: normal;
      font-weight: bold;
      font-family: "Helvetica Neue";
      text-transform: uppercase;
      letter-spacing: 3px;
      margin: 0;
    }

    .title {
      color: $brand-green;
      font-size: 50px;
      font-weight: lighter;
      letter-spacing: 6px;
    }

    #new {
      position: absolute;
      top: 0;
      right: 0;
      max-width: 200px;
    }

    p {
      color: $brand-green;
      text-align: center;
      font-family: "proxima-nova";
      font-size: 22px;
    }

    br {
      display: none;
    }

    @media only screen and (min-width: 768px) {
      > .content {
        padding-top: 20px;
      }

      br {
        display: inline;
      }

      #new {
        max-width: 280px;
      }
    }
  }

  /*
      Polaroid
  */

  article.page ul.polaroids {
    padding: 0;
    margin: 0;
  }

  .polaroid-wrap {
    display: inline-block;
    list-style: none;
    max-width: 46%;
  }

  figure.polaroid {
    display: inline-block;
    margin: 0;
    max-width: 80%;
    max-height: 300px;
    width: auto;
    color: #333;
    text-align: center;
    text-decoration: none;

    font-size: 18px;
    font-family: "Marker Felt", sans-serif;

    transition: all .15s linear;
    transform: rotate(-2deg);

    backface-visibility: hidden;
    perspective: 1000;
  }

  figure.polaroid figcaption {
    text-align: center;
    text-decoration: none;
  }

  figure.polaroid img {
    padding: 6px;
    width: 100%;
    background: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,.25);
    vertical-align: middle;
  }

  .polaroid-wrap:nth-child(even) figure {
    transform: rotate(3deg);
  }

  @media only screen and (min-width: 768px) {
    figure.polaroid {
      margin: 0 0% -4% 5%;
      max-height: 25vw;
    }

    figure.polaroid img {
      padding: 15px 15px 20px;
    }

    .polaroid-wrap {
      width: 30%;
    }

    .polaroid-wrap:nth-child(3n+1) {
      clear: both;
    }

    .polaroid-wrap:nth-child(5) figure {
      position: relative;
      left: 2vh;
      transform: none;
    }
  }

  .polaroid-wrap:hover figure {
    position: relative;
    z-index: 5;
    transform: scale(1.5);
  }
}

@keyframes sparkles {
  0% {
    transform: scale(0.98) translateY(1%);
    opacity: 0.4;
  }

  33% {
    transform: scale(1) translateY(0);
    opacity: 0.6;
  }

  66% {
    transform: scale(1.02) translateY(-1%);
    opacity: 1;
  }

  100% {
    transform: scale(1) translateY(0);
    opacity: 0.6;
  }
}

// Overwrites default slide in animation
@keyframes slidein-layer {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#slideOne {
  left: 6%;
  margin: 0;
  width: 33%;
  height: 60%;
  top: 30%;
  bottom: initial;

  h2 {
    color: $brand-green;
  }

  .content {
    position: static;
  }
}
