
@import 'ui/hint';

$green-text: #1f7646;
$green: rgba(84, 144, 86, 0.6);

@mixin brand-title {
  color: $green-text;
  font-weight: 300;
}

@mixin header-style {
  color: $green-text;
  text-align: left;
  font-weight: lighter;
  line-height: normal;
  margin-bottom: 0;
}

#rebalance-issue {
  h3:not(.subtitle) {
    text-transform: uppercase;
    font-weight: lighter;
    margin-bottom: 0.75em;
  }

  p:empty {
    display: none;
  }

  figcaption {
    color: #000;
    top: initial;
    left: initial;
    bottom: initial;
    right: initial;
    font-size: 16px;
    font-family: georgia;
    font-style: normal;
    text-shadow: initial;
    background: none;
  }

  header .title {
    @include header-style;
  }

  .subtitle {
    font-family: 'proxima-nova';
    font-style: normal;
  }

  .highlight {
    border: 1px solid $green;
    padding: 10px;

    .image {
      margin: 0;
    }

    .row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
    }

    p {
      color: $green-text;
    }
  }

  .page.stack {
    top: 400px;
    z-index: 0;
    padding: 0;

    &.show {
      z-index: 1;
    }

    h2 {
      color: $green-text;
    }

    .content {
      position: static;
    }
  }

  @media only screen and (min-width: 768px) {
    h2 {
      font-size: 3.5vmin;
    }

    p {
      font-size: 2vmin;
    }

    figcaption {
      font-size: 18px;
    }

    .page.stack {
      left: 6%;
      margin: 0;
      width: 33%;
      height: 60%;
      top: 30%;
      bottom: initial;
    }
  }

  // Start Cover
  [data-page='index'] {

    background-position: bottom right;
    &:before {
      display: none;
    }

    animation: zoom-cover 2s ease-out;

    .brand {
      position: relative;
      display: block;
      background: url(brand.png) no-repeat;
      background-size: contain;
      background-position: center;
      width: 25vmin;
      height: 10vmin;
      margin: 0 auto;
      color: transparent;
      text-shadow: none;
    }

    .title {
      color: white;
      font-family: 'proxima-nova';
      font-weight: bolder;
      letter-spacing: 10px;

      text-shadow:
         -1px -1px 0 $green,
          1px -1px 0 $green,
          -1px 1px 0 $green,
           1px 1px 0 $green;

      font-size: 3.8em;
      line-height: 1em;
      margin: 1em 0 0;
    }

    .description {
      position: static;
      text-transform: uppercase;
      padding: 0;
      margin: -3.8em 0 0;

      text-shadow:
         -1px -1px 0 $green,
          1px -1px 0 $green,
          -1px 1px 0 $green,
           1px 1px 0 $green;

      font-size: 1.55em;
      font-weight: bold;
      letter-spacing: 8px;
      font-family: "HelveticaNeue-CondensedBold";
      white-space: nowrap;
    }

    .issue-logo {
      display: none;
    }

    .extra-1 {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 400px;
      height: 400px;
      background-image: url(sparkles.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      margin-left: -200px;
      margin-top: -70px;

      // animation
      // animation: sparkles 4s linear 0s infinite alternate;

    }

    @media only screen and (min-width: 768px) {
      .title {
        font-size: 10vmin;
//        margin-right: 5%;
      }

      .description {
        font-size: 4.5vmin;
      }
    }
  }
  // End Cover

  [data-page='toc'] {
    height: initial !important;

    blockquote {
      position: absolute;
      top: 10%;
      color: white;

      p {
        color: white;
      }
    }

    hr {
      margin: 1.5em 0;
    }

    .menu li {
      padding: 15px;
    }

    .head h2,
    .story {
      font-family: "proxima-nova";
      color: $green-text;
      text-decoration: none;
    }

    .content {
      overflow: visible;
      position: static;
      padding: 0 15px;
    }

    .main {
      position: static;
    }

    .menu {
      padding-bottom: 280px;
    }

    .brand {
      color: $green-text;
      position: absolute;
      bottom: 20px;
      left: 0;
      right: 0;
      z-index: 1;
      margin: auto;

      figure {
        width: 150px;
        margin: 0 auto;
      }

      p {
        text-align: center;
      }
    }

    @media only screen and (min-width: 768px) {
      height: 100% !important;

      .main {
        width: 100%;
      }

      .menu {
        position: absolute;
        top: 0;
        right: 0;
        background: rgba(255,255,255,0.85);
        width: 30%;
        padding: 40px 0;
        box-sizing: border-box;
      }

      .content {
        position: static;
        box-sizing: border-box;
        width: 66.67%;
        margin: 0;
      }

      blockquote {
        width: 70%;
        font-size: 24px;
      }

      blockquote p {
        color: #fff;
        font-size: 20px;
      }

      blockquote:before,
      blockquote:after {
        color: #fefefe;
      }

      h2 {
        font-size: 3vmin;
      }

      .brand {
        position: absolute;
        left: initial;
        right: 4px;
        bottom: 10px;
        z-index: 1;
        box-sizing: border-box;
        padding: 0;
        width: 30%;

        p {
          font-weight: bold;
          margin: 0;
          font-size: 12px;
        }
      }
    }

    @media only screen and (min-width: 768px) and (orientation: portrait) {
      blockquote {
        font-size: 22px;
        width: 55%;
      }

      .brand {
        right: 0;
      }
    }
  }

  [data-page='welcome'],
  [data-page='beat-the-bloat'] {
    .title, .category {
      display: none;
    }

    figcaption {
      top: 18%;
      left: 6%;
    }

    .brand-title {
      @include brand-title;
    }

    .note {
      font-size: 10px;
    }

    @media only screen and (min-width: 768px) {
      .cover-area {
        background-position: 100% 0;
      }

      figcaption {
        top: 24%;
        left: 16%;
      }
    }

    @media only screen and (min-width: 768px) and (orientation: portrait) {
      .cover-area {
        background-position: 60% 0;
      }

      figcaption {
        top: 20%;
        left: 0;
      }
    }
  }

  article[data-page='beat-the-bloat'] {
    .cover-area {
      background-position: 0 right;
    }

    .note {
      color: $green-text;
      text-transform: uppercase;
      font-weight: bold;
    }

    figcaption {
      top: 60%;
    }

    @media only screen and (min-width: 768px) {
      .brand-title {
        font-size: 3.5vmin;
      }

      figcaption {
        top: 58%;
        left: 8%;
      }

      p {
        font-size: 1.8vmin;
      }

      .content {
        margin: 0;
      }

      .note {
        font-size: 2vmin;
      }
    }

    @media only screen and (min-width: 768px) and (orientation: portrait) {
      .cover-area {
        background-position: 20% 0;
      }

      .brand-title {
        font-size: 18px;
      }
    }
  }

  [data-page='gut-instinct'] {
    .gut {
      position: absolute;
      top: 18%;
      right: 8%;
      width: 80%;
      margin-top: -25%;
      text-align: center;
      z-index: 1;
    }

    .gut a {
      position: absolute;
      width: 17%;
      height: 18%;
    }

    a[href='#item1'] {
      top: 1.4%;
      left: 38.8%;
    }

    a[href='#item2'] {
      top: 15%;
      left: 66.8%;
    }

    a[href='#item3'] {
      top: 40.5%;
      left: 80%;
    }

    a[href='#item4'] {
      top: 65.4%;
      left: 67.8%;
    }

    a[href='#item5'] {
      top: 78.4%;
      left: 39.2%;
    }

    a[href='#item6'] {
      top: 65%;
      left: 11.4%;
    }

    a[href='#item7'] {
      top: 40.4%;
      left: 1.2%;
    }

    a[href='#item8'] {
      top: 15.4%;
      left: 11.6%;
    }

    .gut img {
      width: 100%;
    }

    .inner {
      position: relative;
      width: 100%;
      height: 100%;
    }

    [data-hint]:after {
      font-size: 14px;
      padding: 15px 20px;
      font-weight: bold;
    }

    a {
      transition: all 0.35s ease-in;
    }

    a:hover {
      transform: scale(0.92);
    }

    a:active {
      opacity: 0.75;
    }

    .cover-area.image {
      background-position: 80%;
    }

    @media only screen and (min-width: 768px) {
      .cover-area.image {
        background-position: 25% 50%;
      }
      .title {
        font-size: 6vmin;
        margin-left: 44px;
      }

      .gut {
        top: 50%;
        right: 20px;
        width: 50%;
      }
    }
  }

  [data-page='what-is-activia'] {
    height: auto;
    overflow: hidden;

    div.cover {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
    }

    header img {
      width: 60%;
    }

    header h1 {
      margin-top: 20px;
    }

    @media only screen and (min-width: 768px) {
      height: 100%;

      header h1 {
        font-size: 4vmin;
        line-height: 1em;
      }
    }
  }

  [data-page='eat-well'],
  [data-page='live-well']{
    h1 {
      font-weight: bold;
      letter-spacing: 5px;
      color: white;

      text-shadow:
         -1px -1px 0 $green,
          1px -1px 0 $green,
          -1px 1px 0 $green,
           1px 1px 0 $green;
    }

//    @media only screen and (min-width: 768px) {
//      h1 {
//        font-size: 100px;
//        text-shadow: -1px 0 $green, 0 1px $green, 1px 0 $green, 0 -1px $green;
//      }
//    }
  }

  [data-page='eat-well'] {
    header .wrapper {
      text-align: left;
    }

    header .title {
      font-size: 13vmin;
    }

    .cover-area {
      height: 100%;
      background-position: 80%;
    }

    .content {
      position: absolute;
      bottom: 5%;
      background: none;
    }

    @media only screen and (min-width: 768px) {
      .content {
        position: static;
        padding-left: 100px;
      }

      header .subtitle {
        font-size: 3vmin;
        margin: 0;
      }
    }
  }

  [data-page='eat-well/1'] {
    .content {
      background: rgba(255,255,255,0.8);
    }
    figcaption {
      left: 10px;
      bottom: 0;
    }

    @media only screen and (min-width: 768px) {
      figcaption {
        left: initial;
        bottom: 10%;
        right: 23%;
      }
    }

    @media only screen and (min-width: 768px) and (orientation: portrait) {
      figcaption {
        right: 10%;
      }
    }
  }

  [data-page='eat-well/2'],
  [data-page='eat-well/3'],
  [data-page='eat-well/4'],
  [data-page='eat-well/5'],
  [data-page='eat-well/6'] {
    header {
      margin-bottom: 10px;
    }

    p {
      margin: 0.5em 0;
      line-height: 1.2;
      text-align: left;
    }

    .col.x6 {
      width: 48%;
    }
  }

  [data-page='eat-well/2'] {
    figcaption {
      left: 5%;
      bottom: 5%;
    }

    @media only screen and (min-width: 768px) {
      figcaption {
        left: 15%;
        bottom: 15%;
      }
    }
  }

  [data-page='eat-well/3'] {
    figcaption {
      top: 40%;
      right: 0;
    }

    @media only screen and (min-width: 768px) {
      figcaption {
        top: 30%;
        right: 15%;
      }
    }
  }

  [data-page='eat-well/5'] {
    figcaption {
      top: 8%;
      right: 2%;
    }

    @media only screen and (min-width: 768px) {
      .content {
        padding-top: 25px;
      }

      figcaption {
        top: initial;
        right: initial;
        left: 12%;
        bottom: 10%;
      }
    }
  }

  [data-page='eat-well/6'] {
    @media only screen and (min-width: 768px) {
      .content {
        padding-top: 25px;
      }
    }
  }

  [data-page='live-well'] {
    header .wrapper {
      text-align: left;
    }

    header .title {
      font-size: 15vmin;
    }

    header .subtitle {
      font-weight: normal;
    }

    .cover-area {
      height: 100%;
      background-position: 80%;
    }

    .content {
      position: absolute;
      top: 10%;
      background: none;
    }

    @media only screen and (min-width: 768px) {
      .content {
        position: static;
        padding-left: 100px;
      }

      header .subtitle {
        font-size: 3vmin;
        margin: 0;
      }
    }
  }

  [data-page='live-well/1'] {
    .cover-area {
      background-position: center top;
    }

    @media only screen and (min-width: 768px) {
      header .title {
        font-size: 4vmin;
      }
    }
  }

  [data-page='live-well/2'] {
    figcaption {
      left: 0;
      bottom: 10%;
    }

    @media only screen and (min-width: 768px) {
      figcaption {
        top: 10%;
        right: 15%;
        left: initial;
        bottom: initial;
      }

      .title {
        font-size: 4vmin;
      }
    }
  }

  [data-page='live-well/3'] {
    figcaption {
      top: 25%;
      left: 19%;
    }

    @media only screen and (min-width: 768px) {
      figcaption {
        top: 28%;
        left: 28%;
      }

      .title {
        font-size: 4vmin;
      }
    }
  }

  [data-page='live-well/4'] {
    .title {
      width: 5.4em;
    }
    .content {
      background: rgba(255,255,255, 0.9);
    }
  }

  [data-page='live-well/5'] {

    img.heading {
      position: absolute;
      bottom: 5vh;
    }

    .cover-area {
      background-size: cover;
    }

    figcaption {
      top: 55%;
      right: 0;
    }

    .content {
      position: absolute;
      left: 0;
      bottom: 0;
      background: none;
      overflow: visible;
    }

    @media only screen and (min-width: 768px) {
      figcaption {
        top: 30%;
        right: 5%;
      }

      h1 {
        white-space: nowrap;
        font-size: 5vmin;
      }

      .content {
        position: relative;
      }
    }
  }

  [data-page='end'] {
    > .content {
      height: initial;
      padding-top: 70px;
    }

    .body {
      text-align: center;
    }

    .subtitle {
      color: $green-text;
      font-size: 25px;
      font-style: normal;
      font-weight: bold;
      font-family: "Helvetica Neue";
      text-transform: uppercase;
      letter-spacing: 3px;
      margin: 0;
    }

    .title {
      letter-spacing: 6px;
      margin: 0;
      text-align: center;
    }

    #new {
      position: absolute;
      top: 0;
      right: 0;
      max-width: 150px;
    }

    > .content p {
      font-size: 22px;
      text-align: center;
      margin-bottom: 0;
    }

    a {
      color: $green-text;
      text-decoration: none;
      font-weight: bold;
      font-size: 26px;
    }

    .row {
      margin-bottom: 100px;
    }

    .col.x4 {
      position: absolute;
      margin-left: -100px;
      transform: rotate(-10deg);
      margin-top: -75px;
    }

    .col.x8 {
      width: 90%;
    }

    .circle {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      border-radius: 50%;
      background: $green-text;
      width: 150px;
      height: 150px;
      margin: 0 auto 25px;

      p {
        font-family: georgia;
        font-weight: bold;
        font-size: 18px;
        color: #fff;
        line-height: normal;
        text-align: center;
      }
    }

    @media only screen and (min-width: 768px) {
      > .content {
        padding-top: 20px;
        overflow: initial;
      }

      .col.x8 {
        width: 80%;
        margin: 0 auto;
        float: none;
      }

      .col.x4 {
        position: absolute;
        right: 0;
        transform: rotate(10deg);
        margin-top: -100px;
      }

      .title {
        font-size: 9vmin;
      }

      .subtitle {
        font-size: 4vmin;
      }

      .yoghurt {
        width: 80%;
      }

      #new {
        max-width: 280px;
      }
    }
  }

  /*
      Polaroid
  */

  article.page ul.polaroids {
    padding: 0;
    margin: 0;
  }

  .polaroid-wrap {
    display: inline-block;
    list-style: none;
    max-width: 46%;
  }

  figure.polaroid {
    display: inline-block;
    margin: 0;
    max-width: 80%;
    max-height: 300px;
    width: auto;
    color: #333;
    text-align: center;
    text-decoration: none;

    font-size: 18px;
    font-family: "Marker Felt", sans-serif;

    transition: all .15s linear;
    transform: rotate(-2deg);

    backface-visibility: hidden;
    perspective: 1000;
  }

  figure.polaroid figcaption {
    text-align: center;
    text-decoration: none;
  }

  figure.polaroid img {
    padding: 6px;
    width: 100%;
    background: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,.25);
    vertical-align: middle;
  }

  .polaroid-wrap:nth-child(even) figure {
    transform: rotate(3deg);
  }

  @media only screen and (min-width: 768px) {
    figure.polaroid {
      margin: 0 0% -4% 5%;
      max-height: 25vw;
    }

    figure.polaroid img {
      padding: 15px 15px 20px;
    }

    .polaroid-wrap {
      width: 30%;
    }

    .polaroid-wrap:nth-child(3n+1) {
      clear: both;
    }

    .polaroid-wrap:nth-child(5) figure {
      position: relative;
      left: 2vh;
      transform: none;
    }
  }

  .polaroid-wrap:hover figure {
    position: relative;
    z-index: 5;
    transform: scale(1.5);
  }
}

// Overwrites default slide in animation
@keyframes slidein-layer {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes zoom-cover {
	0% {
    background-position: 50% 90%;
//    background-size: cover;
//    transform: scale(1);
//    opacity: 0.6;
	}

	50% {
    background-size: cover;
//    transform: scale(1);
//    opacity: 1;
	}

	100% {
    background-position: bottom;
//    background-size: cover;
//    opacity: 1;
	}
}

@keyframes sparkles {
  0% {
    transform: scale(0.98) translateY(1%);
    opacity: 0.4;
  }

  33% {
    transform: scale(1) translateY(0);
    opacity: 0.6;
  }

  66% {
    transform: scale(1.02) translateY(-1%);
    opacity: 1;
  }

  100% {
    transform: scale(1) translateY(0);
    opacity: 0.6;
  }
}
