<% content_for :header do %>
<header id="hero" class="dark-theme">
  <div class="container">
  
    <h1 class="logo"><a href="/web">Issue</a></h1>
    <h2>Your edition of curated magazine</h2>
  
    <%= image_tag "images/home/ipad.png", id: "ipad-screen", :class => "x7" %>
    
    <div>
      <a class="open-modal" href="#signup-modal">
        <img alt="Appstore" height="48" src="/images/home/appstore.png" width="160" />
      </a>
      <a class="scroll-to learn-more" href="#see-more">Learn more</a>
    </div>
  
    <a class="scroll-to more-arrow" title="Scroll down to view more" href="#see-more"></a>
  </div>
</header>
<% end %>

<section id="see-more" class="tour">
  <div class="container centered">
    <h2>Taking brand &amp; style publishing to the next level</h2>
  
    <a class="col x6 box brand open-modal" href="/web/publisher">
      <h3>forward thinking brand</h3>
      <div class="hover">
        <!-- <p>Turn your brand content into a tablet-friendly magazine they will love.
        </p>

        <p>Consolidate and publish your content available as a live stream or Issues in minutes
        </p>
        <p>
          Collaborate with bloggers and influences who love your brand, one issue at a time.
        </p> -->
      </div>
    </a>
  
    <a class="col x6 box blogger  open-modal" href="/web/publisher">
      <h3>blogger &amp; influencer</h3>
      <div class="hover">
        <!-- <p>Step up your game and become your own editor
        </p><p>
        Work with brands &amp; individuals you never thought were possible
        </p><p>
        Expand your influence and boost your career.
        </p> -->
      </div>
    </a>
  </div>
</section>

<!-- <section class="tour odd">
  <div class="container">
    
    <h2>The perfect match</h2>
    <p class="subtitle">
      Connect brands and bloggers of the highest quality, allow curation and collaborative editing
    </p>
    
    <figure>
      <img alt="Tour collaboration" src="/images/home/tour-collaboration.png">
    <figure>
  </dov>
</section>

<section class="tour">
  <div class="container">
  
    <h2>Capture, Curate &amp; publish</h2>
    <p class="subtitle">
      Beautify content around your brand, making it available as a Live stream or Issue. 
    </p>
    
    <figure>
      <img alt="Tour Solution" src="/images/home/tour-solution.png">
    <figure>
  </dov>
</section> -->

<section class="tour odd">
  <div class="container centered">
  
    <h2>Spread the love</h2>
    <p class="subtitle">
      <!-- Beautify content around your brand, making it available as a Live stream or Issue.  -->
    </p>
    
    <figure>
      
    <figure>
  </dov>
</section>

<div id="signup-modal" class="modal" style="display:none">
  <header>
    <a href="#" class="close icon-cross"></a>
    <h1>get notified</h1>
  </header>
  
  <p class="subtitle">Our private beta is coming soon with limited users. Get invited for
  insider access. Issue is going to be your new best friend
  </p>
  
  <p class="center">
    <a href="/connect/facebook" class="button large facebook invite-btn" id="request_button">
      <i class="icon-facebook"> </i>
      <span> Request an invite</span>
</a>      </p>
  
  <hr/>
  <div class="publisher-signup">
    <h2 class="title">
      <a href="/web/publisher">Are you a brand or style publisher?</a>
    </h2>
  </div>
  
  <footer>
    <a href="" class="close">Continue</a>
  </footer>
</div>