<a class="logo" href="#">Spring.</a>

<nav role="navigation">
  <ul class="links">
    <li><a class="base" href="/docs/base">Base style</a></li>
    <li><a class="page" href="/docs/page">Page</a></li>
    <li><a class="grid" href="/docs/grid">Grid</a></li>
    <li><a class="form" href="/docs/form">Form</a></li>
  </ul>
</nav>