<% content_for :header do %>
  <header class="page-head">
    <div class="container">
      <%= render "nav" %>
      
      <hgroup>
        <h1>Base style</h1>
        <h3 class="subtitle">Typography, buttons, icons</h3>
      </hgroup>
    </div>
  </header>
<% end %>

<aside id="sidebar">
  <nav class="tab-menu">
    <ul>
      <li><a href="#typography">Typography</a></li>
      <li><a href="#theme">Theme</a></li>
      <li><a href="#buttons">Buttons</a></li>
      <li><a href="#icons">Icons</a></li>
    </ul>
  </nav>
</aside>

<h2 id="typography">Typography</h2>
<p>
  Proxima Nova is the primary font with Helvetica Neue as backup font. We aim to lower the amount of custom fonts that we see <a href="http://iosfonts.com">iosfonts.com</a> for mobile friendly fonts.
</p>

<div class="">
	<h1>Heading &lt;h1&gt;</h1>
	<h2>Heading &lt;h2&gt;</h2>
	<h3>Heading &lt;h3&gt;</h3>
	<h4>Heading &lt;h4&gt;</h4>
</div>

<p>
  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>

<h3>Lists</h3>
<ul>
  <li>item</li>
  <li>item</li>
  <li>item</li>
  <li>item</li>
</ul>

<h3>Nav lists</h3>
<p>Nav lists gets blank style</p>
<nav>
  <ul>
    <li>item</li>
    <li>item</li>
    <li>item</li>
    <li>item</li>
  </ul>
</nav>

<h3 id="theme">Base theme</h3>
<div class="" style="border:1px solid; padding: 20px">
  <p>Text color primary light		2c2c2c	333333<p>
  <p>Text color secondary light		999999</p>
  <p><a href="#">Hyperlinks					d93e00</a></p>
</div>

<h3>Dark theme</h3>
<div class="dark-theme" style="background: #161616; padding: 20px">
  <p>Text color primary dark		FFFFFF</p>
  <p class="subtitle">Text color secondary dark		BBBBBB</p>
  <p><a href="#">Hyperlinks</a>					d93e00</p>
</div>


<h3 id="buttons">Buttons</h3>
<table>
  <tr>
    <td><button>BUTTON</button> <a class="button">LINK</a></td>
    <td><button class="black">Black</button></td>
    <td><button class="orange">Orange</button></td>
  </tr>
  <tr>
    <td><button class="small">small</button></td>
    <td><button class="small black">black</button></td>
    <td><button class="small orange">orange</button></td>
  </tr>
  <tr>
    <td><button class="large">LARGE BUTTON</button></td>
    <td><button class="large black">LARGE BLACK</button></td>
    <td><button class="large orange">LARGE RED</button></td>
  </tr>
  <tr>
    <td><button disabled="disabled">DISABLED</button></td>
    <td><button class="facebook"><i class="icon-facebook"></i><span>Sign in with Facebook</span></button></td>
    <td><button class="twitter"><i class="icon-twitter"></i><span>Sign in with Twitter</span></button></td>
  </tr>
  <tr>
    <td></td>
    <td><button class="small facebook"><i class="icon-facebook"></i><span>Sign in with Facebook</span></button></td>
    <td><button class="small twitter"><i class="icon-twitter"></i><span>Sign in with Twitter</span></button></td>
  </tr>
  <tr>
    <td></td>
    <td><button class="large facebook"><i class="icon-facebook"></i><span>Sign in with Facebook</span></button></td>
    <td><button class="large twitter"><i class="icon-twitter"></i><span>Sign in with Twitter</span></button></td>
  </tr>
</table>

<p><div class="button-group">
    <button class="button">Collect</button>
    <button class="button dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a>item1</a></li>
      <li><a>item2</a></li>
      <li><a>item3</a></li>
      <li class="divider"></li>
      <li><a>item4</a></li>
      <li><a>item5</a></li>
    </ul>
  </div>
</p>


<p>
  <a class="button collect" id="collect-product" href="#" onclick="return false;">
    <i class="icon-plus"></i>
    <span>Collect</span>
  </a>
</p>


<p>
  <a class="button small love" ref="nofollow" original-title="">
    <i class="icon-heart"></i>
    <span>Love</span>
  </a>
  <a class="button small love loved red" ref="nofollow" original-title="">
    <i class="icon-heart"></i>
    <span>Loved</span>
  </a>
</p>

<p>
  <a class="button love" ref="nofollow" original-title="">
    <i class="icon-heart"></i>
    <span>Love</span>
  </a>
  
  <button class="love">Love</button>
  <a class="button love loved red" ref="nofollow" original-title="">
    <i class="icon-heart"></i>
    <span>Loved</span>
  </a>
</p>

<p>
  <a class="button small black collect" ref="nofollow" original-title="">
    <i class="icon-plus"></i>
    <span>Collect</span>
  </a>
</p>

