<% content_for :header do %>
  <header class="page-head">
    <div class="container">
      <%= render "nav" %>
      
      <h1>Grid system</h1>
      <h3 class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
    </div>
  </header>
<% end %>

<div class="grid-sample">
  <h2>12 column grids</h2>
  <p>12 column grids breaks all the width on mobile device</p>
  <div class="row">
     <div class="col x1">1</div>
    <div class="col x11">11</div>
  <div>
  <div class="row">
    <div class="col x2">2</div>
    <div class="col x10">10</div>
  <div>

  <div class="row">
    <div class="col x3">3</div>
    <div class="col x9">9</div>
  <div>
    
  <div class="row">
    <div class="col x4">4</div>
    <div class="col x8">8</div>
  <div>
    
  <div class="row">
    <div class="col x5">5</div>
    <div class="col x7">7</div>
  <div>
    
  <div class="row">
    <div class="col x6">6</div>
    <div class="col x6">6</div>
  <div>
    
    
  <h2>Divided</h2>
  <div class="row">
    <div class="col half">.col.half</div>
    <div class="col half">.col.half</div>
  <div>

  <div class="row">
    <div class="col third">.col.third</div>
    <div class="col third">.col.third</div>
    <div class="col third">.col.third</div>
  <div>
    
  <div class="row">
    <div class="col third">.col.third</div>
    <div class="col third-2">.col.third-2</div>
  <div>
</div>
