form#reserve_edition {
  .row {
    margin-bottom: 10px;
  }
}

.modal {
  .edition_handle {  
    margin-bottom: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid #ccc;
  }
  
  .publisher-type {
    margin-top: -0.5em
  }
}



#edition_handle {
  margin-left: 2px;
  width: 7em;

  
  @include input-placeholder {
    font-size: 24px;
    font-weight: normal !important;
  }
}
