#adventure-issue {
  [data-page="index"] {
    .title {
      font-size: 46px;
    }

    @media only screen and (min-width: 768px) {
      .title {
        font-size: 100px;
      }
    }
  }

  [data-page="adventure/1"] {
    .cover {
      height: 100%;
    }

    .image h3 {
      padding-top: 45%;
      color: white;
      font-size: 2em !important;
      text-transform: uppercase;
      text-shadow: 1px 1px 25px rgba(0,0,0,0.1);
      letter-spacing: 2px;
    }

    .summary {
      padding: 10%;
    }
  }

  /*
    Events Calendar
  */

  #flip-cards {
    margin: 0;
    padding: 0;
    height: 100%;
    list-style: none;

    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;

    li {
      float: left;
      width: 100%;
      height: 50%;
      background-size: cover;
    }

    h3 {
      font-size: 1.4rem;
    }

    .flipper {
      position: relative;
      width: 100%;
      height: 100%;

      -webkit-transition: 0.6s;
      -moz-transition: 0.6s;
      -o-transition: 0.6s;
      transition: 0.6s;

      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -o-transform-style: preserve-3d;
      transform-style: preserve-3d;
    }

    li .image {
      position: absolute;
      top: 0;
      left: 0;
    }

    /* front pane, placed above back */
    li .image {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2;
      background-position: center;
      background-size: cover;

      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -o-backface-visibility: hidden;
      backface-visibility: hidden;
    }

    /* back, initially hidden pane */
    li .info {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2;
      overflow: auto;
      padding: 20px;
      background: #fff;
      color: #333;
      font-size: 14px;

      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      transform: rotateY(180deg);

      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -o-backface-visibility: hidden;
      backface-visibility: hidden;
    }

    @media only screen and (min-width: 768px) {
      li {
        width: 50%;
      }

      h3 {
        font-size: 1.6rem;
      }

      .summary {
        display: block;
      }
    }
  }

  .no-touch & #flip-cards li:hover .flipper,
  #flip-cards li.hover .flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

  /*
      Polaroid
  */

  article.page ul.polaroids {
    margin: 0;
    padding: 0;
  }

  .polaroid-wrap {
    list-style: none;
    display: inline-block;
    max-width: 48%;
  }

  figure.polaroid {
    display: inline;
    float: left;
    margin: 0;
    max-width: 80%;
    max-height: 300px;
    width: auto;
    color: #333;
    text-align: center;
    text-decoration: none;

    font-size: 18px;
    font-family: "Marker Felt", sans-serif;

    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    transition: all .15s linear;

    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    transform: rotate(-2deg);

    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
  }

  figure.polaroid figcaption {
    text-align: center;
    text-decoration: none;
  }

  figure.polaroid img {
    padding: 6px;
    width: 100%;
    background: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,.25);
    vertical-align: middle;
  }

  .polaroid-wrap:nth-child(even) figure {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    transform: rotate(3deg);
  }

  @media only screen and (min-width: 768px) {
    figure.polaroid {
      margin: 0 0% -5% 5%;
      padding-left: 20px;
      max-width: 24%;
      max-height: 25vw;
    }

    figure.polaroid img {
      padding: 15px 15px 20px;
    }

    .polaroid-wrap {
      display: inline;
      max-width: initial;
    }

    .polaroid-wrap:nth-child(3n+1) {
      clear: both;
    }

    .polaroid-wrap:nth-child(4) figure {
      clear: left;
    }

    .polaroid-wrap:nth-child(5) figure {
      position: relative;
      left: 2vh;

      -webkit-transform: none;
      -moz-transform: none;
      transform: none;
    }

    .polaroid-wrap:nth-child(8) figure {
      position: relative;
      top: -5vh;
      left: 1vh;

      -webkit-transform: none;
      -moz-transform: none;
      transform: none;
    }

    .polaroid-wrap:nth-child(11) figure {
      position: relative;

      -webkit-transform: rotate(3deg);
      -moz-transform: rotate(3deg);
      transform: rotate(3deg);

      img {
        padding: 0;
      }
    }

    .polaroid-wrap:nth-child(12) figure {
      position: relative;
      top: -20vh;
      left: 5vh;
      margin: 0;

      -webkit-transform: none;
      -moz-transform: none;
      transform: none;
    }

    .polaroid-wrap:nth-child(13) figure {
      position: relative;
      top: -12vh;
      left: 10vh;
      margin: 0;

      -webkit-transform: none;
      -moz-transform: none;
      transform: none;
    }
  }

  .polaroid-wrap:hover figure {
    position: relative;
    z-index: 5;

    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    transform: scale(1.5);
  }
}
