/*
Syntax error: Undefined mixin 'clearfix'.
        on line 104 of ./stylesheets/app/menu.scss, in `clearfix'
        from line 104 of ./stylesheets/app/menu.scss

99:       right: 20px;
100:     }
101: 
102: 
103:     li.user {
104:       @include clearfix;
105:       height: auto;
106:       position: absolute;
107:       bottom: 10px;
108:       width: 100%;
109: 

Backtrace:
./stylesheets/app/menu.scss:104:in `clearfix'
./stylesheets/app/menu.scss:104
/Users/taylorluk/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:251:in `visit_mixin'
/Users/taylorluk/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/taylorluk/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/taylorluk/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/taylorluk/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/taylorluk/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/taylorluk/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/taylorluk/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/taylorluk/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/taylorluk/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/taylorluk/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:318:in `visit_rule'
/Users/taylorluk/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/taylorluk/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/taylorluk/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/taylorluk/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/taylorluk/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/taylorluk/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/taylorluk/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/taylorluk/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/taylorluk/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/taylorluk/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:318:in `visit_rule'
/Users/taylorluk/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/taylorluk/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/taylorluk/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/taylorluk/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/taylorluk/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/taylorluk/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/taylorluk/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/taylorluk/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/taylorluk/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/taylorluk/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:318:in `visit_rule'
/Users/taylorluk/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/taylorluk/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/taylorluk/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/taylorluk/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/taylorluk/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/taylorluk/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/taylorluk/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/taylorluk/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/taylorluk/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/taylorluk/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:126:in `visit_root'
/Users/taylorluk/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/taylorluk/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/taylorluk/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/taylorluk/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.2.5/lib/sass/tree/root_node.rb:20:in `render'
/Users/taylorluk/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.2.5/lib/sass/engine.rb:315:in `_render'
/Users/taylorluk/.rvm/gems/ruby-1.9.3-p125-perf/gems/sass-3.2.5/lib/sass/engine.rb:262:in `render'
/Users/taylorluk/.rvm/gems/ruby-1.9.3-p125-perf/gems/haml-3.1.6/vendor/sass/lib/sass/plugin/compiler.rb:339:in `update_stylesheet'
/Users/taylorluk/.rvm/gems/ruby-1.9.3-p125-perf/gems/haml-3.1.6/vendor/sass/lib/sass/plugin/compiler.rb:202:in `block in update_stylesheets'
/Users/taylorluk/.rvm/gems/ruby-1.9.3-p125-perf/gems/haml-3.1.6/vendor/sass/lib/sass/plugin/compiler.rb:200:in `each'
/Users/taylorluk/.rvm/gems/ruby-1.9.3-p125-perf/gems/haml-3.1.6/vendor/sass/lib/sass/plugin/compiler.rb:200:in `update_stylesheets'
/Users/taylorluk/.rvm/gems/ruby-1.9.3-p125-perf/gems/haml-3.1.6/vendor/sass/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/taylorluk/.rvm/gems/ruby-1.9.3-p125-perf/gems/haml-3.1.6/vendor/sass/lib/sass/plugin.rb:54:in `check_for_updates'
/Users/taylorluk/.rvm/gems/ruby-1.9.3-p125-perf/gems/haml-3.1.6/vendor/sass/lib/sass/plugin/rack.rb:51:in `call'
/Users/taylorluk/.rvm/gems/ruby-1.9.3-p125-perf/gems/rack-1.4.1/lib/rack/lint.rb:48:in `_call'
/Users/taylorluk/.rvm/gems/ruby-1.9.3-p125-perf/gems/rack-1.4.1/lib/rack/lint.rb:36:in `call'
/Users/taylorluk/.rvm/gems/ruby-1.9.3-p125-perf/gems/rack-1.4.1/lib/rack/showexceptions.rb:24:in `call'
/Users/taylorluk/.rvm/gems/ruby-1.9.3-p125-perf/gems/rack-1.4.1/lib/rack/commonlogger.rb:20:in `call'
/Users/taylorluk/.rvm/gems/ruby-1.9.3-p125-perf/gems/rack-1.4.1/lib/rack/chunked.rb:43:in `call'
/Users/taylorluk/.rvm/gems/ruby-1.9.3-p125-perf/gems/rack-1.4.1/lib/rack/content_length.rb:14:in `call'
/Users/taylorluk/.rvm/gems/ruby-1.9.3-p125-perf/gems/rack-1.4.1/lib/rack/handler/webrick.rb:59:in `service'
/Users/taylorluk/.rvm/rubies/ruby-1.9.3-p125-perf/lib/ruby/1.9.1/webrick/httpserver.rb:138:in `service'
/Users/taylorluk/.rvm/rubies/ruby-1.9.3-p125-perf/lib/ruby/1.9.1/webrick/httpserver.rb:94:in `run'
/Users/taylorluk/.rvm/rubies/ruby-1.9.3-p125-perf/lib/ruby/1.9.1/webrick/server.rb:191:in `block in start_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'clearfix'.\A         on line 104 of ./stylesheets/app/menu.scss, in `clearfix'\A         from line 104 of ./stylesheets/app/menu.scss\A \A 99:       right: 20px;\A 100:     }\A 101: \A 102: \A 103:     li.user {\A 104:       @include clearfix;\A 105:       height: auto;\A 106:       position: absolute;\A 107:       bottom: 10px;\A 108:       width: 100%;\A 109: "; }
