/*  different page styles   */
/*  Full screen background  */
/* line 9, ../../../stylesheets/app/page.scss */
body.dark-theme .toolbar {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.6)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  color: white;
  border: transparent;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
/* line 15, ../../../stylesheets/app/page.scss */
body.dark-theme .toolbar .title {
  color: white;
}
/* line 20, ../../../stylesheets/app/page.scss */
body.dark-theme .toolbar a {
  color: white;
}

/* line 25, ../../../stylesheets/app/page.scss */
.page.dark.full {
  color: white;
}
/* line 28, ../../../stylesheets/app/page.scss */
.page.dark.full .left-content {
  background: rgba(0, 0, 0, 0.7);
}

/* line 34, ../../../stylesheets/app/page.scss */
.page.full .left-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 20px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.7);
}

/* line 42, ../../../stylesheets/app/page.scss */
body .page {
  margin: 0 0 0;
  max-height: 100%;
  padding-top: 70px;
  font-size: 14px;
}
/* line 49, ../../../stylesheets/app/page.scss */
body .page .row:last-child {
  margin-bottom: 0;
}

/* line 61, ../../../stylesheets/app/page.scss */
article.page blockquote {
  font-family: Georgia, serif;
  font-size: 18px;
  font-style: italic;
  width: 500px;
  margin: 0.25em 0;
  padding: 0.25em 40px;
  line-height: 1.45;
  position: relative;
}
/* line 72, ../../../stylesheets/app/page.scss */
article.page blockquote:before {
  display: block;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -10px;
  top: -20px;
  color: #7a7a7a;
}
/* line 82, ../../../stylesheets/app/page.scss */
article.page blockquote cite {
  color: #999999;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}
/* line 88, ../../../stylesheets/app/page.scss */
article.page blockquote cite:before {
  content: "\2014 \2009";
}
/* line 93, ../../../stylesheets/app/page.scss */
article.page .image.cover {
  position: relative;
  height: 200%;
  width: 200%;
  top: -50%;
  left: -50%;
}
/* line 101, ../../../stylesheets/app/page.scss */
article.page .price, article.page .store {
  display: inline-block;
}
/* line 105, ../../../stylesheets/app/page.scss */
article.page .price {
  float: left;
  line-height: 37px;
}
/* line 110, ../../../stylesheets/app/page.scss */
article.page .button.store {
  margin-bottom: 1em;
  display: block;
  float: right;
  margin: 0;
}
/* line 117, ../../../stylesheets/app/page.scss */
article.page .description {
  display: block;
  clear: both;
}

@media screen and (orientation: portrait) {
  /* line 125, ../../../stylesheets/app/page.scss */
  article.page .col.half {
    height: 49%;
    width: 100%;
    background: white;
  }
  /* line 130, ../../../stylesheets/app/page.scss */
  article.page .col.half .image {
    left: 25%;
    position: relative;
    width: 50%;
  }
  /* line 136, ../../../stylesheets/app/page.scss */
  article.page .col.half .info {
    text-align: center;
  }
  /* line 138, ../../../stylesheets/app/page.scss */
  article.page .col.half .info .store {
    margin: 0;
  }
  /* line 142, ../../../stylesheets/app/page.scss */
  article.page .col.half .info .price {
    line-height: 37px;
    vertical-align: middle;
  }
  /* line 147, ../../../stylesheets/app/page.scss */
  article.page .col.half .info p {
    margin-top: 10px;
    text-align: left;
  }
}
/* line 157, ../../../stylesheets/app/page.scss */
.page {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  padding: 72px 22px 22px 22px;
  overflow: hidden;
  font-family: 'proxima_nova_regular';
}
/* line 165, ../../../stylesheets/app/page.scss */
.page .info {
  margin: 20px 22px 0;
}
/* line 169, ../../../stylesheets/app/page.scss */
.page .title {
  margin: 0 90px 10px 0;
  font-weight: normal;
  font-size: 24px;
  font-family: 'proxima_nova_bold';
  text-transform: uppercase;
}
/* line 178, ../../../stylesheets/app/page.scss */
.page .price span:first-child {
  font-size: 24px;
  font-family: 'proxima_nova_bold';
}
/* line 185, ../../../stylesheets/app/page.scss */
.page .store {
  position: absolute;
  top: 20px;
  right: -24px;
  letter-spacing: 1.5px;
  padding: 17px 13px 17px 20px;
  background-color: #F04500;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'proxima_nova_bold';
}
/* line 198, ../../../stylesheets/app/page.scss */
.page .source {
  margin: 0;
  color: #666;
  font-size: 12px;
}
/* line 202, ../../../stylesheets/app/page.scss */
.page .source span {
  color: #2c2c2c;
}
/* line 206, ../../../stylesheets/app/page.scss */
.page .description {
  padding-top: 25px;
  font-size: 16px;
}

/* line 212, ../../../stylesheets/app/page.scss */
.content.page {
  overflow: auto;
}
/* line 215, ../../../stylesheets/app/page.scss */
.content.page header {
  margin: 0 0 18px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eeeeee;
  text-align: center;
}
/* line 223, ../../../stylesheets/app/page.scss */
.content.page header, .content.page .body.one-column {
  width: 90%;
  margin: 0 auto;
}
/* line 229, ../../../stylesheets/app/page.scss */
.content.page .title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: normal;
}
/* line 237, ../../../stylesheets/app/page.scss */
.content.page .author, .content.page .published-at {
  color: #333;
  font-family: Georgia;
  font-style: italic;
}
/* line 243, ../../../stylesheets/app/page.scss */
.content.page .body {
  font-size: 16px;
  line-height: 22px;
  color: #333;
  text-align: justify;
  -webkit-hyphens: auto;
}
/* line 255, ../../../stylesheets/app/page.scss */
.content.page .body p {
  margin: 1.2em 0 !important;
}
/* line 259, ../../../stylesheets/app/page.scss */
.content.page .body a[href] {
  color: #d93e00;
}
/* line 263, ../../../stylesheets/app/page.scss */
.content.page .body img {
  box-sizing: border-box;
  clear: both;
  display: block;
  float: none;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}
/* line 273, ../../../stylesheets/app/page.scss */
.content.page .body ul {
  list-style-type: none;
}
/* line 277, ../../../stylesheets/app/page.scss */
.content.page iframe {
  width: 100% !important;
}
