/*  different page styles   */
/*  Full screen background  */
/* line 9, ../../../stylesheets/app/page.scss */
body.dark-theme .toolbar {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.6)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  color: white;
  border: transparent;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
/* line 15, ../../../stylesheets/app/page.scss */
body.dark-theme .toolbar .title {
  color: white;
}
/* line 20, ../../../stylesheets/app/page.scss */
body.dark-theme .toolbar a {
  color: white;
}

/* line 25, ../../../stylesheets/app/page.scss */
.page.dark.full {
  color: white;
}
/* line 28, ../../../stylesheets/app/page.scss */
.page.dark.full .left-content {
  background: rgba(0, 0, 0, 0.7);
}

/* line 34, ../../../stylesheets/app/page.scss */
.page.full .left-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 20px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.7);
}

/* line 42, ../../../stylesheets/app/page.scss */
body .page {
  margin: 0 0 0;
  max-height: 100%;
  padding-top: 70px;
  font-size: 14px;
}
/* line 49, ../../../stylesheets/app/page.scss */
body .page .row:last-child {
  margin-bottom: 0;
}

/* line 61, ../../../stylesheets/app/page.scss */
article.page blockquote {
  font-family: Georgia, serif;
  font-size: 18px;
  font-style: italic;
  width: 500px;
  margin: 0.25em 0;
  padding: 0.25em 40px;
  line-height: 1.45;
  position: relative;
}
/* line 72, ../../../stylesheets/app/page.scss */
article.page blockquote:before {
  display: block;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -10px;
  top: -20px;
  color: #7a7a7a;
}
/* line 82, ../../../stylesheets/app/page.scss */
article.page blockquote cite {
  color: #999999;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}
/* line 88, ../../../stylesheets/app/page.scss */
article.page blockquote cite:before {
  content: "\2014 \2009";
}
/* line 93, ../../../stylesheets/app/page.scss */
article.page .image.cover {
  position: relative;
  height: 200%;
  width: 200%;
  top: -50%;
  left: -50%;
}
/* line 101, ../../../stylesheets/app/page.scss */
article.page .price, article.page .store {
  display: inline-block;
}
/* line 105, ../../../stylesheets/app/page.scss */
article.page .price {
  float: left;
  line-height: 37px;
}
/* line 110, ../../../stylesheets/app/page.scss */
article.page .button.store {
  margin-bottom: 1em;
  display: block;
  float: right;
  margin: 0;
}
/* line 117, ../../../stylesheets/app/page.scss */
article.page .description {
  display: block;
  clear: both;
}

@media screen and (orientation: portrait) {
  /* line 125, ../../../stylesheets/app/page.scss */
  article.page .col.half {
    height: 49%;
    width: 100%;
    background: white;
  }
  /* line 130, ../../../stylesheets/app/page.scss */
  article.page .col.half .image {
    left: 25%;
    position: relative;
    width: 50%;
  }
  /* line 136, ../../../stylesheets/app/page.scss */
  article.page .col.half .info {
    text-align: center;
  }
  /* line 138, ../../../stylesheets/app/page.scss */
  article.page .col.half .info .store {
    margin: 0;
  }
  /* line 142, ../../../stylesheets/app/page.scss */
  article.page .col.half .info .price {
    line-height: 37px;
    vertical-align: middle;
  }
  /* line 147, ../../../stylesheets/app/page.scss */
  article.page .col.half .info p {
    margin-top: 10px;
    text-align: left;
  }
}
