/*
    title font: BodoniSvtyTwo
    Body font: EB Garamond

*/
/* line 6, ../../../stylesheets/app/theme.scss */
.fashion-theme {
  @import url(http://fonts.googleapis.com/css?family=EB+Garamond);
  font-family: "EB Garamond";
  font-size: 14px;
}
/* line 12, ../../../stylesheets/app/theme.scss */
.fashion-theme .page {
  font-family: "EB Garamond";
  font-size: 16px;
}
/* line 18, ../../../stylesheets/app/theme.scss */
.fashion-theme .page .title {
  font-family: 'BodoniSvtyTwoITCTT-Book';
  font-size: 36px;
  letter-spacing: 1px;
}
