/*
    
  Toolbar is a top bar that can be used both as navbar or toolbar


  .fullscreen             -   Toolbar for fullscreen style content like images
                              fullscreen-toolbar-container required
                              to set nesassry padding.
  .dark-theme             -   dark theme uses white text and icon style
  
*/
/* line 14, ../../../stylesheets/app/toolbar.scss */
header.toolbar {
  height: 50px;
  z-index: 2;
  text-align: center;
  width: 100%;
  color: #333;
}
/* line 24, ../../../stylesheets/app/toolbar.scss */
.dark-theme header.toolbar {
  color: #fff;
}
/* line 27, ../../../stylesheets/app/toolbar.scss */
.dark-theme header.toolbar a:hover {
  color: white;
}
/* line 32, ../../../stylesheets/app/toolbar.scss */
header.toolbar.dark-theme {
  color: #fff;
}
/* line 34, ../../../stylesheets/app/toolbar.scss */
header.toolbar.dark-theme a:hover {
  color: white;
}
/* line 39, ../../../stylesheets/app/toolbar.scss */
header.toolbar .left {
  position: absolute;
  left: 10px;
  top: 0;
}
/* line 45, ../../../stylesheets/app/toolbar.scss */
header.toolbar .right {
  position: absolute;
  right: 10px;
  top: 0;
}
/* line 52, ../../../stylesheets/app/toolbar.scss */
header.toolbar .icon-style, header.toolbar a:before, header.toolbar a.back:before, header.toolbar a.plus:before, header.toolbar a.search:before {
  font-size: 24px;
  line-height: 50px;
  font-weight: normal;
  margin-right: 5px;
  width: 50px;
}
/* line 60, ../../../stylesheets/app/toolbar.scss */
header.toolbar a {
  vertical-align: top;
  line-height: 50px;
  cursor: pointer;
  color: #444;
}
/* line 70, ../../../stylesheets/app/toolbar.scss */
header.toolbar a:hover {
  color: #444;
}
/* line 75, ../../../stylesheets/app/toolbar.scss */
header.toolbar .button {
  margin-top: 10px;
  line-height: 29px;
}
/* line 81, ../../../stylesheets/app/toolbar.scss */
header.toolbar a.menu, header.toolbar a.back, header.toolbar a.channel, header.toolbar a.follow {
  float: left;
}
/* line 85, ../../../stylesheets/app/toolbar.scss */
header.toolbar a.menu {
  width: 64px;
  padding-left: 10px;
}
/* line 91, ../../../stylesheets/app/toolbar.scss */
header.toolbar a.filter {
  float: right;
  width: 64px;
  background: url("/images/icon-filter.png") no-repeat center;
}
/* line 97, ../../../stylesheets/app/toolbar.scss */
header.toolbar a.back {
  font-family: georgia;
  font-style: italic;
}
/* line 122, ../../../stylesheets/app/toolbar.scss */
header.toolbar a.follow {
  margin-left: 13px;
  padding-left: 14px;
  width: 77px;
  background: url("/images/action-collect.png") no-repeat 0% 50%;
  color: #666;
  text-align: center;
  font-style: italic;
  font-size: 12px;
  font-family: Georgia, "proxima_nova_regular";
  line-height: 50px;
}
/* line 136, ../../../stylesheets/app/toolbar.scss */
header.toolbar .title {
  display: inline;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  letter-spacing: 0.7px;
  font-weight: normal;
  font-size: 18px;
  font-family: "proxima_nova_ltregular";
  line-height: 50px;
  cursor: pointer;
}
/* line 148, ../../../stylesheets/app/toolbar.scss */
header.toolbar .title span {
  position: relative;
  left: -50%;
}
/* line 152, ../../../stylesheets/app/toolbar.scss */
header.toolbar .title span:after {
  display: inline-block;
  width: 18px;
  height: 11px;
  background: url("/images/down-arrow.png") no-repeat center;
  content: "";
}
/* line 162, ../../../stylesheets/app/toolbar.scss */
header.toolbar div.actions {
  position: absolute;
}
/* line 165, ../../../stylesheets/app/toolbar.scss */
header.toolbar div.actions .heart {
  right: 114px;
}
/* line 171, ../../../stylesheets/app/toolbar.scss */
header.toolbar div.actions .collect {
  right: 57px;
}
/* line 177, ../../../stylesheets/app/toolbar.scss */
header.toolbar div.actions .share {
  right: 0px;
}

/* line 186, ../../../stylesheets/app/toolbar.scss */
header.toolbar.fullscreen {
  position: absolute;
  top: 0;
}

/* line 191, ../../../stylesheets/app/toolbar.scss */
.fullscreen-toolbar-container {
  padding-bottom: 50px;
}

/* line 195, ../../../stylesheets/app/toolbar.scss */
ul.popover-list li {
  padding: 0;
}
/* line 198, ../../../stylesheets/app/toolbar.scss */
ul.popover-list li a {
  vertical-align: top;
}
/* line 201, ../../../stylesheets/app/toolbar.scss */
ul.popover-list li a.dropdown:after {
  display: inline-block;
  padding-right: 16px;
  width: 15px;
  height: 15px;
}
/* line 208, ../../../stylesheets/app/toolbar.scss */
ul.popover-list li a.view-all span {
  background: url(/images/view-all-icon.png) no-repeat left top;
}
/* line 209, ../../../stylesheets/app/toolbar.scss */
ul.popover-list li a.shop span {
  background: url(/images/shop-icon.png) no-repeat left top;
}
/* line 210, ../../../stylesheets/app/toolbar.scss */
ul.popover-list li a.read span {
  background: url(/images/read-icon.png) no-repeat left top;
}
/* line 211, ../../../stylesheets/app/toolbar.scss */
ul.popover-list li a.photo span {
  background: url(/images/photo-icon.png) no-repeat left top;
}
/* line 214, ../../../stylesheets/app/toolbar.scss */
ul.popover-list li a:active span, ul.popover-list li a.active span {
  background-position-y: bottom;
}
