/* line 4, ../../../stylesheets/app/toolbar.scss */
header.toolbar {
  height: 50px;
  z-index: 2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
  color: #333;
}
/* line 15, ../../../stylesheets/app/toolbar.scss */
.dark-theme header.toolbar {
  color: #fff;
}
/* line 19, ../../../stylesheets/app/toolbar.scss */
header.toolbar.dark-theme {
  color: #fff;
}
/* line 23, ../../../stylesheets/app/toolbar.scss */
header.toolbar .left {
  position: absolute;
  left: 10px;
  top: 0;
}
/* line 29, ../../../stylesheets/app/toolbar.scss */
header.toolbar .right {
  position: absolute;
  right: 10px;
  top: 0;
}
/* line 35, ../../../stylesheets/app/toolbar.scss */
header.toolbar a {
  vertical-align: top;
  line-height: 50px;
  cursor: pointer;
  color: #444;
}
/* line 36, ../../../stylesheets/app/toolbar.scss */
header.toolbar a:before {
  font-size: 24px;
  line-height: 50px;
  font-weight: normal;
  margin-right: 5px;
  width: 50px;
}
/* line 50, ../../../stylesheets/app/toolbar.scss */
header.toolbar .button {
  margin-top: 10px;
  line-height: 29px;
}
/* line 55, ../../../stylesheets/app/toolbar.scss */
header.toolbar a.menu, header.toolbar a.back, header.toolbar a.channel, header.toolbar a.follow {
  float: left;
}
/* line 59, ../../../stylesheets/app/toolbar.scss */
header.toolbar a.menu {
  width: 64px;
  padding-left: 10px;
}
/* line 65, ../../../stylesheets/app/toolbar.scss */
header.toolbar a.filter {
  float: right;
  width: 64px;
  background: url("/images/icon-filter.png") no-repeat center;
}
/* line 72, ../../../stylesheets/app/toolbar.scss */
header.toolbar a.back:before {
  font-size: 32px;
  line-height: 50px;
  font-weight: normal;
  margin-right: 5px;
  width: 50px;
}
/* line 83, ../../../stylesheets/app/toolbar.scss */
header.toolbar a.plus:before {
  font-size: 32px;
  line-height: 50px;
  font-weight: normal;
  margin-right: 5px;
  width: 50px;
}
/* line 93, ../../../stylesheets/app/toolbar.scss */
header.toolbar a.follow {
  margin-left: 13px;
  padding-left: 14px;
  width: 77px;
  background: url("/images/action-collect.png") no-repeat 0% 50%;
  color: #666;
  text-align: center;
  font-style: italic;
  font-size: 12px;
  font-family: Georgia, "proxima_nova_regular";
  line-height: 50px;
}
/* line 107, ../../../stylesheets/app/toolbar.scss */
header.toolbar .title {
  /*    position: absolute;*/
  display: inline;
  /*    left: 50%;*/
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  letter-spacing: 0.7px;
  font-weight: normal;
  font-size: 18px;
  font-family: "proxima_nova_ltregular";
  line-height: 50px;
  cursor: pointer;
}
/* line 121, ../../../stylesheets/app/toolbar.scss */
header.toolbar .title span {
  position: relative;
  left: -50%;
}
/* line 125, ../../../stylesheets/app/toolbar.scss */
header.toolbar .title span:after {
  display: inline-block;
  width: 18px;
  height: 11px;
  background: url("/images/down-arrow.png") no-repeat center;
  content: "";
}
/* line 135, ../../../stylesheets/app/toolbar.scss */
header.toolbar div.actions {
  position: absolute;
}
/* line 147, ../../../stylesheets/app/toolbar.scss */
header.toolbar div.actions .heart {
  right: 114px;
}
/* line 153, ../../../stylesheets/app/toolbar.scss */
header.toolbar div.actions .collect {
  right: 57px;
}
/* line 160, ../../../stylesheets/app/toolbar.scss */
header.toolbar div.actions .share {
  right: 0px;
}

/* line 168, ../../../stylesheets/app/toolbar.scss */
#edition-switch {
  margin-left: 2px;
}
/* line 171, ../../../stylesheets/app/toolbar.scss */
#edition-switch span:before {
  font-size: 22px;
}

/* line 186, ../../../stylesheets/app/toolbar.scss */
ul.popover-list li {
  padding: 0;
}
/* line 189, ../../../stylesheets/app/toolbar.scss */
ul.popover-list li a {
  vertical-align: top;
}
/* line 192, ../../../stylesheets/app/toolbar.scss */
ul.popover-list li a.dropdown:after {
  display: inline-block;
  padding-right: 16px;
  width: 15px;
  height: 15px;
}
/* line 199, ../../../stylesheets/app/toolbar.scss */
ul.popover-list li a.view-all span {
  background: url(/images/view-all-icon.png) no-repeat left top;
}
/* line 200, ../../../stylesheets/app/toolbar.scss */
ul.popover-list li a.shop span {
  background: url(/images/shop-icon.png) no-repeat left top;
}
/* line 201, ../../../stylesheets/app/toolbar.scss */
ul.popover-list li a.read span {
  background: url(/images/read-icon.png) no-repeat left top;
}
/* line 202, ../../../stylesheets/app/toolbar.scss */
ul.popover-list li a.photo span {
  background: url(/images/photo-icon.png) no-repeat left top;
}
/* line 205, ../../../stylesheets/app/toolbar.scss */
ul.popover-list li a:active span, ul.popover-list li a.active span {
  background-position-y: bottom;
}
