@import 'compass/css3/transition';

/*

  Dark theme
  
*/
.dark-theme {
  color: white;

  .subtitle {
    color: #ccc;
  }

  a:not(.button) {
    color: white;
    text-decoration: none;
  }

  a:not(.button):hover {
    color: lighten(#f04500, 15%);
  }
}

/*

  Dark container extends a dark theme, used in editions, login and gallery.
  
*/
.dark-container {
  @extend .dark-theme;
  background:#0c0c0c;
  @include min-screen(768) {
    .container {
      padding-top: 10%;
    }
  }
}
