@import "compass/css3";

@mixin input-placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
  &:-ms-input-placeholder { @content; } /* ie */
}

form {
  margin: 0 0 1.25em;
  
  
  // Form grid
  .col {
    position: relative;
  }
  
  .row {
    position: relative;
    padding-bottom: 1.6em;
    margin-bottom: 0.5em;
  }  
  
  /*================================================
          Label/hint
    ================================================*/
  p.large, label.large {
    font-size: 24px;
    line-height: 45px;
  }
  
  label.radio {
    padding-right: 1em;
    
    input {
      margin-right: 0.5em;
    }
  }
  .hint_style {
    color: #888;
    font-style: italic;
    line-height: 1.4;
    font-size: 13px;
    
    position: absolute;
  }
  
  .hint {
    @extend .hint_style;
/*    bottom: -1.7em;*/
/*    left: 0;*/
    /*left: 0;
    bottom: -1.7em;*/
  }

  /*================================================
          Input fields
    ================================================*/
  .text_field {
    padding: 9px;
    margin: 0px;
    line-height: 2em;
    height: auto;
    width: 100%;
    max-width: 600px;

    font-size: 14px;
    border: 1px solid #ccc;
    background: white;
    vertical-align: top;

    @include box-sizing(border-box);
    @include border-radius(2px);
    @include box-shadow(1px 1px 2px #eee inset);
  }
  
  input.large {
    font-size: 24px !important;
    line-height: 45px;
    height: 45px;
  }
  
  input[type="text"], input[type="password"], input[type="tel"], input[type="email"], 
  input[type="search"], input[type="url"], textarea, select {
    font-size: 100%;
    line-height: normal;
    
    @extend .text_field;
    
    @include input-placeholder {
      font-family: georgia;
      font-weight: normal !important;
      font-style: italic;
      font-size: 15px;
    }
  }
  
  select {
    width: auto;
    background-color: #fff;
    border: 1px solid #cccccc;
    height: 2.5em;
    line-height: 2.5em;
  }
  
  input[type=submit], input[type=button], button[type=submit] {
    line-height: 2em;
    padding: 3px 15px;
    margin-right: 5px;
  }
  
  /*
      Focus state
  */
  input:focus, select:focus, textarea:focus {
    border: 1px solid #A1CFDE !important;
  }
  
  
  /*================================================
          Errors
    ================================================*/
  
  .field_with_errors {
    input.string, select.select {
      border-color: lighten(#e84949, 20%);
    }
    
    .hint {
      display: none;
    }
  }
  
  .error {
    @extend .hint_style;
    color: #e84949;
  }

}

  /*================================================
        Notification
  ================================================*/
  
  div.notification {
    width: 100%;
    padding: 20px;
    margin: 20px 0 40px;
    background: white;
    color: #111;
    
    a.close {
      float:right;
      &:before {  font-size: 24px; color: #111; }
      
      width: 20px;
      height: 20px;
      @extend .icon-cross; 
    }
  }