@import "compass/css3";

@mixin input-placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
  &:-ms-input-placeholder { @content; } /* ie */
}

form {
  margin: 0 0 1.25em;

  .text_field {
    padding: 9px;
    margin: 0px 0 12px 0px;
    line-height: 2em;
    height: auto;
    width: 100%;
    max-width: 500px;
    
    font-size: 14px;
    border: 1px solid #ccc;
    background: white;
    vertical-align: top;
    
    @include box-sizing(border-box);
    @include border-radius(2px);
    @include box-shadow(1px 1px 2px #eee inset);
  }

  p.large, label.large {
    font-size: 24px;
    line-height: 45px;
  }
  
  .hint {
    color: #666;
    font-family: georgia;
    font-style: italic;
  }
  
  /*================================================
          Input fields
    ================================================*/
  
  input.large {
    font-size: 24px !important;
    line-height: 45px;
    height: 45px;
  }
  
  input[type="text"], input[type="password"], input[type="phone"], input[type="email"], 
  input[type="search"], input[type="url"], textarea, select {
    font-size: 100%;
    line-height: normal;
    
    @extend .text_field;
    
    @include input-placeholder {
      font-family: georgia;
      font-weight: normal !important;
      font-style: italic;
      font-size: 15px;
    }
  }
  
  select {
    width: auto;
    
    background-color: #fff;
    border: 1px solid #cccccc;
    height: 2.5em;
    line-height: 2.5em;
  }
  
  input[type=submit], input[type=button], button[type=submit] {
    line-height: 2em;
    padding: 3px 15px;
    margin-right: 5px;
  }
}
