<%
issue = Hashie::Mash.new(
  edition_title: "Wild encounters",
  short_title: "Big Cat",
  image_url: "http://24.media.tumblr.com/5f97f94756bf706bf41ac0dd37b585cf/tumblr_mzgzbdYBht1st5lhmo1_1280.jpg",
  description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit"
)
%>

<header class="toolbar transparent dark-theme">
  <a class="back left" href="javascript:history.back()"><span>back</span></a>

  <span class="title">Minkpink // Music <i class="caret"></i></span>
</header>

<%= render partial: "/issue/cover", locals: { issue: issue } %>
