<% 

  @body_class = "dark-container" 
  
%>
<style>
[role=main] {
  padding-top:1px;
  height: 100%;
}
</style>
  
<div role="main" id="discover-page" class="search-view">
  
  <header class="toolbar dark-theme transparent fixed">
    <a class="back left" href="javascript:history.back()"><span>back</span></a>
    
    <form class="search-issue">
      <input class="input search" type="search" placeholder="Find an Issue" />
    </form>
  </header>

  <section class="filters">
    <div class="button-group">
      <a href="/magazines?filter=all" data-filter="all" class="black small button">All</a>
      <a href="/magazines?filter=featured" data-filter="featured" class="black small  button">Featured</a>
      <a href="/magazines?filter=offline" data-filter="offline" class="black small active button">Offline</a>
    </div>
  </section>
  
  <ul class="magazine-list <%= "grid" if params[:layout] == "grid" %>">
  </ul>
</div>

<script id="magazine_tpl" type="text/mustache">
  <div class="magazine {{#offline}}offline{{/offline}}" style="background-image: url({{ background_url }})" data-id={{ id }}>
    <div class="content">
      <h4 class="brand">{{ magazine_title }}</h3>
      <h3 class="title">{{ short_title }}</h3>
    </div>
    <pregress></pregress>
    <a class="link" href="{{ url }}"></a>
    <a class="subscribe"></a>
    <a class="download"></a>
  </div>
</script>

<script>

  offline_issues = [{
    id: "issue/design-guide",
    magazine_id: "2",
    magazine_title: "issue",
    title: "Design Guide",
    short_title: "Design Guide",
    path: "issue/design-guide",
    
    description: "One Column • Two Column • Three Column • Fullscreen",
    auther_name: "Taylor Luk",
    cover_url: "cover.png", //absolute 
    
    background_url: "file:///Users/taylorluk/workspace/spring/issues/guide/assets/background.jpg", //absolute to background image (2048)
    background_large_url: "background_large.jpg", //absolute to background image (2048)
    
    featured: true,
    offline: true,
    published_at: "2013-9-15T13:16:46Z",
  }]
  
  var page = new DiscoverView;

</script>